openapi: 3.2.0
info:
  title: Meraki Dashboard Cellular Gateway API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > Recent Updates


    ---


    API Documentation


    Community Support


    Meraki Homepage'
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: cellularGateway
paths:
  /devices/{serial}/cellularGateway/lan:
    get:
      operationId: getDeviceCellularGatewayLan
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceName:
                    type: string
                    description: Name of the MG.
                  deviceLanIp:
                    type: string
                    description: Lan IP of the MG
                  deviceSubnet:
                    type: string
                    description: Subnet configuration of the MG.
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name of the assignment
                        ip:
                          type: string
                          description: The IP address you want to assign to a specific server or device
                        mac:
                          type: string
                          description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    description: list of all fixed IP assignments for a single MG
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: Starting IP included in the reserved range of IPs
                        end:
                          type: string
                          description: Ending IP included in the reserved range of IPs
                        comment:
                          type: string
                          description: Comment explaining the reserved IP range
                    description: list of all reserved IP ranges for a single MG
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - name: server 1
                  ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
      security:
      - oauth2:
        - sdwan:config:read
      summary: Show the LAN Settings of a MG
      tags:
      - cellularGateway
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reservedIpRanges:
                  type: array
                  items:
                    type: object
                    properties:
                      start:
                        type: string
                        description: Starting IP included in the reserved range of IPs
                      end:
                        type: string
                        description: Ending IP included in the reserved range of IPs
                      comment:
                        type: string
                        description: Comment explaining the reserved IP range
                    required:
                    - start
                    - end
                    - comment
                  description: list of all reserved IP ranges for a single MG
                fixedIpAssignments:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A descriptive name of the assignment
                      ip:
                        type: string
                        description: The IP address you want to assign to a specific server or device
                      mac:
                        type: string
                        description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    required:
                    - ip
                    - mac
                  description: list of all fixed IP assignments for a single MG
              example:
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
                fixedIpAssignments:
                - name: server 1
                  ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceName:
                    type: string
                    description: Name of the MG.
                  deviceLanIp:
                    type: string
                    description: Lan IP of the MG
                  deviceSubnet:
                    type: string
                    description: Subnet configuration of the MG.
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name of the assignment
                        ip:
                          type: string
                          description: The IP address you want to assign to a specific server or device
                        mac:
                          type: string
                          description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    description: list of all fixed IP assignments for a single MG
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: Starting IP included in the reserved range of IPs
                        end:
                          type: string
                          description: Ending IP included in the reserved range of IPs
                        comment:
                          type: string
                          description: Comment explaining the reserved IP range
                    description: list of all reserved IP ranges for a single MG
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - name: server 1
                  ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update the LAN Settings for a single MG
      tags:
      - cellularGateway
  /devices/{serial}/cellularGateway/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name for the rule
                        lanIp:
                          type: string
                          description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                        publicPort:
                          type: string
                          description: A port or port ranges that will be forwarded to the host on the LAN
                        localPort:
                          type: string
                          description: A port or port ranges that will receive the forwarded traffic from the WAN
                        allowedIps:
                          type: array
                          items:
                            type: string
                          description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                        protocol:
                          type: string
                          description: TCP or UDP
                        access:
                          type: string
                          description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    description: An array of port forwarding params
              example:
                rules:
                - name: test
                  lanIp: 172.31.128.5
                  publicPort: 11-12
                  localPort: '4'
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  protocol: tcp
                  access: any
      security:
      - oauth2:
        - sdwan:config:read
      summary: Returns the port forwarding rules for a single MG
      tags:
      - cellularGateway
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A descriptive name for the rule
                      lanIp:
                        type: string
                        description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                      publicPort:
                        type: string
                        description: A port or port ranges that will be forwarded to the host on the LAN
                      localPort:
                        type: string
                        description: A port or port ranges that will receive the forwarded traffic from the WAN
                      allowedIps:
                        type: array
                        items:
                          type: string
                        description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                      protocol:
                        type: string
                        description: TCP or UDP
                      access:
                        type: string
                        description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    required:
                    - lanIp
                    - publicPort
                    - localPort
                    - protocol
                    - access
                  description: An array of port forwarding params
              example:
                rules:
                - name: test
                  lanIp: 172.31.128.5
                  publicPort: 11-12
                  localPort: '4'
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  protocol: tcp
                  access: any
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name for the rule
                        lanIp:
                          type: string
                          description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                        publicPort:
                          type: string
                          description: A port or port ranges that will be forwarded to the host on the LAN
                        localPort:
                          type: string
                          description: A port or port ranges that will receive the forwarded traffic from the WAN
                        allowedIps:
                          type: array
                          items:
                            type: string
                          description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                        protocol:
                          type: string
                          description: TCP or UDP
                        access:
                          type: string
                          description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    description: An array of port forwarding params
              example:
                rules:
                - name: test
                  lanIp: 172.31.128.5
                  publicPort: 11-12
                  localPort: '4'
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  protocol: tcp
                  access: any
      security:
      - oauth2:
        - sdwan:config:write
      summary: Updates the port forwarding rules for a single MG
      tags:
      - cellularGateway
  /networks/{networkId}/cellularGateway/connectivityMonitoringDestinations:
    get:
      operationId: getNetworkCellularGatewayConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return the connectivity testing destinations for an MG network
      tags:
      - cellularGateway
    put:
      operationId: updateNetworkCellularGatewayConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destinations:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                        description: The IP address to test connectivity with
                      description:
                        type:
                        - string
                        - 'null'
                        description: Description of the testing destination. Optional, defaults to an empty string
                        default: ''
                      default:
                        type: boolean
                        description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                        default: false
                    required:
                    - ip
                  description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      security:
      - oauth2:
        - sdwan:telemetry:write
      summary: Update the connectivity testing destinations for an MG network
      tags:
      - cellularGateway
  /networks/{networkId}/cellularGateway/dhcp:
    get:
      operationId: getNetworkCellularGatewayDhcp
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  dhcpLeaseTime:
                    type: string
                    enum:
                    - 1 day
                    - 1 hour
                    - 1 week
                    - 12 hours
                    - 30 minutes
                    - 4 hours
                    description: DHCP Lease time for all MG in the network.
                  dnsNameservers:
                    type: string
                    enum:
                    - custom
                    - google_dns
                    - opendns
                    - upstream_dns
                    description: DNS name servers mode for all MG in the network.
                  dnsCustomNameservers:
                    type: array
                    items:
                      type: string
                    description: List of fixed IPs representing the the DNS Name servers when the mode is 'custom'.
              example:
                dhcpLeaseTime: 1 hour
                dnsNameservers: custom
                dnsCustomNameservers:
                - 172.16.2.111
                - 172.16.2.30
      security:
      - oauth2:
        - sdwan:config:read
      summary: List common DHCP settings of MGs
      tags:
      - cellularGateway
    put:
      operationId: updateNetworkCellularGatewayDhcp
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dhcpLeaseTime:
                  type: string
                  description: DHCP Lease time for all MG of the network. Possible values are '30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week'.
                dnsNameservers:
                  type: string
                  description: 'DNS name servers mode for all MG of the network. Possible values are: ''upstream_dns'', ''google_dns'', ''opendns'', ''custom''.'
                dnsCustomNameservers:
                  type: array
                  items:
                    type: string
                  description: list of fixed IPs representing the the DNS Name servers when the mode is 'custom'
              example:
                dhcpLeaseTime: 1 hour
                dnsNameservers: custom
                dnsCustomNameservers:
                - 172.16.2.111
                - 172.16.2.30
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  dhcpLeaseTime:
                    type: string
                    enum:
                    - 1 day
                    - 1 hour
                    - 1 week
                    - 12 hours
                    - 30 minutes
                    - 4 hours
                    description: DHCP Lease time for all MG in the network.
                  dnsNameservers:
                    type: string
                    enum:
                    - custom
                    - google_dns
                    - opendns
                    - upstream_dns
                    description: DNS name servers mode for all MG in the network.
                  dnsCustomNameservers:
                    type: array
                    items:
                      type: string
                    description: List of fixed IPs representing the the DNS Name servers when the mode is 'custom'.
              example:
                dhcpLeaseTime: 1 hour
                dnsNameservers: custom
                dnsCustomNameservers:
                - 172.16.2.111
                - 172.16.2.30
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update common DHCP settings of MGs
      tags:
      - cellularGateway
  /networks/{networkId}/cellularGateway/subnetPool:
    get:
      description: Return the subnet pool and mask configured for MGs in the network.
      operationId: getNetworkCellularGatewaySubnetPool
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deploymentMode:
                    type: string
                    description: Deployment mode for the cellular gateways in the network. (Passthrough/Routed)
                  cidr:
                    type: string
                    description: CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool.
                  mask:
                    type: integer
                    description: Mask used for the subnet of all MGs in  this network.
                  subnets:
                    type: array
                    items:
                      type: object
                      properties:
                        serial:
                          type: string
                          description: Serial Number of the MG.
                        name:
                          type: string
                          description: Name of the MG.
                        applianceIp:
                          type: string
                          description: Appliance IP of the MG device.
                        subnet:
                          type: string
                          description: Subnet of MG device.
                    description: List of subnets of all MGs in this network.
              example:
                deploymentMode: routed
                cidr: 192.168.0.0/16
                mask: 24
                subnets:
                - serial: AAAA-AAAA-AAAA
                  name: my first MG
                  applianceIp: 192.168.0.1
                  subnet: 192.168.0.0/24
      security:
      - oauth2:
        - sdwan:config:read
      summary: Return the subnet pool and mask configured for MGs in the network
      tags:
      - cellularGateway
    put:
      description: Update the subnet pool and mask configuration for MGs in the network.
      operationId: updateNetworkCellularGatewaySubnetPool
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mask:
                  type: integer
                  description: Mask used for the subnet of all MGs in  this network.
                cidr:
                  type: string
                  description: CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool.
              example:
                mask: 24
                cidr: 192.168.0.0/16
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deploymentMode:
                    type: string
                    description: Deployment mode for the cellular gateways in the network. (Passthrough/Routed)
                  cidr:
                    type: string
                    description: CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool.
                  mask:
                    type: integer
                    description: Mask used for the subnet of all MGs in  this network.
                  subnets:
                    type: array
                    items:
                      type: object
                      properties:
                        serial:
                          type: string
                          description: Serial Number of the MG.
                        name:
                          type: string
                          description: Name of the MG.
                        applianceIp:
                          type: string
                          description: Appliance IP of the MG device.
                        subnet:
                          type: string
                          description: Subnet of MG device.
                    description: List of subnets of all MGs in this network.
              example:
                deploymentMode: routed
                cidr: 192.168.0.0/16
                mask: 24
                subnets:
                - serial: AAAA-AAAA-AAAA
                  name: my first MG
                  applianceIp: 192.168.0.1
                  subnet: 192.168.0.0/24
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update the subnet pool and mask configuration for MGs in the network
      tags:
      - cellularGateway
  /networks/{networkId}/cellularGateway/uplink:
    get:
      description: Returns the uplink settings for your MG network.
      operationId: getNetworkCellularGatewayUplink
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  bandwidthLimits:
                    type: object
                    properties:
                      limitUp:
                        type: integer
                        description: The maximum upload limit (integer, in Kbps). 'null' indicates no limit.
                      limitDown:
                        type: integer
                        description: The maximum download limit (integer, in Kbps). 'null' indicates no limit.
                    description: The bandwidth settings for the 'cellular' uplink
              example:
                bandwidthLimits:
                  limitUp: 51200
                  limitDown: 51200
      security:
      - oauth2:
        - sdwan:config:read
      summary: Returns the uplink settings for your MG network
      tags:
      - cellularGateway
    put:
      description: Updates the uplink settings for your MG network.
      operationId: updateNetworkCellularGatewayUplink
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bandwidthLimits:
                  type: object
                  properties:
                    limitUp:
                      type:
                      - integer
                      - 'null'
                      description: The maximum upload limit (integer, in Kbps). null indicates no limit
                    limitDown:
                      type:
                      - integer
                      - 'null'
                      description: The maximum download limit (integer, in Kbps). null indicates no limit
                  description: The bandwidth settings for the 'cellular' uplink
              example:
                bandwidthLimits:
                  limitUp: 1000000
                  limitDown: 1000000
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  bandwidthLimits:
                    type: object
                    properties:
                      limitUp:
                        type: integer
                        description: The maximum upload limit (integer, in Kbps). 'null' indicates no limit.
                      limitDown:
                        type: integer
                        description: The maximum download limit (integer, in Kbps). 'null' indicates no limit.
                    description: The bandwidth settings for the 'cellular' uplink
              example:
                bandwidthLimits:
                  limitUp: 51200
                  limitDown: 51200
      security:
      - oauth2:
        - sdwan:config:write
      summary: Updates the uplink settings for your MG network
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/inventory:
    get:
      description: The eSIM inventory of a given organization.
      operationId: getOrganizationCellularGatewayEsimsInventory
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: eids
        in: query
        description: Optional parameter to filter the results by EID.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        device:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Device name
                            model:
                              type: string
                              description: Device model
                            serial:
                              type: string
                              description: Device serial number
                            url:
                              type: string
                              description: Device URL
                            status:
                              type: string
                              description: Device status
                          description: Meraki Device properties
                        active:
                          type: boolean
                          description: Whether eSIM is currently active SIM on Device
                        eid:
                          type: string
                          description: eSIM EID
                        lastUpdatedAt:
                          type: string
                          description: Last update of eSIM
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Network ID for this eSIM
                          description: Meraki Network properties
                        profiles:
                          type: array
                          items:
                            type: object
                            properties:
                              customApns:
                                type: array
                                items:
                                  type: string
                                description: Available custom APNs for the profile
                              iccid:
                                type: string
                                description: eSIM profile ID
                              status:
                                type: string
                                description: eSIM profile status
                              serviceProvider:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Service Provider name
                                  plans:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: Plan name
                                        type:
                                          type: string
                                          description: Plan type (communication, rate)
                                    description: Plans currently active on the eSIM
                                description: Service Provider information
                          description: eSIM Profile Information
                    description: List of eSIM Devices
                  meta:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          items:
                            type: object
                            properties:
                              total:
                                type: integer
                                description: Total number of eSIM Devices
                              remaining:
                                type: integer
                                description: Remaining number of eSIM Devices
                            description: Count of eSIM Devices available
                        description: Counts of involved entities
                    description: Meta details about the result
              example:
                items:
                - device:
                    name: My cellular gateway
                    model: mg52
                    serial: Q234-ABCD-5678
                    url: https://n1.meraki.com//n//manage/nodes/new_list/000000000000
                    status: online
                  active: true
                  eid: '89000000000000000000000000000000'
                  lastUpdatedAt: '2023-02-01T00:00:00Z'
                  network:
                    id: N_24329156
                  profiles:
                  - customApns:
                    - internet
                    iccid: '8900000000000000000'
                    status: activated
                    serviceProvider:
                      name: ATT
                      plans:
                      - name: 1 Cisco IoT SDO AT&T eSIM Test Plan downloadable
                        type: communication
                meta:
                  counts:
                    items:
                      total: 1
                      remaining: 0
      summary: The eSIM inventory of a given organization
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/inventory/{id}:
    put:
      operationId: updateOrganizationCellularGatewayEsimsInventory
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: id
        in: path
        description: ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: Status the eSIM will be updated to
              example:
                status: activated
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Device name
                      model:
                        type: string
                        description: Device model
                      serial:
                        type: string
                        description: Device serial number
                      url:
                        type: string
                        description: Device URL
                      status:
                        type: string
                        description: Device status
                    description: Meraki Device properties
                  active:
                    type: boolean
                    description: Whether eSIM is currently active SIM on Device
                  eid:
                    type: string
                    description: eSIM EID
                  lastUpdatedAt:
                    type: string
                    description: Last update of eSIM
                  network:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Network ID for this eSIM
                    description: Meraki Network properties
                  profiles:
                    type: array
                    items:
                      type: object
                      properties:
                        customApns:
                          type: array
                          items:
                            type: string
                          description: Available custom APNs for the profile
                        iccid:
                          type: string
                          description: eSIM profile ID
                        status:
                          type: string
                          description: eSIM profile status
                        serviceProvider:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Service Provider name
                            plans:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Plan name
                                  type:
                                    type: string
                                    description: Plan type (communication, rate)
                              description: Plans currently active on the eSIM
                          description: Service Provider information
                    description: eSIM Profile Information
              example:
                device:
                  name: My cellular gateway
                  model: mg52
                  serial: Q234-ABCD-5678
                  url: https://n1.meraki.com//n//manage/nodes/new_list/000000000000
                  status: online
                active: true
                eid: '89000000000000000000000000000000'
                lastUpdatedAt: '2023-02-01T00:00:00Z'
                network:
                  id: N_24329156
                profiles:
                - customApns:
                  - internet
                  iccid: '8900000000000000000'
                  status: activated
                  serviceProvider:
                    name: ATT
                    plans:
                    - name: 1 Cisco IoT SDO AT&T eSIM Test Plan downloadable
                      type: communication
      summary: Toggle the status of an eSIM
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/serviceProviders:
    get:
      description: Service providers customers can add accounts for.
      operationId: getOrganizationCellularGatewayEsimsServiceProviders
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Service provider name.
                        logo:
                          type: object
                          properties:
                            url:
                              type: string
                              description: URL of service provider's logo.
                          description: Service Provider logo data.
                        isBootstrap:
                          type: boolean
                          description: Indicates if service provider is the bootstrap provider.
                        terms:
                          type: object
                          properties:
                            content:
                              type: string
                              description: URL of service provider's terms.
                            name:
                              type: string
                              description: Label for service provider's terms.
                          description: Service provider terms.
                    description: List Cellular Service Providers
                  meta:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          items:
                            type: object
                            properties:
                              total:
                                type: integer
                                description: Total number of Service Providers
                              remaining:
                                type: integer
                                description: Remaining number of Service Providers
                            description: Service Providers available
                        description: Counts of involved entities
                    description: Meta details about the result
              example:
                items:
                - name: AT&T
                  logo:
                    url: Logo URL
                  isBootstrap: false
                  terms:
                    content: Legal jargon
                    name: AT&T Terms and Conditions
                meta:
                  counts:
                    items:
                      total: 42
                      remaining: 0
      summary: Service providers customers can add accounts for
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts:
    get:
      description: Inventory of service provider accounts tied to the organization.
      operationId: getOrganizationCellularGatewayEsimsServiceProvidersAccounts
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: accountIds
        in: query
        description: Optional parameter to filter the results by service provider account IDs.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          accountId:
                            type: string
                            description: Service provider account ID
                          lastUpdatedAt:
                            type: string
                            description: Last updated at
                          serviceProvider:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Name of the service provider.
                              logo:
                                type: object
                                properties:
                                  url:
                                    type: string
                                    description: Service Provider logo url.
                                description: Service provider logo data.
                            description: Service provider data.
                          title:
                            type: string
                            description: Service provider account name
                          username:
                            type: string
                            description: Service provider account username
                      description: IList of Cellular Service Provider Accounts
                    meta:
                      type: object
                      properties:
                        counts:
                          type: object
                          properties:
                            items:
                              type: object
                              properties:
                                total:
                                  type: integer
                                  description: Total number of Cellular Service Providers
                                remaining:
                                  type: integer
                                  description: Remaining number of Cellular Service Providers
                              description: Count of Cellular Service Providers available
                          description: Counts of involved entities
                      description: Meta details about the result
              example:
              - items:
                - accountId: 0987654321
                  lastUpdatedAt: '2023-08-21T00:00:00Z'
                  serviceProvider:
                    name: ATT
                    logo:
                      url: serviceproviderlogo.url
                  title: My AT&T account
                  username: MerakiUser
                meta:
                  counts:
                    items:
                      total: 1
                      remaining: 0
      security:
      - oauth2:
        - sdwan:config:read
      summary: Inventory of service provider accounts tied to the organization
      tags:
      - cellularGateway
    post:
      description: Add a service provider account.
      operationId: createOrganizationCellularGatewayEsimsServiceProvidersAccount
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
                  description: Service provider account ID
                apiKey:
                  type: string
                  description: Service provider account API key
                serviceProvider:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Service provider name
                  description: Service Provider information
                title:
                  type: string
                  description: Service provider account name
                username:
                  type: string
                  description: Service provider account username
              example:
                accountId: 0987654321
                apiKey: foobarfoobarfoobarfoobarfoobarfoobar
                serviceProvider:
                  name: ATT
                title: My AT&T account
                username: MerakiUser
              required:
              - accountId
              - apiKey
              - serviceProvider
              - title
              - username
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    description: Service provider account ID
                  lastUpdatedAt:
                    type: string
                    description: Last updated at
                  serviceProvider:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the service provider.
                      logo:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Service Provider logo url.
                        description: Service provider logo data.
                    description: Service provider data.
                  title:
                    type: string
                    description: Service provider account name
                  username:
                    type: string
                    description: Service provider account username
              example:
                accountId: 0987654321
                lastUpdatedAt: '2023-08-21T00:00:00Z'
                serviceProvider:
                  name: ATT
                  logo:
                    url: serviceproviderlogo.url
                title: My AT&T account
                username: MerakiUser
      security:
      - oauth2:
        - sdwan:config:write
      summary: Add a service provider account
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/communicationPlans:
    get:
      description: The communication plans available for a given provider.
      operationId: getOrganizationCellularGatewayEsimsServiceProvidersAccountsCommunicationPlans
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: accountIds
        in: query
        required: true
        description: Account IDs that communication plans will be fetched for
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        accountId:
                          type: string
                          description: Account ID of plans to be fetched
                        apns:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: APN name
                          description: Available APNs
                        name:
                          type: string
                          description: Communication plan name
                    description: List of Cellular Service Provider Communication Plans
                  meta:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          items:
                            type: object
                            properties:
                              total:
                                type: integer
                                description: Total number of Communication Plans
                              remaining:
                                type: integer
                                description: Remaining number of Communication Plans
                            description: Count of Communication Plans available
                        description: Counts of involved entities
                    description: Meta details about the result
              example:
                items:
                - accountId: some account ID
                  apns:
                  - name: Some APN
                  name: A communication plan
                meta:
                  counts:
                    items:
                      total: 2
                      remaining: 0
      summary: The communication plans available for a given provider
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/ratePlans:
    get:
      description: The rate plans available for a given provider.
      operationId: getOrganizationCellularGatewayEsimsServiceProvidersAccountsRatePlans
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: accountIds
        in: query
        required: true
        description: Account IDs that rate plans will be fetched for
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        accountId:
                          type: string
                          description: Account ID of plans to be fetched
                        name:
                          type: string
                          description: Rate plan name
                    description: List of Cellular Service Provider Rate Plans
                  meta:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          items:
                            type: object
                            properties:
                              total:
                                type: integer
                                description: Total number of Rate Plans
                              remaining:
                                type: integer
                                description: Remaining number of Rate Plans
                            description: Count of Rate Plans available
                        description: Counts of involved entities
                    description: Meta details about the result
              example:
                items:
                - accountId: account ID
                  name: A rate plan
                meta:
                  counts:
                    items:
                      total: 2
                      remaining: 0
      summary: The rate plans available for a given provider
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/{accountId}:
    put:
      description: Edit service provider account info stored in Meraki's database.
      operationId: updateOrganizationCellularGatewayEsimsServiceProvidersAccount
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        description: Account ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Service provider account name used on the Meraki UI
                apiKey:
                  type: string
                  description: Service provider account API key
              example:
                title: My AT&T account
                apiKey: foobarfoobarfoobarfoobarfoobarfoobar
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    description: Service provider account ID
                  lastUpdatedAt:
                    type: string
                    description: Last updated at
                  serviceProvider:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the service provider.
                      logo:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Service Provider logo url.
                        description: Service provider logo data.
                    description: Service provider data.
                  title:
                    type: string
                    description: Service provider account name
                  username:
                    type: string
                    description: Service provider account username
              example:
                accountId: 0987654321
                lastUpdatedAt: '2023-08-21T00:00:00Z'
                serviceProvider:
                  name: ATT
                  logo:
                    url: serviceproviderlogo.url
                title: My AT&T account
                username: MerakiUser
      security:
      - oauth2:
        - sdwan:config:write
      summary: Edit service provider account info stored in Meraki's database
      tags:
      - cellularGateway
    delete:
      description: Remove a service provider account's integration with the Dashboard.
      operationId: deleteOrganizationCellularGatewayEsimsServiceProvidersAccount
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        description: Account ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      security:
      - oauth2:
        - sdwan:config:write
      summary: Remove a service provider account's integration with the Dashboard
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/swap:
    post:
      description: Swap which profile an eSIM uses.
      operationId: createOrganizationCellularGatewayEsimsSwap
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                swaps:
                  type: array
                  items:
                    type: object
                    properties:
                      eid:
                        type: string
                        description: eSIM EID
                      target:
                        type: object
                        properties:
                          accountId:
                            type: string
                            description: ID of the target account; can be the account currently tied to the eSIM
                          communicationPlan:
                            type: string
                            description: Name of the target communication plan
                          ratePlan:
                            type: string
                            description: Name of the target rate plan
                        required:
                        - accountId
                        - communicationPlan
                        - ratePlan
                        description: Target Profile attributes
                    required:
                    - eid
                  description: Each object represents a swap for one eSIM
              example:
                swaps:
                - eid: '1234567890'
                  target:
                    accountId: '456'
                    communicationPlan: A comm plan
                    ratePlan: A rate plan
              required:
              - swaps
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  eid:
                    type: string
                    description: eSIM EID
                  iccid:
                    type: string
                    description: eSIM ICCID
                  status:
                    type: string
                    enum:
                    - Completed
                    - Failed
                    - In progress
                    description: Swap status
                required:
                - eid
                - iccid
                - status
              example:
                eid: '1234567890'
                iccid: '9876543210'
                status: Completed
      summary: Swap which profile an eSIM uses
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/esims/swap/{id}:
    put:
      description: Get the status of a profile swap.
      operationId: updateOrganizationCellularGatewayEsimsSwap
      parameters:
      - name: id
        in: path
        required: true
        description: eSIM EID
        schema:
          type: string
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  eid:
                    type: string
                    description: eSIM EID
                  iccid:
                    type: string
                    description: eSIM ICCID
                  status:
                    type: string
                    enum:
                    - Completed
                    - Failed
                    - In progress
                    description: Swap status
                required:
                - eid
                - iccid
                - status
              example:
                eid: '1234567890'
                iccid: '9876543210'
                status: Completed
      summary: Get the status of a profile swap
      tags:
      - cellularGateway
  /organizations/{organizationId}/cellularGateway/uplink/statuses:
    get:
      operationId: getOrganizationCellularGatewayUplinkStatuses
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: networkIds
        in: query
        description: A list of network IDs. The returned devices will be filtered to only include these networks.
        schema:
          type: array
          items:
            type: string
      - name: serials
        in: query
        description: A list of serial numbers. The returned devices will be filtered to only include these serials.
        schema:
          type: array
          items:
            type: string
      - name: iccids
        in: query
        description: A list of ICCIDs. The returned devices will be filtered to only include these ICCIDs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    networkId:
                      type: string
                      description: Network Id
                    serial:
                      type: string
                      description: Serial number of the device
                    model:
                      type: string
                      description: Device model
                    lastReportedAt:
                      type: string
                      format: date-time
                      description: Last reported time for the device
                    uplinks:
                      type: array
                      items:
                        type: object
                        properties:
                          interface:
                            type: string
                            description: Uplink interface
                          status:
                            type: string
                            description: Uplink status
                          ip:
                            type: string
                            description: Uplink IP
                          provider:
                            type: string
                            description: Network Provider
                          publicIp:
                            type: string
                            description: Public IP
                          model:
                            type: string
                            description: Uplink model
                          signalStat:
                            type: object
                            properties:
                              rsrp:
                                type: string
                                description: Reference Signal Received Power
                              rsrq:
                                type: string
                                description: Reference Signal Received Quality
                            description: Tower Signal Status (Cellular Signal Stats)
                          mcc:
                            type: string
                            description: Mobile Country Code
                          mnc:
                            type: string
                            description: Mobile Network Code
                          roaming:
                            type: object
                            properties:
                              status:
                                type: string
                                enum:
                                - home
                                - roaming
                                - unknown
                                description: Roaming Status
                            description: Roaming Status
                          connectionType:
                            type: string
                            description: Connection Type (Radio Access Technology)
                          apn:
                            type: string
                            description: Access Point Name
                          gateway:
                            type: string
                            description: Gateway IP
                          dns1:
                            type: string
                            description: Primary DNS IP
                          dns2:
                            type: string
                            description: Secondary DNS IP
                          signalType:
                            type: string
                            description: Signal Type
                          mtu:
                            type: integer
                            description: Maximum Transmission Unit
                          iccid:
                            type: string
                            description: Integrated Circuit Card Identification Number
                          imsi:
                            type: string
                            description: International Mobile Subscriber Identity
                          msisdn:
                            type: string
                            description: Mobile Station Integrated Services Digital Network
                      description: Uplinks info
              example:
              - networkId: N_24329156
                serial: Q234-ABCD-5678
                model: MG21
                lastReportedAt: '2018-02-11T00:00:00Z'
                uplinks:
                - interface: cellular
                  status: ready
                  ip: 1.2.3.4
                  provider: at&t
                  publicIp: 123.123.123.1
                  model: integrated
                  signalStat:
                    rsrp: '-120'
                    rsrq: '-13'
                  mcc: '123'
                  mnc: '123'
                  roaming:
                    status: home
                  connectionType: 4g
                  apn: internet
                  gateway: 100.100.100.100
                  dns1: 111.111.111.111
                  dns2: 222.222.222.222
                  signalType: 4G
                  mtu: 1500
                  iccid: '123456789'
                  imsi: '123456789012345'
                  msisdn: '123456789012345'
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: List the uplink status of every Meraki MG cellular gateway in the organization
      tags:
      - cellularGateway
components:
  securitySchemes:
    meraki_api_key:
      type: apiKey
      name: X-Cisco-Meraki-API-Key
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
x-batchable-actions:
- group: ''
  summary: Update multicast settings for a network
  resource: /networks/{networkId}/switch/routing/multicast
  operation: ms/multicast/actions/update
- group: ''
  summary: Migrate devices to another controller or management mode
  resource: /organizations/{organizationId}/devices/controller/migrations
  operation: mr/actions/migrate
- group: Adaptive policy assignment
  summary: Assign adaptive policy groups to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: assign
- group: Adaptive policy assignment
  summary: Remove adaptive policy groups from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: remove
- group: Adaptive policy group
  summary: Creates a new adaptive policy group
  resource: /organizations/{organizationId}/adaptivePolicy/groups
  operation: create
- group: Adaptive policy group
  summary: Deletes the specified adaptive policy group and any associated policies and references
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: destroy
- group: Adaptive policy group
  summary: Updates an adaptive policy group. If updating "Infrastructure", only the SGT is allowed. Cannot update "Unknown".
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: update
- group: Api features/actions/config template
  summary: Create a new configuration template
  resource: /organizations/{organizationId}/configTemplates
  operation: create
- group: Api features/actions/device
  summary: Update the attributes of a device
  resource: /devices/{serial}
  operation: update
- group: Api features/actions/device
  summary: Remove a single device
  resource: /networks/{networkId}/devices
  operation: remove
- group: Api features/actions/network settings
  summary: Update the settings for a network
  resource: /networks/{networkId}/settings
  operation: update
- group: Api platform/actions/webhook payload
  summary: Create a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates
  operation: create
- group: Api platform/actions/webhook payload
  summary: Destroy a webhook payload template for a network. Does not work for included templates ('wpt_00001', 'wpt_00002', 'wpt_00003', 'wpt_00004', 'wpt_00005', 'wpt_00006', 'wpt_00007' or 'wpt_00008')
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: destroy
- group: Api platform/actions/webhook payload
  summary: Update a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: update
- group: Api/actions/organization
  summary: Update an organization
  resource: /organizations/{organizationId}
  operation: update
- group: Appliance VLAN assignment
  summary: Assign VLANs to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: assign
- group: Appliance VLAN assignment
  summary: Remove VLANs from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: remove
- group: Appliance radio settings
  summary: Update the radio settings of an appliance
  resource: /devices/{serial}/appliance/radio/settings
  operation: update
- group: Appliance ssid
  summary: Update the attributes of an MX SSID
  resource: /networks/{networkId}/appliance/ssids/{number}
  operation: update
- group: Assurance/actions/alerts/profile
  summary: Create an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles
  operation: create
- group: Assurance/actions/alerts/profile
  summary: Delete an alert profile for this organization
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: destroy
- group: Assurance/actions/alerts/profile
  summary: Update an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: update
- group: Billing
  summary: Update the billing settings
  resource: /networks/{networkId}/wireless/billing
  operation: update
- group: Camera custom analytics settings
  summary: Update custom analytics settings for a camera
  resource: /devices/{serial}/camera/customAnalytics
  operation: update
- group: Camera video settings
  summary: Update video settings for the given camera
  resource: /devices/{serial}/camera/video/settings
  operation: update
- group: Camera wireless profile settings
  summary: Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.
  resource: /devices/{serial}/camera/wirelessProfiles
  operation: update
- group: Config template
  summary: Update a configuration template
  resource: /organizations/{organizationId}/configTemplates/{configTemplateId}
  operation: update
- group: Core product/syslog/update network
  summary: Updates the syslog servers configuration for a network.
  resource: /networks/{networkId}/devices/syslog/servers
  operation: servers
- group: Custom performance class
  summary: Add a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses
  operation: create
- group: Custom performance class
  summary: Delete a custom performance class from an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: destroy
- group: Custom performance class
  summary: Update a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: update
- group: Dai trusted server
  summary: Add a server to be trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers
  operation: create
- group: Dai trusted server
  summary: Remove a server from being trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: destroy
- group: Dai trusted server
  summary: Update a server that is trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: update
- group: Dash xl/actions/firmware upgrade rollback
  summary: Rollback a Firmware Upgrade For A Network
  resource: /networks/{networkId}/firmwareUpgrades/rollbacks
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Add a new branding policy to an organization
  resource: /organizations/{organizationId}/brandingPolicies
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Delete a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: destroy
- group: Dash xl/dashboard branding policy
  summary: Update a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: update
- group: Dash xl/dashboard branding policy priorities
  summary: Update the priority ordering of an organization's branding policies.
  resource: /organizations/{organizationId}/brandingPolicies/priorities
  operation: update
- group: Dashboard features/actions/client
  summary: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
  resource: /networks/{networkId}/clients
  operation: provision
- group: Dashboard features/actions/early access/feature opt in
  summary: Update an early access feature opt-in for an organization
  resource: /organizations/{organizationId}/earlyAccess/features/optIns/{optInId}
  operation: update
- group: Dhcp server policy
  summary: Update the DHCP server settings. Blocked/allowed servers are only applied when default policy is allow/block, respectively
  resource: /networks/{networkId}/switch/dhcpServerPolicy
  operation: update
- group: Dscp cos mapping
  summary: Update the DSCP to CoS mappings
  resource: /networks/{networkId}/switch/dscpToCosMappings
  operation: update
- group: End users/actions/meraki auth user
  summary: Authorize a user configured with Meraki Authentication for a network (currently supports 802.1X, splash guest, and client VPN users, and currently, organizations have a 50,000 user cap)
  resource: /networks/{networkId}/merakiAuthUsers
  operation: create
- group: End users/actions/meraki auth user
  summary: Delete an 802.1X RADIUS user, or deauthorize and optionally delete a splash guest or client VPN user.
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: destroy
- group: End users/actions/meraki auth user
  summary: Update a user configured with Meraki Authentication (currently, 802.1X RADIUS, splash guest, and client VPN users can be updated)
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: update
- group: Firmware upgrades update
  summary: Update firmware upgrade information for a network
  resource: /networks/{networkId}/firmwareUpgrades
  operation: update
- group: Floor plan
  summary: Destroy a floor plan
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: destroy
- group: Floor plan
  summary: Update a floor plan's geolocation and other meta data
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: update
- group: Frontizo/actions/owp release/firewall rule
  summary: Create an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules
  operation: create
- group: Frontizo/actions/owp release/firewall rule
  summary: Delete an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: destroy
- group: Frontizo/actions/owp release/firewall rule
  summary: Update an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: update
- group: Frontizo/actions/owp release/policy
  summary: Create an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies
  operation: create
- group: Frontizo/actions/owp release/policy
  summary: Delete an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: destroy
- group: Frontizo/actions/owp release/policy
  summary: Update an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: update
- group: Frontizo/actions/owp release/ruleset
  summary: Create an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets
  operation: create
- group: Frontizo/actions/owp release/ruleset
  summary: Delete an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset
  summary: Update an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: update
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Create an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments
  operation: create
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Delete an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Update an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: update
- group: Frontizo/actions/sase/integration
  summary: Create a new Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations
  operation: create
- group: Frontizo/actions/sase/integration
  summary: Remove a Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations/{integrationId}
  operation: destroy
- group: Frontizo/actions/site
  summary: Attach sites in this organization to Secure Access. For an organization, a maximum of 2500 sites can be attached if they are in spoke mode or a maximum of 10 sites can be attached in hub mode.
  resource: /organizations/{organizationId}/sase/sites
  operation: create
- group: Frontizo/actions/umbrella integration/account
  summary: Connect a Cisco Umbrella account to this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: action
- group: Frontizo/actions/umbrella integration/account
  summary: Disconnect Umbrella account from this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: disconnect
- group: Frontizo/actions/umbrella integration/domains
  summary: Specify one or more domain names to be excluded from being routed to Cisco Umbrella.
  resource: /networks/{networkId}/appliance/umbrella/domains
  operation: action
- group: Frontizo/actions/umbrella integration/policies
  summary: Add one Cisco Umbrella DNS security policy to an MX network by policy ID. Idempotent — if the policy is already applied, the request succeeds and returns the current policy set unchanged.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_add
- group: Frontizo/actions/umbrella integration/policies
  summary: Remove one Cisco Umbrella DNS security policy from an MX network by policy ID. Returns 204 No Content on success. Behavior when the policy is not currently applied depends on the Cisco Umbrella API response.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_remove
- group: Frontizo/actions/umbrella integration/protection
  summary: Enable or disable umbrella protection for an appliance network. When 'enabled' is false, 'umbrella.organization.id' and 'umbrella.origin.id' are null in the response.
  resource: /networks/{networkId}/appliance/umbrella
  operation: action
- group: Frontizo/sse sites/actions/connectors batch
  summary: Delete SSE Connectors by ID
  resource: /organizations/{organizationId}/sase/connectors
  operation: teardown
- group: Frontizo/sse sites/actions/sites
  summary: Detach sites in this organization from Secure Access. This will remove the sites from Secure Access.
  resource: /organizations/{organizationId}/sase/sites
  operation: detach
- group: Frontizo/sse sites/actions/sites
  summary: Update the configuration for a site. Currently, only supports updating default route enablement.
  resource: /organizations/{organizationId}/sase/sites/{siteId}
  operation: update
- group: Group policy
  summary: Create a group policy
  resource: /networks/{networkId}/groupPolicies
  operation: create
- group: Group policy
  summary: Delete a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: destroy
- group: Group policy
  summary: Update a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: update
- group: Hotspot20
  summary: Update the Hotspot 2.0 settings of an SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/hotspot20
  operation: update
- group: Insight/actions/org wide alerts/alert config
  summary: Create an organization-wide alert configuration
  resource: /organizations/{organizationId}/alerts/profiles
  operation: create
- group: Insight/actions/org wide alerts/alert config
  summary: Removes an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: destroy
- group: Insight/actions/org wide alerts/alert config
  summary: Update an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: update
- group: Inventory/actions/device
  summary: 'Claim devices into a network. (Note: for recently claimed devices, it may take a few minutes for API requests against that device to succeed). This operation can be used up to ten times within a single five minute window.'
  resource: /networks/{networkId}/devices/claim
  operation: claim
- group: Inventory/actions/unified orders/unified order
  summary: Claim an order by the secure unique order claim number, the order claim id
  resource: /organizations/{organizationId}/inventory/orders
  operation: claim
- group: L3 firewall
  summary: Update the L3 firewall rules of an SSID on an MR network
  resource: /networks/{networkId}/wireless/ssids/{number}/firewall/l3FirewallRules
  operation: update
- group: License
  summary: Assign SM seats to a network. This will increase the managed SM device limit of the network
  resource: /organizations/{organizationId}/licenses
  operation: assignSeats
- group: License
  summary: Move licenses to another organization. This will also move any devices that the licenses are assigned to
  resource: /organizations/{organizationId}/licenses
  operation: move
- group: License
  summary: Move SM seats to another organization
  resource: /organizations/{organizationId}/licenses
  operation: moveSeats
- group: License
  summary: Renew SM seats of a license. This will extend the license expiration date of managed SM devices covered by this license
  resource: /organizations/{organizationId}/licenses
  operation: renewSeats
- group: License
  summary: Update a license
  resource: /organizations/{organizationId}/licenses/{licenseId}
  operation: update
- group: MTU configuration
  summary: Update the MTU configuration
  resource: /networks/{networkId}/switch/mtu
  operation: update
- group: MX connectivity monitoring destination
  summary: Update the connectivity testing destinations for an MX network
  resource: /networks/{networkId}/appliance/connectivityMonitoringDestinations
  operation: update
- group: MX l3 configuration
  summary: Create wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3
  operation: create
- group: MX l3 configuration
  summary: Delete wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: destroy
- group: MX l3 configuration
  summary: Update wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: update
- group: MX uplink setting
  summary: Updates the uplink bandwidth settings for your MX network.
  resource: /networks/{networkId}/appliance/trafficShaping/uplinkBandwidth
  operation: update
- group: Mars/actions/device
  summary: Updating device details (currently only used for Catalyst devices)
  resource: /organizations/{organizationId}/devices/details/bulkUpdate
  operation: details/update
- group: Mcg/actions/cluster
  summary: Create a cluster and add campus gateways to it
  resource: /networks/{networkId}/campusGateway/clusters
  operation: create
- group: Mcg/actions/cluster
  summary: Delete a cluster
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: destroy
- group: Mcg/actions/cluster
  summary: Update a cluster and add/remove campus gateways to/from it
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: update
- group: Mcg/actions/cluster
  summary: Provisions a cluster,adds campus gateways to it and associate/dissociate failover targets.
  resource: /organizations/{organizationId}/campusGateway/clusters
  operation: provision
- group: Monitored media server
  summary: Add a media server to be monitored for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers
  operation: create
- group: Monitored media server
  summary: Delete a monitored media server from this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: destroy
- group: Monitored media server
  summary: Update a monitored media server for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: update
- group: Mr/actions/air marshal rule
  summary: Creates a new rule
  resource: /networks/{networkId}/wireless/airMarshal/rules
  operation: create
- group: Mr/actions/air marshal rule
  summary: Delete an Air Marshal rule.
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: destroy
- group: Mr/actions/air marshal rule
  summary: Update a rule
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: update
- group: Mr/actions/air marshal setting
  summary: Updates Air Marshal settings.
  resource: /networks/{networkId}/wireless/airMarshal/settings
  operation: update
- group: Mr/actions/ap port profile
  summary: Create an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: create
- group: Mr/actions/ap port profile
  summary: Delete an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
  operation: destroy
- group: Mr/actions/ap port profile
  summary: Update the AP port profile by ID for this network
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
[...]
