openapi: 3.1.0
info:
  title: Cisco Meraki Dashboard API
  description: |
    RESTful API for managing and monitoring Cisco Meraki cloud networking
    across organizations, networks, devices, SSIDs, switch ports, security
    appliances, cameras, and clients. Authentication uses an API key passed
    via the X-Cisco-Meraki-API-Key header or as a Bearer token.
  version: "1.0.0"
  contact:
    name: Cisco Meraki Developer Hub
    url: https://developer.cisco.com/meraki/api-v1/
servers:
  - url: https://api.meraki.com/api/v1
    description: Meraki Dashboard API v1
security:
  - merakiApiKey: []
  - bearerAuth: []
tags:
  - name: Organizations
  - name: Networks
  - name: Devices
  - name: Appliance
  - name: Switch
  - name: Wireless
  - name: Camera
  - name: Sensor
  - name: LiveTools
paths:
  /organizations:
    get:
      tags: [Organizations]
      summary: List the organizations the user has privileges on
      operationId: getOrganizations
      parameters:
        - in: query
          name: perPage
          schema: { type: integer, minimum: 3, maximum: 9000 }
        - in: query
          name: startingAfter
          schema: { type: string }
        - in: query
          name: endingBefore
          schema: { type: string }
      responses:
        "200":
          description: An array of organization objects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Organization" }
  /organizations/{organizationId}:
    parameters:
      - in: path
        name: organizationId
        required: true
        schema: { type: string }
    get:
      tags: [Organizations]
      summary: Return an organization
      operationId: getOrganization
      responses:
        "200":
          description: An organization
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Organization" }
    put:
      tags: [Organizations]
      summary: Update an organization
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Organization" }
      responses:
        "200":
          description: Updated organization
  /organizations/{organizationId}/networks:
    parameters:
      - in: path
        name: organizationId
        required: true
        schema: { type: string }
    get:
      tags: [Networks]
      summary: List the networks in an organization
      operationId: getOrganizationNetworks
      parameters:
        - in: query
          name: perPage
          schema: { type: integer }
        - in: query
          name: startingAfter
          schema: { type: string }
        - in: query
          name: endingBefore
          schema: { type: string }
      responses:
        "200":
          description: List of networks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Network" }
    post:
      tags: [Networks]
      summary: Create a network
      operationId: createOrganizationNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Network" }
      responses:
        "201":
          description: Created network
  /organizations/{organizationId}/devices:
    parameters:
      - in: path
        name: organizationId
        required: true
        schema: { type: string }
    get:
      tags: [Devices]
      summary: List the devices in an organization
      operationId: getOrganizationDevices
      parameters:
        - in: query
          name: perPage
          schema: { type: integer }
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Device" }
  /networks/{networkId}:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
    get:
      tags: [Networks]
      summary: Return a network
      operationId: getNetwork
      responses:
        "200":
          description: A network
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Network" }
    put:
      tags: [Networks]
      summary: Update a network
      operationId: updateNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Network" }
      responses:
        "200":
          description: Updated network
    delete:
      tags: [Networks]
      summary: Delete a network
      operationId: deleteNetwork
      responses:
        "204":
          description: Deleted
  /networks/{networkId}/devices:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
    get:
      tags: [Devices]
      summary: List the devices in a network
      operationId: getNetworkDevices
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Device" }
  /networks/{networkId}/clients:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
    get:
      tags: [Networks]
      summary: List the clients that have used this network in the timespan
      operationId: getNetworkClients
      parameters:
        - in: query
          name: timespan
          schema: { type: number }
        - in: query
          name: perPage
          schema: { type: integer }
      responses:
        "200":
          description: List of clients
  /devices/{serial}:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
    get:
      tags: [Devices]
      summary: Return a single device
      operationId: getDevice
      responses:
        "200":
          description: A device
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Device" }
    put:
      tags: [Devices]
      summary: Update the attributes of a device
      operationId: updateDevice
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Device" }
      responses:
        "200":
          description: Updated device
  /devices/{serial}/reboot:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
    post:
      tags: [Devices]
      summary: Reboot a device
      operationId: rebootDevice
      responses:
        "202":
          description: Reboot requested
  /devices/{serial}/switch/ports:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
    get:
      tags: [Switch]
      summary: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      responses:
        "200":
          description: List of switch ports
  /devices/{serial}/switch/ports/{portId}:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
      - in: path
        name: portId
        required: true
        schema: { type: string }
    get:
      tags: [Switch]
      summary: Return a switch port
      operationId: getDeviceSwitchPort
      responses:
        "200":
          description: Switch port
    put:
      tags: [Switch]
      summary: Update a switch port
      operationId: updateDeviceSwitchPort
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Updated switch port
  /networks/{networkId}/wireless/ssids:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
    get:
      tags: [Wireless]
      summary: List the SSIDs in a network
      operationId: getNetworkWirelessSsids
      responses:
        "200":
          description: List of SSIDs
  /networks/{networkId}/wireless/ssids/{number}:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
      - in: path
        name: number
        required: true
        schema: { type: string }
    get:
      tags: [Wireless]
      summary: Return a single SSID
      operationId: getNetworkWirelessSsid
      responses:
        "200":
          description: SSID
    put:
      tags: [Wireless]
      summary: Update the attributes of an SSID
      operationId: updateNetworkWirelessSsid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Updated SSID
  /networks/{networkId}/appliance/vlans:
    parameters:
      - in: path
        name: networkId
        required: true
        schema: { type: string }
    get:
      tags: [Appliance]
      summary: List the VLANs for an MX network
      operationId: getNetworkApplianceVlans
      responses:
        "200":
          description: List of VLANs
    post:
      tags: [Appliance]
      summary: Add a VLAN
      operationId: createNetworkApplianceVlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Created VLAN
  /devices/{serial}/camera/generateSnapshot:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
    post:
      tags: [Camera]
      summary: Generate a snapshot of what the camera sees at the specified time
      operationId: generateDeviceCameraSnapshot
      responses:
        "202":
          description: Snapshot request accepted
  /devices/{serial}/liveTools/ping:
    parameters:
      - in: path
        name: serial
        required: true
        schema: { type: string }
    post:
      tags: [LiveTools]
      summary: Enqueue a job to ping a target host from the device
      operationId: createDeviceLiveToolsPing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target: { type: string }
                count: { type: integer }
      responses:
        "201":
          description: Ping job enqueued
components:
  securitySchemes:
    merakiApiKey:
      type: apiKey
      in: header
      name: X-Cisco-Meraki-API-Key
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Organization:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        url: { type: string }
        api:
          type: object
          properties:
            enabled: { type: boolean }
        licensing:
          type: object
          properties:
            model: { type: string }
        cloud:
          type: object
          properties:
            region:
              type: object
              properties:
                name: { type: string }
        management:
          type: object
    Network:
      type: object
      properties:
        id: { type: string }
        organizationId: { type: string }
        name: { type: string }
        productTypes:
          type: array
          items: { type: string }
        timeZone: { type: string }
        tags:
          type: array
          items: { type: string }
        url: { type: string }
    Device:
      type: object
      properties:
        serial: { type: string }
        name: { type: string }
        model: { type: string }
        mac: { type: string }
        lanIp: { type: string }
        networkId: { type: string }
        firmware: { type: string }
        tags:
          type: array
          items: { type: string }
        lat: { type: number }
        lng: { type: number }
        address: { type: string }
