openapi: 3.1.0
info:
  title: Cisco Meraki Dashboard Appliance Organizations API
  description: 'RESTful API for managing and monitoring Cisco Meraki cloud networking

    across organizations, networks, devices, SSIDs, switch ports, security

    appliances, cameras, and clients. Authentication uses an API key passed

    via the X-Cisco-Meraki-API-Key header or as a Bearer token.

    '
  version: 1.0.0
  contact:
    name: Cisco Meraki Developer Hub
    url: https://developer.cisco.com/meraki/api-v1/
servers:
- url: https://api.meraki.com/api/v1
  description: Meraki Dashboard API v1
security:
- merakiApiKey: []
- bearerAuth: []
tags:
- name: Organizations
paths:
  /organizations:
    get:
      tags:
      - Organizations
      summary: List the organizations the user has privileges on
      operationId: getOrganizations
      parameters:
      - in: query
        name: perPage
        schema:
          type: integer
          minimum: 3
          maximum: 9000
      - in: query
        name: startingAfter
        schema:
          type: string
      - in: query
        name: endingBefore
        schema:
          type: string
      responses:
        '200':
          description: An array of organization objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  /organizations/{organizationId}:
    parameters:
    - in: path
      name: organizationId
      required: true
      schema:
        type: string
    get:
      tags:
      - Organizations
      summary: Return an organization
      operationId: getOrganization
      responses:
        '200':
          description: An organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    put:
      tags:
      - Organizations
      summary: Update an organization
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Updated organization
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
        api:
          type: object
          properties:
            enabled:
              type: boolean
        licensing:
          type: object
          properties:
            model:
              type: string
        cloud:
          type: object
          properties:
            region:
              type: object
              properties:
                name:
                  type: string
        management:
          type: object
  securitySchemes:
    merakiApiKey:
      type: apiKey
      in: header
      name: X-Cisco-Meraki-API-Key
    bearerAuth:
      type: http
      scheme: bearer
