openapi: 3.2.0
info:
  title: Meraki Integrated API for Secure Connect Firewall Applications API
  description: "The Cisco Meraki Integrated API for Secure Connect is a modern REST API based on the OpenAPI specification.\n  ---\n\n  [API Documentation](https://meraki.io/api)\n\n  [Meraki Homepage](https://www.meraki.com)\n"
  version: 1.8.0
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'Firewall Applications'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/secure-connect-openapi/blob/main/secure_connect_oas_beta.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/secure-connect-openapi/main/secure_connect_oas_beta.json
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/secureConnect/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Firewall Applications
paths:
  /organizations/{organizationId}/firewall/applications:
    get:
      summary: Get Firewall Applications
      description: ''
      operationId: getFirewallApplications
      parameters:
      - name: organizationId
        in: path
        description: Organization ID associated with this resource.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Unauthorized
        '405':
          description: Method Not Allowed
      tags:
      - Firewall Applications
