{
 "openapi": "3.0.1",
 "info": {
  "title": "Cisco Meraki Dashboard API \u2014 cellularGateway",
  "description": "The cellularGateway operations of the Cisco Meraki Dashboard API, split by product area from Cisco's published OpenAPI definition.",
  "version": "1.72.0",
  "contact": {
   "name": "Meraki Developer Community",
   "url": "https://meraki.io/community"
  },
  "x-provenance": {
   "method": "harvested",
   "authored_by": "Cisco Meraki",
   "harvested_by": "API Evangelist",
   "harvested_on": "2026-07-31",
   "first_party": true,
   "note": "Split by first tag from Cisco's published spec3.json; operations unmodified.",
   "provider_published": true
  },
  "x-evidence": [
   {
    "type": "source",
    "url": "https://github.com/meraki/openapi/blob/master/openapi/spec3.json"
   },
   {
    "type": "raw",
    "url": "https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json"
   },
   {
    "type": "alternate",
    "url": "https://api.meraki.com/api/v1/openapiSpec"
   }
  ]
 },
 "servers": [
  {
   "url": "https://api.meraki.com/{basePath}",
   "variables": {
    "basePath": {
     "default": "api/v1"
    }
   }
  }
 ],
 "security": [
  {
   "meraki_api_key": []
  },
  {
   "bearerAuth": []
  }
 ],
 "tags": [
  {
   "name": "accounts",
   "description": ""
  },
  {
   "name": "cellularGateway",
   "description": ""
  },
  {
   "name": "communicationPlans",
   "description": ""
  },
  {
   "name": "configure",
   "description": ""
  },
  {
   "name": "connectivityMonitoringDestinations",
   "description": ""
  },
  {
   "name": "dhcp",
   "description": ""
  },
  {
   "name": "esims",
   "description": ""
  },
  {
   "name": "inventory",
   "description": ""
  },
  {
   "name": "lan",
   "description": ""
  },
  {
   "name": "monitor",
   "description": ""
  },
  {
   "name": "portForwardingRules",
   "description": ""
  },
  {
   "name": "ratePlans",
   "description": ""
  },
  {
   "name": "serviceProviders",
   "description": ""
  },
  {
   "name": "statuses",
   "description": ""
  },
  {
   "name": "subnetPool",
   "description": ""
  },
  {
   "name": "swap",
   "description": ""
  },
  {
   "name": "uplink",
   "description": ""
  }
 ],
 "components": {
  "securitySchemes": {
   "meraki_api_key": {
    "type": "apiKey",
    "name": "X-Cisco-Meraki-API-Key",
    "in": "header"
   },
   "bearerAuth": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "API Key"
   }
  }
 },
 "paths": {
  "/devices/{serial}/cellularGateway/lan": {
   "get": {
    "description": "Show the LAN Settings of a MG",
    "operationId": "getDeviceCellularGatewayLan",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deviceName": {
           "type": "string",
           "description": "Name of the MG."
          },
          "deviceLanIp": {
           "type": "string",
           "description": "Lan IP of the MG"
          },
          "deviceSubnet": {
           "type": "string",
           "description": "Subnet configuration of the MG."
          },
          "fixedIpAssignments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "A descriptive name of the assignment"
             },
             "ip": {
              "type": "string",
              "description": "The IP address you want to assign to a specific server or device"
             },
             "mac": {
              "type": "string",
              "description": "The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address"
             }
            }
           },
           "description": "list of all fixed IP assignments for a single MG"
          },
          "reservedIpRanges": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "start": {
              "type": "string",
              "description": "Starting IP included in the reserved range of IPs"
             },
             "end": {
              "type": "string",
              "description": "Ending IP included in the reserved range of IPs"
             },
             "comment": {
              "type": "string",
              "description": "Comment explaining the reserved IP range"
             }
            }
           },
           "description": "list of all reserved IP ranges for a single MG"
          }
         }
        },
        "example": {
         "deviceName": "name of the MG",
         "deviceLanIp": "192.168.0.33",
         "deviceSubnet": "192.168.0.32/27",
         "fixedIpAssignments": [
          {
           "name": "server 1",
           "ip": "192.168.0.10",
           "mac": "0b:00:00:00:00:ac"
          }
         ],
         "reservedIpRanges": [
          {
           "start": "192.168.1.0",
           "end": "192.168.1.1",
           "comment": "A reserved IP range"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "Show the LAN Settings of a MG",
    "tags": [
     "cellularGateway",
     "configure",
     "lan"
    ]
   },
   "put": {
    "description": "Update the LAN Settings for a single MG.",
    "operationId": "updateDeviceCellularGatewayLan",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "reservedIpRanges": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "start": {
             "type": "string",
             "description": "Starting IP included in the reserved range of IPs"
            },
            "end": {
             "type": "string",
             "description": "Ending IP included in the reserved range of IPs"
            },
            "comment": {
             "type": "string",
             "description": "Comment explaining the reserved IP range"
            }
           },
           "required": [
            "start",
            "end",
            "comment"
           ]
          },
          "description": "list of all reserved IP ranges for a single MG"
         },
         "fixedIpAssignments": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "A descriptive name of the assignment"
            },
            "ip": {
             "type": "string",
             "description": "The IP address you want to assign to a specific server or device"
            },
            "mac": {
             "type": "string",
             "description": "The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address"
            }
           },
           "required": [
            "ip",
            "mac"
           ]
          },
          "description": "list of all fixed IP assignments for a single MG"
         }
        },
        "example": {
         "reservedIpRanges": [
          {
           "start": "192.168.1.0",
           "end": "192.168.1.1",
           "comment": "A reserved IP range"
          }
         ],
         "fixedIpAssignments": [
          {
           "name": "server 1",
           "ip": "192.168.0.10",
           "mac": "0b:00:00:00:00:ac"
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deviceName": {
           "type": "string",
           "description": "Name of the MG."
          },
          "deviceLanIp": {
           "type": "string",
           "description": "Lan IP of the MG"
          },
          "deviceSubnet": {
           "type": "string",
           "description": "Subnet configuration of the MG."
          },
          "fixedIpAssignments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "A descriptive name of the assignment"
             },
             "ip": {
              "type": "string",
              "description": "The IP address you want to assign to a specific server or device"
             },
             "mac": {
              "type": "string",
              "description": "The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address"
             }
            }
           },
           "description": "list of all fixed IP assignments for a single MG"
          },
          "reservedIpRanges": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "start": {
              "type": "string",
              "description": "Starting IP included in the reserved range of IPs"
             },
             "end": {
              "type": "string",
              "description": "Ending IP included in the reserved range of IPs"
             },
             "comment": {
              "type": "string",
              "description": "Comment explaining the reserved IP range"
             }
            }
           },
           "description": "list of all reserved IP ranges for a single MG"
          }
         }
        },
        "example": {
         "deviceName": "name of the MG",
         "deviceLanIp": "192.168.0.33",
         "deviceSubnet": "192.168.0.32/27",
         "fixedIpAssignments": [
          {
           "name": "server 1",
           "ip": "192.168.0.10",
           "mac": "0b:00:00:00:00:ac"
          }
         ],
         "reservedIpRanges": [
          {
           "start": "192.168.1.0",
           "end": "192.168.1.1",
           "comment": "A reserved IP range"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Update the LAN Settings for a single MG.",
    "tags": [
     "cellularGateway",
     "configure",
     "lan"
    ]
   }
  },
  "/devices/{serial}/cellularGateway/portForwardingRules": {
   "get": {
    "description": "Returns the port forwarding rules for a single MG.",
    "operationId": "getDeviceCellularGatewayPortForwardingRules",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "rules": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "A descriptive name for the rule"
             },
             "lanIp": {
              "type": "string",
              "description": "The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN"
             },
             "publicPort": {
              "type": "string",
              "description": "A port or port ranges that will be forwarded to the host on the LAN"
             },
             "localPort": {
              "type": "string",
              "description": "A port or port ranges that will receive the forwarded traffic from the WAN"
             },
             "allowedIps": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "description": "An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges."
             },
             "protocol": {
              "type": "string",
              "description": "TCP or UDP"
             },
             "access": {
              "type": "string",
              "description": "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
             }
            }
           },
           "description": "An array of port forwarding params"
          }
         }
        },
        "example": {
         "rules": [
          {
           "name": "test",
           "lanIp": "172.31.128.5",
           "publicPort": "11-12",
           "localPort": "4",
           "allowedIps": [
            "10.10.10.10",
            "10.10.10.11"
           ],
           "protocol": "tcp",
           "access": "any"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "Returns the port forwarding rules for a single MG.",
    "tags": [
     "cellularGateway",
     "configure",
     "portForwardingRules"
    ]
   },
   "put": {
    "description": "Updates the port forwarding rules for a single MG.",
    "operationId": "updateDeviceCellularGatewayPortForwardingRules",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "rules": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "A descriptive name for the rule"
            },
            "lanIp": {
             "type": "string",
             "description": "The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN"
            },
            "publicPort": {
             "type": "string",
             "description": "A port or port ranges that will be forwarded to the host on the LAN"
            },
            "localPort": {
             "type": "string",
             "description": "A port or port ranges that will receive the forwarded traffic from the WAN"
            },
            "allowedIps": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "description": "An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges."
            },
            "protocol": {
             "type": "string",
             "description": "TCP or UDP"
            },
            "access": {
             "type": "string",
             "description": "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
            }
           },
           "required": [
            "lanIp",
            "publicPort",
            "localPort",
            "protocol",
            "access"
           ]
          },
          "description": "An array of port forwarding params"
         }
        },
        "example": {
         "rules": [
          {
           "name": "test",
           "lanIp": "172.31.128.5",
           "publicPort": "11-12",
           "localPort": "4",
           "allowedIps": [
            "10.10.10.10",
            "10.10.10.11"
           ],
           "protocol": "tcp",
           "access": "any"
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "rules": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "A descriptive name for the rule"
             },
             "lanIp": {
              "type": "string",
              "description": "The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN"
             },
             "publicPort": {
              "type": "string",
              "description": "A port or port ranges that will be forwarded to the host on the LAN"
             },
             "localPort": {
              "type": "string",
              "description": "A port or port ranges that will receive the forwarded traffic from the WAN"
             },
             "allowedIps": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "description": "An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges."
             },
             "protocol": {
              "type": "string",
              "description": "TCP or UDP"
             },
             "access": {
              "type": "string",
              "description": "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
             }
            }
           },
           "description": "An array of port forwarding params"
          }
         }
        },
        "example": {
         "rules": [
          {
           "name": "test",
           "lanIp": "172.31.128.5",
           "publicPort": "11-12",
           "localPort": "4",
           "allowedIps": [
            "10.10.10.10",
            "10.10.10.11"
           ],
           "protocol": "tcp",
           "access": "any"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Updates the port forwarding rules for a single MG.",
    "tags": [
     "cellularGateway",
     "configure",
     "portForwardingRules"
    ]
   }
  },
  "/networks/{networkId}/cellularGateway/connectivityMonitoringDestinations": {
   "get": {
    "description": "Return the connectivity testing destinations for an MG network",
    "operationId": "getNetworkCellularGatewayConnectivityMonitoringDestinations",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "destinations": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "ip": {
              "type": "string",
              "description": "The IP address to test connectivity with"
             },
             "description": {
              "type": "string",
              "description": "Description of the testing destination. Optional, defaults to an empty string"
             },
             "default": {
              "type": "boolean",
              "description": "Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed"
             }
            }
           },
           "description": "The list of connectivity monitoring destinations"
          }
         }
        },
        "example": {
         "destinations": [
          {
           "ip": "1.2.3.4",
           "description": "Google",
           "default": false
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:telemetry:read"
      ]
     }
    ],
    "summary": "Return the connectivity testing destinations for an MG network",
    "tags": [
     "cellularGateway",
     "configure",
     "connectivityMonitoringDestinations"
    ]
   },
   "put": {
    "description": "Update the connectivity testing destinations for an MG network",
    "operationId": "updateNetworkCellularGatewayConnectivityMonitoringDestinations",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "destinations": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "ip": {
             "type": "string",
             "description": "The IP address to test connectivity with"
            },
            "description": {
             "type": "string",
             "description": "Description of the testing destination. Optional, defaults to an empty string",
             "default": "",
             "nullable": true
            },
            "default": {
             "type": "boolean",
             "description": "Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed",
             "default": false
            }
           },
           "required": [
            "ip"
           ]
          },
          "description": "The list of connectivity monitoring destinations"
         }
        },
        "example": {
         "destinations": [
          {
           "ip": "1.2.3.4",
           "description": "Google",
           "default": false
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "destinations": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "ip": {
              "type": "string",
              "description": "The IP address to test connectivity with"
             },
             "description": {
              "type": "string",
              "description": "Description of the testing destination. Optional, defaults to an empty string"
             },
             "default": {
              "type": "boolean",
              "description": "Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed"
             }
            }
           },
           "description": "The list of connectivity monitoring destinations"
          }
         }
        },
        "example": {
         "destinations": [
          {
           "ip": "1.2.3.4",
           "description": "Google",
           "default": false
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:telemetry:write"
      ]
     }
    ],
    "summary": "Update the connectivity testing destinations for an MG network",
    "tags": [
     "cellularGateway",
     "configure",
     "connectivityMonitoringDestinations"
    ]
   }
  },
  "/networks/{networkId}/cellularGateway/dhcp": {
   "get": {
    "description": "List common DHCP settings of MGs",
    "operationId": "getNetworkCellularGatewayDhcp",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "dhcpLeaseTime": {
           "type": "string",
           "enum": [
            "1 day",
            "1 hour",
            "1 week",
            "12 hours",
            "30 minutes",
            "4 hours"
           ],
           "description": "DHCP Lease time for all MG in the network."
          },
          "dnsNameservers": {
           "type": "string",
           "enum": [
            "custom",
            "google_dns",
            "opendns",
            "upstream_dns"
           ],
           "description": "DNS name servers mode for all MG in the network."
          },
          "dnsCustomNameservers": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "description": "List of fixed IPs representing the the DNS Name servers when the mode is 'custom'."
          }
         }
        },
        "example": {
         "dhcpLeaseTime": "1 hour",
         "dnsNameservers": "custom",
         "dnsCustomNameservers": [
          "172.16.2.111",
          "172.16.2.30"
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "List common DHCP settings of MGs",
    "tags": [
     "cellularGateway",
     "configure",
     "dhcp"
    ]
   },
   "put": {
    "description": "Update common DHCP settings of MGs",
    "operationId": "updateNetworkCellularGatewayDhcp",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "dhcpLeaseTime": {
          "type": "string",
          "description": "DHCP Lease time for all MG of the network. Possible values are '30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week'."
         },
         "dnsNameservers": {
          "type": "string",
          "description": "DNS name servers mode for all MG of the network. Possible values are: 'upstream_dns', 'google_dns', 'opendns', 'custom'."
         },
         "dnsCustomNameservers": {
          "type": "array",
          "items": {
           "type": "string"
          },
          "description": "list of fixed IPs representing the the DNS Name servers when the mode is 'custom'"
         }
        },
        "example": {
         "dhcpLeaseTime": "1 hour",
         "dnsNameservers": "custom",
         "dnsCustomNameservers": [
          "172.16.2.111",
          "172.16.2.30"
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "dhcpLeaseTime": {
           "type": "string",
           "enum": [
            "1 day",
            "1 hour",
            "1 week",
            "12 hours",
            "30 minutes",
            "4 hours"
           ],
           "description": "DHCP Lease time for all MG in the network."
          },
          "dnsNameservers": {
           "type": "string",
           "enum": [
            "custom",
            "google_dns",
            "opendns",
            "upstream_dns"
           ],
           "description": "DNS name servers mode for all MG in the network."
          },
          "dnsCustomNameservers": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "description": "List of fixed IPs representing the the DNS Name servers when the mode is 'custom'."
          }
         }
        },
        "example": {
         "dhcpLeaseTime": "1 hour",
         "dnsNameservers": "custom",
         "dnsCustomNameservers": [
          "172.16.2.111",
          "172.16.2.30"
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Update common DHCP settings of MGs",
    "tags": [
     "cellularGateway",
     "configure",
     "dhcp"
    ]
   }
  },
  "/networks/{networkId}/cellularGateway/subnetPool": {
   "get": {
    "description": "Return the subnet pool and mask configured for MGs in the network.",
    "operationId": "getNetworkCellularGatewaySubnetPool",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deploymentMode": {
           "type": "string",
           "description": "Deployment mode for the cellular gateways in the network. (Passthrough/Routed)"
          },
          "cidr": {
           "type": "string",
           "description": "CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool."
          },
          "mask": {
           "type": "integer",
           "description": "Mask used for the subnet of all MGs in  this network."
          },
          "subnets": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "serial": {
              "type": "string",
              "description": "Serial Number of the MG."
             },
             "name": {
              "type": "string",
              "description": "Name of the MG."
             },
             "applianceIp": {
              "type": "string",
              "description": "Appliance IP of the MG device."
             },
             "subnet": {
              "type": "string",
              "description": "Subnet of MG device."
             }
            }
           },
           "description": "List of subnets of all MGs in this network."
          }
         }
        },
        "example": {
         "deploymentMode": "routed",
         "cidr": "192.168.0.0/16",
         "mask": 24,
         "subnets": [
          {
           "serial": "AAAA-AAAA-AAAA",
           "name": "my first MG",
           "applianceIp": "192.168.0.1",
           "subnet": "192.168.0.0/24"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "Return the subnet pool and mask configured for MGs in the network.",
    "tags": [
     "cellularGateway",
     "configure",
     "subnetPool"
    ]
   },
   "put": {
    "description": "Update the subnet pool and mask configuration for MGs in the network.",
    "operationId": "updateNetworkCellularGatewaySubnetPool",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "mask": {
          "type": "integer",
          "description": "Mask used for the subnet of all MGs in  this network."
         },
         "cidr": {
          "type": "string",
          "description": "CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool."
         }
        },
        "example": {
         "mask": 24,
         "cidr": "192.168.0.0/16"
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deploymentMode": {
           "type": "string",
           "description": "Deployment mode for the cellular gateways in the network. (Passthrough/Routed)"
          },
          "cidr": {
           "type": "string",
           "description": "CIDR of the pool of subnets. Each MG in this network will automatically pick a subnet from this pool."
          },
          "mask": {
           "type": "integer",
           "description": "Mask used for the subnet of all MGs in  this network."
          },
          "subnets": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "serial": {
              "type": "string",
              "description": "Serial Number of the MG."
             },
             "name": {
              "type": "string",
              "description": "Name of the MG."
             },
             "applianceIp": {
              "type": "string",
              "description": "Appliance IP of the MG device."
             },
             "subnet": {
              "type": "string",
              "description": "Subnet of MG device."
             }
            }
           },
           "description": "List of subnets of all MGs in this network."
          }
         }
        },
        "example": {
         "deploymentMode": "routed",
         "cidr": "192.168.0.0/16",
         "mask": 24,
         "subnets": [
          {
           "serial": "AAAA-AAAA-AAAA",
           "name": "my first MG",
           "applianceIp": "192.168.0.1",
           "subnet": "192.168.0.0/24"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Update the subnet pool and mask configuration for MGs in the network.",
    "tags": [
     "cellularGateway",
     "configure",
     "subnetPool"
    ]
   }
  },
  "/networks/{networkId}/cellularGateway/uplink": {
   "get": {
    "description": "Returns the uplink settings for your MG network.",
    "operationId": "getNetworkCellularGatewayUplink",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "bandwidthLimits": {
           "type": "object",
           "properties": {
            "limitUp": {
             "type": "integer",
             "description": "The maximum upload limit (integer, in Kbps). 'null' indicates no limit."
            },
            "limitDown": {
             "type": "integer",
             "description": "The maximum download limit (integer, in Kbps). 'null' indicates no limit."
            }
           },
           "description": "The bandwidth settings for the 'cellular' uplink"
          }
         }
        },
        "example": {
         "bandwidthLimits": {
          "limitUp": 51200,
          "limitDown": 51200
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "Returns the uplink settings for your MG network.",
    "tags": [
     "cellularGateway",
     "configure",
     "uplink"
    ]
   },
   "put": {
    "description": "Updates the uplink settings for your MG network.",
    "operationId": "updateNetworkCellularGatewayUplink",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "bandwidthLimits": {
          "type": "object",
          "properties": {
           "limitUp": {
            "type": "integer",
            "description": "The maximum upload limit (integer, in Kbps). null indicates no limit",
            "nullable": true
           },
           "limitDown": {
            "type": "integer",
            "description": "The maximum download limit (integer, in Kbps). null indicates no limit",
            "nullable": true
           }
          },
          "description": "The bandwidth settings for the 'cellular' uplink"
         }
        },
        "example": {
         "bandwidthLimits": {
          "limitUp": 1000000,
          "limitDown": 1000000
         }
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "bandwidthLimits": {
           "type": "object",
           "properties": {
            "limitUp": {
             "type": "integer",
             "description": "The maximum upload limit (integer, in Kbps). 'null' indicates no limit."
            },
            "limitDown": {
             "type": "integer",
             "description": "The maximum download limit (integer, in Kbps). 'null' indicates no limit."
            }
           },
           "description": "The bandwidth settings for the 'cellular' uplink"
          }
         }
        },
        "example": {
         "bandwidthLimits": {
          "limitUp": 51200,
          "limitDown": 51200
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Updates the uplink settings for your MG network.",
    "tags": [
     "cellularGateway",
     "configure",
     "uplink"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/inventory": {
   "get": {
    "description": "The eSIM inventory of a given organization.",
    "operationId": "getOrganizationCellularGatewayEsimsInventory",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "eids",
      "in": "query",
      "description": "Optional parameter to filter the results by EID.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "device": {
              "type": "object",
              "properties": {
               "name": {
                "type": "string",
                "description": "Device name"
               },
               "model": {
                "type": "string",
                "description": "Device model"
               },
               "serial": {
                "type": "string",
                "description": "Device serial number"
               },
               "url": {
                "type": "string",
                "description": "Device URL"
               },
               "status": {
                "type": "string",
                "description": "Device status"
               }
              },
              "description": "Meraki Device properties"
             },
             "active": {
              "type": "boolean",
              "description": "Whether eSIM is currently active SIM on Device"
             },
             "eid": {
              "type": "string",
              "description": "eSIM EID"
             },
             "lastUpdatedAt": {
              "type": "string",
              "description": "Last update of eSIM"
             },
             "network": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Network ID for this eSIM"
               }
              },
              "description": "Meraki Network properties"
             },
             "profiles": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "customApns": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 },
                 "description": "Available custom APNs for the profile"
                },
                "iccid": {
                 "type": "string",
                 "description": "eSIM profile ID"
                },
                "status": {
                 "type": "string",
                 "description": "eSIM profile status"
                },
                "serviceProvider": {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Service Provider name"
                  },
                  "plans": {
                   "type": "array",
                   "items": {
                    "type": "object",
                    "properties": {
                     "name": {
                      "type": "string",
                      "description": "Plan name"
                     },
                     "type": {
                      "type": "string",
                      "description": "Plan type (communication, rate)"
                     }
                    }
                   },
                   "description": "Plans currently active on the eSIM"
                  }
                 },
                 "description": "Service Provider information"
                }
               }
              },
              "description": "eSIM Profile Information"
             }
            }
           },
           "description": "List of eSIM Devices"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "Total number of eSIM Devices"
                },
                "remaining": {
                 "type": "integer",
                 "description": "Remaining number of eSIM Devices"
                }
               },
               "description": "Count of eSIM Devices available"
              }
             },
             "description": "Counts of involved entities"
            }
           },
           "description": "Meta details about the result"
          }
         }
        },
        "example": {
         "items": [
          {
           "device": {
            "name": "My cellular gateway",
            "model": "mg52",
            "serial": "Q234-ABCD-5678",
            "url": "https://n1.meraki.com//n//manage/nodes/new_list/000000000000",
            "status": "online"
           },
           "active": true,
           "eid": "89000000000000000000000000000000",
           "lastUpdatedAt": "2023-02-01T00:00:00Z",
           "network": {
            "id": "N_24329156"
           },
           "profiles": [
            {
             "customApns": [
              "internet"
             ],
             "iccid": "8900000000000000000",
             "status": "activated",
             "serviceProvider": {
              "name": "ATT",
              "plans": [
               {
                "name": "1 Cisco IoT SDO AT&T eSIM Test Plan downloadable",
                "type": "communication"
               }
              ]
             }
            }
           ]
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 1,
            "remaining": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "summary": "The eSIM inventory of a given organization.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "inventory"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/inventory/{id}": {
   "put": {
    "description": "Toggle the status of an eSIM",
    "operationId": "updateOrganizationCellularGatewayEsimsInventory",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "status": {
          "type": "string",
          "description": "Status the eSIM will be updated to"
         }
        },
        "example": {
         "status": "activated"
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "device": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Device name"
            },
            "model": {
             "type": "string",
             "description": "Device model"
            },
            "serial": {
             "type": "string",
             "description": "Device serial number"
            },
            "url": {
             "type": "string",
             "description": "Device URL"
            },
            "status": {
             "type": "string",
             "description": "Device status"
            }
           },
           "description": "Meraki Device properties"
          },
          "active": {
           "type": "boolean",
           "description": "Whether eSIM is currently active SIM on Device"
          },
          "eid": {
           "type": "string",
           "description": "eSIM EID"
          },
          "lastUpdatedAt": {
           "type": "string",
           "description": "Last update of eSIM"
          },
          "network": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Network ID for this eSIM"
            }
           },
           "description": "Meraki Network properties"
          },
          "profiles": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "customApns": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "description": "Available custom APNs for the profile"
             },
             "iccid": {
              "type": "string",
              "description": "eSIM profile ID"
             },
             "status": {
              "type": "string",
              "description": "eSIM profile status"
             },
             "serviceProvider": {
              "type": "object",
              "properties": {
               "name": {
                "type": "string",
                "description": "Service Provider name"
               },
               "plans": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Plan name"
                  },
                  "type": {
                   "type": "string",
                   "description": "Plan type (communication, rate)"
                  }
                 }
                },
                "description": "Plans currently active on the eSIM"
               }
              },
              "description": "Service Provider information"
             }
            }
           },
           "description": "eSIM Profile Information"
          }
         }
        },
        "example": {
         "device": {
          "name": "My cellular gateway",
          "model": "mg52",
          "serial": "Q234-ABCD-5678",
          "url": "https://n1.meraki.com//n//manage/nodes/new_list/000000000000",
          "status": "online"
         },
         "active": true,
         "eid": "89000000000000000000000000000000",
         "lastUpdatedAt": "2023-02-01T00:00:00Z",
         "network": {
          "id": "N_24329156"
         },
         "profiles": [
          {
           "customApns": [
            "internet"
           ],
           "iccid": "8900000000000000000",
           "status": "activated",
           "serviceProvider": {
            "name": "ATT",
            "plans": [
             {
              "name": "1 Cisco IoT SDO AT&T eSIM Test Plan downloadable",
              "type": "communication"
             }
            ]
           }
          }
         ]
        }
       }
      }
     }
    },
    "summary": "Toggle the status of an eSIM",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "inventory"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/serviceProviders": {
   "get": {
    "description": "Service providers customers can add accounts for.",
    "operationId": "getOrganizationCellularGatewayEsimsServiceProviders",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "name": {
              "type": "string",
              "description": "Service provider name."
             },
             "logo": {
              "type": "object",
              "properties": {
               "url": {
                "type": "string",
                "description": "URL of service provider's logo."
               }
              },
              "description": "Service Provider logo data."
             },
             "isBootstrap": {
              "type": "boolean",
              "description": "Indicates if service provider is the bootstrap provider."
             },
             "terms": {
              "type": "object",
              "properties": {
               "content": {
                "type": "string",
                "description": "URL of service provider's terms."
               },
               "name": {
                "type": "string",
                "description": "Label for service provider's terms."
               }
              },
              "description": "Service provider terms."
             }
            }
           },
           "description": "List Cellular Service Providers"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "Total number of Service Providers"
                },
                "remaining": {
                 "type": "integer",
                 "description": "Remaining number of Service Providers"
                }
               },
               "description": "Service Providers available"
              }
             },
             "description": "Counts of involved entities"
            }
           },
           "description": "Meta details about the result"
          }
         }
        },
        "example": {
         "items": [
          {
           "name": "AT&T",
           "logo": {
            "url": "Logo URL"
           },
           "isBootstrap": false,
           "terms": {
            "content": "Legal jargon",
            "name": "AT&T Terms and Conditions"
           }
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 42,
            "remaining": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "summary": "Service providers customers can add accounts for.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts": {
   "get": {
    "description": "Inventory of service provider accounts tied to the organization.",
    "operationId": "getOrganizationCellularGatewayEsimsServiceProvidersAccounts",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "accountIds",
      "in": "query",
      "description": "Optional parameter to filter the results by service provider account IDs.",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "items": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "accountId": {
               "type": "string",
               "description": "Service provider account ID"
              },
              "lastUpdatedAt": {
               "type": "string",
               "description": "Last updated at"
              },
              "serviceProvider": {
               "type": "object",
               "properties": {
                "name": {
                 "type": "string",
                 "description": "Name of the service provider."
                },
                "logo": {
                 "type": "object",
                 "properties": {
                  "url": {
                   "type": "string",
                   "description": "Service Provider logo url."
                  }
                 },
                 "description": "Service provider logo data."
                }
               },
               "description": "Service provider data."
              },
              "title": {
               "type": "string",
               "description": "Service provider account name"
              },
              "username": {
               "type": "string",
               "description": "Service provider account username"
              }
             }
            },
            "description": "IList of Cellular Service Provider Accounts"
           },
           "meta": {
            "type": "object",
            "properties": {
             "counts": {
              "type": "object",
              "properties": {
               "items": {
                "type": "object",
                "properties": {
                 "total": {
                  "type": "integer",
                  "description": "Total number of Cellular Service Providers"
                 },
                 "remaining": {
                  "type": "integer",
                  "description": "Remaining number of Cellular Service Providers"
                 }
                },
                "description": "Count of Cellular Service Providers available"
               }
              },
              "description": "Counts of involved entities"
             }
            },
            "description": "Meta details about the result"
           }
          }
         }
        },
        "example": [
         {
          "items": [
           {
            "accountId": "0987654321",
            "lastUpdatedAt": "2023-08-21T00:00:00Z",
            "serviceProvider": {
             "name": "ATT",
             "logo": {
              "url": "serviceproviderlogo.url"
             }
            },
            "title": "My AT&T account",
            "username": "MerakiUser"
           }
          ],
          "meta": {
           "counts": {
            "items": {
             "total": 1,
             "remaining": 0
            }
           }
          }
         }
        ]
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:read"
      ]
     }
    ],
    "summary": "Inventory of service provider accounts tied to the organization.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts"
    ]
   },
   "post": {
    "description": "Add a service provider account.",
    "operationId": "createOrganizationCellularGatewayEsimsServiceProvidersAccount",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "accountId": {
          "type": "string",
          "description": "Service provider account ID"
         },
         "apiKey": {
          "type": "string",
          "description": "Service provider account API key"
         },
         "serviceProvider": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Service provider name"
           }
          },
          "description": "Service Provider information"
         },
         "title": {
          "type": "string",
          "description": "Service provider account name"
         },
         "username": {
          "type": "string",
          "description": "Service provider account username"
         }
        },
        "example": {
         "accountId": "0987654321",
         "apiKey": "foobarfoobarfoobarfoobarfoobarfoobar",
         "serviceProvider": {
          "name": "ATT"
         },
         "title": "My AT&T account",
         "username": "MerakiUser"
        },
        "required": [
         "accountId",
         "apiKey",
         "serviceProvider",
         "title",
         "username"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "accountId": {
           "type": "string",
           "description": "Service provider account ID"
          },
          "lastUpdatedAt": {
           "type": "string",
           "description": "Last updated at"
          },
          "serviceProvider": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name of the service provider."
            },
            "logo": {
             "type": "object",
             "properties": {
              "url": {
               "type": "string",
               "description": "Service Provider logo url."
              }
             },
             "description": "Service provider logo data."
            }
           },
           "description": "Service provider data."
          },
          "title": {
           "type": "string",
           "description": "Service provider account name"
          },
          "username": {
           "type": "string",
           "description": "Service provider account username"
          }
         }
        },
        "example": {
         "accountId": "0987654321",
         "lastUpdatedAt": "2023-08-21T00:00:00Z",
         "serviceProvider": {
          "name": "ATT",
          "logo": {
           "url": "serviceproviderlogo.url"
          }
         },
         "title": "My AT&T account",
         "username": "MerakiUser"
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Add a service provider account.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/communicationPlans": {
   "get": {
    "description": "The communication plans available for a given provider.",
    "operationId": "getOrganizationCellularGatewayEsimsServiceProvidersAccountsCommunicationPlans",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "accountIds",
      "in": "query",
      "required": true,
      "description": "Account IDs that communication plans will be fetched for",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "accountId": {
              "type": "string",
              "description": "Account ID of plans to be fetched"
             },
             "apns": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "name": {
                 "type": "string",
                 "description": "APN name"
                }
               }
              },
              "description": "Available APNs"
             },
             "name": {
              "type": "string",
              "description": "Communication plan name"
             }
            }
           },
           "description": "List of Cellular Service Provider Communication Plans"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "Total number of Communication Plans"
                },
                "remaining": {
                 "type": "integer",
                 "description": "Remaining number of Communication Plans"
                }
               },
               "description": "Count of Communication Plans available"
              }
             },
             "description": "Counts of involved entities"
            }
           },
           "description": "Meta details about the result"
          }
         }
        },
        "example": {
         "items": [
          {
           "accountId": "some account ID",
           "apns": [
            {
             "name": "Some APN"
            }
           ],
           "name": "A communication plan"
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 2,
            "remaining": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "summary": "The communication plans available for a given provider.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts",
     "communicationPlans"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/ratePlans": {
   "get": {
    "description": "The rate plans available for a given provider.",
    "operationId": "getOrganizationCellularGatewayEsimsServiceProvidersAccountsRatePlans",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "accountIds",
      "in": "query",
      "required": true,
      "description": "Account IDs that rate plans will be fetched for",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "accountId": {
              "type": "string",
              "description": "Account ID of plans to be fetched"
             },
             "name": {
              "type": "string",
              "description": "Rate plan name"
             }
            }
           },
           "description": "List of Cellular Service Provider Rate Plans"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "Total number of Rate Plans"
                },
                "remaining": {
                 "type": "integer",
                 "description": "Remaining number of Rate Plans"
                }
               },
               "description": "Count of Rate Plans available"
              }
             },
             "description": "Counts of involved entities"
            }
           },
           "description": "Meta details about the result"
          }
         }
        },
        "example": {
         "items": [
          {
           "accountId": "account ID",
           "name": "A rate plan"
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 2,
            "remaining": 0
           }
          }
         }
        }
       }
      }
     }
    },
    "summary": "The rate plans available for a given provider.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts",
     "ratePlans"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/{accountId}": {
   "put": {
    "description": "Edit service provider account info stored in Meraki's database.",
    "operationId": "updateOrganizationCellularGatewayEsimsServiceProvidersAccount",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "accountId",
      "in": "path",
      "description": "Account ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "title": {
          "type": "string",
          "description": "Service provider account name used on the Meraki UI"
         },
         "apiKey": {
          "type": "string",
          "description": "Service provider account API key"
         }
        },
        "example": {
         "title": "My AT&T account",
         "apiKey": "foobarfoobarfoobarfoobarfoobarfoobar"
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "accountId": {
           "type": "string",
           "description": "Service provider account ID"
          },
          "lastUpdatedAt": {
           "type": "string",
           "description": "Last updated at"
          },
          "serviceProvider": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name of the service provider."
            },
            "logo": {
             "type": "object",
             "properties": {
              "url": {
               "type": "string",
               "description": "Service Provider logo url."
              }
             },
             "description": "Service provider logo data."
            }
           },
           "description": "Service provider data."
          },
          "title": {
           "type": "string",
           "description": "Service provider account name"
          },
          "username": {
           "type": "string",
           "description": "Service provider account username"
          }
         }
        },
        "example": {
         "accountId": "0987654321",
         "lastUpdatedAt": "2023-08-21T00:00:00Z",
         "serviceProvider": {
          "name": "ATT",
          "logo": {
           "url": "serviceproviderlogo.url"
          }
         },
         "title": "My AT&T account",
         "username": "MerakiUser"
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Edit service provider account info stored in Meraki's database.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts"
    ]
   },
   "delete": {
    "description": "Remove a service provider account's integration with the Dashboard.",
    "operationId": "deleteOrganizationCellularGatewayEsimsServiceProvidersAccount",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "accountId",
      "in": "path",
      "description": "Account ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "204": {
      "description": "Successful operation"
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:config:write"
      ]
     }
    ],
    "summary": "Remove a service provider account's integration with the Dashboard.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "serviceProviders",
     "accounts"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/swap": {
   "post": {
    "description": "Swap which profile an eSIM uses.",
    "operationId": "createOrganizationCellularGatewayEsimsSwap",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "swaps": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "eid": {
             "type": "string",
             "description": "eSIM EID"
            },
            "target": {
             "type": "object",
             "properties": {
              "accountId": {
               "type": "string",
               "description": "ID of the target account; can be the account currently tied to the eSIM"
              },
              "communicationPlan": {
               "type": "string",
               "description": "Name of the target communication plan"
              },
              "ratePlan": {
               "type": "string",
               "description": "Name of the target rate plan"
              }
             },
             "required": [
              "accountId",
              "communicationPlan",
              "ratePlan"
             ],
             "description": "Target Profile attributes"
            }
           },
           "required": [
            "eid"
           ]
          },
          "description": "Each object represents a swap for one eSIM"
         }
        },
        "example": {
         "swaps": [
          {
           "eid": "1234567890",
           "target": {
            "accountId": "456",
            "communicationPlan": "A comm plan",
            "ratePlan": "A rate plan"
           }
          }
         ]
        },
        "required": [
         "swaps"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "eid": {
           "type": "string",
           "description": "eSIM EID"
          },
          "iccid": {
           "type": "string",
           "description": "eSIM ICCID"
          },
          "status": {
           "type": "string",
           "enum": [
            "Completed",
            "Failed",
            "In progress"
           ],
           "description": "Swap status"
          }
         },
         "required": [
          "eid",
          "iccid",
          "status"
         ]
        },
        "example": {
         "eid": "1234567890",
         "iccid": "9876543210",
         "status": "Completed"
        }
       }
      }
     }
    },
    "summary": "Swap which profile an eSIM uses.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "swap"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/esims/swap/{id}": {
   "put": {
    "description": "Get the status of a profile swap.",
    "operationId": "updateOrganizationCellularGatewayEsimsSwap",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "eSIM EID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "eid": {
           "type": "string",
           "description": "eSIM EID"
          },
          "iccid": {
           "type": "string",
           "description": "eSIM ICCID"
          },
          "status": {
           "type": "string",
           "enum": [
            "Completed",
            "Failed",
            "In progress"
           ],
           "description": "Swap status"
          }
         },
         "required": [
          "eid",
          "iccid",
          "status"
         ]
        },
        "example": {
         "eid": "1234567890",
         "iccid": "9876543210",
         "status": "Completed"
        }
       }
      }
     }
    },
    "summary": "Get the status of a profile swap.",
    "tags": [
     "cellularGateway",
     "configure",
     "esims",
     "swap"
    ]
   }
  },
  "/organizations/{organizationId}/cellularGateway/uplink/statuses": {
   "get": {
    "description": "List the uplink status of every Meraki MG cellular gateway in the organization",
    "operationId": "getOrganizationCellularGatewayUplinkStatuses",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "perPage",
      "in": "query",
      "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "startingAfter",
      "in": "query",
      "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endingBefore",
      "in": "query",
      "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "networkIds",
      "in": "query",
      "description": "A list of network IDs. The returned devices will be filtered to only include these networks.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "serials",
      "in": "query",
      "description": "A list of serial numbers. The returned devices will be filtered to only include these serials.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "iccids",
      "in": "query",
      "description": "A list of ICCIDs. The returned devices will be filtered to only include these ICCIDs.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "networkId": {
            "type": "string",
            "description": "Network Id"
           },
           "serial": {
            "type": "string",
            "description": "Serial number of the device"
           },
           "model": {
            "type": "string",
            "description": "Device model"
           },
           "lastReportedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last reported time for the device"
           },
           "uplinks": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "interface": {
               "type": "string",
               "description": "Uplink interface"
              },
              "status": {
               "type": "string",
               "description": "Uplink status"
              },
              "ip": {
               "type": "string",
               "description": "Uplink IP"
              },
              "provider": {
               "type": "string",
               "description": "Network Provider"
              },
              "publicIp": {
               "type": "string",
               "description": "Public IP"
              },
              "model": {
               "type": "string",
               "description": "Uplink model"
              },
              "signalStat": {
               "type": "object",
               "properties": {
                "rsrp": {
                 "type": "string",
                 "description": "Reference Signal Received Power"
                },
                "rsrq": {
                 "type": "string",
                 "description": "Reference Signal Received Quality"
                }
               },
               "description": "Tower Signal Status (Cellular Signal Stats)"
              },
              "mcc": {
               "type": "string",
               "description": "Mobile Country Code"
              },
              "mnc": {
               "type": "string",
               "description": "Mobile Network Code"
              },
              "roaming": {
               "type": "object",
               "properties": {
                "status": {
                 "type": "string",
                 "enum": [
                  "home",
                  "roaming",
                  "unknown"
                 ],
                 "description": "Roaming Status"
                }
               },
               "description": "Roaming Status"
              },
              "connectionType": {
               "type": "string",
               "description": "Connection Type (Radio Access Technology)"
              },
              "apn": {
               "type": "string",
               "description": "Access Point Name"
              },
              "gateway": {
               "type": "string",
               "description": "Gateway IP"
              },
              "dns1": {
               "type": "string",
               "description": "Primary DNS IP"
              },
              "dns2": {
               "type": "string",
               "description": "Secondary DNS IP"
              },
              "signalType": {
               "type": "string",
               "description": "Signal Type"
              },
              "mtu": {
               "type": "integer",
               "description": "Maximum Transmission Unit"
              },
              "iccid": {
               "type": "string",
               "description": "Integrated Circuit Card Identification Number"
              },
              "imsi": {
               "type": "string",
               "description": "International Mobile Subscriber Identity"
              },
              "msisdn": {
               "type": "string",
               "description": "Mobile Station Integrated Services Digital Network"
              }
             }
            },
            "description": "Uplinks info"
           }
          }
         }
        },
        "example": [
         {
          "networkId": "N_24329156",
          "serial": "Q234-ABCD-5678",
          "model": "MG21",
          "lastReportedAt": "2018-02-11T00:00:00Z",
          "uplinks": [
           {
            "interface": "cellular",
            "status": "ready",
            "ip": "1.2.3.4",
            "provider": "at&t",
            "publicIp": "123.123.123.1",
            "model": "integrated",
            "signalStat": {
             "rsrp": "-120",
             "rsrq": "-13"
            },
            "mcc": "123",
            "mnc": "123",
            "roaming": {
             "status": "home"
            },
            "connectionType": "4g",
            "apn": "internet",
            "gateway": "100.100.100.100",
            "dns1": "111.111.111.111",
            "dns2": "222.222.222.222",
            "signalType": "4G",
            "mtu": 1500,
            "iccid": "123456789",
            "imsi": "123456789012345",
            "msisdn": "123456789012345"
           }
          ]
         }
        ]
       }
      },
      "headers": {
       "Link": {
        "schema": {
         "type": "string"
        },
        "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "sdwan:telemetry:read"
      ]
     }
    ],
    "summary": "List the uplink status of every Meraki MG cellular gateway in the organization",
    "tags": [
     "cellularGateway",
     "monitor",
     "uplink",
     "statuses"
    ]
   }
  }
 }
}