openapi: 3.2.0
info:
  title: Meraki Dashboard Spaces API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > [Recent Updates](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)

    '
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'spaces'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: spaces
paths:
  /organizations/{organizationId}/spaces/integrate/status:
    get:
      description: Get the status of the Spaces integration in Meraki
      operationId: getOrganizationSpacesIntegrateStatus
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The success or failure status of the API
                  states:
                    type: array
                    items:
                      type: string
                    description: The set of different states on the spaces integration process
                  email:
                    type: string
                    description: The meraki user who attempts the spaces integration
                  accountName:
                    type: string
                    description: The spaces dashboard account name created in spaces integration
                  accountType:
                    type: string
                    description: The spaces dashboard account type created in spaces integration
              example:
                status: true
                states:
                - Spaces account created
                - Meraki Organization Import initiated
                - Importing Meraki Organization Administrators
                - Invite email sent to meraki-user@cisco.com
                email: meraki-user@cisco.com
                accountName: My First Meraki Org
                accountType: Extend
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Get the status of the Spaces integration in Meraki
      tags:
      - spaces
  /organizations/{organizationId}/spaces/integration/remove:
    post:
      description: Remove the Spaces integration from Meraki
      operationId: removeOrganizationSpacesIntegration
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The success or failure status of the API
                  message:
                    type: string
                    description: The error message of the API
              example:
                status: true
                message: Succesfully fetched the spaces dashboard access
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Remove the Spaces integration from Meraki
      tags:
      - spaces
