openapi: 3.2.0
info:
  title: Meraki Dashboard Licensing API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > Recent Updates


    ---


    API Documentation


    Community Support


    Meraki Homepage'
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Licensing
paths:
  /administered/licensing/subscription/entitlements:
    get:
      operationId: getAdministeredLicensingSubscriptionEntitlements
      parameters:
      - name: skus
        in: query
        description: Filter to entitlements with the specified SKUs
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sku:
                    type: string
                    description: The SKU identifier of the entitlement
                  name:
                    type: string
                    description: The user-facing name of the entitlement
                  productType:
                    type: string
                    description: The product type of the entitlement
                  productClass:
                    type: string
                    description: The product class associated with the entitlement
                  featureTier:
                    type: string
                    description: The feature tier associated with the entitlement (null for add-ons)
                  isAddOn:
                    type: boolean
                    description: Whether or not the entitlement is an add-on
                  isFree:
                    type: boolean
                    description: Whether or not the entitlement is granted for free
              example:
                sku: LIC-MR-A
                name: MR
                productType: wireless
                productClass: MR
                featureTier: advantage
                isAddOn: false
                isFree: false
      security:
      - oauth2:
        - dashboard:licensing:config:read
      summary: Retrieve the list of purchasable entitlements
      tags:
      - Licensing
  /administered/licensing/subscription/subscriptions:
    get:
      operationId: getAdministeredLicensingSubscriptionSubscriptions
      parameters:
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: subscriptionIds
        in: query
        description: List of subscription ids to fetch
        schema:
          type: array
          items:
            type: string
      - name: organizationIds
        in: query
        required: true
        description: Organizations to get associated subscriptions for
        schema:
          type: array
          items:
            type: string
      - name: statuses
        in: query
        description: List of statuses that returned subscriptions can have
        schema:
          type: array
          items:
            type: string
            enum:
            - active
            - canceled
            - expired
            - inactive
            - out_of_compliance
      - name: productTypes
        in: query
        description: List of product types that returned subscriptions need to have entitlements for.
        schema:
          type: array
          items:
            type: string
            enum:
            - appliance
            - camera
            - campusGateway
            - cellularGateway
            - secureConnect
            - sensor
            - switch
            - systemsManager
            - wireless
            - wirelessController
      - name: skus
        in: query
        description: List of SKUs that returned subscriptions need to have entitlements for.
        schema:
          type: array
          items:
            type: string
      - name: name
        in: query
        description: Search for subscription name
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter subscriptions by start date, ISO 8601 format. To filter with a range of dates, use 'startDate[<option>]=?' in the request. Accepted options include lt, gt, lte, gte.
        schema:
          oneOf:
          - type: object
            properties:
              lt:
                type: string
                format: date-time
                description: comparative operator used to filter for all values less than the given value
              gt:
                type: string
                format: date-time
                description: comparative operator used to filter for all values greater than the given value
              lte:
                type: string
                format: date-time
                description: comparative operator used to filter for all values less than or equal to the given value
              gte:
                type: string
                format: date-time
                description: comparative operator used to filter for all values greater than or equal to the given value
              neq:
                type: string
                format: date-time
                description: comparative operator used to filter for all values not equal to the given value
          - type: string
            format: date-time
      - name: endDate
        in: query
        description: Filter subscriptions by end date, ISO 8601 format. To filter with a range of dates, use 'endDate[<option>]=?' in the request. Accepted options include lt, gt, lte, gte.
        schema:
          oneOf:
          - type: object
            properties:
              lt:
                type: string
                format: date-time
                description: comparative operator used to filter for all values less than the given value
              gt:
                type: string
                format: date-time
                description: comparative operator used to filter for all values greater than the given value
              lte:
                type: string
                format: date-time
                description: comparative operator used to filter for all values less than or equal to the given value
              gte:
                type: string
                format: date-time
                description: comparative operator used to filter for all values greater than or equal to the given value
              neq:
                type: string
                format: date-time
                description: comparative operator used to filter for all values not equal to the given value
          - type: string
            format: date-time
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subscriptionId:
                      type: string
                      description: Subscription's ID
                    name:
                      type: string
                      description: Subscription name
                    description:
                      type: string
                      description: Subscription description
                    status:
                      type: string
                      enum:
                      - active
                      - canceled
                      - expired
                      - inactive
                      - out_of_compliance
                      description: Subscription status
                    startDate:
                      type: string
                      format: date-time
                      description: Subscription start date
                    endDate:
                      type: string
                      format: date-time
                      description: Subscription expiration date
                    lastUpdatedAt:
                      type: string
                      format: date-time
                      description: When the subscription was last changed
                    webOrderId:
                      type: string
                      description: Web order id
                    type:
                      type: string
                      enum:
                      - enterpriseAgreement
                      - termed
                      description: Subscription type
                    smartAccount:
                      type: object
                      properties:
                        status:
                          type: string
                          description: Subscription Smart Account status
                        account:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Smart Account ID
                            name:
                              type: string
                              description: The name of the smart account
                            domain:
                              type: string
                              description: The domain of the Smart Account
                          description: Smart Account data
                      description: Smart Account linkage information
                    renewalRequested:
                      type: boolean
                      description: Whether a renewal has been requested for the subscription
                    productTypes:
                      type: array
                      items:
                        type: string
                        enum:
                        - accessManager
                        - appliance
                        - camera
                        - cellularGateway
                        - sensor
                        - switch
                        - systemsManager
                        - wireless
                      description: Products the subscription has entitlements for
                    entitlements:
                      type: array
                      items:
                        type: object
                        properties:
                          sku:
                            type: string
                            description: SKU of the required product
                          seats:
                            type: object
                            properties:
                              assigned:
                                type: integer
                                description: Number of seats in use
                              available:
                                type: integer
                                description: Number of seats available for use
                              limit:
                                type: integer
                                description: Total number of seats provided by this subscription for this sku
                            description: Seat distribution
                      description: Entitlement info
                    counts:
                      type: object
                      properties:
                        seats:
                          type: object
                          properties:
                            assigned:
                              type: integer
                              description: Number of seats in use
                            available:
                              type: integer
                              description: Number of seats available for use
                            limit:
                              type: integer
                              description: Total number of seats provided by this subscription
                          description: Seat distribution
                        networks:
                          type: integer
                          description: Number of networks bound to this subscription
                        organizations:
                          type: integer
                          description: Number of organizations bound to this subscription
                      description: Numeric breakdown of network, organizations, entitlement counts
                    enterpriseAgreement:
                      type: object
                      properties:
                        suites:
                          type: array
                          items:
                            type: string
                          description: List of suites included. Empty for non-EA subscriptions.
                      description: enterprise agreement details
              example:
              - subscriptionId: '2345'
                name: Corporate subscription
                description: A description
                status: active
                startDate: '2027-06-30T00:00:00Z'
                endDate: '2028-06-30T00:00:00Z'
                lastUpdatedAt: '2027-09-21T00:00:00Z'
                webOrderId: '55598764'
                type: termed
                smartAccount:
                  status: active
                  account:
                    id: '99995678'
                    name: Corporate Smart Account
                    domain: smart_account_domain
                renewalRequested: false
                productTypes:
                - wireless
                entitlements:
                - sku: LIC-MS-400-L-A
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                counts:
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                  networks: 1
                  organizations: 1
                enterpriseAgreement:
                  suites:
                  - networking
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:licensing:config:read
      summary: List available subscriptions
      tags:
      - Licensing
  /administered/licensing/subscription/subscriptions/claim:
    post:
      description: Claim a subscription into an organization.
      operationId: claimAdministeredLicensingSubscriptionSubscriptions
      parameters:
      - name: validate
        in: query
        description: Check if the provided claim key is valid and can be claimed into the organization.
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                claimKey:
                  type: string
                  description: The subscription's claim key
                organizationId:
                  type: string
                  description: The id of the organization claiming the subscription
                name:
                  type: string
                  description: Friendly name to identify the subscription
                description:
                  type: string
                  description: Extra details or notes about the subscription
              example:
                validate: true
                claimKey: S2345-6789A-BCDEF-GHJKM
                organizationId: '12345678910'
                name: Corporate subscription
                description: Subscription for all main offices
              required:
              - claimKey
              - organizationId
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                    description: Subscription's ID
                  name:
                    type: string
                    description: Subscription name
                  description:
                    type: string
                    description: Subscription description
                  status:
                    type: string
                    enum:
                    - active
                    - canceled
                    - expired
                    - inactive
                    - out_of_compliance
                    description: Subscription status
                  startDate:
                    type: string
                    format: date-time
                    description: Subscription start date
                  endDate:
                    type: string
                    format: date-time
                    description: Subscription expiration date
                  lastUpdatedAt:
                    type: string
                    format: date-time
                    description: When the subscription was last changed
                  webOrderId:
                    type: string
                    description: Web order id
                  type:
                    type: string
                    enum:
                    - enterpriseAgreement
                    - termed
                    description: Subscription type
                  smartAccount:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Subscription Smart Account status
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Smart Account ID
                          name:
                            type: string
                            description: The name of the smart account
                          domain:
                            type: string
                            description: The domain of the Smart Account
                        description: Smart Account data
                    description: Smart Account linkage information
                  renewalRequested:
                    type: boolean
                    description: Whether a renewal has been requested for the subscription
                  productTypes:
                    type: array
                    items:
                      type: string
                      enum:
                      - accessManager
                      - appliance
                      - camera
                      - cellularGateway
                      - sensor
                      - switch
                      - systemsManager
                      - wireless
                    description: Products the subscription has entitlements for
                  entitlements:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          description: SKU of the required product
                        seats:
                          type: object
                          properties:
                            assigned:
                              type: integer
                              description: Number of seats in use
                            available:
                              type: integer
                              description: Number of seats available for use
                            limit:
                              type: integer
                              description: Total number of seats provided by this subscription for this sku
                          description: Seat distribution
                    description: Entitlement info
                  counts:
                    type: object
                    properties:
                      seats:
                        type: object
                        properties:
                          assigned:
                            type: integer
                            description: Number of seats in use
                          available:
                            type: integer
                            description: Number of seats available for use
                          limit:
                            type: integer
                            description: Total number of seats provided by this subscription
                        description: Seat distribution
                      networks:
                        type: integer
                        description: Number of networks bound to this subscription
                      organizations:
                        type: integer
                        description: Number of organizations bound to this subscription
                    description: Numeric breakdown of network, organizations, entitlement counts
                  enterpriseAgreement:
                    type: object
                    properties:
                      suites:
                        type: array
                        items:
                          type: string
                        description: List of suites included. Empty for non-EA subscriptions.
                    description: enterprise agreement details
              example:
                subscriptionId: '2345'
                name: Corporate subscription
                description: A description
                status: active
                startDate: '2027-06-30T00:00:00Z'
                endDate: '2028-06-30T00:00:00Z'
                lastUpdatedAt: '2027-09-21T00:00:00Z'
                webOrderId: '55598764'
                type: termed
                smartAccount:
                  status: active
                  account:
                    id: '99995678'
                    name: Corporate Smart Account
                    domain: smart_account_domain
                renewalRequested: false
                productTypes:
                - wireless
                entitlements:
                - sku: LIC-MS-400-L-A
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                counts:
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                  networks: 1
                  organizations: 1
                enterpriseAgreement:
                  suites:
                  - networking
      security:
      - oauth2:
        - dashboard:licensing:config:write
      summary: Claim a subscription into an organization
      tags:
      - Licensing
  /administered/licensing/subscription/subscriptions/claimKey/validate:
    post:
      description: Find a subscription by claim key. Returns 400 if the key has already been claimed.
      operationId: validateAdministeredLicensingSubscriptionSubscriptionsClaimKey
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                claimKey:
                  type: string
                  description: The subscription's claim key
              example:
                claimKey: S2345-6789A-BCDEF-GHJKM
              required:
              - claimKey
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                    description: Subscription's ID
                  name:
                    type: string
                    description: Subscription name
                  description:
                    type: string
                    description: Subscription description
                  status:
                    type: string
                    enum:
                    - active
                    - canceled
                    - expired
                    - inactive
                    - out_of_compliance
                    description: Subscription status
                  startDate:
                    type: string
                    format: date-time
                    description: Subscription start date
                  endDate:
                    type: string
                    format: date-time
                    description: Subscription expiration date
                  lastUpdatedAt:
                    type: string
                    format: date-time
                    description: When the subscription was last changed
                  webOrderId:
                    type: string
                    description: Web order id
                  type:
                    type: string
                    enum:
                    - enterpriseAgreement
                    - termed
                    description: Subscription type
                  smartAccount:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Subscription Smart Account status
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Smart Account ID
                          name:
                            type: string
                            description: The name of the smart account
                          domain:
                            type: string
                            description: The domain of the Smart Account
                        description: Smart Account data
                    description: Smart Account linkage information
                  renewalRequested:
                    type: boolean
                    description: Whether a renewal has been requested for the subscription
                  productTypes:
                    type: array
                    items:
                      type: string
                      enum:
                      - accessManager
                      - appliance
                      - camera
                      - cellularGateway
                      - sensor
                      - switch
                      - systemsManager
                      - wireless
                    description: Products the subscription has entitlements for
                  entitlements:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          description: SKU of the required product
                        seats:
                          type: object
                          properties:
                            assigned:
                              type: integer
                              description: Number of seats in use
                            available:
                              type: integer
                              description: Number of seats available for use
                            limit:
                              type: integer
                              description: Total number of seats provided by this subscription for this sku
                          description: Seat distribution
                    description: Entitlement info
                  counts:
                    type: object
                    properties:
                      seats:
                        type: object
                        properties:
                          assigned:
                            type: integer
                            description: Number of seats in use
                          available:
                            type: integer
                            description: Number of seats available for use
                          limit:
                            type: integer
                            description: Total number of seats provided by this subscription
                        description: Seat distribution
                      networks:
                        type: integer
                        description: Number of networks bound to this subscription
                      organizations:
                        type: integer
                        description: Number of organizations bound to this subscription
                    description: Numeric breakdown of network, organizations, entitlement counts
                  enterpriseAgreement:
                    type: object
                    properties:
                      suites:
                        type: array
                        items:
                          type: string
                        description: List of suites included. Empty for non-EA subscriptions.
                    description: enterprise agreement details
              example:
                subscriptionId: '2345'
                name: Corporate subscription
                description: A description
                status: active
                startDate: '2027-06-30T00:00:00Z'
                endDate: '2028-06-30T00:00:00Z'
                lastUpdatedAt: '2027-09-21T00:00:00Z'
                webOrderId: '55598764'
                type: termed
                smartAccount:
                  status: active
                  account:
                    id: '99995678'
                    name: Corporate Smart Account
                    domain: smart_account_domain
                renewalRequested: false
                productTypes:
                - wireless
                entitlements:
                - sku: LIC-MS-400-L-A
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                counts:
                  seats:
                    assigned: 10
                    available: 15
                    limit: 25
                  networks: 1
                  organizations: 1
                enterpriseAgreement:
                  suites:
                  - networking
      security:
      - oauth2:
        - dashboard:licensing:config:write
      summary: Find a subscription by claim key
      tags:
      - Licensing
  /administered/licensing/subscription/subscriptions/compliance/statuses:
    get:
      operationId: getAdministeredLicensingSubscriptionSubscriptionsComplianceStatuses
      parameters:
      - name: organizationIds
        in: query
        required: true
        description: Organizations to get subscription compliance information for
        schema:
          type: array
          items:
            type: string
      - name: subscriptionIds
        in: query
        description: Subscription ids
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subscription:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Subscription's ID
                        name:
                          type: string
                          description: Friendly name to identify the subscription
                        status:
                          type: string
                          description: 'One of the following: "inactive" | "active" | "out_of_compliance" | "expired" | "canceled"'
                      description: Subscription details
                    violations:
                      type: object
                      properties:
                        byProductClass:
                          type: array
                          items:
                            type: object
                            properties:
                              productClass:
                                type: string
                                description: Name of the product class
                              gracePeriodEndsAt:
                                type: string
                                description: End date of the grace period in ISO 8601 format
                              missing:
                                type: object
                                properties:
                                  entitlements:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        sku:
                                          type: string
                                          description: SKU of the required product
                                        quantity:
                                          type: integer
                                          description: Number required
                                    description: List of missing entitlements
                                description: Missing entitlements details
                          description: List of violations by product class that are not compliance
                      description: Violations
              example:
              - subscription:
                  id: '12345'
                  name: Corporate Subscription
                  status: active
                violations:
                  byProductClass:
                  - productClass: MS 100 Small
                    gracePeriodEndsAt: '2023-12-07T00:00:00Z'
                    missing:
                      entitlements:
                      - sku: LIC-MS-100-S-E
                        quantity: 11
      security:
      - oauth2:
        - dashboard:licensing:config:read
      summary: Get compliance status for requested subscriptions
      tags:
      - Licensing
  /administered/licensing/subscription/subscriptions/{subscriptionId}/bind:
    post:
      operationId: bindAdministeredLicensingSubscriptionSubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID
        schema:
          type: string
        required: true
      - name: validate
        in: query
        description: Check if the provided networks can be bound to the subscription. Returns any licensing problems and does not commit the results.
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                networkIds:
                  type: array
                  items:
                    type: string
                  description: List of network ids to bind to the subscription
              example:
                networkIds:
                - L_1234
                - N_5678
                validate: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                    description: Subscription ID
                  networks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Network ID
                        name:
                          type: string
                          description: Network name
                    description: Unbound networks
                  errors:
                    type: array
                    items:
                      type: string
                    description: Array of errors if failed
                  insufficientEntitlements:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          description: SKU of the required product
                        quantity:
                          type: integer
                          description: Number required
                    description: A list of entitlements required to successfully bind the networks to the subscription
              example:
                subscriptionId: XY1234567
                networks:
                - id: L_1234
                  name: Corporate network
                errors:
                - Insufficient licenses
                insufficientEntitlements:
                - sku: LIC-MS-400-L-A
                  quantity: 5
      security:
      - oauth2:
        - dashboard:licensing:config:write
      summary: Bind networks to a subscription
      tags:
      - Licensing
  /organizations/{organizationId}/licensing/coterm/licenses:
    get:
      operationId: getOrganizationLicensingCotermLicenses
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: invalidated
        in: query
        description: Filter for licenses that are invalidated
        schema:
          type: boolean
      - name: expired
        in: query
        description: Filter for licenses that are expired
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      description: The key of the license
                    organizationId:
                      type: string
                      description: The ID of the organization that the license is claimed in
                    duration:
                      type: integer
                      description: The duration (term length) of the license, measured in days
                    mode:
                      type: string
                      enum:
                      - addDevices
                      - renew
                      description: The operation mode of the license when it was claimed
                    startedAt:
                      type: string
                      format: date-time
                      description: When the license's term began (approximately the date when the license was created)
                    claimedAt:
                      type: string
                      format: date-time
                      description: When the license was claimed into the organization
                    invalidated:
                      type: boolean
                      description: Flag to indicated that the license is invalidated
                    invalidatedAt:
                      type: string
                      format: date-time
                      description: When the license was invalidated. Will be null for active licenses
                    expired:
                      type: boolean
                      description: Flag to indicate if the license is expired
                    editions:
                      type: array
                      items:
                        type: object
                        properties:
                          edition:
                            type: string
                            description: The name of the license edition
                          productType:
                            type: string
                            description: The product type of the license edition
                      description: The editions of the license for each relevant product type
                    counts:
                      type: array
                      items:
                        type: object
                        properties:
                          model:
                            type: string
                            description: The license model type
                          count:
                            type: integer
                            description: The number of counts the license contains of this model
                      description: The counts of the license by model type
              example:
              - key: Z2AA-BBBB-CCCC
                organizationId: '123456'
                duration: 365
                mode: addDevices
                startedAt: '2022-05-02T10:52:00Z'
                claimedAt: '2022-07-04T16:23:00Z'
                invalidated: true
                invalidatedAt: '2022-07-04T16:23:00Z'
                expired: false
                editions:
                - edition: Enterprise
                  productType: appliance
                counts:
                - model: MR Enterprise
                  count: 2
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:licensing:config:read
      summary: List the licenses in a coterm organization
      tags:
      - Licensing
  /organizations/{organizationId}/licensing/coterm/licenses/move:
    post:
      operationId: moveOrganizationLicensingCotermLicenses
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: object
                  properties:
                    organizationId:
                      type: string
                      description: The organization to move the license to
                    mode:
                      type: string
                      enum:
                      - addDevices
                      - renew
                      description: The claim mode of the moved license
                  description: Destination data for the license move
                licenses:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: The license key to move counts from
                      counts:
                        type: array
                        items:
                          type: object
                          properties:
                            model:
                              type: string
                              description: The license model type to move counts of
                            count:
                              type: integer
                              description: The number of counts to move
                          required:
                          - model
                          - count
                        description: The counts to move from the license by model type
                    required:
                    - key
                    - counts
                  description: The list of licenses to move
              example:
                destination:
                  organizationId: '123'
                  mode: addDevices
                licenses:
                - key: Z2AA-BBBB-CCCC
                  counts:
                  - model: MR Enterprise
                    count: 5
              required:
              - destination
              - licenses
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  remainderLicenses:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: The key of the license
                        organizationId:
                          type: string
                          description: The ID of the organization that the license is claimed in
                        duration:
                          type: integer
                          description: The duration (term length) of the license, measured in days
                        mode:
                          type: string
                          enum:
                          - addDevices
                          - renew
                          description: The operation mode of the license when it was claimed
                        startedAt:
                          type: string
                          format: date-time
                          description: When the license's term began (approximately the date when the license was created)
                        claimedAt:
                          type: string
                          format: date-time
                          description: When the license was claimed into the organization
                        invalidated:
                          type: boolean
                          description: Flag to indicated that the license is invalidated
                        invalidatedAt:
                          type: string
                          format: date-time
                          description: When the license was invalidated. Will be null for active licenses
                        expired:
                          type: boolean
                          description: Flag to indicate if the license is expired
                        editions:
                          type: array
                          items:
                            type: object
                            properties:
                              edition:
                                type: string
                                description: The name of the license edition
                              productType:
                                type: string
                                description: The product type of the license edition
                          description: The editions of the license for each relevant product type
                        counts:
                          type: array
                          items:
                            type: object
                            properties:
                              model:
                                type: string
                                description: The license model type
                              count:
                                type: integer
                                description: The number of counts the license contains of this model
                          description: The counts of the license by model type
                    description: Remainder licenses created in the source organization as a result of moving a subset of the counts of a license
                  movedLicenses:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: The key of the license
                        organizationId:
                          type: string
                          description: The ID of the organization that the license is claimed in
                        duration:
                          type: integer
                          description: The duration (term length) of the license, measured in days
                        mode:
                          type: string
                          enum:
                          - addDevices
                          - renew
                          description: The operation mode of the license when it was claimed
                        startedAt:
                          type: string
                          format: date-time
                          description: When the license's term began (approximately the date when the license was created)
                        claimedAt:
                          type: string
                          format: date-time
                          description: When the license was claimed into the organization
                        invalidated:
                          type: boolean
                          description: Flag to indicated that the license is invalidated
                        invalidatedAt:
                          type: string
                          format: date-time
                          description: When the license was invalidated. Will be null for active licenses
                        expired:
                          type: boolean
                          description: Flag to indicate if the license is expired
                        editions:
                          type: array
                          items:
                            type: object
                            properties:
                              edition:
                                type: string
                                description: The name of the license edition
                              productType:
                                type: string
                                description: The product type of the license edition
                          description: The editions of the license for each relevant product type
                        counts:
                          type: array
                          items:
                            type: object
                            properties:
                              model:
                                type: string
                                description: The license model type
                              count:
                                type: integer
                                description: The number of counts the license contains of this model
                          description: The counts of the license by model type
                    description: Newly moved licenses created in the destination organization of the license move operation
              example:
                remainderLicenses:
                - key: Z2AA-BBBB-CCCC
                  organizationId: '123456'
                  duration: 365
                  mode: addDevices
                  startedAt: '2022-05-02T10:52:00Z'
                  claimedAt: '2022-07-04T16:23:00Z'
                  invalidated: true
                  invalidatedAt: '2022-07-04T16:23:00Z'
                  expired: false
                  editions:
                  - edition: Enterprise
                    productType: appliance
                  counts:
                  - model: MR Enterprise
                    count: 2
                movedLicenses:
                - key: Z2AA-BBBB-CCCC
                  organizationId: '123456'
                  duration: 365
                  mode: addDevices
                  startedAt: '2022-05-02T10:52:00Z'
                  claimedAt: '2022-07-04T16:23:00Z'
                  invalidated: true
                  invalidatedAt: '2022-07-04T16:23:00Z'
                  expired: false
                  editions:
                  - edition: Enterprise
                    productType: appliance
                  counts:
                  - model: MR Enterprise
                    count: 2
      security:
      - oauth2:
        - dashboard:licensing:config:write
      summary: Moves a license to a different organization (coterm only)
      tags:
      - Licensing
components:
  securitySchemes:
    meraki_api_key:
      type: apiKey
      name: X-Cisco-Meraki-API-Key
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
x-batchable-actions:
- group: ''
  summary: Update multicast settings for a network
  resource: /networks/{networkId}/switch/routing/multicast
  operation: ms/multicast/actions/update
- group: ''
  summary: Migrate devices to another controller or management mode
  resource: /organizations/{organizationId}/devices/controller/migrations
  operation: mr/actions/migrate
- group: Adaptive policy assignment
  summary: Assign adaptive policy groups to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: assign
- group: Adaptive policy assignment
  summary: Remove adaptive policy groups from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: remove
- group: Adaptive policy group
  summary: Creates a new adaptive policy group
  resource: /organizations/{organizationId}/adaptivePolicy/groups
  operation: create
- group: Adaptive policy group
  summary: Deletes the specified adaptive policy group and any associated policies and references
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: destroy
- group: Adaptive policy group
  summary: Updates an adaptive policy group. If updating "Infrastructure", only the SGT is allowed. Cannot update "Unknown".
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: update
- group: Api features/actions/config template
  summary: Create a new configuration template
  resource: /organizations/{organizationId}/configTemplates
  operation: create
- group: Api features/actions/device
  summary: Update the attributes of a device
  resource: /devices/{serial}
  operation: update
- group: Api features/actions/device
  summary: Remove a single device
  resource: /networks/{networkId}/devices
  operation: remove
- group: Api features/actions/network settings
  summary: Update the settings for a network
  resource: /networks/{networkId}/settings
  operation: update
- group: Api platform/actions/webhook payload
  summary: Create a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates
  operation: create
- group: Api platform/actions/webhook payload
  summary: Destroy a webhook payload template for a network. Does not work for included templates ('wpt_00001', 'wpt_00002', 'wpt_00003', 'wpt_00004', 'wpt_00005', 'wpt_00006', 'wpt_00007' or 'wpt_00008')
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: destroy
- group: Api platform/actions/webhook payload
  summary: Update a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: update
- group: Api/actions/organization
  summary: Update an organization
  resource: /organizations/{organizationId}
  operation: update
- group: Appliance VLAN assignment
  summary: Assign VLANs to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: assign
- group: Appliance VLAN assignment
  summary: Remove VLANs from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: remove
- group: Appliance radio settings
  summary: Update the radio settings of an appliance
  resource: /devices/{serial}/appliance/radio/settings
  operation: update
- group: Appliance ssid
  summary: Update the attributes of an MX SSID
  resource: /networks/{networkId}/appliance/ssids/{number}
  operation: update
- group: Assurance/actions/alerts/profile
  summary: Create an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles
  operation: create
- group: Assurance/actions/alerts/profile
  summary: Delete an alert profile for this organization
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: destroy
- group: Assurance/actions/alerts/profile
  summary: Update an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: update
- group: Billing
  summary: Update the billing settings
  resource: /networks/{networkId}/wireless/billing
  operation: update
- group: Camera custom analytics settings
  summary: Update custom analytics settings for a camera
  resource: /devices/{serial}/camera/customAnalytics
  operation: update
- group: Camera video settings
  summary: Update video settings for the given camera
  resource: /devices/{serial}/camera/video/settings
  operation: update
- group: Camera wireless profile settings
  summary: Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.
  resource: /devices/{serial}/camera/wirelessProfiles
  operation: update
- group: Config template
  summary: Update a configuration template
  resource: /organizations/{organizationId}/configTemplates/{configTemplateId}
  operation: update
- group: Core product/syslog/update network
  summary: Updates the syslog servers configuration for a network.
  resource: /networks/{networkId}/devices/syslog/servers
  operation: servers
- group: Custom performance class
  summary: Add a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses
  operation: create
- group: Custom performance class
  summary: Delete a custom performance class from an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: destroy
- group: Custom performance class
  summary: Update a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: update
- group: Dai trusted server
  summary: Add a server to be trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers
  operation: create
- group: Dai trusted server
  summary: Remove a server from being trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: destroy
- group: Dai trusted server
  summary: Update a server that is trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: update
- group: Dash xl/actions/firmware upgrade rollback
  summary: Rollback a Firmware Upgrade For A Network
  resource: /networks/{networkId}/firmwareUpgrades/rollbacks
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Add a new branding policy to an organization
  resource: /organizations/{organizationId}/brandingPolicies
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Delete a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: destroy
- group: Dash xl/dashboard branding policy
  summary: Update a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: update
- group: Dash xl/dashboard branding policy priorities
  summary: Update the priority ordering of an organization's branding policies.
  resource: /organizations/{organizationId}/brandingPolicies/priorities
  operation: update
- group: Dashboard features/actions/client
  summary: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
  resource: /networks/{networkId}/clients
  operation: provision
- group: Dashboard features/actions/early access/feature opt in
  summary: Update an early access feature opt-in for an organization
  resource: /organizations/{organizationId}/earlyAccess/features/optIns/{optInId}
  operation: update
- group: Dhcp server policy
  summary: Update the DHCP server settings. Blocked/allowed servers are only applied when default policy is allow/block, respectively
  resource: /networks/{networkId}/switch/dhcpServerPolicy
  operation: update
- group: Dscp cos mapping
  summary: Update the DSCP to CoS mappings
  resource: /networks/{networkId}/switch/dscpToCosMappings
  operation: update
- group: End users/actions/meraki auth user
  summary: Authorize a user configured with Meraki Authentication for a network (currently supports 802.1X, splash guest, and client VPN users, and currently, organizations have a 50,000 user cap)
  resource: /networks/{networkId}/merakiAuthUsers
  operation: create
- group: End users/actions/meraki auth user
  summary: Delete an 802.1X RADIUS user, or deauthorize and optionally delete a splash guest or client VPN user.
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: destroy
- group: End users/actions/meraki auth user
  summary: Update a user configured with Meraki Authentication (currently, 802.1X RADIUS, splash guest, and client VPN users can be updated)
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: update
- group: Firmware upgrades update
  summary: Update firmware upgrade information for a network
  resource: /networks/{networkId}/firmwareUpgrades
  operation: update
- group: Floor plan
  summary: Destroy a floor plan
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: destroy
- group: Floor plan
  summary: Update a floor plan's geolocation and other meta data
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: update
- group: Frontizo/actions/owp release/firewall rule
  summary: Create an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules
  operation: create
- group: Frontizo/actions/owp release/firewall rule
  summary: Delete an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: destroy
- group: Frontizo/actions/owp release/firewall rule
  summary: Update an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: update
- group: Frontizo/actions/owp release/policy
  summary: Create an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies
  operation: create
- group: Frontizo/actions/owp release/policy
  summary: Delete an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: destroy
- group: Frontizo/actions/owp release/policy
  summary: Update an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: update
- group: Frontizo/actions/owp release/ruleset
  summary: Create an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets
  operation: create
- group: Frontizo/actions/owp release/ruleset
  summary: Delete an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset
  summary: Update an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: update
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Create an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments
  operation: create
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Delete an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Update an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: update
- group: Frontizo/actions/sase/integration
  summary: Create a new Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations
  operation: create
- group: Frontizo/actions/sase/integration
  summary: Remove a Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations/{integrationId}
  operation: destroy
- group: Frontizo/actions/site
  summary: Attach sites in this organization to Secure Access. For an organization, a maximum of 2500 sites can be attached if they are in spoke mode or a maximum of 10 sites can be attached in hub mode.
  resource: /organizations/{organizationId}/sase/sites
  operation: create
- group: Frontizo/actions/umbrella integration/account
  summary: Connect a Cisco Umbrella account to this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: action
- group: Frontizo/actions/umbrella integration/account
  summary: Disconnect Umbrella account from this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: disconnect
- group: Frontizo/actions/umbrella integration/domains
  summary: Specify one or more domain names to be excluded from being routed to Cisco Umbrella.
  resource: /networks/{networkId}/appliance/umbrella/domains
  operation: action
- group: Frontizo/actions/umbrella integration/policies
  summary: Add one Cisco Umbrella DNS security policy to an MX network by policy ID. Idempotent — if the policy is already applied, the request succeeds and returns the current policy set unchanged.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_add
- group: Frontizo/actions/umbrella integration/policies
  summary: Remove one Cisco Umbrella DNS security policy from an MX network by policy ID. Returns 204 No Content on success. Behavior when the policy is not currently applied depends on the Cisco Umbrella API response.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_remove
- group: Frontizo/actions/umbrella integration/protection
  summary: Enable or disable umbrella protection for an appliance network. When 'enabled' is false, 'umbrella.organization.id' and 'umbrella.origin.id' are null in the response.
  resource: /networks/{networkId}/appliance/umbrella
  operation: action
- group: Frontizo/sse sites/actions/connectors batch
  summary: Delete SSE Connectors by ID
  resource: /organizations/{organizationId}/sase/connectors
  operation: teardown
- group: Frontizo/sse sites/actions/sites
  summary: Detach sites in this organization from Secure Access. This will remove the sites from Secure Access.
  resource: /organizations/{organizationId}/sase/sites
  operation: detach
- group: Frontizo/sse sites/actions/sites
  summary: Update the configuration for a site. Currently, only supports updating default route enablement.
  resource: /organizations/{organizationId}/sase/sites/{siteId}
  operation: update
- group: Group policy
  summary: Create a group policy
  resource: /networks/{networkId}/groupPolicies
  operation: create
- group: Group policy
  summary: Delete a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: destroy
- group: Group policy
  summary: Update a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: update
- group: Hotspot20
  summary: Update the Hotspot 2.0 settings of an SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/hotspot20
  operation: update
- group: Insight/actions/org wide alerts/alert config
  summary: Create an organization-wide alert configuration
  resource: /organizations/{organizationId}/alerts/profiles
  operation: create
- group: Insight/actions/org wide alerts/alert config
  summary: Removes an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: destroy
- group: Insight/actions/org wide alerts/alert config
  summary: Update an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: update
- group: Inventory/actions/device
  summary: 'Claim devices into a network. (Note: for recently claimed devices, it may take a few minutes for API requests against that device to succeed). This operation can be used up to ten times within a single five minute window.'
  resource: /networks/{networkId}/devices/claim
  operation: claim
- group: Inventory/actions/unified orders/unified order
  summary: Claim an order by the secure unique order claim number, the order claim id
  resource: /organizations/{organizationId}/inventory/orders
  operation: claim
- group: L3 firewall
  summary: Update the L3 firewall rules of an SSID on an MR network
  resource: /networks/{networkId}/wireless/ssids/{number}/firewall/l3FirewallRules
  operation: update
- group: License
  summary: Assign SM seats to a network. This will increase the managed SM device limit of the network
  resource: /organizations/{organizationId}/licenses
  operation: assignSeats
- group: License
  summary: Move licenses to another organization. This will also move any devices that the licenses are assigned to
  resource: /organizations/{organizationId}/licenses
  operation: move
- group: License
  summary: Move SM seats to another organization
  resource: /organizations/{organizationId}/licenses
  operation: moveSeats
- group: License
  summary: Renew SM seats of a license. This will extend the license expiration date of managed SM devices covered by this license
  resource: /organizations/{organizationId}/licenses
  operation: renewSeats
- group: License
  summary: Update a license
  resource: /organizations/{organizationId}/licenses/{licenseId}
  operation: update
- group: MTU configuration
  summary: Update the MTU configuration
  resource: /networks/{networkId}/switch/mtu
  operation: update
- group: MX connectivity monitoring destination
  summary: Update the connectivity testing destinations for an MX network
  resource: /networks/{networkId}/appliance/connectivityMonitoringDestinations
  operation: update
- group: MX l3 configuration
  summary: Create wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3
  operation: create
- group: MX l3 configuration
  summary: Delete wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: destroy
- group: MX l3 configuration
  summary: Update wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: update
- group: MX uplink setting
  summary: Updates the uplink bandwidth settings for your MX network.
  resource: /networks/{networkId}/appliance/trafficShaping/uplinkBandwidth
  operation: update
- group: Mars/actions/device
  summary: Updating device details (currently only used for Catalyst devices)
  resource: /organizations/{organizationId}/devices/details/bulkUpdate
  operation: details/update
- group: Mcg/actions/cluster
  summary: Create a cluster and add campus gateways to it
  resource: /networks/{networkId}/campusGateway/clusters
  operation: create
- group: Mcg/actions/cluster
  summary: Delete a cluster
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: destroy
- group: Mcg/actions/cluster
  summary: Update a cluster and add/remove campus gateways to/from it
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: update
- group: Mcg/actions/cluster
  summary: Provisions a cluster,adds campus gateways to it and associate/dissociate failover targets.
  resource: /organizations/{organizationId}/campusGateway/clusters
  operation: provision
- group: Monitored media server
  summary: Add a media server to be monitored for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers
  operation: create
- group: Monitored media server
  summary: Delete a monitored media server from this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: destroy
- group: Monitored media server
  summary: Update a monitored media server for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: update
- group: Mr/actions/air marshal rule
  summary: Creates a new rule
  resource: /networks/{networkId}/wireless/airMarshal/rules
  operation: create
- group: Mr/actions/air marshal rule
  summary: Delete an Air Marshal rule.
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: destroy
- group: Mr/actions/air marshal rule
  summary: Update a rule
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: update
- group: Mr/actions/air marshal setting
  summary: Updates Air Marshal settings.
  resource: /networks/{networkId}/wireless/airMarshal/settings
  operation: update
- group: Mr/actions/ap port profile
  summary: Create an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: create
- group: Mr/actions/ap port profile
  summary: Delete an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
  operation: destroy
- group: Mr/actions/ap port profile
  summary: Update the AP port profile by ID for this network
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
  operation: update
- group: Mr/actions/ap port profile assign
  summary: Assign AP port profile to list of APs
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: aps
- group: Mr/actions/ap port profile set
  summary: Set the AP port profile to be default for this network
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: default
- group: Mr/actions/autolocation job
  summary: Cancel a scheduled or running auto locate job
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: cancel
- group: Mr/actions/autolocation job
  summary: Update the status of a finished auto locate job to be published, and update device locations
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: publish
- group: Mr/actions/autolocation job
  summary: Trigger auto locate recalculation for a job, and optionally set anchors
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: recalculate
- group: Mr/actions/autolocation jobs bulk
  summary: Schedule auto locate jobs for one or more floor plans in a network
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs
  operation: batch_create
- group: Mr/actions/device floorplan assignments batch
  summary: Update floorplan assignments for a batch of devices
  resource: /networks/{networkId}/floorPlans/devices
  operation: batch_update
- group: Mr/actions/eap override
  summary: Update the EAP overridden parameters for an SSID.
  resource: /networks/{networkId}/wireless/ssids/{number}/eapOverride
  operation: update
- group: Mr/actions/iot/bluetooth device setting
  summary: Update the bluetooth settings for a wireless device
  resource: /devices/{serial}/wireless/bluetooth/settings
  operation: update
- group: Mr/actions/iot/esl network settings
  summary: Update the ESL settings of a wireless network
  resource: /networks/{networkId}/wireless/electronicShelfLabel
  operation: update
- group: Mr/actions/iot/esl node settings
  summary: Update the ESL settings of a device
  resource: /devices/{serial}/wireless/electronicShelfLabel
  operation: update
- group: Mr/actions/rf auto channel
  summary: 'Recalculates automatically assigned channels for every AP within specified the specified network(s). Note: This could cause a brief loss in connectivity for wireless clients.'
  resource: /organizations/{organizationId}/wireless/radio/autoRf/channels
  operation: update
- group: Mr/actions/rf profile
  summary: Creates new RF profile for this network
  resource: /networks/{networkId}/wireless/rfProfiles
  operation: create
- group: Mr/actions/rf profile
  summary: 'Updates specified RF profile for this network. Note: built-in RF profiles can only be assigned as a default, and its attributes are immutable'
  resource: /networks/{networkId}/wireless/rfProfiles/{rfProfileId}
  operation: update
- group: Mr/actions/ssid
  summary: Update the attributes of an MR SSID
  resource: /networks/{networkId}/wireless/ssids/{number}
  operation: update
- group: Mr/actions/ssid bonjour forwarding
  summary: Update the bonjour forwarding setting and rules for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/bonjourForwarding
  operation: update
- group: Mr/actions/ssid openroaming
  summary: Update the OpenRoaming setting for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/openRoaming
  operation: update
- group: Mr/actions/ssid outage schedule
  summary: Update the outage schedule for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/schedules
  operation: update
- group: Mr/actions/ssid profile
  summary: Create a new SSID profile in an organization
  resource: /organizations/{organizationId}/wireless/ssids/profiles
  operation: create
- group: Mr/actions/ssid profile
  summary: Delete an SSID profile
  resource: /organizations/{organizationId}/wireless/ssids/profiles/{id}
  operation: destroy
- group: Mr/actions/ssid profile
  summary: Update this SSID profile
  resource: /organizations/{organizationId}/wireless/ssids/profiles/{id}
  operation: update
- group: Mr/actions/wireless alternate management interface v6
  summary: Update alternate management interface IPv6 address
  resource: /devices/{serial}/wireless/alternateManagementInterface/ipv6
  operation: update
- group: Mr/actions/wireless settings
  summary: Update the wireless settings for a network
  resource: /networks/{networkId}/wireless/settings
  operation: update
- group: Mr/actions/zigbee config
  summary: Update Zigbee Configs for specified network
  resource: /networks/{networkId}/wireless/zigbee
  operation: update
- group: Mr/actions/zigbee doorlock
  summary: Endpoint to batch update door locks params
  resource: /organizations/{organizationId}/wireless/zigbee/doorLocks/{doorLockId}
  operation: create
- group: Mr/actions/zigbee nodes
  summary: Endpoint to update zigbee gateways
  resource: /organizations/{organizationId}/wireless/zigbee/devices/{id}
  operation: create
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Create isolation allow list MAC entry for this organization
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries
  operation: create
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Destroy isolation allow list MAC entry for this organization
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries/{entryId}
  operation: destroy
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Update isolation allow list MAC entry info
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries/{entryId}
  operation: update
- group: Mr/speedy/actions/auto RF
  summary: Update the AutoRF settings for a wireless network
  resource: /networks/{networkId}/wireless/radio/rrm
  operation: update
- group: Mr/zero touch/actions/deployment
  summary: Create a zero touch deployment for a wireless access point
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments
  operation: create
- group: Mr/zero touch/actions/deployment
  summary: Update a zero touch deployment
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments
  operation: update
- group: Mr/zero touch/actions/deployment
  summary: Delete a zero touch deployment
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments/{deploymentId}
  operation: destroy
- group: Ms/access
  summary: Create an access policy for a switch network. If you would like to enable Meraki Authentication, set radiusServers to empty array.
  resource: /networks/{networkId}/switch/accessPolicies
  operation: create
- group: Ms/access
  summary: Delete an access policy for a switch network
  resource: /networks/{networkId}/switch/accessPolicies/{accessPolicyNumber}
  operation: destroy
- group: Ms/access
  summary: Update an access policy for a switch network. If you would like to enable Meraki Authentication, set radiusServers to empty array.
  resource: /networks/{networkId}/switch/accessPolicies/{accessPolicyNumber}
  operation: update
- group: Ms/actions/adaptive
  summary: Add an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies
  operation: create
- group: Ms/actions/adaptive
  summary: Delete an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies/{id}
  operation: destroy
- group: Ms/actions/adaptive
  summary: Update an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies/{id}
  operation: update
- group: Ms/actions/adaptive policy settings
  summary: Update global adaptive policy settings
  resource: /organizations/{organizationId}/adaptivePolicy/settings
  operation: update
- group: Ms/actions/l3 interface
  summary: Create a layer 3 interface for a switch
  resource: /devices/{serial}/switch/routing/interfaces
  operation: create
- group: Ms/actions/l3 interface
  summary: Delete a layer 3 interface from the switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}
  operation: destroy
- group: Ms/actions/l3 interface
  summary: Update a layer 3 interface for a switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}
  operation: update
- group: Ms/actions/l3 interface dhcp
  summary: Update a layer 3 interface DHCP configuration for a switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp
  operation: update
- group: Ms/actions/l3 static route
  summary: Create a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes
  operation: create
- group: Ms/actions/l3 static route
  summary: Delete a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}
  operation: destroy
- group: Ms/actions/l3 static route
  summary: Update a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}
  operation: update
- group: Ms/actions/link aggregation
  summary: Create a link aggregation group
  resource: /networks/{networkId}/switch/linkAggregations
  operation: create
- group: Ms/actions/link aggregation
  summary: Split a link aggregation group into separate ports
  resource: /networks/{networkId}/switch/linkAggregations/{linkAggregationId}
  operation: destroy
- group: Ms/actions/link aggregation
  summary: Update a link aggregation group
  resource: /networks/{networkId}/switch/linkAggregations/{linkAggregationId}
  operation: update
- group: Ms/actions/management interface settings
  summary: Update the management interface settings for a device
  resource: /devices/{serial}/managementInterface
  operation: update
- group: Ms/actions/storm control
  summary: Update the storm control configuration for a switch network
  resource: /networks/{networkId}/switch/stormControl
  operation: update
- group: Ms/actions/switch alternate management interface
  summary: Update the switch alternate management interface for the network
  resource: /networks/{networkId}/switch/alternateManagementInterface
  operation: update
- group: Ms/actions/switch port
  summary: Cycle a set of switch ports on non-Catalyst MS devices. For Catalyst support, use /devices/{serial}/liveTools/ports/cycle, which supports all switch product families.
  resource: /devices/{serial}/switch/ports
  operation: cycle
- group: Ms/actions/switch port
  summary: Update a switch port
  resource: /devices/{serial}/switch/ports/{portId}
  operation: update
- group: Ms/actions/switch profile port
  summary: Update a switch template port
  resource: /organizations/{organizationId}/configTemplates/{configTemplateId}/switch/profiles/{profileId}/ports/{portId}
  operation: update
- group: Ms/actions/switch stacks l3 interface
  summary: Create a layer 3 interface for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces
  operation: create
- group: Ms/actions/switch stacks l3 interface
  summary: Delete a layer 3 interface from a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}
  operation: destroy
- group: Ms/actions/switch stacks l3 interface
  summary: Update a layer 3 interface for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}
  operation: update
- group: Ms/actions/switch stacks l3 interface dhcp
  summary: Update a layer 3 interface DHCP configuration for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}/dhcp
  operation: update
- group: Ms/actions/switch stacks l3 static route
  summary: Create a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes
  operation: create
- group: Ms/actions/switch stacks l3 static route
  summary: Delete a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes/{staticRouteId}
  operation: destroy
- group: Ms/actions/switch stacks l3 static route
  summary: Update a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes/{staticRouteId}
  operation: update
- group: Ms/live tools/actions/perform leds
  summary: Enqueue a job to blink LEDs on a device. This endpoint has a rate limit of one request every 10 seconds.
  resource: /devices/{serial}/liveTools/leds/blink
  operation: blink
- group: Ms/live tools/actions/perform throughput
  summary: Enqueue a job to test a device throughput, the test will run for 10 secs to test throughput. This endpoint has a rate limit of one request every five seconds per device.
  resource: /devices/{serial}/liveTools/throughputTest
  operation: test
- group: Ms/routing/actions/ospf routing
  summary: Update layer 3 OSPF routing configuration
  resource: /networks/{networkId}/switch/routing/ospf
  operation: update
- group: Ms/switch
  summary: Update switch network settings
  resource: /networks/{networkId}/switch/settings
  operation: settings/actions/update
- group: Ms/switch
  summary: Update a switch stack. At least one of 'name' or 'members' must be provided. If 'members' is provided, it replaces the entire stack membership.
  resource: /networks/{networkId}/switch/stacks/{switchStackId}
  operation: stacks/actions/update
- group: Ms/switch
  summary: 'Clone port-level and some switch-level configuration settings from a source switch to one or more target switches. Cloned settings include: Aggregation Groups, Power Settings, Multicast Settings, MTU Configuration, STP Bridge priority, Port Mirroring'
  resource: /organizations/{organizationId}/switch/devices
  operation: settings/actions/clone
- group: Mt/api/actions/alert profiles
  summary: Creates a sensor alert profile for a network.
  resource: /networks/{networkId}/sensor/alerts/profiles
  operation: create
- group: Mt/api/actions/alert profiles
  summary: Deletes a sensor alert profile from a network.
  resource: /networks/{networkId}/sensor/alerts/profiles/{id}
  operation: destroy
- group: Mt/api/actions/alert profiles
  summary: Updates a sensor alert profile for a network.
  resource: /networks/{networkId}/sensor/alerts/profiles/{id}
  operation: update
- group: Mt/api/actions/commands
  summary: Sends a command to a sensor
  resource: /devices/{serial}/sensor/commands
  operation: create
- group: Mt/api/actions/sensor gateway role
  summary: Assign one or more sensor roles to a given sensor or camera device.
  resource: /devices/{serial}/sensor/relationships
  operation: update
- group: Mt/api/actions/sensor mqtt broker
  summary: Update the sensor settings of an MQTT broker. To update the broker itself, use /networks/{networkId}/mqttBrokers/{mqttBrokerId}.
  resource: /networks/{networkId}/sensor/mqttBrokers/{mqttBrokerId}
  operation: update
- group: Mv/actions/mqtt broker
  summary: Add an MQTT broker
  resource: /networks/{networkId}/mqttBrokers
  operation: create
- group: Mv/actions/mqtt broker
  summary: Delete an MQTT broker
  resource: /networks/{networkId}/mqttBrokers/{mqttBrokerId}
  operation: destroy
- group: Mv/actions/mqtt broker
  summary: Update an MQTT broker
  resource: /networks/{networkId}/mqttBrokers/{mqttBrokerId}
  operation: update
- group: Mv/actions/quality and retention setting
  summary: Update quality and retention settings for the given camera
  resource: /devices/{serial}/camera/qualityAndRetention
  operation: update
- group: Mv/actions/sense setting
  summary: Update sense settings for the given camera
  resource: /devices/{serial}/camera/sense
  operation: update
- group: Mx port
  summary: Update configurations for an appliance's specified port
  resource: /devices/{serial}/appliance/interfaces/ports/update
  operation: update
- group: Network
  summary: Bind a network to a template.
  resource: /networks/{networkId}
  operation: bind
- group: Network
  summary: Delete a network
  resource: /networks/{networkId}
  operation: destroy
- group: Network
  summary: Split a combined network into individual networks for each type of device
  resource: /networks/{networkId}
  operation: split
- group: Network
  summary: Unbind a network from a template.
  resource: /networks/{networkId}
  operation: unbind
- group: Network
  summary: Update a network
  resource: /networks/{networkId}
  operation: update
- group: Network
  summary: Combine multiple networks into a single network
  resource: /organizations/{organizationId}/networks
  operation: combine
- group: Network
  summary: Create a network
  resource: /organizations/{organizationId}/networks
  operation: create
- group: Network access/ssids/actions/ssid splash settings
  summary: Modify the splash page settings for the given SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/splash/settings
  operation: update
- group: Network groups
  summary: Create a network group
  resource: /organizations/{organizationId}/networks/groups
  operation: create
- group: Network groups
  summary: Add networks to a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: bulk_assign
- group: Network groups
  summary: Remove networks from a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: bulk_unassign
- group: Network groups
  summary: Delete a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: destroy
- group: Network groups
  summary: Update a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: update
- group: Organization SAML IdP
  summary: Create a SAML IdP for your organization.
  resource: /organizations/{organizationId}/saml/idps
  operation: create
- group: Organization SAML IdP
  summary: Remove a SAML IdP in your organization.
  resource: /organizations/{organizationId}/saml/idps/{idpId}
  operation: destroy
- group: Organization SAML IdP
  summary: Update a SAML IdP in your organization
  resource: /organizations/{organizationId}/saml/idps/{idpId}
  operation: update
- group: Organization login security settings
  summary: Update the login security settings for an organization
  resource: /organizations/{organizationId}/loginSecurity
  operation: update
- group: Organization snmp
  summary: Update the SNMP settings for an organization
  resource: /organizations/{organizationId}/snmp
  operation: update
- group: Pcap logs
  summary: BulkDelete packet captures from cloud
  resource: /organizations/{organizationId}/devices/packetCapture/captures
  operation: destroy
- group: Pcap logs
  summary: Delete a single packet capture from cloud using captureId
  resource: /organizations/{organizationId}/devices/packetCapture/captures/{captureId}
  operation: destroy
- group: Pcap schedule configurations
  summary: Create a schedule for packet capture
  resource: /organizations/{organizationId}/devices/packetCapture/schedules
  operation: create
- group: Pcap schedule configurations
  summary: Bulk update priorities of pcap schedules
  resource: /organizations/{organizationId}/devices/packetCapture/schedules
  operation: reorder
- group: Pcap schedule configurations
  summary: Delete schedule from cloud
  resource: /organizations/{organizationId}/devices/packetCapture/schedules/{scheduleId}
  operation: destroy
- group: Pcap schedule configurations
  summary: Update a schedule for packet capture
  resource: /organizations/{organizationId}/devices/packetCapture/schedules/{scheduleId}
  operation: update
- group: Policy object
  summary: 'Creates a new Policy Object. Note: type `ipAndMask` is deprecated; use `cidr`.'
  resource: /organizations/{organizationId}/policyObjects
  operation: create
- group: Policy object
  summary: Deletes a Policy Object.
  resource: /organizations/{organizationId}/policyObjects/{policyObjectId}
  operation: destroy
- group: Policy object
  summary: 'Updates a Policy Object. Note: type `ipAndMask` is deprecated; use `cidr`.'
  resource: /organizations/{organizationId}/policyObjects/{policyObjectId}
  operation: update
- group: Policy object group
  summary: Creates a new Policy Object Group.
  resource: /organizations/{organizationId}/policyObjects/groups
  operation: create
- group: Policy object group
  summary: Deletes a Policy Object Group.
  resource: /organizations/{organizationId}/policyObjects/groups/{policyObjectGroupId}
  operation: destroy
- group: Psk group
  summary: Create an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks
  operation: create
- group: Psk group
  summary: Delete an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks/{identityPskId}
  operation: destroy
- group: Psk group
  summary: Update an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks/{identityPskId}
  operation: update
- group: Qos rule
  summary: Add a quality of service rule
  resource: /networks/{networkId}/switch/qosRules
  operation: create
- group: Qos rule
  summary: Update the order in which the rules should be processed by the switch
  resource: /networks/{networkId}/switch/qosRules/order
  operation: update_order
- group: Qos rule
  summary: Delete a quality of service rule
  resource: /networks/{networkId}/switch/qosRules/{qosRuleId}
  operation: destroy
- group: Qos rule
  summary: Update a quality of service rule
  resource: /networks/{networkId}/switch/qosRules/{qosRuleId}
  operation: update
- group: RF profile
  summary: Delete a RF Profile
  resource: /networks/{networkId}/wireless/rfProfiles/{rfProfileId}
  operation: destroy
- group: Radio settings
  summary: Update 2.4 GHz and 5 GHz radio settings (channel, channel width, power) that override RF profiles. For 6 GHz support or radio enable/disable, use updateDeviceWirelessRadioOverrides instead.
  resource: /devices/{serial}/wireless/radio/settings
  operation: update
- group: Rendezvous point
  summary: Create a multicast rendezvous point
  resource: /networks/{networkId}/switch/routing/multicast/rendezvousPoints
  operation: create
- group: Rendezvous point
  summary: Delete a multicast rendezvous point
  resource: /networks/{networkId}/switch/routing/multicast/rendezvousPoints/{rendezvousPointId}
  operation: destroy
- group: Rendezvous point
[...]
