openapi: 3.2.0
info:
  title: Meraki Dashboard Insight API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > [Recent Updates](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)

    '
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'insight'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: insight
paths:
  /networks/{networkId}/insight/applications/{applicationId}/healthByTime:
    get:
      description: Get application health by time
      operationId: getNetworkInsightApplicationHealthByTime
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: applicationId
        in: path
        description: Application ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 2 hours.
        schema:
          type: number
          format: float
          maximum: 604800
      - name: resolution
        in: query
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 60, 300, 3600, 86400. The default is 300.'
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    startTs:
                      type: string
                      format: date-time
                      description: The start time of the query range
                    endTs:
                      type: string
                      format: date-time
                      description: The end time of the query range
                    wanGoodput:
                      type: integer
                      description: WAN goodput (Number of useful information bits delivered over a WAN per unit of time)
                    lanGoodput:
                      type: integer
                      description: LAN goodput (Number of useful information bits delivered over a LAN per unit of time)
                    wanLatencyMs:
                      type: number
                      format: float
                      description: WAN latency in milliseconds
                    lanLatencyMs:
                      type: number
                      format: float
                      description: LAN latency in milliseconds
                    wanLossPercent:
                      type: number
                      format: float
                      description: WAN loss percentage
                    lanLossPercent:
                      type: number
                      format: float
                      description: LAN loss percentage
                    responseDuration:
                      type: integer
                      description: Duration of the response, in milliseconds
                    sent:
                      type: integer
                      description: Sent kilobytes-per-second
                    recv:
                      type: integer
                      description: Received kilobytes-per-second
                    numClients:
                      type: integer
                      description: Number of clients
              example:
              - startTs: '2018-02-11T00:00:00Z'
                endTs: '2018-05-12T00:00:00Z'
                wanGoodput: 20000000
                lanGoodput: 100000000
                wanLatencyMs: 10.1
                lanLatencyMs: 3.2
                wanLossPercent: 0.2
                lanLossPercent: 0.0
                responseDuration: 210
                sent: 1000
                recv: 5000
                numClients: 2
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Get application health by time
      tags:
      - insight
  /organizations/{organizationId}/insight/applications:
    get:
      description: List all Insight tracked applications
      operationId: getOrganizationInsightApplications
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    applicationId:
                      type: string
                      description: Application identifier
                    name:
                      type: string
                      description: Application name
                    thresholds:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Threshold type (static or smart)
                        byNetwork:
                          type: array
                          items:
                            type: object
                            properties:
                              networkId:
                                type: string
                                description: Network identifier
                              goodput:
                                type: integer
                                description: Number of useful information bits delivered over a network per unit of time
                              responseDuration:
                                type: integer
                                description: Duration of the response, in milliseconds
                          description: Threshold for each network
                      description: Thresholds defined by a user or Meraki models for each application
              example:
              - applicationId: '19.12'
                name: Meraki HTTPS
                thresholds:
                  type: smart
                  byNetwork:
                  - networkId: N_12345678
                    goodput: 50000
                    responseDuration: 1000
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: List all Insight tracked applications
      tags:
      - insight
  /organizations/{organizationId}/insight/monitoredMediaServers:
    get:
      description: List the monitored media servers for this organization. Only valid for organizations with Meraki Insight.
      operationId: getOrganizationInsightMonitoredMediaServers
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Monitored media server id
                    name:
                      type: string
                      description: The name of the VoIP provider
                    address:
                      type: string
                      description: The IP address (IPv4 only) or hostname of the media server to monitor
                    bestEffortMonitoringEnabled:
                      type: boolean
                      description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
              - id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: List the monitored media servers for this organization
      tags:
      - insight
    post:
      description: Add a media server to be monitored for this organization. Only valid for organizations with Meraki Insight.
      operationId: createOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the VoIP provider
                address:
                  type: string
                  description: The IP address (IPv4 only) or hostname of the media server to monitor
                bestEffortMonitoringEnabled:
                  type: boolean
                  description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead.
              example:
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
              required:
              - name
              - address
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Add a media server to be monitored for this organization
      tags:
      - insight
  /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}:
    get:
      description: Return a monitored media server for this organization. Only valid for organizations with Meraki Insight.
      operationId: getOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Return a monitored media server for this organization
      tags:
      - insight
    put:
      description: Update a monitored media server for this organization. Only valid for organizations with Meraki Insight.
      operationId: updateOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the VoIP provider
                address:
                  type: string
                  description: The IP address (IPv4 only) or hostname of the media server to monitor
                bestEffortMonitoringEnabled:
                  type: boolean
                  description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead.
              example:
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Update a monitored media server for this organization
      tags:
      - insight
    delete:
      description: Delete a monitored media server from this organization. Only valid for organizations with Meraki Insight.
      operationId: deleteOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete a monitored media server from this organization
      tags:
      - insight
