openapi: 3.2.0
info:
  title: Meraki Dashboard Networks API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > [Recent Updates](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)

    '
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'networks'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: networks
paths:
  /networks/{networkId}:
    get:
      description: Return a network
      operationId: getNetwork
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Network ID
                  organizationId:
                    type: string
                    description: Organization ID
                  name:
                    type: string
                    description: Network name
                  productTypes:
                    type: array
                    items:
                      type: string
                    description: List of the product types that the network supports
                  timeZone:
                    type: string
                    description: Timezone of the network
                  tags:
                    type: array
                    items:
                      type: string
                    description: Network tags
                  enrollmentString:
                    type: string
                    description: Enrollment string for the network
                  url:
                    type: string
                    description: URL to the network Dashboard UI
                  notes:
                    type: string
                    description: Notes for the network
                  isBoundToConfigTemplate:
                    type: boolean
                    description: If the network is bound to a config template
              example:
                id: N_24329156
                organizationId: '2930418'
                name: Main Office
                productTypes:
                - appliance
                - switch
                - wireless
                timeZone: America/Los_Angeles
                tags:
                - tag1
                - tag2
                enrollmentString: my-enrollment-string
                url: https://n1.meraki.com//n//manage/nodes/list
                notes: Additional description of the network
                isBoundToConfigTemplate: false
      security:
      - oauth2:
        - dashboard:general:config:read
      summary: Return a network
      tags:
      - networks
    put:
      description: Update a network
      operationId: updateNetwork
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the network
                timeZone:
                  type: string
                  description: The timezone of the network. For a list of allowed timezones, please see the 'TZ' column in the table in <a target='_blank' href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>this article.</a>
                tags:
                  type: array
                  items:
                    type: string
                  description: A list of tags to be applied to the network
                enrollmentString:
                  type: string
                  description: A unique identifier which can be used for device enrollment or easy access through the Meraki SM Registration page or the Self Service Portal. Please note that changing this field may cause existing bookmarks to break.
                notes:
                  type:
                  - string
                  - 'null'
                  description: Add any notes or additional information about this network here.
              example:
                name: Main Office
                timeZone: America/Los_Angeles
                tags:
                - tag1
                - tag2
                enrollmentString: my-enrollment-string
                notes: Additional description of the network
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Network ID
                  organizationId:
                    type: string
                    description: Organization ID
                  name:
                    type: string
                    description: Network name
                  productTypes:
                    type: array
                    items:
                      type: string
                    description: List of the product types that the network supports
                  timeZone:
                    type: string
                    description: Timezone of the network
                  tags:
                    type: array
                    items:
                      type: string
                    description: Network tags
                  enrollmentString:
                    type: string
                    description: Enrollment string for the network
                  url:
                    type: string
                    description: URL to the network Dashboard UI
                  notes:
                    type: string
                    description: Notes for the network
                  isBoundToConfigTemplate:
                    type: boolean
                    description: If the network is bound to a config template
              example:
                id: N_24329156
                organizationId: '2930418'
                name: Main Office
                productTypes:
                - appliance
                - switch
                - wireless
                timeZone: America/Los_Angeles
                tags:
                - tag1
                - tag2
                enrollmentString: my-enrollment-string
                url: https://n1.meraki.com//n//manage/nodes/list
                notes: Additional description of the network
                isBoundToConfigTemplate: false
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Update a network
      tags:
      - networks
    delete:
      description: Delete a network
      operationId: deleteNetwork
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Delete a network
      tags:
      - networks
  /networks/{networkId}/alerts/history:
    get:
      description: Return the alert history for this network
      operationId: getNetworkAlertsHistory
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 100.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    occurredAt:
                      type: string
                      description: time when the event occurred
                    alertTypeId:
                      type: string
                      description: type of alert
                    alertType:
                      type: string
                      description: user friendly alert type
                    device:
                      type: object
                      properties:
                        serial:
                          type: string
                          description: device serial
                      description: info related to the device that caused the alert
                    destinations:
                      type: object
                      properties:
                        email:
                          type: object
                          properties:
                            sentAt:
                              type: string
                              description: time when the alert was sent to the user(s) for this channel
                          description: email destinations for this alert
                        push:
                          type: object
                          properties:
                            sentAt:
                              type: string
                              description: time when the alert was sent to the user(s) for this channel
                          description: push destinations for this alert
                        sms:
                          type: object
                          properties:
                            sentAt:
                              type: string
                              description: time when the alert was sent to the user(s) for this channel
                          description: sms destinations for this alert
                        webhook:
                          type: object
                          properties:
                            sentAt:
                              type: string
                              description: time when the alert was sent to the user(s) for this channel
                          description: webhook destinations for this alert
                      description: the destinations this alert is configured to be delivered to
                    alertData:
                      type: object
                      description: relevant data about the event that caused the alert
              example:
              - occurredAt: '2022-07-11T22:35:34Z'
                alertTypeId: settings_changed
                alertType: Settings changed
                device:
                  serial: Q3CG-G6W8-BEVR
                destinations:
                  email:
                    sentAt: '2022-07-11T22:40:34Z'
                  push:
                    sentAt: '2022-07-11T22:40:34Z'
                  sms:
                    sentAt: '2022-07-11T22:40:34Z'
                  webhook:
                    sentAt: '2022-07-11T22:40:34Z'
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return the alert history for this network
      tags:
      - networks
  /networks/{networkId}/alerts/settings:
    get:
      description: Return the alert configuration for this network
      operationId: getNetworkAlertsSettings
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  defaultDestinations:
                    type: object
                    properties:
                      emails:
                        type: array
                        items:
                          type: string
                        description: A list of emails that will receive the alert(s).
                      allAdmins:
                        type: boolean
                        description: If true, then all network admins will receive emails.
                      snmp:
                        type: boolean
                        description: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.
                      httpServerIds:
                        type: array
                        items:
                          type: string
                        description: A list of HTTP server IDs to send a Webhook to
                    description: The network-wide destinations for all alerts on the network.
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of alert
                        enabled:
                          type: boolean
                          description: A boolean depicting if the alert is turned on or off
                        alertDestinations:
                          type: object
                          properties:
                            emails:
                              type: array
                              items:
                                type: string
                              description: A list of emails that will receive information about the alert
                            smsNumbers:
                              type: array
                              items:
                                type: string
                              description: A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts.
                            allAdmins:
                              type: boolean
                              description: If true, then all network admins will receive emails for this alert
                            snmp:
                              type: boolean
                              description: If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network
                            httpServerIds:
                              type: array
                              items:
                                type: string
                              description: A list of HTTP server IDs to send a Webhook to for this alert
                          description: A hash of destinations for this specific alert
                        filters:
                          type: object
                          properties:
                            conditions:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Type of condition
                                  unit:
                                    type:
                                    - string
                                    - 'null'
                                    description: Unit
                                  duration:
                                    type: integer
                                    description: Duration
                                  direction:
                                    type: string
                                    enum:
                                    - +
                                    - '-'
                                    description: Direction
                                  threshold:
                                    type: number
                                    format: float
                                    description: Threshold
                              description: Conditions
                            failureType:
                              type: string
                              description: Failure Type
                            lookbackWindow:
                              type: integer
                              description: Loopback Window (in sec)
                            minDuration:
                              type: integer
                              description: Min Duration
                            name:
                              type: string
                              description: Name
                            period:
                              type: integer
                              description: Period
                            priority:
                              type: string
                              description: Priority
                            regex:
                              type: string
                              description: Regex
                            selector:
                              type: string
                              description: Selector
                            serials:
                              type: array
                              items:
                                type: string
                              description: Serials
                            ssidNum:
                              type: integer
                              description: SSID Number
                            tag:
                              type: string
                              description: Tag
                            threshold:
                              type: integer
                              description: Threshold
                            timeout:
                              type: integer
                              description: Timeout
                          description: A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.
                      required:
                      - type
                    description: Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.
                  muting:
                    type: object
                    properties:
                      byPortSchedules:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: If true, then wireless unreachable alerts will be muted when caused by a port schedule
                        description: Mute wireless unreachable alerts based on switch port schedules
                    description: Mute alerts under certain conditions
              example:
                defaultDestinations:
                  emails:
                  - miles@meraki.com
                  allAdmins: true
                  snmp: true
                  httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                alerts:
                - type: gatewayDown
                  enabled: true
                  alertDestinations:
                    emails:
                    - miles@meraki.com
                    smsNumbers:
                    - '+15555555555'
                    allAdmins: false
                    snmp: false
                    httpServerIds:
                    - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  filters:
                    conditions:
                    - type: temperature
                      unit: celsius
                      duration: 0
                      direction: +
                      threshold: 72.5
                    failureType: 802.1X auth fail
                    lookbackWindow: 360
                    minDuration: 60
                    name: Filter
                    period: 1800
                    priority: ''
                    regex: '[a-z]'
                    selector: '{"smartSensitivity":"medium","smartEnabled":false,"eventReminderPeriodSecs":10800}'
                    serials:
                    - Q234-ABCD-0001
                    - Q234-ABCD-0002
                    - Q234-ABCD-0003
                    ssidNum: 1
                    tag: tag1
                    threshold: 30
                    timeout: 60
                muting:
                  byPortSchedules:
                    enabled: true
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return the alert configuration for this network
      tags:
      - networks
    put:
      description: Update the alert configuration for this network
      operationId: updateNetworkAlertsSettings
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultDestinations:
                  type: object
                  properties:
                    emails:
                      type: array
                      items:
                        type: string
                      description: A list of emails that will receive the alert(s).
                    allAdmins:
                      type: boolean
                      description: If true, then all network admins will receive emails.
                    snmp:
                      type: boolean
                      description: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.
                    httpServerIds:
                      type: array
                      items:
                        type: string
                      description: A list of HTTP server IDs to send a Webhook to
                  description: The network-wide destinations for all alerts on the network.
                alerts:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of alert
                      enabled:
                        type: boolean
                        description: A boolean depicting if the alert is turned on or off
                      alertDestinations:
                        type: object
                        properties:
                          emails:
                            type: array
                            items:
                              type: string
                            description: A list of emails that will receive information about the alert
                          smsNumbers:
                            type: array
                            items:
                              type: string
                            description: A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts.
                          allAdmins:
                            type: boolean
                            description: If true, then all network admins will receive emails for this alert
                          snmp:
                            type: boolean
                            description: If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network
                          httpServerIds:
                            type: array
                            items:
                              type: string
                            description: A list of HTTP server IDs to send a Webhook to for this alert
                        description: A hash of destinations for this specific alert
                      filters:
                        type: object
                        properties:
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Type of condition
                                unit:
                                  type:
                                  - string
                                  - 'null'
                                  description: Unit
                                duration:
                                  type: integer
                                  description: Duration
                                direction:
                                  type: string
                                  enum:
                                  - +
                                  - '-'
                                  description: Direction
                                threshold:
                                  type: number
                                  format: float
                                  description: Threshold
                            description: Conditions
                          failureType:
                            type: string
                            description: Failure Type
                          lookbackWindow:
                            type: integer
                            description: Loopback Window (in sec)
                          minDuration:
                            type: integer
                            description: Min Duration
                          name:
                            type: string
                            description: Name
                          period:
                            type: integer
                            description: Period
                          priority:
                            type: string
                            description: Priority
                          regex:
                            type: string
                            description: Regex
                          selector:
                            type: string
                            description: Selector
                          serials:
                            type: array
                            items:
                              type: string
                            description: Serials
                          ssidNum:
                            type: integer
                            description: SSID Number
                          tag:
                            type: string
                            description: Tag
                          threshold:
                            type: integer
                            description: Threshold
                          timeout:
                            type: integer
                            description: Timeout
                        description: A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.
                    required:
                    - type
                  description: Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.
                muting:
                  type: object
                  properties:
                    byPortSchedules:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: If true, then wireless unreachable alerts will be muted when caused by a port schedule
                      description: Mute wireless unreachable alerts based on switch port schedules
                  description: Mute alerts under certain conditions
              example:
                defaultDestinations:
                  emails:
                  - miles@meraki.com
                  allAdmins: true
                  snmp: true
                  httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                alerts:
                - type: gatewayDown
                  enabled: true
                  alertDestinations:
                    emails:
                    - miles@meraki.com
                    smsNumbers:
                    - '+15555555555'
                    allAdmins: false
                    snmp: false
                    httpServerIds:
                    - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  filters:
                    conditions:
                    - type: temperature
                      unit: celsius
                      duration: 0
                      direction: +
                      threshold: 72.5
                    failureType: 802.1X auth fail
                    lookbackWindow: 360
                    minDuration: 60
                    name: Filter
                    period: 1800
                    priority: ''
                    regex: '[a-z]'
                    selector: '{"smartSensitivity":"medium","smartEnabled":false,"eventReminderPeriodSecs":10800}'
                    serials:
                    - Q234-ABCD-0001
                    - Q234-ABCD-0002
                    - Q234-ABCD-0003
                    ssidNum: 1
                    tag: tag1
                    threshold: 30
                    timeout: 60
                muting:
                  byPortSchedules:
                    enabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  defaultDestinations:
                    type: object
                    properties:
                      emails:
                        type: array
                        items:
                          type: string
                        description: A list of emails that will receive the alert(s).
                      allAdmins:
                        type: boolean
                        description: If true, then all network admins will receive emails.
                      snmp:
                        type: boolean
                        description: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.
                      httpServerIds:
                        type: array
                        items:
                          type: string
                        description: A list of HTTP server IDs to send a Webhook to
                    description: The network-wide destinations for all alerts on the network.
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of alert
                        enabled:
                          type: boolean
                          description: A boolean depicting if the alert is turned on or off
                        alertDestinations:
                          type: object
                          properties:
                            emails:
                              type: array
                              items:
                                type: string
                              description: A list of emails that will receive information about the alert
                            smsNumbers:
                              type: array
                              items:
                                type: string
                              description: A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts.
                            allAdmins:
                              type: boolean
                              description: If true, then all network admins will receive emails for this alert
                            snmp:
                              type: boolean
                              description: If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network
                            httpServerIds:
                              type: array
                              items:
                                type: string
                              description: A list of HTTP server IDs to send a Webhook to for this alert
                          description: A hash of destinations for this specific alert
                        filters:
                          type: object
                          properties:
                            conditions:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Type of condition
                                  unit:
                                    type:
                                    - string
                                    - 'null'
                                    description: Unit
                                  duration:
                                    type: integer
                                    description: Duration
                                  direction:
                                    type: string
                                    enum:
                                    - +
                                    - '-'
                                    description: Direction
                                  threshold:
                                    type: number
                                    format: float
                                    description: Threshold
                              description: Conditions
                            failureType:
                              type: string
                              description: Failure Type
                            lookbackWindow:
                              type: integer
                              description: Loopback Window (in sec)
                            minDuration:
                              type: integer
                              description: Min Duration
                            name:
                              type: string
                              description: Name
                            period:
                              type: integer
                              description: Period
                            priority:
                              type: string
                              description: Priority
                            regex:
                              type: string
                              description: Regex
                            selector:
                              type: string
                              description: Selector
                            serials:
                              type: array
                              items:
                                type: string
                              description: Serials
                            ssidNum:
                              type: integer
                              description: SSID Number
                            tag:
                              type: string
                              description: Tag
                            threshold:
                              type: integer
                              description: Threshold
                            timeout:
                              type: integer
                              description: Timeout
                          description: A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.
                      required:
                      - type
                    description: Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.
                  muting:
                    type: object
                    properties:
                      byPortSchedules:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: If true, then wireless unreachable alerts will be muted when caused by a port schedule
                        description: Mute wireless unreachable alerts based on switch port schedules
                    description: Mute alerts under certain conditions
              example:
                defaultDestinations:
                  emails:
                  - miles@meraki.com
                  allAdmins: true
                  snmp: true
                  httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                alerts:
                - type: gatewayDown
                  enabled: true
                  alertDestinations:
                    emails:
                    - miles@meraki.com
                    smsNumbers:
                    - '+15555555555'
                    allAdmins: false
                    snmp: false
                    httpServerIds:
                    - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  filters:
                    conditions:
                    - type: temperature
                      unit: celsius
                      duration: 0
                      direction: +
                      threshold: 72.5
                    failureType: 802.1X auth fail
                    lookbackWindow: 360
                    minDuration: 60
                    name: Filter
                    period: 1800
                    priority: ''
                    regex: '[a-z]'
                    selector: '{"smartSensitivity":"medium","smartEnabled":false,"eventReminderPeriodSecs":10800}'
                    serials:
                    - Q234-ABCD-0001
                    - Q234-ABCD-0002
                    - Q234-ABCD-0003
                    ssidNum: 1
                    tag: tag1
                    threshold: 30
                    timeout: 60
                muting:
                  byPortSchedules:
                    enabled: true
      security:
      - oauth2:
        - dashboard:general:telemetry:write
      summary: Update the alert configuration for this network
      tags:
      - networks
  /networks/{networkId}/bind:
    post:
      description: Bind a network to a template.
      operationId: bindNetwork
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                configTemplateId:
                  type: string
                  description: The ID of the template to which the network should be bound.
                autoBind:
                  type: boolean
                  description: Optional boolean indicating whether the network's switches should automatically bind to profiles of the same model. Defaults to false if left unspecified. This option only affects switch networks and switch templates. Auto-bind is not valid unless the switch template has at least one profile and has at most one profile per switch model.
              example:
                configTemplateId: N_23952905
                autoBind: false
              required:
              - configTemplateId
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Network ID
                  organizationId:
                    type: string
                    description: Organization ID
                  name:
                    type: string
                    description: Network name
                  productTypes:
                    type: array
                    items:
                      type: string
                    description: List of the product types that the network supports
                  timeZone:
                    type: string
                    description: Timezone of the network
                  tags:
                    type: array
                    items:
                      type: string
                    description: Network tags
                  enrollmentString:
                    type: string
                    description: Enrollment string for the network
                  url:
                    type: string
                    description: URL to the network Dashboard UI
                  notes:
                    type: string
                    description: Notes for the network
                  isBoundToConfigTemplate:
                    type: boolean
                    description: If the network is bound to a config template
                  configTemplateId:
                    type: string
                    description: ID of the config template the network is being bound to
              example:
                id: N_24329156
                organizationId: '2930418'
                name: Main Office
                productTypes:
                - appliance
                - switch
                - wireless
                timeZone: America/Los_Angeles
                tags:
                - tag1
                - tag2
                enrollmentString: my-enrollment-string
                url: https://n1.meraki.com//n//manage/nodes/list
                notes: Additional description of the network
                isBoundToConfigTemplate: false
                configTemplateId: N_24329156
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Bind a network to a template.
      tags:
      - networks
  /networks/{networkId}/bluetoothClients:
    get:
      description: List the Bluetooth clients seen by APs in this network
      operationId: getNetworkBluetoothClients
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 604800
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: includeConnectivityHistory
        in: query
        description: Include the connectivity history for this client
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: ID of the client
                    mac:
                      type: string
                      description: MAC address of the client
                    networkId:
                      type: string
                      description: Network ID
                    name:
                      type: string
                      description: Name of the client
                    deviceName:
                      type: string
                      description: Bluetooth device name
                    manufacturer:
                      type: string
                      description: Name of the manufacturer
                    lastSeen:
                      type: integer
                      description: Epoch timestamp of the device's last appearance
                    seenByDeviceMac:
                      type: string
                      description: Seen by device MAC
                    inSightAlert:
                      type: boolean
                      description: Device in sight alert
                    outOfSightAlert:
                      type: boolean
                      description: Device out of sight alert
                    tags:
                      type: array
                      items:
                        type: string
                      description: A list of tags applied to the device
              example:
              - id: '1284392014819'
                mac: 22:33:44:55:66:77
                networkId: N_24329156
                name: My Device
                deviceName: Bose QuietComfort 35
                manufacturer: Bose
                lastSeen: 1526087474
                seenByDeviceMac: 00:11:22:33:44:55
                inSightAlert: false
                outOfSightAlert: false
                tags:
                - tag1
                - tag2
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - wireless:telemetry:read
      summary: List the Bluetooth clients seen by APs in this network
      tags:
      - networks
  /networks/{networkId}/bluetoothClients/{bluetoothClientId}:
    get:
      description: Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.
      operationId: getNetworkBluetoothClient
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: bluetoothClientId
        in: path
        description: Bluetooth client ID
        schema:
          type: string
        required: true
      - name: includeConnectivityHistory
        in: query
        description: Include the connectivity history for this client
        schema:
          type: boolean
      - name: connectivityHistoryTimespan
        in: query
        description: The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the client
                  mac:
                    type: string
                    description: MAC address of the client
                  networkId:
                    type: string
                    description: Network ID
                  name:
                    type: string
                    description: Name of the client
                  deviceName:
                    type: string
                    description: Bluetooth device name
                  manufacturer:
                    type: string
                    description: Name of the manufacturer
                  lastSeen:
                    type: integer
                    description: Epoch timestamp of the device's last appearance
                  seenByDeviceMac:
                    type: string
                    description: Seen by device MAC
                  inSightAlert:
                    type: boolean
                    description: Device in sight alert
                  outOfSightAlert:
                    type: boolean
                    description: Device out of sight alert
                  tags:
                    type: array
                    items:
                      type: string
                    description: A list of tags applied to the device
              example:
                id: '1284392014819'
                mac: 22:33:44:55:66:77
                networkId: N_24329156
                name: My Device
                deviceName: Bose QuietComfort 35
                manufacturer: Bose
                lastSeen: 1526087474
                seenByDeviceMac: 00:11:22:33:44:55
                inSightAlert: false
                outOfSightAlert: false
                tags:
                - tag1
                - tag2
      security:
      - oauth2:
        - wireless:telemetry:read
      summary: Return a Bluetooth client
      tags:
      - networks
  /networks/{networkId}/clients:
    get:
      description: List the clients that have used this network in the timespan. The data is updated at most once every five minutes.
      operationId: getNetworkClients
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 5000. Default is 10.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: statuses
        in: query
        description: Filters clients based on status. Can be one of 'Online' or 'Offline'.
        schema:
          type: array
          items:
            type: string
            enum:
            - Offline
            - Online
      - name: ip
        in: query
        description: Filters clients based on a partial or full match for the ip address field.
        schema:
          type: string
      - name: ip6
        in: query
        description: Filters clients based on a partial or full match for the ip6 address field.
        schema:
          type: string
      - name: ip6Local
        in: query
        description: Filters clients based on a partial or full match for the ip6Local address field.
        schema:
          type: string
      - name: mac
        in: query
        description: Filters clients based on a partial or full match for the mac address field.
        schema:
          type: string
      - name: os
        in: query
        description: Filters clients based on a partial or full match for the os (operating system) field.
        schema:
          type: string
      - name: pskGroup
        in: query
        description: Filters clients based on partial or full match for the iPSK name field.
        schema:
          type: string
      - name: description
        in: query
        description: Filters clients based on a partial or full match for the description field.
        schema:
          type: string
      - name: vlan
        in: query
        description: Filters clients based on the full match for the VLAN field.
        schema:
          type: string
      - name: namedVlan
        in: query
        description: Filters clients based on the partial or full match for the named VLAN field.
        schema:
          type: string
      - name: recentDeviceConnections
        in: query
        description: Filters clients based on recent connection type. Can be one of 'Wired' or 'Wireless'.
        schema:
          type: array
          items:
            type: string
            enum:
            - Wired
            - Wireless
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The ID of the client
                    mac:
                      type: string
                      description: The MAC address of the client
                    ip:
                      type: string
                      description: The IP address of the client
                    ip6:
                      type: string
                      description: The IPv6 address of the client
                    description:
                      type: string
                      description: Short description of the client
                    firstSeen:
                      type: integer
                      description: Timestamp client was first seen in the network
                    lastSeen:
                      type: integer
                      description: Timestamp client was last seen in the network
                    manufacturer:
                      type: string
                      description: Manufacturer of the client
                    os:
                      type: string
                      description: The operating system of the client
                    user:
                      type: string
                      description: The username of the user of the client
                    vlan:
                      type: string
                      description: The name of the VLAN that the client is connected to
                    ssid:
                      type: string
                      description: The name of the SSID that the client is connected to
                    switchport:
                      type: string
                      description: The switch port that the client is connected to
                    wirelessCapabilities:
                      type: string
                      description: Wireless capabilities of the client
                    smInstalled:
                      type: boolean
                      description: Status of SM for the client
                    recentDeviceMac:
                      type: string
                      description: The MAC address of the node that the device was last connected to
                    status:
                      type: string
                      enum:
                      - Offline
                      - Online
                      description: The connection status of the client
                    usage:
                      type: object
                      properties:
                        sent:
                          type: number
                          format: float
                          description: Usage sent by the client
                        recv:
                          type: number
                          format: float
                          description: Usage received by the client
                      description: Usage, sent and received
                    namedVlan:
                      type: string
                      description: Named VLAN of the client
                    adaptivePolicyGroup:
                      type: string
                      description: The adaptive policy group of the client
                    deviceTypePrediction:
                      type: string
                      description: Prediction of the client's device type
                    recentDeviceSerial:
                      type: string
                      description: The serial of the node the device was last connected to
                    recentDeviceName:
                      type: string
                      description: The name of the node the device was last connected to
                    recentDeviceConnection:
                      type: string
                      enum:
                      - Wired
                      - Wireless
                      description: Client's most recent connection type
                    notes:
                      type: string
                      description: Notes on the client
                    ip6Local:
                      type: string
                      description: Local IPv6 address of the client
                    groupPolicy8021x:
                      type: string
                      description: 802.1x group policy of the client
                    pskGroup:
                      type: string
                      description: iPSK name of the client
              example:
              - id: k74272e
                mac: 22:33:44:55:66:77
                ip: 1.2.3.4
                ip6: 2001:db8:3c4d:15::1
                description: Miles's phone
                firstSeen: 1518365681
                lastSeen: 1526087474
                manufacturer: Apple
                os: iOS
                user: milesmeraki
                vlan: '100'
                ssid: My SSID
                switchport: My switch port
                wirelessCapabilities: 802.11b - 2.4 GHz
                smInstalled: true
                recentDeviceMac: 22:33:44:55:66:77
                status: Online
                usage:
                  sent: 138.0
                  recv: 61.0
                namedVlan: My VLAN
                adaptivePolicyGroup: '2: Infrastructure'
                deviceTypePrediction: iPhone SE, iOS9.3.5
                recentDeviceSerial: Q234-ABCD-5678
                recentDeviceName: 00:11:22:33:44:55
                recentDeviceConnection: Wired
                notes: My AP's note
                ip6Local: fe80:0:0:0:1430:aac1:6826:75ab
                groupPolicy8021x: Student_Access
                pskGroup: Group 1
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: List the clients that have used this network in the timespan
      tags:
      - networks
  /networks/{networkId}/clients/applicationUsage:
    get:
      description: Return the application usage data for clients. Usage data is in kilobytes. Clients can be identified by client keys or either the MACs or IPs depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientsApplicationUsage
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: clients
        in: query
        required: true
        description: A list of client keys, MACs or IPs separated by comma.
        schema:
          type: string
      - name: ssidNumber
        in: query
        description: An SSID number to include. If not specified, events for all SSIDs will be returned.
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    clientId:
                      type: string
                      description: The identifier of the client
                    clientIp:
                      type: string
                      description: The IP address of the client
                    clientMac:
                      type: string
                      description: The MAC address of the client
                    applicationUsage:
                      type: array
                      items:
                        type: object
                        properties:
                          application:
                            type: string
                            description: Name of the application
                          received:
                            type: integer
                            description: Total bytes received by the client for the application
                          sent:
                            type: integer
                            description: Total bytes sent by the client for the application
                      description: An array of application usage records for the client
              example:
              - clientId: k74272e
                clientIp: 1.2.3.4
                clientMac: 00:11:22:33:44:55
                applicationUsage:
                - application: Meraki HTTPS
                  received: 61
                  sent: 138
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return the application usage data for clients
      tags:
      - networks
  /networks/{networkId}/clients/bandwidthUsageHistory:
    get:
      description: Returns a timeseries of total traffic consumption rates for all clients on a network within a given timespan, in megabits per second.
      operationId: getNetworkClientsBandwidthUsageHistory
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 30 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ts:
                      type: string
                      format: date-time
                      description: The timestamp
                    total:
                      type: number
                      format: float
                      description: The total traffic over a time range for clients on a network
                    upstream:
                      type: number
                      format: float
                      description: The upstream traffic over a time range for clients on a network
                    downstream:
                      type: number
                      format: float
                      description: The downstream traffic over a time range for clients on a network
              example:
              - ts: '2018-02-11T00:00:00.090210Z'
                total: 345.0
                upstream: 200.0
                downstream: 145.0
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Returns a timeseries of total traffic consumption rates for all clients on a network within a given timespan, in megabits per second.
      tags:
      - networks
  /networks/{networkId}/clients/overview:
    get:
      description: Return overview statistics for network clients
      operationId: getNetworkClientsOverview
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      - name: resolution
        in: query
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 7200, 86400, 604800, 2629746. The default is 604800.'
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: The total number of clients on a network
                      withHeavyUsage:
                        type: integer
                        description: The total number of clients with heavy usage on a network
                    description: The number of clients on a network over a given time range
                  usages:
                    type: object
                    properties:
                      average:
                        type: integer
                        description: The average usage of all clients on a network in kilobytes
                      withHeavyUsageAverage:
                        type: integer
                        description: The average usage of all clients with heavy usage on a network in kilobytes
                    description: The average usage of the clients on a network over a given time range
              example:
                counts:
                  total: 100
                  withHeavyUsage: 2
                usages:
                  average: 2048
                  withHeavyUsageAverage: 5345
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return overview statistics for network clients
      tags:
      - networks
  /networks/{networkId}/clients/provision:
    post:
      description: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
      operationId: provisionNetworkClients
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clients:
                  type: array
                  items:
                    type: object
                    properties:
                      mac:
                        type: string
                        description: The MAC address of the client. Required.
                      name:
                        type: string
                        description: The display name for the client. Optional. Limited to 255 bytes.
                    required:
                    - mac
                  description: The array of clients to provision
                devicePolicy:
                  type: string
                  enum:
                  - Allowed
                  - Blocked
                  - Group policy
                  - Normal
                  - Per connection
                  description: The policy to apply to the specified client. Can be 'Group policy', 'Allowed', 'Blocked', 'Per connection' or 'Normal'. Required.
                groupPolicyId:
                  type: string
                  description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                policiesBySecurityAppliance:
                  type: object
                  properties:
                    devicePolicy:
                      type: string
                      enum:
                      - Allowed
                      - Blocked
                      - Normal
                      description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked' or 'Normal'. Required.
                  description: An object, describing what the policy-connection association is for the security appliance. (Only relevant if the security appliance is actually within the network)
                policiesBySsid:
                  type: object
                  properties:
                    '0':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '1':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '2':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '3':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '4':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '5':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '6':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '7':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '8':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '9':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '10':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '11':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '12':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '13':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                    '14':
                      type: object
                      properties:
                        devicePolicy:
                          type: string
                          enum:
                          - Allowed
                          - Blocked
                          - Group policy
                          - Normal
                          description: The policy to apply to the specified client. Can be 'Allowed', 'Blocked', 'Normal' or 'Group policy'. Required.
                        groupPolicyId:
                          type: string
                          description: The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to "Group policy". Otherwise this is ignored.
                      required:
                      - devicePolicy
                      description: The number for the SSID
                  description: An object, describing the policy-connection associations for each active SSID within the network. Keys should be the number of enabled SSIDs, mapping to an object describing the client's policy
              example:
                clients:
                - mac: 00:11:22:33:44:55
                  name: Miles's phone
                devicePolicy: Group policy
                groupPolicyId: '101'
                policiesBySecurityAppliance:
                  devicePolicy: Normal
                policiesBySsid:
                  '0':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '1':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '2':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '3':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '4':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '5':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '6':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '7':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '8':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '9':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '10':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '11':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '12':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '13':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
                  '14':
                    devicePolicy: Group policy
                    groupPolicyId: '101'
              required:
              - clients
              - devicePolicy
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  clients:
                    type: array
                    items:
                      type: object
                      properties:
                        mac:
                          type: string
                          description: The MAC address of the client
                        clientId:
                          type: string
                          description: The identifier of the client
                        name:
                          type: string
                          description: The name of the client
                        message:
                          type: string
                          description: The client's display message if its group policy is 'Blocked'
                    description: The list of clients to provision
                  devicePolicy:
                    type: string
                    description: The name of the client's policy
                  groupPolicyId:
                    type: string
                    description: The group policy identifier of the client
              example:
                clients:
                - mac: 00:11:22:33:44:55
                  clientId: k74272e
                  name: Miles's phone
                  message: Blocked message for client
                devicePolicy: Group policy
                groupPolicyId: '101'
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Provisions a client with a name and policy
      tags:
      - networks
  /networks/{networkId}/clients/usageHistories:
    get:
      description: Return the usage histories for clients. Usage data is in kilobytes. Clients can be identified by client keys or either the MACs or IPs depending on whether the network uses Track-by-IP.
      operationId: getNetworkClientsUsageHistories
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: clients
        in: query
        required: true
        description: A list of client keys, MACs or IPs separated by comma.
        schema:
          type: string
      - name: ssidNumber
        in: query
        description: An SSID number to include. If not specified, events for all SSIDs will be returned.
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    clientId:
                      type: string
                      description: The identifier of the client
                    clientIp:
                      type: string
                      description: The IP address of the client
                    clientMac:
                      type: string
                      description: The MAC address of the client
                    usageHistory:
                      type: array
                      items:
                        type: object
                        properties:
                          received:
                            type: number
                            format: float
                            description: Usage received by the client on a given day
                          sent:
                            type: number
                            format: float
                            description: Usage sent by the client on a given day
                          ts:
                            type: string
                            format: date-time
                            description: The day's timestamp
                      description: An array of usage history records for the client
              example:
              - clientId: k74272e
                clientIp: 1.2.3.4
                clientMac: 00:11:22:33:44:55
                usageHistory:
                - received: 61.0
                  sent: 138.0
                  ts: '2018-02-11T00:00:00.090210Z'
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return the usage histories for clients
      tags:
      - networks
  /networks/{networkId}/clients/{clientId}:
    get:
      description: Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkClient
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: clientId
        in: path
        description: Client ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the client
                  mac:
                    type: string
                    description: The MAC address of the client
                  ip:
                    type: string
                    description: The IP address of the client
                  ip6:
                    type: string
                    description: The IPv6 address of the client
                  ip6Local:
                    type: string
[...]
