openapi: 3.2.0
info:
  title: Meraki Dashboard Appliance API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > [Recent Updates](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)

    '
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'appliance'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: appliance
paths:
  /devices/{serial}/appliance/dhcp/subnets:
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subnet:
                      type: string
                      description: Subnet
                    vlanId:
                      type: integer
                      description: VLAN ID
                    usedCount:
                      type: integer
                      description: Count of used IP addresses in subnet
                    freeCount:
                      type: integer
                      description: Count of free IP addresses in subnet
              example:
              - subnet: 192.168.1.0/24
                vlanId: 100
                usedCount: 2
                freeCount: 251
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return the DHCP subnet information for an appliance
      tags:
      - appliance
  /devices/{serial}/appliance/interfaces/ports/update:
    post:
      description: Update configurations for an appliance's specified port
      operationId: createDeviceApplianceInterfacesPortsUpdate
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                interface:
                  type: object
                  properties:
                    slot:
                      type:
                      - integer
                      - 'null'
                      description: The slot number for the port
                    subslot:
                      type:
                      - integer
                      - 'null'
                      description: The subslot number for the port
                    number:
                      type: integer
                      description: The leaf port number
                  description: The interface tuple used to identify the port
                enabled:
                  type: boolean
                  description: Indicates whether the port is enabled
                personality:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                      - lan
                      - wan
                      description: The type of interface, 'wan' or 'lan', the port is configured as
                    layer:
                      type: object
                      properties:
                        mode:
                          type: integer
                          enum:
                          - 2
                          - 3
                          description: The layer at which the port operates
                      description: Describes the port's layer configurability
                  description: Describes the port's configurability
                uplink:
                  type: object
                  properties:
                    type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cellular
                      - ethernet
                      description: Describes the uplink device
                  description: The port's settings when in WAN mode
                downlink:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                      - access
                      - trunk
                      description: Indicates whether the port is in 'trunk' or 'access' mode
                    sgt:
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Adaptive policy group ID that all traffic originating from this port is assigned to
                      description: Security Group Tag settings for this port
                    access:
                      type: object
                      properties:
                        vlan:
                          type: string
                          description: The VLAN for which this port will accept and pass traffic in 'access' mode. All untagged traffic will automatically be treated as if it belonged to this VLAN
                        policy:
                          type: object
                          properties:
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 802.1X
                              - MAC RADIUS
                              - hybrid
                              - open
                              description: The access policy that will be enforced by the 'access' VLAN
                          description: The access policy settings for this port
                      description: The port's settings when in 'access' mode
                    trunk:
                      type: object
                      properties:
                        nativeVlan:
                          type: string
                          description: The Native VLAN for the port. All untagged traffic that comes in on this port will be treated as if it belonged to this VLAN. This can also be set to 0 to drop untagged traffic.
                        allowedVlans:
                          type: array
                          items:
                            type: string
                          description: The VLANs for which this port will accept and pass traffic in 'trunk' mode. This must include the Native VLAN if one is set
                        sgt:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Indicates whether the trunk port is Peer SGT capable
                          description: Security Group Tag settings for this trunk port
                      description: The port's settings when in 'trunk' mode
                  description: The port's VLAN settings when in LAN mode
              example:
                interface:
                  slot: 1
                  subslot: 2
                  number: 3
                enabled: true
                personality:
                  mode: wan
                  layer:
                    mode: 3
                uplink:
                  type: ethernet
                downlink:
                  mode: access
                  sgt:
                    id: '1234'
                  access:
                    vlan: '1'
                    policy:
                      type: 802.1X
                  trunk:
                    nativeVlan: '2'
                    allowedVlans:
                    - '2'
                    - '3'
                    - '4'
                    - '5'
                    sgt:
                      enabled: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: string
                    description: A port's identifier as labeled on the device
                  interface:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The full interface identifier for this port
                      slot:
                        type:
                        - integer
                        - 'null'
                        description: The slot for this port
                      subslot:
                        type:
                        - integer
                        - 'null'
                        description: The subslot for this port
                      number:
                        type: integer
                        description: The leaf interface number for this port
                    description: The structured interface identifier for this port
                  enabled:
                    type: boolean
                    description: Indicates whether the port is enabled
                  name:
                    type: string
                    description: The name of the interface the port is mapped to
                  personality:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - lan
                        - wan
                        description: The type of interface, 'wan' or 'lan', the port is configured as
                      isFlexible:
                        type: boolean
                        description: Indicates whether the port interface type can convert between WAN and LAN
                      layer:
                        type: object
                        properties:
                          mode:
                            type: integer
                            enum:
                            - 2
                            - 3
                            description: The layer at which the port operates
                          isFlexible:
                            type: boolean
                            description: Whether the layer mode is mutable
                        description: Describes the port's layer configurability
                    description: Describes the port's configurability
                  uplink:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - cellular
                        - ethernet
                        description: Describes the uplink device
                      primary:
                        type: boolean
                        description: Indicates whether the uplink has the highest priority among the device's WAN ports
                    description: The port's settings when in WAN mode
                  downlink:
                    type: object
                    properties:
                      mode:
                        type: string
                        description: Indicates whether the port is in 'trunk' or 'access' mode
                      sgt:
                        type: object
                        properties:
                          id:
                            type:
                            - string
                            - 'null'
                            description: Adaptive policy group ID that all traffic originating from this port is assigned to
                        description: Security Group Tag settings for this port
                      access:
                        type: object
                        properties:
                          vlan:
                            type: string
                            description: The VLAN for which this port will accept and pass traffic in 'access' mode. All untagged traffic will automatically be treated as if it belonged to this VLAN
                          policy:
                            type: object
                            properties:
                              type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - 802.1X
                                - MAC RADIUS
                                - hybrid
                                - open
                                description: The access policy that will be enforced by the 'access' VLAN
                            description: The access policy settings for this port
                        description: The port's settings when in 'access' mode
                      trunk:
                        type: object
                        properties:
                          nativeVlan:
                            type: string
                            description: The Native VLAN for the port. All untagged traffic that comes in on this port will be treated as if it belonged to this VLAN. This can also be set to 0 to drop untagged traffic.
                          allowedVlans:
                            type: array
                            items:
                              type: string
                            description: The VLANs for which this port will accept and pass traffic in 'trunk' mode. This must include the Native VLAN if one is set
                          sgt:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Indicates whether the trunk port is Peer SGT capable
                            description: Security Group Tag settings for this trunk port
                        description: The port's settings when in 'trunk' mode
                    description: The port's VLAN settings when in LAN mode
              example:
                number: '1'
                interface:
                  name: GigabitEthernet1/2/3
                  slot: 1
                  subslot: 2
                  number: 3
                enabled: true
                name: wan1
                personality:
                  mode: wan
                  isFlexible: false
                  layer:
                    mode: 3
                    isFlexible: false
                uplink:
                  type: ethernet
                  primary: true
                downlink:
                  mode: access
                  sgt:
                    id: '1234'
                  access:
                    vlan: '1'
                    policy:
                      type: 802.1X
                  trunk:
                    nativeVlan: '2'
                    allowedVlans:
                    - '2'
                    - '3'
                    - '4'
                    - '5'
                    sgt:
                      enabled: false
      summary: Update configurations for an appliance's specified port
      tags:
      - appliance
  /devices/{serial}/appliance/performance:
    get:
      description: Return the performance score for a single Secure Appliance or Secure Router. Only primary Secure Appliance devices supported. If no data is available, a 204 error code is returned.
      operationId: getDeviceAppliancePerformance
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 30 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 14 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be greater than or equal to 30 minutes and be less than or equal to 14 days. The default is 30 minutes.
        schema:
          type: number
          format: float
          minimum: 1800
          maximum: 1209600
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  perfScore:
                    type: number
                    format: float
                    description: Utilization for the device
              example:
                perfScore: 10.0
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return the performance score for a single Secure Appliance or Secure Router
      tags:
      - appliance
  /devices/{serial}/appliance/prefixes/delegated:
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: getDeviceAppliancePrefixesDelegated
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    origin:
                      type: object
                      properties:
                        interface:
                          type: string
                          description: Uplink interface for this delegated prefix.
                      required:
                      - interface
                      description: Origin details for the delegated prefix.
                    prefix:
                      type: string
                      description: Delegated IPv6 prefix in CIDR notation.
                    counts:
                      type: object
                      properties:
                        assigned:
                          type: integer
                          description: Number of assigned VLAN prefixes.
                        available:
                          type: integer
                          description: Number of available VLAN prefixes.
                      required:
                      - assigned
                      - available
                      description: Usage counters for the delegated prefix.
                    method:
                      type: string
                      enum:
                      - auto
                      - manual
                      description: Delegation method.
                    staticDelegatedPrefixId:
                      type: string
                      description: Static delegated prefix id. Present when method is manual.
                    description:
                      type: string
                      description: Description for a manual delegated prefix.
                    isPreferred:
                      type: boolean
                      description: Whether this delegated prefix is preferred.
                    expiresAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: Expiration time of the delegated prefix.
                  required:
                  - prefix
                  - method
                  - isPreferred
              example:
              - origin:
                  interface: wan1
                prefix: 2001:db8:3c4d:15::/64
                counts:
                  assigned: 2
                  available: 253
                method: auto
                staticDelegatedPrefixId: 2001:db8:3c4d:15::/64
                description: My ISP provider
                isPreferred: true
                expiresAt: '2018-05-12T00:00:00Z'
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
      - appliance
  /devices/{serial}/appliance/prefixes/delegated/vlanAssignments:
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: getDeviceAppliancePrefixesDelegatedVlanAssignments
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    vlan:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: VLAN id.
                        name:
                          type: string
                          description: VLAN name.
                      required:
                      - id
                      - name
                      description: VLAN details for the prefix assignment.
                    origin:
                      type: object
                      properties:
                        interface:
                          type: string
                          description: Uplink interface origin.
                        prefix:
                          type:
                          - string
                          - 'null'
                          description: Delegated origin prefix.
                      required:
                      - interface
                      description: Delegated prefix origin for this VLAN assignment.
                    status:
                      type: string
                      enum:
                      - Active
                      - Expiring soon
                      - Not assigned
                      description: Current assignment status.
                    ipv6:
                      type: object
                      properties:
                        prefix:
                          type:
                          - string
                          - 'null'
                          description: Assigned IPv6 subnet prefix.
                        address:
                          type: string
                          description: IPv6 address assigned to the MX on the VLAN.
                        linkLocal:
                          type: object
                          properties:
                            address:
                              type:
                              - string
                              - 'null'
                              description: Link-local address.
                          description: IPv6 link-local address.
                        solicitedNodeMulticast:
                          type: object
                          properties:
                            address:
                              type:
                              - string
                              - 'null'
                              description: Solicited-node multicast address.
                          description: IPv6 solicited-node multicast address.
                      required:
                      - address
                      description: IPv6 assignment details for the VLAN.
                  required:
                  - status
              example:
              - vlan:
                  id: 100
                  name: My VLAN
                origin:
                  interface: wan1
                  prefix: 2001:db8:3c4d:15::/64
                status: Active
                ipv6:
                  prefix: 2001:db8:3c4d:15::/64
                  address: 2001:db8:3c4d:15::1
                  linkLocal:
                    address: 2001:db8:3c4d:15::1
                  solicitedNodeMulticast:
                    address: 2001:db8:3c4d:15::1
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
      - appliance
  /devices/{serial}/appliance/radio/settings:
    get:
      description: Return the radio settings of an appliance
      operationId: getDeviceApplianceRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 120
                        - 124
                        - 128
                        - 132
                        - 136
                        - 140
                        - 144
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                        - 169
                        - 173
                        - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                        - 0
                        - 20
                        - 40
                        - 80
                        - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      security:
      - oauth2:
        - sdwan:config:read
      summary: Return the radio settings of an appliance
      tags:
      - appliance
    put:
      description: Update the radio settings of an appliance
      operationId: updateDeviceApplianceRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rfProfileId:
                  type:
                  - string
                  - 'null'
                  description: The ID of an RF profile to assign to the device. If the value of this parameter is null, the appropriate basic RF profile (indoor or outdoor) will be assigned to the device. Assigning an RF profile will clear ALL manually configured overrides on the device (channel width, channel, power).
                twoFourGhzSettings:
                  type: object
                  properties:
                    channel:
                      type:
                      - integer
                      - 'null'
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      description: Sets a manual channel for 2.4 GHz. Can be '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13' or '14' or null for using auto channel.
                    targetPower:
                      type:
                      - integer
                      - 'null'
                      description: Set a manual target power for 2.4 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 2.4 GHz.
                fiveGhzSettings:
                  type: object
                  properties:
                    channel:
                      type:
                      - integer
                      - 'null'
                      enum:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      description: Sets a manual channel for 5 GHz. Can be '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161', '165', '169', '173' or '177' or null for using auto channel.
                    channelWidth:
                      type:
                      - integer
                      - 'null'
                      enum:
                      - 0
                      - 20
                      - 40
                      - 80
                      - 160
                      description: Sets a manual channel width for 5 GHz. Can be '0', '20', '40', '80' or '160' or null for using auto channel width.
                    targetPower:
                      type:
                      - integer
                      - 'null'
                      description: Set a manual target power for 5 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 5 GHz.
              example:
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 120
                        - 124
                        - 128
                        - 132
                        - 136
                        - 140
                        - 144
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                        - 169
                        - 173
                        - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                        - 0
                        - 20
                        - 40
                        - 80
                        - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update the radio settings of an appliance
      tags:
      - appliance
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for a secure router or security appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      security:
      - oauth2:
        - sdwan:config:read
      summary: Return the uplink settings for a secure router or security appliance
      tags:
      - appliance
    put:
      description: Update the uplink settings for a secure router or security appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                interfaces:
                  type: object
                  properties:
                    wan1:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 1 settings.
                    wan2:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 2 settings.
                  description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
              required:
              - interfaces
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update the uplink settings for a secure router or security appliance
      tags:
      - appliance
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The newly generated authentication token for the vMX instance
                  expiresAt:
                    type: string
                    description: The expiration time for the token, in ISO 8601 format
              example:
                token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
                expiresAt: '2021-06-18T12:40:10Z'
      security:
      - oauth2:
        - sdwan:config:write
      summary: Generate a new vMX authentication token
      tags:
      - appliance
  /networks/{networkId}/appliance/clients/{clientId}/security/events:
    get:
      description: List the security events for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      operationId: getNetworkApplianceClientSecurityEvents
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: clientId
        in: path
        description: Client ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. Data is gathered after the specified t0 value. The maximum lookback period is 791 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 791 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 31 days.
        schema:
          type: number
          format: float
          maximum: 68342400
      - name: perPage
        in: query
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 100.
        schema:
          type: integer
      - name: startingAfter
        in: query
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: endingBefore
        in: query
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
        schema:
          type: string
      - name: sortOrder
        in: query
        description: Sorted order of security events based on event detection time. Order options are 'ascending' or 'descending'. Default is ascending order.
        schema:
          type: string
          enum:
          - ascending
          - descending
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
              example:
              - ts: '2018-02-11T00:00:00.090210Z'
                eventType: File Scanned
                clientName: COMPUTER-M-V78J
                clientMac: 10:dd:b1:eb:88:f8
                clientIp: 192.168.128.2
                srcIp: 192.168.128.2
                destIp: 119.192.233.48
                protocol: http
                uri: http://www.favorite-icons.com/program/FavoriteIconsUninstall.exe
                canonicalName: PUA.Win.Dropper.Kraddare::1201
                destinationPort: 80
                fileHash: 3ec1b9a95fe62aa25fc959643a0f227b76d253094681934daaf628d3574b3463
                fileType: MS_EXE
                fileSizeBytes: 193688
                disposition: Malicious
                action: Blocked
              - ts: '2018-02-11T00:00:00.090210Z'
                eventType: IDS Alert
                deviceMac: 00:18:0a:01:02:03
                clientMac: A1:B2:C3:D4:E5:F6
                srcIp: 1.2.3.4:34195
                destIp: 10.20.30.40:80
                protocol: tcp/ip
                priority: '2'
                classification: '4'
                blocked: true
                message: SERVER-WEBAPP JBoss JMX console access attempt
                signature: 1:21516:9
                sigSource: ''
                ruleId: meraki:intrusion/snort/GID/1/SID/26267
              - ts: '2018-02-11T00:00:00.090210Z'
                eventType: TLS Decrypt Alert
                deviceMac: 00:18:0a:01:02:03
                clientName: COMPUTER-M-V78J
                clientIp: 192.168.128.2
                srcIp: 192.168.128.2:51528
                destIp: 119.192.233.48:443
                protocol: tcp
                sourcePort: 51528
                destinationPort: 443
                message: Connection to destination failed to be decrypted
                errorCode: 0
                serverName: www.example.com
                direction: 2
                nbarApplication: web-browsing
          headers:
            Link:
              schema:
                type: string
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: List the security events for a client
      tags:
      - appliance
  /networks/{networkId}/appliance/connectivityMonitoringDestinations:
    get:
      description: Return the connectivity testing destinations for an MX network
      operationId: getNetworkApplianceConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Return the connectivity testing destinations for an MX network
      tags:
      - appliance
    put:
      description: Update the connectivity testing destinations for an MX network
      operationId: updateNetworkApplianceConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destinations:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                        description: The IP address to test connectivity with
                      description:
                        type:
                        - string
                        - 'null'
                        description: Description of the testing destination. Optional, defaults to null
                      default:
                        type: boolean
                        description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    required:
                    - ip
                  description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      security:
      - oauth2:
        - sdwan:telemetry:write
      summary: Update the connectivity testing destinations for an MX network
      tags:
      - appliance
  /networks/{networkId}/appliance/contentFiltering:
    get:
      description: Return the content filtering settings for an MX network
      operationId: getNetworkApplianceContentFiltering
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedUrlPatterns:
                    type: array
                    items:
                      type: string
                    description: A list of URL patterns that are allowed
                  blockedUrlPatterns:
                    type: array
                    items:
                      type: string
                    description: A list of URL patterns that are blocked
                  blockedUrlCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The identifier of the content filtering category
                        name:
                          type: string
                          description: The name of the content filtering category
                    description: A list of URL categories to block
                  urlCategoryListSize:
                    type: string
                    enum:
                    - fullList
                    - topSites
                    description: URL category list size which is either 'topSites' or 'fullList'
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
                urlCategoryListSize: topSites
      security:
      - oauth2:
        - sdwan:config:read
      summary: Return the content filtering settings for an MX network
      tags:
      - appliance
    put:
      description: Update the content filtering settings for an MX network
      operationId: updateNetworkApplianceContentFiltering
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allowedUrlPatterns:
                  type: array
                  items:
                    type: string
                  description: A list of URL patterns that are allowed
                blockedUrlPatterns:
                  type: array
                  items:
                    type: string
                  description: A list of URL patterns that are blocked
                blockedUrlCategories:
                  type: array
                  items:
                    type: string
                  description: A list of URL categories to block
                urlCategoryListSize:
                  type: string
                  enum:
                  - fullList
                  - topSites
                  description: URL category list size which is either 'topSites' or 'fullList'
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - meraki:contentFiltering/category/1
                - meraki:contentFiltering/category/7
                urlCategoryListSize: topSites
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedUrlPatterns:
                    type: array
                    items:
                      type: string
                    description: A list of URL patterns that are allowed
                  blockedUrlPatterns:
                    type: array
                    items:
                      type: string
                    description: A list of URL patterns that are blocked
                  blockedUrlCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The identifier of the content filtering category
                        name:
                          type: string
                          description: The name of the content filtering category
                    description: A list of URL categories to block
                  urlCategoryListSize:
                    type: string
                    enum:
                    - fullList
                    - topSites
                    description: URL category list size which is either 'topSites' or 'fullList'
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
                urlCategoryListSize: topSites
      security:
      - oauth2:
        - sdwan:config:write
      summary: Update the content filtering settings for an MX network
      tags:
      - appliance
  /networks/{networkId}/appliance/contentFiltering/categories:
    get:
      description: List all available content filtering categories for an MX network
      operationId: getNetworkApplianceContentFilteringCategories
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Category identifier
                        name:
                          type: string
                          description: Category name
                    description: Available content filtering categories
              example:
                categories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
      security:
      - oauth2:
        - sdwan:config:read
      summary: List all available content filtering categories for an MX network
      tags:
      - appliance
  /networks/{networkId}/appliance/devices/redundancy:
    put:
      description: Update MX warm spare settings
      operationId: updateNetworkApplianceDevicesRedundancy
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enable warm spare
                mode:
                  type: string
                  enum:
                  - active-active
                  - active-passive
                  - disabled
                  description: HA mode (disabled|active-passive|active-active)
                designations:
                  type: array
                  items:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Appliance serial
                      priority:
                        type: integer
                        description: Role priority (1=primary, 2=spare)
                  description: Ordered warm spare roles
                uplink:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                      - public
                      - virtual
                      description: Uplink mode (public|virtual)
                    interfaces:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Interface name (wan1, wan2, ...)
                          addresses:
                            type: array
                            items:
                              type: object
                              properties:
                                address:
                                  type: string
                                  description: Virtual IP
                                subnet:
                                  type: string
                                  description: Subnet for the VIP (optional)
                            description: Interface VIP addresses
                      description: Interfaces to configure
                    sharing:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable uplink sharing
                        vlanId:
                          type:
                          - string
                          - 'null'
                          description: Uplink sharing VLAN ID
                        byInterface:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Interface name (wan1, wan2, ...)
                              parent:
                                type: string
                                description: Parent appliance role (primary|secondary)
                          description: Per-interface sharing configuration
                      description: HA uplink sharing properties
                  description: Uplink configuration
              example:
                enabled: true
                mode: active-active
                designations:
                - serial: Q234-ABCD-5678
                  priority: 1
                uplink:
                  mode: virtual
                  interfaces:
                  - name: wan1
                    addresses:
                    - address: 1.2.3.4
                      subnet: 192.168.1.0/24
                  sharing:
                    enabled: true
                    vlanId: '100'
                    byInterface:
                    - name: wan1
                      parent: primary
              required:
              - enabled
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  networkId:
                    type: string
                    description: Dashboard network ID
                  name:
                    type: string
                    description: Dashboard network name
                  enabled:
                    type: boolean
                    description: Is warm spare enabled
                  mode:
                    type: string
                    enum:
                    - active-active
                    - active-passive
                    - disabled
                    description: HA mode (disabled|active-passive|active-active)
                  designations:
                    type: array
                    items:
                      type: object
                      properties:
                        serial:
                          type: string
                          description: Appliance serial
                        priority:
                          type: integer
                          description: Role priority (1=primary)
                    description: Ordered HA roles (1=primary, 2=spare)
                  uplink:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - public
                        - virtual
                        description: Uplink mode (public|virtual)
                      interfaces:
                        type: array
                        items:
                          type: object
[...]
