openapi: 3.2.0
info:
  title: Meraki Integrated API for Secure Connect Reports API
  description: "The Cisco Meraki Integrated API for Secure Connect is a modern REST API based on the OpenAPI specification.\n  ---\n\n  [API Documentation](https://meraki.io/api)\n\n  [Meraki Homepage](https://www.meraki.com)\n"
  version: 1.8.0
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
    derived_view: Per-first-tag view of the source document, tag 'Reports'. Operations and schemas are the provider's, unmodified.
  x-evidence:
  - type: source
    url: https://github.com/meraki/secure-connect-openapi/blob/main/secure_connect_oas_beta.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/secure-connect-openapi/main/secure_connect_oas_beta.json
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/secureConnect/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Reports
paths:
  /organizations/{organizationId}/reports/activity:
    get:
      tags:
      - Reports
      summary: Get Activities (All)
      description: 'List all activities (dns/proxy/firewall/intrusion) within the timeframe.

        **Note:** The IP activity report is not available.


        **Access Scope:** Reports > Granular Events > Read-Only'
      operationId: getActivities
      security:
      - meraki_api_key: []
      parameters:
      - name: organizationId
        in: path
        description: Organization ID associated with this resource.
        required: true
        schema:
          type: integer
      - name: from
        in: query
        description: 'A timestamp or relative time string (for example: ''-1days'').

          Filter for data that appears after this time.'
        required: true
        schema:
          type: string
        example: '1639146300000'
      - name: to
        in: query
        description: 'A timestamp or relative time string (for example: ''now'').

          Filter for data that appears before this time.'
        required: true
        schema:
          type: string
        example: '1640010300000'
      - name: offset
        in: query
        description: A number that represents an index in the collection.
        schema:
          type: number
          default: 0
        example: 0
      - name: limit
        in: query
        description: The maximum number of records to return from the collection.
        required: true
        schema:
          type: number
          default: 100
        example: 100
      - name: domains
        in: query
        description: A domain name or comma-delimited list of domain name.
        schema:
          type: string
        example: cisco.com,nasa.gov
      - name: urls
        in: query
        description: A URL or comma-delimited list of URL.
        schema:
          type: string
        example: https://google.com,facebook.com/help
      - name: categories
        in: query
        description: A category ID or comma-delimited list of category ID.
        schema:
          type: string
        example: 148,151,66
      - name: policycategories
        in: query
        description: 'A category ID or comma-delimited list of category ID.

          Filter the request by the categories that trigger a policy.'
        schema:
          type: string
        example: 67,69
      - name: ip
        in: query
        description: An IP address.
        schema:
          type: string
        example: 10.10.10.10
      - name: ports
        in: query
        description: A port number or comma-delimited list of port numbers.
        schema:
          type: string
        example: 7351,80
      - name: identityids
        in: query
        description: An identity ID or comma-delimited list of identity IDs.
        schema:
          type: string
        example: 1,2,3
      - name: identitytypes
        in: query
        description: An identity type or comma-delimited list of identity types.
        schema:
          type: string
        example: network,roaming
      - name: applicationid
        in: query
        description: The ID of the application.
        schema:
          type: string
        example: '1'
      - name: verdict
        in: query
        description: A string or comma-delimited string that describes whether the traffic can reach the destination.
        schema:
          type: string
        example: allowed,blocked,proxied
      - name: ruleid
        in: query
        description: The firewall policy rule ID.
        schema:
          type: number
        example: 1
      - name: filename
        in: query
        description: 'A string that identifies a filename. Filter the request by the filename.

          Supports globbing or use of the wildcard character (''*''). The asterisk (*) matches

          zero or more occurrences of any character.'
        schema:
          type: string
        example: myfilename_*
      - name: securityoverridden
        in: query
        description: Specify whether to filter on requests that override security.
        schema:
          type: boolean
        example: true
      - name: bundleid
        in: query
        description: A proxy bundle ID.
        schema:
          type: number
        example: 1
      - name: threats
        in: query
        description: A threat name or comma-delimited list of threat names.
        schema:
          type: string
      - name: threattypes
        in: query
        description: A threat type or comma-delimited list of threat types.
        schema:
          type: string
      - name: ampdisposition
        in: query
        description: An AMP disposition string or a comma-delimited list of AMP disposition strings.
        schema:
          type: string
        example: clean,malicious,unknown
      - name: antivirusthreats
        in: query
        description: A threat name or comma-delimited list of threat names.
        schema:
          type: string
        example: Trojan.Linux.Generic.144075
      - name: x-traffic-type
        in: header
        description: 'A string or comma-delimited list of strings that describes the type of traffic.

          If the header is not set, the default value is `all`. Valid values are: `dns`, `proxy`, `firewall`, and `ip`.'
        schema:
          type: string
        example: dns,proxy,firewall,ip
      - name: isolatedstate
        in: query
        description: A string that describes the remote browser isolation (RBI) isolation type.
        schema:
          type: string
          enum:
          - isolated
          - not-isolated
        example: isolated
      - name: isolatedFileAction
        in: query
        description: A string that describes the remote browser isolation (RBI) file action type.
        schema:
          type: string
          enum:
          - viewed
          - downloaded-original-file
          - downloaded-safe-pdf
        example: downloaded-safe-pdf
      - name: datalosspreventionstate
        in: query
        description: 'A string that describes the status of a destination.

          Filter for requests that are blocked by the DLP layer security.'
        schema:
          type: string
          enum:
          - blocked
        example: blocked
      - name: filternoisydomains
        in: query
        description: Filter out domains that generate a lot of insignificant traffic (noise).
        schema:
          type: boolean
        example: true
      - name: httperrors
        in: query
        description: Filter data for requests that resulted in a TLS error or a certificate error.
        schema:
          type: string
          enum:
          - certificateerror
          - tlserror
        example: certificateerror
      - name: exists
        in: query
        description: 'Specify an attribute or comma-separated list of attributes to filter the data.

          Valid values are: `categories`, `policycategories`, `applicationid`,

          `nbarapplicationid`, `nbarapplicationtypeids`, `privateapplicationid`, `applicationgroupids`,

          `sha256`, `filename`, `threats`, `threattypes`, `antivirusthreats`, `destinationlistids`, and `httperrors`.'
        schema:
          type: string
        example: destinationlistids,threattypes
      - name: timezone
        in: query
        description: 'Display the timestamp of the traffic events in the specified timezone.

          For the timezone, provide a continent and city separated by an url-encoded forward slash (''/''), for example: timezone=''ASIA%2fCALCUTTA''.'
        schema:
          type: string
        example: ASIA%2fCALCUTTA
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        description: The information about the DNS activity.
                        properties:
                          externalip:
                            type: string
                            description: The external IP for the entry.
                          internalip:
                            type: string
                            description: The internal IP for the entry.
                          policycategories:
                            type: array
                            description: The list of the policy categories.
                            items:
                              type: object
                              description: The properties of the category.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the category.
                                label:
                                  type: string
                                  description: The descriptive label for the category.
                                type:
                                  type: string
                                  description: The type of the category.
                                integration:
                                  type: boolean
                                  description: Specifies whether the category is an integration.
                                  example: true
                                deprecated:
                                  type: boolean
                                  description: Specifies whether the category is a legacy category.
                                  example: true
                          categories:
                            type: array
                            description: The list of categories.
                            items:
                              type: object
                              description: The properties of the category.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the category.
                                label:
                                  type: string
                                  description: The descriptive label for the category.
                                type:
                                  type: string
                                  description: The type of the category.
                                integration:
                                  type: boolean
                                  description: Specifies whether the category is an integration.
                                  example: true
                                deprecated:
                                  type: boolean
                                  description: Specifies whether the category is a legacy category.
                                  example: true
                          verdict:
                            type: string
                            description: The verdict for the entry.
                            enum:
                            - allowed
                            - blocked
                            example: allowed
                          domain:
                            type: string
                            description: The domain name for the entry.
                          timestamp:
                            type: number
                            description: The timestamp represented in milliseconds.
                            example: 1594557263000
                          identities:
                            type: array
                            description: The list of identities for the entry.
                            items:
                              type: object
                              description: The information about the identity.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the identity.
                                label:
                                  type: string
                                  description: The descriptive label for the identity.
                                type:
                                  type: object
                                  description: The information about the identity including the type.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the origin type for the identity.
                                    label:
                                      type: string
                                      description: The label of the origin type for the identity.
                                    type:
                                      type: string
                                      description: The name of the origin type for the identity.
                                deleted:
                                  type: boolean
                                  description: Indicates whether the identity was deleted.
                                  example: true
                              required:
                              - id
                              - label
                              - type
                              - deleted
                              example:
                                id: 1
                                label: Catch Rate Testing System
                                type:
                                  id: 21
                                  label: Sites
                                  type: site
                                deleted: false
                          allapplications:
                            type: array
                            description: The list of all applications for the entry.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                          threats:
                            type: array
                            description: The list of threats for the entry.
                            items:
                              type: object
                              description: The information about the threat.
                              properties:
                                label:
                                  type: string
                                  description: The descriptive label for the threat name.
                                type:
                                  type: string
                                  description: The type of the threat.
                          type:
                            type: string
                            description: The type of the request. A DNS request always has the type dns.
                            enum:
                            - dns
                            example: dns
                          querytype:
                            type: string
                            description: 'The type of DNS request that was made. For more information,

                              see Common DNS Request Types.'
                          date:
                            type: string
                            description: The date from the timestamp based on the timezone parameter.
                            example: '2020-07-12'
                          time:
                            type: string
                            description: The time in 24-hour format based on the timezone parameter.
                            example: '12:34'
                          returncode:
                            type: number
                            description: 'The DNS return code for this request.

                              For more information, see Common DNS return codes for any

                              DNS service (and Umbrella).'
                          allowedapplications:
                            type: array
                            description: The list of allowed applications.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                          blockedapplications:
                            type: array
                            description: The list of blocked applications.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                        required:
                        - allapplications
                        - allowedapplications
                        - blockedapplications
                        - categories
                        - date
                        - domain
                        - externalip
                        - identities
                        - internalip
                        - policycategories
                        - querytype
                        - returncode
                        - threats
                        - time
                        - timestamp
                        - type
                        - verdict
                        example:
                          externalip: 52.8.160.247
                          internalip: 52.8.160.247
                          policycategories:
                          - id: 66
                            label: Malware
                            type: security
                            integration: true
                          categories:
                          - id: 66
                            label: Malware
                            type: security
                            integration: true
                          verdict: allowed
                          domain: google.com
                          timestamp: 1548311506000
                          time: 06:31:46
                          date: '2019-01-24'
                          identities:
                          - id: 1
                            label: Catch Rate Testing System
                            type:
                              id: 21
                              label: Sites
                              type: site
                            deleted: true
                          threats:
                          - label: Wannacry
                            type: Ransomware
                          allapplications:
                          - id: 1
                            label: label
                            type: NBAR
                            category:
                              id: 1
                              label: category
                          allowedapplications:
                          - id: 1
                            label: label
                            type: NBAR
                            category:
                              id: 1
                              label: category
                          querytype: MX
                          returncode: 2
                          blockedapplications: []
                          type: dns
                      - type: object
                        description: The information about the firewall activity.
                        properties:
                          date:
                            type: string
                            description: The date from the timestamp based on the timezone parameter.
                            example: '2020-07-12'
                          destinationip:
                            type: string
                            description: The destination IP for the entry.
                            example: 12.10.10.10
                          sourceip:
                            type: string
                            description: The source IP for the entry.
                            example: 10.11.10.10
                          sourceport:
                            type: number
                            description: The source port for the entry.
                            example: 3000
                          destinationport:
                            type: number
                            description: The destination port for entry.
                            example: 89
                          categories:
                            type: array
                            description: The list of categories.
                            items:
                              type: object
                              description: The properties of the category.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the category.
                                label:
                                  type: string
                                  description: The descriptive label for the category.
                                type:
                                  type: string
                                  description: The type of the category.
                                integration:
                                  type: boolean
                                  description: Specifies whether the category is an integration.
                                  example: true
                                deprecated:
                                  type: boolean
                                  description: Specifies whether the category is a legacy category.
                                  example: true
                          verdict:
                            type: string
                            description: The verdict for the entry.
                            enum:
                            - allowed
                            - blocked
                            example: allowed
                          time:
                            type: string
                            description: The time in 24-hour format based on the timezone parameter.
                            example: '12:34'
                          timestamp:
                            type: number
                            description: The timestamp represented in milliseconds.
                            example: 1594557263000
                          identities:
                            type: array
                            description: The list of identities for the entry.
                            items:
                              type: object
                              description: The information about the identity.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the identity.
                                label:
                                  type: string
                                  description: The descriptive label for the identity.
                                type:
                                  type: object
                                  description: The information about the identity including the type.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the origin type for the identity.
                                    label:
                                      type: string
                                      description: The label of the origin type for the identity.
                                    type:
                                      type: string
                                      description: The name of the origin type for the identity.
                                deleted:
                                  type: boolean
                                  description: Indicates whether the identity was deleted.
                                  example: true
                              required:
                              - id
                              - label
                              - type
                              - deleted
                              example:
                                id: 1
                                label: Catch Rate Testing System
                                type:
                                  id: 21
                                  label: Sites
                                  type: site
                                deleted: false
                          protocol:
                            type: object
                            description: The properties of the protocol.
                            properties:
                              id:
                                type: number
                                description: The ID of protocol.
                              label:
                                type: string
                                description: The name of the protocol.
                            required:
                            - id
                            - label
                          rule:
                            type: object
                            description: The properties of the firewall rule.
                            properties:
                              id:
                                type: number
                                description: The ID of the rule.
                              label:
                                type: string
                                description: The name of the rule.
                              privateapplicationgroup:
                                type: object
                                description: The private application group.
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                    description: The ID of application group.
                                  label:
                                    type:
                                    - string
                                    - 'null'
                                    description: The name of the application group.
                            required:
                            - id
                            - label
                          type:
                            type: string
                            description: The type of the request. A firewall request always has type firewall.
                            example: firewall
                          allapplications:
                            type: array
                            description: A list of firewall applications
                            items:
                              type: object
                              description: The information about the applications managed by the firewall.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application or protocol.
                                label:
                                  type: string
                                  description: The descriptive label for the application or protocol.
                                app:
                                  type: string
                                  description: The information about the app type.
                                  example: IT Service Management (string) - application/protocol type
                          applicationprotocols:
                            type: array
                            description: A list of firewall application protocols.
                            items:
                              type: object
                              description: The information about the applications managed by the firewall.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application or protocol.
                                label:
                                  type: string
                                  description: The descriptive label for the application or protocol.
                                app:
                                  type: string
                                  description: The information about the app type.
                                  example: IT Service Management (string) - application/protocol type
                          direction:
                            type: string
                            description: The direction of the packet. It is destined either towards the internet or to the customer's network.
                          packetsize:
                            type: number
                            description: The size of the packet that was received.
                        required:
                        - allapplications
                        - applicationprotocols
                        - date
                        - destinationip
                        - destinationport
                        - direction
                        - identities
                        - packetsize
                        - protocol
                        - rule
                        - sourceip
                        - sourceport
                        - time
                        - timestamp
                        - type
                        - verdict
                        example:
                          date: ''
                          destinationip: 52.8.160.247
                          sourceip: 192.168.0.1
                          sourceport: 0
                          destinationport: 0
                          direction: toward
                          categories:
                          - id: 66
                            label: Malware
                            type: security
                            integration: true
                          verdict: allowed
                          time: '12:34'
                          timestamp: 1548311506000
                          packetsize: 32
                          identities:
                          - id: 1
                            label: Catch Rate Testing System
                            type:
                              id: 21
                              label: Sites
                              type: site
                            deleted: false
                          protocol:
                            id: 17
                            label: UDP
                          rule:
                            id: 1
                            label: Default Rule
                          type: firewall
                          allapplications:
                          - id: 72
                            label: dns IT Service Management
                            app: ''
                          applicationprotocols:
                          - id: 72
                            label: dns IT Service Management
                            app: ''
                      - type: object
                        description: The information about the intrusion activity.
                        properties:
                          classification:
                            type: string
                            description: The category of attack detected by a rule that is part of a more general type of attack class, such as trojan-activity, attempted-user, and unknown.
                            example: trojan-activity
                          date:
                            type: string
                            description: The date from the timestamp based on the timezone parameter.
                            example: '2020-07-12'
                          destinationip:
                            type: string
                            description: The destination IP for the entry.
                            example: 12.10.10.10
                          destinationport:
                            type: number
                            description: The destination port for entry.
                            example: 89
                          identities:
                            type: array
                            description: The list of identities for the entry.
                            items:
                              type: object
                              description: The information about the identity.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the identity.
                                label:
                                  type: string
                                  description: The descriptive label for the identity.
                                type:
                                  type: object
                                  description: The information about the identity including the type.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the origin type for the identity.
                                    label:
                                      type: string
                                      description: The label of the origin type for the identity.
                                    type:
                                      type: string
                                      description: The name of the origin type for the identity.
                                deleted:
                                  type: boolean
                                  description: Indicates whether the identity was deleted.
                                  example: true
                              required:
                              - id
                              - label
                              - type
                              - deleted
                              example:
                                id: 1
                                label: Catch Rate Testing System
                                type:
                                  id: 21
                                  label: Sites
                                  type: site
                                deleted: false
                          protocol:
                            type: object
                            description: The properties of the protocol.
                            properties:
                              id:
                                type: number
                                description: The ID of protocol.
                              label:
                                type: string
                                description: The name of the protocol.
                            required:
                            - id
                            - label
                          sessionid:
                            type: number
                            description: The unique identifier of a session, which is used to group the correlated events between various services.
                            example: 7878797
                          severity:
                            type: string
                            description: The severity level of the rule.
                            enum:
                            - HIGH
                            - MEDIUM
                            - LOW
                            - VERY LOW
                            example: HIGH
                          signature:
                            type: object
                            description: The properties of the signature.
                            properties:
                              generatorid:
                                type: number
                                description: The unique ID that is assigned to the part of the IPS, which generated the event.
                              id:
                                type: number
                                description: The ID that is used to uniquely identify signatures.
                              label:
                                type: string
                                description: A descriptive label for the the signature.
                              cves:
                                type: array
                                description: The list of common vulnerabilites and exposures (CVEs).
                                items:
                                  type: string
                                  description: An identifier for a known security vulnerability/exposure.
                                  example: cve-2015-0279
                            required:
                            - generatorid
                            - id
                            - label
                            - cves
                            example:
                              generatorid: 148
                              id: 2
                              label: (cip) CIP data is non-conforming to ODVA standard
                              cves:
                              - cve-2015-0279
                          signaturelist:
                            type: object
                            description: The properties of the signature list.
                            properties:
                              id:
                                type: number
                                description: The unique ID assigned to a default or custom signature list.
                            required:
                            - id
                            example:
                              id: 1112
                          sourceip:
                            type: string
                            description: The source IP for the entry.
                            example: 10.11.10.10
                          sourceport:
                            type: number
                            description: The source port for the entry.
                            example: 3000
                          time:
                            type: string
                            description: The time in 24-hour format based on the timezone parameter.
                            example: '12:34'
                          timestamp:
                            type: number
                            description: The timestamp represented in milliseconds.
                            example: 1594557263000
                          type:
                            type: string
                            description: The type of the request. An intrusion request always has type intrusion.
                            example: intrusion
                          verdict:
                            type: string
                            description: The verdict for the entry.
                            enum:
                            - detected
                            example: detected
                        required:
                        - classification
                        - date
                        - destinationip
                        - destinationport
                        - identities
                        - protocol
                        - sessionid
                        - severity
                        - signature
                        - signaturelist
                        - sourceip
                        - sourceport
                        - time
                        - timestamp
                        - type
                        - verdict
                        example:
                          type: intrusion
                          date: 12-02-22
                          destinationip: 10.10.10.10
                          protocol:
                            id: 17
                            label: UDP
                          sourceip: 10.10.10.10
                          signaturelist:
                            id: 1111
                          classification: malicious
                          sourceport: 22
                          sessionid: 190898098
                          verdict: detected
                          destinationport: 33
                          timestamp: 1594557262000
                          time: 09:30
                          identities:
                          - id: 211034846
                            type:
                              id: 34
                              type: anyconnect
                              label: Anyconnect Roaming Client
                            label: omerta
                            deleted: false
                          severity: HIGH
                          signature:
                            generatorid: 1
                            id: 47829
                            label: SERVER-OTHER JBoss Richfaces expression language injection attempt
                            cves:
                            - cve-2015-0279
                            - cve-2018-12532
                      - type: object
                        description: The activity of the proxy.
                        properties:
                          externalip:
                            type: string
                            description: The external IP for the entry.
                          internalip:
                            type: string
                            description: The internal IP for the entry.
                          policycategories:
                            type: array
                            description: The list of policy categories.
                            items:
                              type: object
                              description: The properties of the category.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the category.
                                label:
                                  type: string
                                  description: The descriptive label for the category.
                                type:
                                  type: string
                                  description: The type of the category.
                                integration:
                                  type: boolean
                                  description: Specifies whether the category is an integration.
                                  example: true
                                deprecated:
                                  type: boolean
                                  description: Specifies whether the category is a legacy category.
                                  example: true
                          categories:
                            type: array
                            description: The list of categories.
                            items:
                              type: object
                              description: The properties of the category.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the category.
                                label:
                                  type: string
                                  description: The descriptive label for the category.
                                type:
                                  type: string
                                  description: The type of the category.
                                integration:
                                  type: boolean
                                  description: Specifies whether the category is an integration.
                                  example: true
                                deprecated:
                                  type: boolean
                                  description: Specifies whether the category is a legacy category.
                                  example: true
                          verdict:
                            type: string
                            description: The verdict for the entry.
                            enum:
                            - allowed
                            - blocked
                            example: allowed
                          timestamp:
                            type: number
                            description: The timestamp represented in milliseconds.
                            example: 1594557263000
                          identities:
                            type: array
                            description: The list of identities for the entry.
                            items:
                              type: object
                              description: The information about the identity.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the identity.
                                label:
                                  type: string
                                  description: The descriptive label for the identity.
                                type:
                                  type: object
                                  description: The information about the identity including the type.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the origin type for the identity.
                                    label:
                                      type: string
                                      description: The label of the origin type for the identity.
                                    type:
                                      type: string
                                      description: The name of the origin type for the identity.
                                deleted:
                                  type: boolean
                                  description: Indicates whether the identity was deleted.
                                  example: true
                              required:
                              - id
                              - label
                              - type
                              - deleted
                              example:
                                id: 1
                                label: Catch Rate Testing System
                                type:
                                  id: 21
                                  label: Sites
                                  type: site
                                deleted: false
                          allapplications:
                            type: array
                            description: The list of applications for the entry.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                          allowedapplications:
                            type: array
                            description: The list of allowed applications for the entry.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                          blockedapplications:
                            type: array
                            description: The list of blocked applications for the entry.
                            items:
                              type: object
                              description: The information about the application.
                              properties:
                                id:
                                  type: number
                                  description: The ID of the application.
                                label:
                                  type: string
                                  description: The descriptive label for the application.
                                type:
                                  type: string
                                  description: 'The type of the application: NBAR or AVC.'
                                  enum:
                                  - NBAR
                                  - AVC
                                  example: AVC
                                category:
                                  type: object
                                  description: The category of the application.
                                  properties:
                                    id:
                                      type: number
                                      description: The ID of the application category.
                                    label:
                                      type: string
                                      description: The label of the application category.
                              example:
                                id: 1
                                label: malware
                                type: AVC
                                category:
                                  id: 2
                                  label: Education
                          responsefilename:
                            type: string
                            description: The response filename for the entry.
                          blockedfiletype:
                            type: string
                            description: The blocked file type for the entry.
                          bundleid:
                            type: number
                            description: The ID of the bundle type.
                          amp:
                            type: object
                            description: The properties of the AMP disposition and score for the malware.
                            properties:
                              score:
                                type: number
                                description: The AMP score.
                              disposition:
                                type: string
                                description: The AMP disposition.
                              malware:
                                type: string
                                description: The AMP malware.
                            required:
                            - disposition
                            - malware
                            - score
                          type:
                            type: string
                            description: The type of the request. A proxy request is always of type 'proxy'.
                          tenantcontrols:
                            type: boolean
                            description: Specifies whether the request is part of a tenant control policy.
                          port:
                            type:
                            - number
                            - 'null'
                            description: The port used to make the request.
                          antivirusthreats:
                            type: object
                            description: The information about the antivirus threats.
                            properties:
                              puas:
                                type: array
                                description: The list of potentially unwanted applications.
                                items:
                                  type: object
                              viruses:
                                type: array
                                description: The list of viruses.
                                items:
                                  type: string
                              others:
                                type: array
                                description: The list of other antivirus threats.
                                items:
                                  type: object
                            required:
                            - others
                            - puas
                            - viruses
                          policy:
                            type: object
                            description: The properties of the rules in the policy.
                            required:
                            - destinationlistids
                            - ruleid
                            - rulesetid
                            - timebasedrule
                            properties:
                              timebasedrule:
                                type: boolean
                                description: Specify whether the policy triggered a time-of-day rule.
                              destinationlistids:
                                type: array
                                description: The list of destination lists that the rules triggered.
                                items:
                                  type: number
                              ruleid:
                                type:
                                - number
                                - 'null'
                                description: The ID of the rule in the policy.
                              rulesetid:
                                type:
                                - number
                                - 'null'
                                description: The ID of the ruleset in the policy.
                          requestmethod:
                            type: string
                            description: The HTTP request method.
                            example: GET
                          responsesize:
                            type: number
                            description: The response size in bytes.
                          requestsize:
                            type: number
                            description: The response size in bytes.
                          statuscode:
                            type: number
                            description: The HTTP status code (`200` or `201`).
                            enum:
                            - 200
                            - 201
                            example: 200
                          useragent:
                            type: string
                            description: The name of the browser that made the request.
                          referer:
                            type: string
                            description: The referring domain or URL.
                          warnstatus:
                            type: string
                            description: The warning status.
                          sha256:
                            type: string
                            description: The hex digest of the response content.
                          isolated:
                            type: object
                            description: The properties of the isolated file.
                            properties:
                              state:
                                type: string
                                description: The state of the isolated file.
                              fileaction:
                                type: string
                                description: The action taken for the file.
                            required:
                            - state
                            - fileaction
                            example:
                              state: not-isolated
                              fileaction: ''
                          datalossprevention:
                            type: object
                            description: The information about the Data Loss Prevention state.
                            properties:
                              state:
                                type: string
                                description: Indicates the status of the DLP. The state is either `blocked` or the empty string (` `).
                                enum:
                                - blocked
                                - ''
                            required:
                            - state
                            example:
                              state: blocked
                          securityoverridden:
                            type: boolean
                            description: Specifies whether security overrides are configured.
                          contenttype:
                            type: string
                            description: The type of web content, typically text/html.
                            example: text/html
                          forwardingmethod:
                            type: string
                            description: The request method (GET, POST, HEAD, etc.)
                            example: GET
                          httperrors:
                            type: array
                            items:
                              type: object
                              description: The properties of the HTTP error.
                              properties:
                                type:
                                  type: string
                                  description: The type of the error, either `CertificateError` or `TLSError`.
                                  enum:
                                  - CertificateError
                                  - TLSError
                                code:
                                  type: number
                                  description: The HTTP error code.
                                reason:
                                  type: string
                                  description: The name of the error.
                                attributes:
                                  type: object
                                  description: The properties of the additional information for the error.
                            description: Certificate & TLS Errors
                          threats:
                            type: array
                            items:
                              type: object
                              description: The information about the threat.
                              properties:
                                label:
                                  type: string
                                  description: The descriptive label for the threat name.
                                type:
                                  type: string
                                  description: The type of the threat.
                          egress:
                            type: object
                            description: The information about the egress IP.
                            properties:
                              ip:
                                type: string
                                description: The egress IP.
                              type:
                                type: string
                                description: The type of the egress IP.
                                example: shared
                            required:
                            - ip
                            - type
                            example:
                              ip: 155.190.3.8
                              type: shared
                          datacenter:
                            type: object
                            description: The information about the data center.
                            properties:
                              id:
                                type: string
                                description: The unique ID for the data center.
                              label:
                                type: string
                                description: The name of the data center.
                            required:
                            - id
                            - label
                            example:
                              id: LAX
                              label: Los Angeles, US
                          date:
                            type: string
                            description: The date from the timestamp based on the timezone parameter.
                            example: '2020-07-12'
                          time:
                            type: string
                            description: The time in 24-hour format based on the timezone parameter.
                            example: '12:34'
                          destinationip:
                            type: string
                            description: The destination IP for the entry.
                            example: 12.10.10.10
                          url:
                            type: string
                            description: The URL that was requested.
                        required:
                        - allapplications
                        - allowedapplications
                        - amp
                        - antivirusthreats
                        - blockedapplications
                        - blockedfiletype
                        - bundleid
                        - categories
                        - contenttype
                        - datacenter
                        - datalossprevention
                        - date
                        - destinationip
                        - egress
                        - externalip
                        - forwardingmethod
                        - httperrors
                        - identities
                        - internalip
                        - isolated
                        - policy
                        - policycategories
                        - port
                        - referer
                        - requestsize
                        - responsefilename
                        - responsesize
                        - securityoverridden
                        - sha256
                        - statuscode
                        - tenantcontrols
                        - threats
                        - time
                        - timestamp
                        - type
                        - url
                        - useragent
                        - verdict
                        - warnstatus
                        example:
                          destinationip: ''
                          externalip: 32.4.91.7
                          responsesize: 3329530
                          allapplications:
                          - id: 1313
                            label: Netflix
                            category:
                              id: 47
                              label: Media
                          date: '2022-02-18'
                          datalossprevention:
                            state: ''
                          antivirusthreats:
                            puas: []
                            viruses: []
                            others: []
                          internalip: 192.168.1.43
                          referer: ''
                          contenttype: ''
                          tenantcontrols: false
                          securityoverridden: false
                          useragent: ''
                          time: '23:29:42'
                          amp:
                            disposition: ''
                            score: 0
                            malware: ''
                          policycategories: []
                          type: proxy
                          requestsize: 1996
                          port: 443
                          policy:
                            ruleid: 0
                            rulesetid: 0
                            destinationlistids: []
                            timebasedrule: false
                          forwardingmethod: ''
                          categories:
                          - id: 17
                            type: content
                            label: Movies
                            integration: false
                            deprecated: true
                          isolated:
                            state: not-isolated
                            fileaction: ''
                          statuscode: 200
                          egress:
                            ip: 155.190.3.8
                            type: shared
                          blockedfiletype: ''
                          url: https://ipv4-lax2-ix.1.oca.anothervideo.net
                          verdict: allowed
                          responsefilename: ''
                          warnstatus: ''
                          sha256: ''
                          timestamp: 1645226982000
                          blockedapplications: []
                          allowedapplications: []
                          identities:
                          - id: 1
                            type:
                              id: 34
                              type: anyconnect
                              label: Anyconnect Roaming Client
                            label: Vincent's Macbook
                            deleted: false
                          datacenter:
                            label: Atlanta, US
                            id: ATL
                          threats: []
                          httperrors: []
                          bundleid: 3
                  meta:
                    type: object
                    description: The properties of the metadata.
                    example: {}
                required:
                - data
                - meta
              example:
                meta: {}
                data:
                - externalip: 52.8.160.247
                  internalip: 52.8.160.247
                  policycategories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  categories:
                  - id: 66
                    label: Malware
                    type: security
                    integration: true
                  verdict: allowed
                  domain: google.com
                  timestamp: 1731002169000
                  time: 06:31:46
                  date: '2019-01-24'
                  identities:
                  - id: 1
                    label: Catch Rate Testing System
                    type:
                      id: 21
                      label: Sites
                      type: site
                    deleted: true
                  threats:
                  - label: Wannacry
                    type: Ransomware
                  allapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  allowedapplications:
                  - id: 1
                    label: label
                    type: NBAR
                    category:
                      id: 1
                      label: category
                  querytype: MX
                  returncode: 2
                  blockedapplications: []
                  type: dns
        '400':
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
              description: The MIME content type of the response body.
              example: application/json
            Date:
              schema:
                type: string
                pattern: ^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$
              description: The timestamp of the response.
              example: '2023-03-14T18:34:25Z'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of the error.
                    example: Internal Server Error
                  code:
                    type: integer
                    description: The status code of the error.
                    example: 500
                example:
                  message: Bad Request
                  code: 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of the error.
                    example: Internal Server Error
                  code:
                    type: integer
                    description: The status code of the error.
                    example: 500
                example:
                  message: Unauthorized
                  code: 401
          headers:
            Content-Type:
              schema:
                type: string
              description: The MIME content type of the response body.
              example: application/json
            Date:
              schema:
                type: string
                pattern: ^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$
              description: The timestamp of the response.
              example: '2023-03-14T18:34:25Z'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of the error.
                    example: Internal Server Error
                  code:
                    type: integer
                    description: The status code of the error.
                    example: 500
                example:
                  message: Forbidden
                  code: 403
          headers:
            Content-Type:
              schema:
                type: string
              description: The MIME content type of the response body.
              example: application/json
            Date:
              schema:
                type: string
                pattern: ^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$
              description: The timestamp of the response.
              example: '2023-03-14T18:34:25Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of the error.
                    example: Internal Server Error
                  code:
                    type: integer
                    description: The status code of the error.
                    example: 500
                example:
                  message: Not Found
                  code: 404
          headers:
            Content-Type:
              schema:
                type: string
              description: The MIME content type of the response body.
              example: application/json
            Date:
              schema:
                type: string
                pattern: ^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$
              description: The timestamp of the response.
              example: '2023-03-14T18:34:25Z'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of the error.
                    example: Internal Server Error
                  code:
                    type: integer
                    description: The status code of the error.
                    example: 500
                example:
                  message: Internal Server Error
                  code: 500
          headers:
            Content-Type:
              schema:
                type: string
              description: The MIME content type of the response body.
              example: application/json
            Date:
              schema:
                type: string
                pattern: ^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$
              description: The timestamp of the response.
              example: '2023-03-14T18:34:25Z'
  /organizations/{organizationId}/reports/appDiscovery/applications:
    get:
      tags:
      - Reports
      summary: List Applications
      description: List all discovered applications.
      operationId: getApplicationsAppDiscovery
      parameters:
      - name: organizationId
        in: path
        description: Organization ID associated with this resource.
        required: true
        schema:
          type: integer
      - in: query
        name: sources
        schema:
          type: array
          items:
            type: string
            enum:
            - dns
            - swg
            - cdfw
        style: form
        explode: false
        description: 'Specify the types of log source to filter the collection.

          Valid values are: `dns`, `swg`, `cdfw`.'
        example:
        - cdfw
      - in: query
        name: identity
        schema:
          type: integer
        description: Specify the entity ID to filter the collection.
        example: 12355
      - in: query
        name: labels
        schema:
          type: array
          items:
            type: string
            description: 'The application label. Valid values are: `unreviewed`, `approved`, `notApproved`, `underAudit`.'
            enum:
            - unreviewed
            - approved
            - notApproved
            - underAudit
            example: approved
        style: form
        explode: false
        description: 'Specify the types of application classification to filter the collection.

          Valid values are: `unreviewed`, `approved`, `notApproved`, `underAudit`.'
        example:
        - approved
      - in: query
        name: controllable
        schema:
          type: string
          enum:
          - all
          - advanced
        description: 'Specify the type of controllable applications to filter the collection.

          Valid values are: `all`, `advanced`.'
        example: advanced
      - in: query
        name: weightedRisk
        schema:
          type: array
          items:
            type: string
            description: The risk the app poses to the environment.
            enum:
            - veryLow
            - low
            - medium
            - high
            - veryHigh
            example: low
        style: form
        explode: false
        description: 'Specify the list of application weighted risk to filter the collection.

          Valid values are: `veryLow`, `low`, `medium`, `high`, `veryHigh`.'
        example:
        - low
      - in: query
        name: categories
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        description: Specify the list of application category to filter the collection.
        example:
        - Security
      - in: query
        name: subcategory
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        description: Specify the list of application subcategory to filter the collection.
        example:
        - Security
      - in: query
        name: subcategory_content_types
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        description: Specify the list of content types for the application subcategory to filter the collection.
        example:
        - Conversational Chat
      - in: query
        name: appTypes
        schema:
          type: array
          items:
            type: string
            description: The type of the app.
            enum:
            - saas
            - paas
            - iaas
            example: saas
          example:
          - saas
          - paas
          - iaas
        style: form
        explode: false
        description: 'Specify the types of application to filter the collection.

          Valid values are: `saas`, `paas`, and `iaas`.'
        example:
        - paas
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: 'Specify a date to search for data within a twenty-four hour time period.

          If you do not provide a date, the last 90 days period is used to query the collection.'
        example: '2022-01-01'
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: The maximum number of items to return in the collection.
      - in: query
        name: offset
        schema:
          type: integer
        description: The number of items to skip before starting to collect the result set.
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - firstDetected
          - lastDetected
          - weightedRisk
          - name
        description: Specify the name of a field to sort the applications.
        example: firstDetected
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: 'Specify the order to sort the collection. Valid values are: `asc` (ascending)

          or `desc` (descending).'
        example: asc
      - in: query
        name: label_timestamp
        schema:
          type: string
          format: date-time
        example: '2022-01-01T00:00:00.000Z'
        description: Filter the result set on the date and time (ISO 8601 timestamp) when the system updated the label.
      security:
      - meraki_api_key: []
      responses:
        '200':
          description: OK
          headers:
            Link:
              schema:
                type: string
              description: 'Links to related resources, in the format defined by

                [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5).

                If there is a next page, this header includes a link with relation type

                `next` to the next page.'
          content:
            application/json:
              schema:
                type: object
                description: The object that contains the list of application properties.
                properties:
                  items:
                    type: array
                    description: The list of application properties.
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - label
                      - weightedRisk
                      - category
                      - appType
                      - sources
                      - firstDetected
                      - lastDetected
                      - subcategory
                      - subcategory_content_types
                      description: The list of properties about the discovered apps.
                      properties:
                        id:
                          type: string
                          description: The ID of the app.
                          example: eaqYExba
                        name:
                          type: string
                          description: The name of the app.
                          example: Umbrella
                        label:
                          type: string
                          description: 'The application label. Valid values are: `unreviewed`, `approved`, `notApproved`, `underAudit`.'
                          enum:
                          - unreviewed
                          - approved
                          - notApproved
                          - underAudit
                          example: approved
                        weightedRisk:
                          type: string
                          description: The risk the app poses to the environment.
                          enum:
                          - veryLow
                          - low
                          - medium
                          - high
                          - veryHigh
                          example: low
                        category:
                          type: string
                          description: The category of the app.
                          example: Security
                        appType:
                          type: string
                          description: The type of the app.
                          enum:
                          - saas
                          - paas
                          - iaas
                          example: saas
                        sources:
                          type: array
                          description: 'The list of app sources where the sources are DNS, Web (Secure Web Gateway), and cloud-delivered firewall (CDFW) traffic events.

                            The list can contain one or more of the source types.'
                          items:
                            anyOf:
                            - type: object
                              description: The properties of the app's DNS requests.
                              properties:
                                name:
                                  type: string
                                  description: The type of traffic associated with the source.
                                  enum:
                                  - dns
                                  example: dns
                                requests:
                                  type: integer
                                  description: The number of DNS requests for this app.
                                  example: 100
                                blockedRequests:
                                  type: integer
                                  description: The number of DNS requests blocked, based on the policy configurations.
                                  example: 50
                              example:
                                name: dns
                                requests: 100
                                blockedRequests: 35
                            - type: object
                              description: The properties of the app's web requests.
                              properties:
                                name:
                                  type: string
                                  description: The type of traffic associated with the source.
                                  enum:
                                  - swg
                                  example: swg
                                totalTraffic:
                                  type: integer
                                  description: The total number of bytes inbound and outbound for this app in your environment.
                                  example: 150
                                bytesIn:
                                  type: integer
                                  description: The number of bytes received (inbound).
                                  example: 50
                                bytesOut:
                                  type: integer
                                  description: The number of bytes sent (outbound).
                                  example: 100
                                blockedBytesOut:
                                  type: integer
                                  description: The number of bytes of outbound traffic that are blocked.
                                  example: 90
                              example:
                                name: swg
                                totalTraffic: 200
                                bytesIn: 100
                                bytesOut: 100
                                blockedBytesOut: 49
                            - type: object
                              description: The properties of the app's requests that are managed by the cloud-delivered firewall (CDFW).
                              properties:
                                name:
                                  type: string
                                  description: The type of traffic associated with the source.
                                  enum:
                                  - cdfw
                                  example: cdfw
                                events:
                                  type: integer
                                  description: The number of CDFW L7 events for this app.
                                  example: 100
                                blockedEvents:
                                  type: integer
                                  description: The number of CDFW L7 events that are blocked.
                                  example: 50
                              example:
                                name: cdfw
                                events: 50
                                blockedEvents: 25
                          example:
                          - name: cdfw
                            events: 50
                            blockedEvents: 25
                        firstDetected:
                          type: string
                          description: The date and time (ISO 8601 timestamp) when the system first detected the app.
                          format: date-time
                          example: '2022-01-01T00:00:00.000Z'
                        lastDetected:
                          type: string
                          description: The date and time (ISO 8601 timestamp) when the system last detected the app.
                          format: date-time
                          example: '2022-01-01T00:00:00.000Z'
                        subcategory:
                          type: string
                          description: The subcategory applied to the app.
                          example: Security
                        subcategory_content_types:
                          type: array
                          description: The list of content types for the subcategory applied to the app.
                          items:
                            type: string
                            description: The content type of the subcategory applied to the app.
                          example:
                          - Conversational Chat
                          - Other
                      example:
                        id: ea890ya
                        name: Umbrella
                        label: approved
                        weightedRisk: low
                        category: Security
                        subcategory: Security
                        subcategory_content_types:
                        - Conversational Chat
                        - Other
                        appType: saas
                        sources:
                        - name: dns
                          requests: 100
                          blockedRequests: 100
                        firstDetected: '2022-01-01T00:00:00.000Z'
                        lastDetected: '2022-01-01T00:00:00.000Z'
                  currentPage:
                    type: integer
                    description: The index of the current page in the collection.
                    example: 1
                  totalPages:
                    type: integer
                    description: The total number of pages in the collection.
                    example: 100
                  itemsCount:
                    type: integer
                    description: The number of items in the collection.
                    example: 10
                example:
                  items:
                  - id: ea890yb
                    name: Umbrella
                    label: unreviewed
                    weightedRisk: low
                    category: Security
                    subcategory: Security
                    subcategory_content_types:
                    - Conversational Chat
                    - Other
                    appType: saas
                    sources:
                    - name: dns
                      requests: 100
                      blockedRequests: 100
                    firstDetected: '2022-01-01T00:00:00.000Z'
                    lastDetected: '2022-01-01T00:00:00.000Z'
                  currentPage: 1
                  totalPages: 126
                  itemsCount: 251
              example:
                items:
                - id: 1234ay7
[...]
