openapi: 3.2.0
info:
  title: Meraki Dashboard Insight API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > Recent Updates


    ---


    API Documentation


    Community Support


    Meraki Homepage'
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Insight
paths:
  /networks/{networkId}/insight/applications/{applicationId}/healthByTime:
    get:
      operationId: getNetworkInsightApplicationHealthByTime
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: applicationId
        in: path
        description: Application ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 2 hours.
        schema:
          type: number
          format: float
          maximum: 604800
      - name: resolution
        in: query
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 60, 300, 3600, 86400. The default is 300.'
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    startTs:
                      type: string
                      format: date-time
                      description: The start time of the query range
                    endTs:
                      type: string
                      format: date-time
                      description: The end time of the query range
                    wanGoodput:
                      type: integer
                      description: WAN goodput (Number of useful information bits delivered over a WAN per unit of time)
                    lanGoodput:
                      type: integer
                      description: LAN goodput (Number of useful information bits delivered over a LAN per unit of time)
                    wanLatencyMs:
                      type: number
                      format: float
                      description: WAN latency in milliseconds
                    lanLatencyMs:
                      type: number
                      format: float
                      description: LAN latency in milliseconds
                    wanLossPercent:
                      type: number
                      format: float
                      description: WAN loss percentage
                    lanLossPercent:
                      type: number
                      format: float
                      description: LAN loss percentage
                    responseDuration:
                      type: integer
                      description: Duration of the response, in milliseconds
                    sent:
                      type: integer
                      description: Sent kilobytes-per-second
                    recv:
                      type: integer
                      description: Received kilobytes-per-second
                    numClients:
                      type: integer
                      description: Number of clients
              example:
              - startTs: '2018-02-11T00:00:00Z'
                endTs: '2018-05-12T00:00:00Z'
                wanGoodput: 20000000
                lanGoodput: 100000000
                wanLatencyMs: 10.1
                lanLatencyMs: 3.2
                wanLossPercent: 0.2
                lanLossPercent: 0.0
                responseDuration: 210
                sent: 1000
                recv: 5000
                numClients: 2
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: Get application health by time
      tags:
      - Insight
  /organizations/{organizationId}/insight/applications:
    get:
      operationId: getOrganizationInsightApplications
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    applicationId:
                      type: string
                      description: Application identifier
                    name:
                      type: string
                      description: Application name
                    thresholds:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Threshold type (static or smart)
                        byNetwork:
                          type: array
                          items:
                            type: object
                            properties:
                              networkId:
                                type: string
                                description: Network identifier
                              goodput:
                                type: integer
                                description: Number of useful information bits delivered over a network per unit of time
                              responseDuration:
                                type: integer
                                description: Duration of the response, in milliseconds
                          description: Threshold for each network
                      description: Thresholds defined by a user or Meraki models for each application
              example:
              - applicationId: '19.12'
                name: Meraki HTTPS
                thresholds:
                  type: smart
                  byNetwork:
                  - networkId: N_12345678
                    goodput: 50000
                    responseDuration: 1000
      security:
      - oauth2:
        - sdwan:telemetry:read
      summary: List all Insight tracked applications
      tags:
      - Insight
  /organizations/{organizationId}/insight/monitoredMediaServers:
    get:
      description: List the monitored media servers for this organization. Only valid for organizations with Meraki Insight.
      operationId: getOrganizationInsightMonitoredMediaServers
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Monitored media server id
                    name:
                      type: string
                      description: The name of the VoIP provider
                    address:
                      type: string
                      description: The IP address (IPv4 only) or hostname of the media server to monitor
                    bestEffortMonitoringEnabled:
                      type: boolean
                      description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
              - id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: List the monitored media servers for this organization
      tags:
      - Insight
    post:
      description: Add a media server to be monitored for this organization. Only valid for organizations with Meraki Insight.
      operationId: createOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the VoIP provider
                address:
                  type: string
                  description: The IP address (IPv4 only) or hostname of the media server to monitor
                bestEffortMonitoringEnabled:
                  type: boolean
                  description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead.
              example:
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
              required:
              - name
              - address
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Add a media server to be monitored for this organization
      tags:
      - Insight
  /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}:
    get:
      description: Return a monitored media server for this organization. Only valid for organizations with Meraki Insight.
      operationId: getOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Return a monitored media server for this organization
      tags:
      - Insight
    put:
      description: Update a monitored media server for this organization. Only valid for organizations with Meraki Insight.
      operationId: updateOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the VoIP provider
                address:
                  type: string
                  description: The IP address (IPv4 only) or hostname of the media server to monitor
                bestEffortMonitoringEnabled:
                  type: boolean
                  description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead.
              example:
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Monitored media server id
                  name:
                    type: string
                    description: The name of the VoIP provider
                  address:
                    type: string
                    description: The IP address (IPv4 only) or hostname of the media server to monitor
                  bestEffortMonitoringEnabled:
                    type: boolean
                    description: Indicates that if the media server doesn't respond to ICMP pings, the nearest hop will be used in its stead
              example:
                id: '1284392014819'
                name: Sample VoIP Provider
                address: 123.123.123.1
                bestEffortMonitoringEnabled: true
      summary: Update a monitored media server for this organization
      tags:
      - Insight
    delete:
      description: Delete a monitored media server from this organization. Only valid for organizations with Meraki Insight.
      operationId: deleteOrganizationInsightMonitoredMediaServer
      parameters:
      - name: organizationId
        in: path
        description: Organization ID
        schema:
          type: string
        required: true
      - name: monitoredMediaServerId
        in: path
        description: Monitored media server ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete a monitored media server from this organization
      tags:
      - Insight
components:
  securitySchemes:
    meraki_api_key:
      type: apiKey
      name: X-Cisco-Meraki-API-Key
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
x-batchable-actions:
- group: ''
  summary: Update multicast settings for a network
  resource: /networks/{networkId}/switch/routing/multicast
  operation: ms/multicast/actions/update
- group: ''
  summary: Migrate devices to another controller or management mode
  resource: /organizations/{organizationId}/devices/controller/migrations
  operation: mr/actions/migrate
- group: Adaptive policy assignment
  summary: Assign adaptive policy groups to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: assign
- group: Adaptive policy assignment
  summary: Remove adaptive policy groups from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/adaptivePolicyGroups
  operation: remove
- group: Adaptive policy group
  summary: Creates a new adaptive policy group
  resource: /organizations/{organizationId}/adaptivePolicy/groups
  operation: create
- group: Adaptive policy group
  summary: Deletes the specified adaptive policy group and any associated policies and references
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: destroy
- group: Adaptive policy group
  summary: Updates an adaptive policy group. If updating "Infrastructure", only the SGT is allowed. Cannot update "Unknown".
  resource: /organizations/{organizationId}/adaptivePolicy/groups/{id}
  operation: update
- group: Api features/actions/config template
  summary: Create a new configuration template
  resource: /organizations/{organizationId}/configTemplates
  operation: create
- group: Api features/actions/device
  summary: Update the attributes of a device
  resource: /devices/{serial}
  operation: update
- group: Api features/actions/device
  summary: Remove a single device
  resource: /networks/{networkId}/devices
  operation: remove
- group: Api features/actions/network settings
  summary: Update the settings for a network
  resource: /networks/{networkId}/settings
  operation: update
- group: Api platform/actions/webhook payload
  summary: Create a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates
  operation: create
- group: Api platform/actions/webhook payload
  summary: Destroy a webhook payload template for a network. Does not work for included templates ('wpt_00001', 'wpt_00002', 'wpt_00003', 'wpt_00004', 'wpt_00005', 'wpt_00006', 'wpt_00007' or 'wpt_00008')
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: destroy
- group: Api platform/actions/webhook payload
  summary: Update a webhook payload template for a network
  resource: /networks/{networkId}/webhooks/payloadTemplates/{payloadTemplateId}
  operation: update
- group: Api/actions/organization
  summary: Update an organization
  resource: /organizations/{organizationId}
  operation: update
- group: Appliance VLAN assignment
  summary: Assign VLANs to a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: assign
- group: Appliance VLAN assignment
  summary: Remove VLANs from a policy
  resource: /organizations/{organizationId}/policies/global/group/policies/appliance/vlans
  operation: remove
- group: Appliance radio settings
  summary: Update the radio settings of an appliance
  resource: /devices/{serial}/appliance/radio/settings
  operation: update
- group: Appliance ssid
  summary: Update the attributes of an MX SSID
  resource: /networks/{networkId}/appliance/ssids/{number}
  operation: update
- group: Assurance/actions/alerts/profile
  summary: Create an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles
  operation: create
- group: Assurance/actions/alerts/profile
  summary: Delete an alert profile for this organization
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: destroy
- group: Assurance/actions/alerts/profile
  summary: Update an alert profile
  resource: /organizations/{organizationId}/assurance/alerts/profiles/{profileId}
  operation: update
- group: Billing
  summary: Update the billing settings
  resource: /networks/{networkId}/wireless/billing
  operation: update
- group: Camera custom analytics settings
  summary: Update custom analytics settings for a camera
  resource: /devices/{serial}/camera/customAnalytics
  operation: update
- group: Camera video settings
  summary: Update video settings for the given camera
  resource: /devices/{serial}/camera/video/settings
  operation: update
- group: Camera wireless profile settings
  summary: Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.
  resource: /devices/{serial}/camera/wirelessProfiles
  operation: update
- group: Config template
  summary: Update a configuration template
  resource: /organizations/{organizationId}/configTemplates/{configTemplateId}
  operation: update
- group: Core product/syslog/update network
  summary: Updates the syslog servers configuration for a network.
  resource: /networks/{networkId}/devices/syslog/servers
  operation: servers
- group: Custom performance class
  summary: Add a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses
  operation: create
- group: Custom performance class
  summary: Delete a custom performance class from an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: destroy
- group: Custom performance class
  summary: Update a custom performance class for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/customPerformanceClasses/{customPerformanceClassId}
  operation: update
- group: Dai trusted server
  summary: Add a server to be trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers
  operation: create
- group: Dai trusted server
  summary: Remove a server from being trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: destroy
- group: Dai trusted server
  summary: Update a server that is trusted by Dynamic ARP Inspection on this network
  resource: /networks/{networkId}/switch/dhcpServerPolicy/arpInspection/trustedServers/{trustedServerId}
  operation: update
- group: Dash xl/actions/firmware upgrade rollback
  summary: Rollback a Firmware Upgrade For A Network
  resource: /networks/{networkId}/firmwareUpgrades/rollbacks
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Add a new branding policy to an organization
  resource: /organizations/{organizationId}/brandingPolicies
  operation: create
- group: Dash xl/dashboard branding policy
  summary: Delete a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: destroy
- group: Dash xl/dashboard branding policy
  summary: Update a branding policy
  resource: /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}
  operation: update
- group: Dash xl/dashboard branding policy priorities
  summary: Update the priority ordering of an organization's branding policies.
  resource: /organizations/{organizationId}/brandingPolicies/priorities
  operation: update
- group: Dashboard features/actions/client
  summary: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
  resource: /networks/{networkId}/clients
  operation: provision
- group: Dashboard features/actions/early access/feature opt in
  summary: Update an early access feature opt-in for an organization
  resource: /organizations/{organizationId}/earlyAccess/features/optIns/{optInId}
  operation: update
- group: Dhcp server policy
  summary: Update the DHCP server settings. Blocked/allowed servers are only applied when default policy is allow/block, respectively
  resource: /networks/{networkId}/switch/dhcpServerPolicy
  operation: update
- group: Dscp cos mapping
  summary: Update the DSCP to CoS mappings
  resource: /networks/{networkId}/switch/dscpToCosMappings
  operation: update
- group: End users/actions/meraki auth user
  summary: Authorize a user configured with Meraki Authentication for a network (currently supports 802.1X, splash guest, and client VPN users, and currently, organizations have a 50,000 user cap)
  resource: /networks/{networkId}/merakiAuthUsers
  operation: create
- group: End users/actions/meraki auth user
  summary: Delete an 802.1X RADIUS user, or deauthorize and optionally delete a splash guest or client VPN user.
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: destroy
- group: End users/actions/meraki auth user
  summary: Update a user configured with Meraki Authentication (currently, 802.1X RADIUS, splash guest, and client VPN users can be updated)
  resource: /networks/{networkId}/merakiAuthUsers/{merakiAuthUserId}
  operation: update
- group: Firmware upgrades update
  summary: Update firmware upgrade information for a network
  resource: /networks/{networkId}/firmwareUpgrades
  operation: update
- group: Floor plan
  summary: Destroy a floor plan
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: destroy
- group: Floor plan
  summary: Update a floor plan's geolocation and other meta data
  resource: /networks/{networkId}/floorPlans/{floorPlanId}
  operation: update
- group: Frontizo/actions/owp release/firewall rule
  summary: Create an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules
  operation: create
- group: Frontizo/actions/owp release/firewall rule
  summary: Delete an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: destroy
- group: Frontizo/actions/owp release/firewall rule
  summary: Update an Organization-Wide Policy Firewall Rule
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/rules/{ruleId}
  operation: update
- group: Frontizo/actions/owp release/policy
  summary: Create an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies
  operation: create
- group: Frontizo/actions/owp release/policy
  summary: Delete an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: destroy
- group: Frontizo/actions/owp release/policy
  summary: Update an Organization-Wide Policy
  resource: /organizations/{organizationId}/policies/global/group/policies/{policyId}
  operation: update
- group: Frontizo/actions/owp release/ruleset
  summary: Create an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets
  operation: create
- group: Frontizo/actions/owp release/ruleset
  summary: Delete an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset
  summary: Update an Organization-Wide Policy Firewall Ruleset
  resource: /organizations/{organizationId}/policies/global/firewall/rulesets/{rulesetId}
  operation: update
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Create an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments
  operation: create
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Delete an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: destroy
- group: Frontizo/actions/owp release/ruleset assignment
  summary: Update an Organization-Wide Policy Ruleset Assignment
  resource: /organizations/{organizationId}/policies/global/group/policies/firewall/rulesets/assignments/{assignmentId}
  operation: update
- group: Frontizo/actions/sase/integration
  summary: Create a new Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations
  operation: create
- group: Frontizo/actions/sase/integration
  summary: Remove a Secure Access integration
  resource: /organizations/{organizationId}/sase/integrations/{integrationId}
  operation: destroy
- group: Frontizo/actions/site
  summary: Attach sites in this organization to Secure Access. For an organization, a maximum of 2500 sites can be attached if they are in spoke mode or a maximum of 10 sites can be attached in hub mode.
  resource: /organizations/{organizationId}/sase/sites
  operation: create
- group: Frontizo/actions/umbrella integration/account
  summary: Connect a Cisco Umbrella account to this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: action
- group: Frontizo/actions/umbrella integration/account
  summary: Disconnect Umbrella account from this network
  resource: /networks/{networkId}/appliance/umbrella/account
  operation: disconnect
- group: Frontizo/actions/umbrella integration/domains
  summary: Specify one or more domain names to be excluded from being routed to Cisco Umbrella.
  resource: /networks/{networkId}/appliance/umbrella/domains
  operation: action
- group: Frontizo/actions/umbrella integration/policies
  summary: Add one Cisco Umbrella DNS security policy to an MX network by policy ID. Idempotent — if the policy is already applied, the request succeeds and returns the current policy set unchanged.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_add
- group: Frontizo/actions/umbrella integration/policies
  summary: Remove one Cisco Umbrella DNS security policy from an MX network by policy ID. Returns 204 No Content on success. Behavior when the policy is not currently applied depends on the Cisco Umbrella API response.
  resource: /networks/{networkId}/appliance/umbrella/policies
  operation: policies_remove
- group: Frontizo/actions/umbrella integration/protection
  summary: Enable or disable umbrella protection for an appliance network. When 'enabled' is false, 'umbrella.organization.id' and 'umbrella.origin.id' are null in the response.
  resource: /networks/{networkId}/appliance/umbrella
  operation: action
- group: Frontizo/sse sites/actions/connectors batch
  summary: Delete SSE Connectors by ID
  resource: /organizations/{organizationId}/sase/connectors
  operation: teardown
- group: Frontizo/sse sites/actions/sites
  summary: Detach sites in this organization from Secure Access. This will remove the sites from Secure Access.
  resource: /organizations/{organizationId}/sase/sites
  operation: detach
- group: Frontizo/sse sites/actions/sites
  summary: Update the configuration for a site. Currently, only supports updating default route enablement.
  resource: /organizations/{organizationId}/sase/sites/{siteId}
  operation: update
- group: Group policy
  summary: Create a group policy
  resource: /networks/{networkId}/groupPolicies
  operation: create
- group: Group policy
  summary: Delete a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: destroy
- group: Group policy
  summary: Update a group policy
  resource: /networks/{networkId}/groupPolicies/{groupPolicyId}
  operation: update
- group: Hotspot20
  summary: Update the Hotspot 2.0 settings of an SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/hotspot20
  operation: update
- group: Insight/actions/org wide alerts/alert config
  summary: Create an organization-wide alert configuration
  resource: /organizations/{organizationId}/alerts/profiles
  operation: create
- group: Insight/actions/org wide alerts/alert config
  summary: Removes an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: destroy
- group: Insight/actions/org wide alerts/alert config
  summary: Update an organization-wide alert config
  resource: /organizations/{organizationId}/alerts/profiles/{alertConfigId}
  operation: update
- group: Inventory/actions/device
  summary: 'Claim devices into a network. (Note: for recently claimed devices, it may take a few minutes for API requests against that device to succeed). This operation can be used up to ten times within a single five minute window.'
  resource: /networks/{networkId}/devices/claim
  operation: claim
- group: Inventory/actions/unified orders/unified order
  summary: Claim an order by the secure unique order claim number, the order claim id
  resource: /organizations/{organizationId}/inventory/orders
  operation: claim
- group: L3 firewall
  summary: Update the L3 firewall rules of an SSID on an MR network
  resource: /networks/{networkId}/wireless/ssids/{number}/firewall/l3FirewallRules
  operation: update
- group: License
  summary: Assign SM seats to a network. This will increase the managed SM device limit of the network
  resource: /organizations/{organizationId}/licenses
  operation: assignSeats
- group: License
  summary: Move licenses to another organization. This will also move any devices that the licenses are assigned to
  resource: /organizations/{organizationId}/licenses
  operation: move
- group: License
  summary: Move SM seats to another organization
  resource: /organizations/{organizationId}/licenses
  operation: moveSeats
- group: License
  summary: Renew SM seats of a license. This will extend the license expiration date of managed SM devices covered by this license
  resource: /organizations/{organizationId}/licenses
  operation: renewSeats
- group: License
  summary: Update a license
  resource: /organizations/{organizationId}/licenses/{licenseId}
  operation: update
- group: MTU configuration
  summary: Update the MTU configuration
  resource: /networks/{networkId}/switch/mtu
  operation: update
- group: MX connectivity monitoring destination
  summary: Update the connectivity testing destinations for an MX network
  resource: /networks/{networkId}/appliance/connectivityMonitoringDestinations
  operation: update
- group: MX l3 configuration
  summary: Create wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3
  operation: create
- group: MX l3 configuration
  summary: Delete wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: destroy
- group: MX l3 configuration
  summary: Update wired L3 interface
  resource: /networks/{networkId}/appliance/interfaces/l3/{interfaceId}
  operation: update
- group: MX uplink setting
  summary: Updates the uplink bandwidth settings for your MX network.
  resource: /networks/{networkId}/appliance/trafficShaping/uplinkBandwidth
  operation: update
- group: Mars/actions/device
  summary: Updating device details (currently only used for Catalyst devices)
  resource: /organizations/{organizationId}/devices/details/bulkUpdate
  operation: details/update
- group: Mcg/actions/cluster
  summary: Create a cluster and add campus gateways to it
  resource: /networks/{networkId}/campusGateway/clusters
  operation: create
- group: Mcg/actions/cluster
  summary: Delete a cluster
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: destroy
- group: Mcg/actions/cluster
  summary: Update a cluster and add/remove campus gateways to/from it
  resource: /networks/{networkId}/campusGateway/clusters/{clusterId}
  operation: update
- group: Mcg/actions/cluster
  summary: Provisions a cluster,adds campus gateways to it and associate/dissociate failover targets.
  resource: /organizations/{organizationId}/campusGateway/clusters
  operation: provision
- group: Monitored media server
  summary: Add a media server to be monitored for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers
  operation: create
- group: Monitored media server
  summary: Delete a monitored media server from this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: destroy
- group: Monitored media server
  summary: Update a monitored media server for this organization. Only valid for organizations with Meraki Insight.
  resource: /organizations/{organizationId}/insight/monitoredMediaServers/{monitoredMediaServerId}
  operation: update
- group: Mr/actions/air marshal rule
  summary: Creates a new rule
  resource: /networks/{networkId}/wireless/airMarshal/rules
  operation: create
- group: Mr/actions/air marshal rule
  summary: Delete an Air Marshal rule.
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: destroy
- group: Mr/actions/air marshal rule
  summary: Update a rule
  resource: /networks/{networkId}/wireless/airMarshal/rules/{ruleId}
  operation: update
- group: Mr/actions/air marshal setting
  summary: Updates Air Marshal settings.
  resource: /networks/{networkId}/wireless/airMarshal/settings
  operation: update
- group: Mr/actions/ap port profile
  summary: Create an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: create
- group: Mr/actions/ap port profile
  summary: Delete an AP port profile
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
  operation: destroy
- group: Mr/actions/ap port profile
  summary: Update the AP port profile by ID for this network
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}
  operation: update
- group: Mr/actions/ap port profile assign
  summary: Assign AP port profile to list of APs
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: aps
- group: Mr/actions/ap port profile set
  summary: Set the AP port profile to be default for this network
  resource: /networks/{networkId}/wireless/ethernet/ports/profiles
  operation: default
- group: Mr/actions/autolocation job
  summary: Cancel a scheduled or running auto locate job
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: cancel
- group: Mr/actions/autolocation job
  summary: Update the status of a finished auto locate job to be published, and update device locations
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: publish
- group: Mr/actions/autolocation job
  summary: Trigger auto locate recalculation for a job, and optionally set anchors
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs/{jobId}
  operation: recalculate
- group: Mr/actions/autolocation jobs bulk
  summary: Schedule auto locate jobs for one or more floor plans in a network
  resource: /networks/{networkId}/floorPlans/autoLocate/jobs
  operation: batch_create
- group: Mr/actions/device floorplan assignments batch
  summary: Update floorplan assignments for a batch of devices
  resource: /networks/{networkId}/floorPlans/devices
  operation: batch_update
- group: Mr/actions/eap override
  summary: Update the EAP overridden parameters for an SSID.
  resource: /networks/{networkId}/wireless/ssids/{number}/eapOverride
  operation: update
- group: Mr/actions/iot/bluetooth device setting
  summary: Update the bluetooth settings for a wireless device
  resource: /devices/{serial}/wireless/bluetooth/settings
  operation: update
- group: Mr/actions/iot/esl network settings
  summary: Update the ESL settings of a wireless network
  resource: /networks/{networkId}/wireless/electronicShelfLabel
  operation: update
- group: Mr/actions/iot/esl node settings
  summary: Update the ESL settings of a device
  resource: /devices/{serial}/wireless/electronicShelfLabel
  operation: update
- group: Mr/actions/rf auto channel
  summary: 'Recalculates automatically assigned channels for every AP within specified the specified network(s). Note: This could cause a brief loss in connectivity for wireless clients.'
  resource: /organizations/{organizationId}/wireless/radio/autoRf/channels
  operation: update
- group: Mr/actions/rf profile
  summary: Creates new RF profile for this network
  resource: /networks/{networkId}/wireless/rfProfiles
  operation: create
- group: Mr/actions/rf profile
  summary: 'Updates specified RF profile for this network. Note: built-in RF profiles can only be assigned as a default, and its attributes are immutable'
  resource: /networks/{networkId}/wireless/rfProfiles/{rfProfileId}
  operation: update
- group: Mr/actions/ssid
  summary: Update the attributes of an MR SSID
  resource: /networks/{networkId}/wireless/ssids/{number}
  operation: update
- group: Mr/actions/ssid bonjour forwarding
  summary: Update the bonjour forwarding setting and rules for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/bonjourForwarding
  operation: update
- group: Mr/actions/ssid openroaming
  summary: Update the OpenRoaming setting for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/openRoaming
  operation: update
- group: Mr/actions/ssid outage schedule
  summary: Update the outage schedule for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/schedules
  operation: update
- group: Mr/actions/ssid profile
  summary: Create a new SSID profile in an organization
  resource: /organizations/{organizationId}/wireless/ssids/profiles
  operation: create
- group: Mr/actions/ssid profile
  summary: Delete an SSID profile
  resource: /organizations/{organizationId}/wireless/ssids/profiles/{id}
  operation: destroy
- group: Mr/actions/ssid profile
  summary: Update this SSID profile
  resource: /organizations/{organizationId}/wireless/ssids/profiles/{id}
  operation: update
- group: Mr/actions/wireless alternate management interface v6
  summary: Update alternate management interface IPv6 address
  resource: /devices/{serial}/wireless/alternateManagementInterface/ipv6
  operation: update
- group: Mr/actions/wireless settings
  summary: Update the wireless settings for a network
  resource: /networks/{networkId}/wireless/settings
  operation: update
- group: Mr/actions/zigbee config
  summary: Update Zigbee Configs for specified network
  resource: /networks/{networkId}/wireless/zigbee
  operation: update
- group: Mr/actions/zigbee doorlock
  summary: Endpoint to batch update door locks params
  resource: /organizations/{organizationId}/wireless/zigbee/doorLocks/{doorLockId}
  operation: create
- group: Mr/actions/zigbee nodes
  summary: Endpoint to update zigbee gateways
  resource: /organizations/{organizationId}/wireless/zigbee/devices/{id}
  operation: create
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Create isolation allow list MAC entry for this organization
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries
  operation: create
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Destroy isolation allow list MAC entry for this organization
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries/{entryId}
  operation: destroy
- group: Mr/firewall/actions/l2 isolation allowlist
  summary: Update isolation allow list MAC entry info
  resource: /organizations/{organizationId}/wireless/ssids/firewall/isolation/allowlist/entries/{entryId}
  operation: update
- group: Mr/speedy/actions/auto RF
  summary: Update the AutoRF settings for a wireless network
  resource: /networks/{networkId}/wireless/radio/rrm
  operation: update
- group: Mr/zero touch/actions/deployment
  summary: Create a zero touch deployment for a wireless access point
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments
  operation: create
- group: Mr/zero touch/actions/deployment
  summary: Update a zero touch deployment
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments
  operation: update
- group: Mr/zero touch/actions/deployment
  summary: Delete a zero touch deployment
  resource: /organizations/{organizationId}/wireless/devices/provisioning/deployments/{deploymentId}
  operation: destroy
- group: Ms/access
  summary: Create an access policy for a switch network. If you would like to enable Meraki Authentication, set radiusServers to empty array.
  resource: /networks/{networkId}/switch/accessPolicies
  operation: create
- group: Ms/access
  summary: Delete an access policy for a switch network
  resource: /networks/{networkId}/switch/accessPolicies/{accessPolicyNumber}
  operation: destroy
- group: Ms/access
  summary: Update an access policy for a switch network. If you would like to enable Meraki Authentication, set radiusServers to empty array.
  resource: /networks/{networkId}/switch/accessPolicies/{accessPolicyNumber}
  operation: update
- group: Ms/actions/adaptive
  summary: Add an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies
  operation: create
- group: Ms/actions/adaptive
  summary: Delete an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies/{id}
  operation: destroy
- group: Ms/actions/adaptive
  summary: Update an Adaptive Policy
  resource: /organizations/{organizationId}/adaptivePolicy/policies/{id}
  operation: update
- group: Ms/actions/adaptive policy settings
  summary: Update global adaptive policy settings
  resource: /organizations/{organizationId}/adaptivePolicy/settings
  operation: update
- group: Ms/actions/l3 interface
  summary: Create a layer 3 interface for a switch
  resource: /devices/{serial}/switch/routing/interfaces
  operation: create
- group: Ms/actions/l3 interface
  summary: Delete a layer 3 interface from the switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}
  operation: destroy
- group: Ms/actions/l3 interface
  summary: Update a layer 3 interface for a switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}
  operation: update
- group: Ms/actions/l3 interface dhcp
  summary: Update a layer 3 interface DHCP configuration for a switch
  resource: /devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp
  operation: update
- group: Ms/actions/l3 static route
  summary: Create a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes
  operation: create
- group: Ms/actions/l3 static route
  summary: Delete a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}
  operation: destroy
- group: Ms/actions/l3 static route
  summary: Update a layer 3 static route for a switch
  resource: /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}
  operation: update
- group: Ms/actions/link aggregation
  summary: Create a link aggregation group
  resource: /networks/{networkId}/switch/linkAggregations
  operation: create
- group: Ms/actions/link aggregation
  summary: Split a link aggregation group into separate ports
  resource: /networks/{networkId}/switch/linkAggregations/{linkAggregationId}
  operation: destroy
- group: Ms/actions/link aggregation
  summary: Update a link aggregation group
  resource: /networks/{networkId}/switch/linkAggregations/{linkAggregationId}
  operation: update
- group: Ms/actions/management interface settings
  summary: Update the management interface settings for a device
  resource: /devices/{serial}/managementInterface
  operation: update
- group: Ms/actions/storm control
  summary: Update the storm control configuration for a switch network
  resource: /networks/{networkId}/switch/stormControl
  operation: update
- group: Ms/actions/switch alternate management interface
  summary: Update the switch alternate management interface for the network
  resource: /networks/{networkId}/switch/alternateManagementInterface
  operation: update
- group: Ms/actions/switch port
  summary: Cycle a set of switch ports on non-Catalyst MS devices. For Catalyst support, use /devices/{serial}/liveTools/ports/cycle, which supports all switch product families.
  resource: /devices/{serial}/switch/ports
  operation: cycle
- group: Ms/actions/switch port
  summary: Update a switch port
  resource: /devices/{serial}/switch/ports/{portId}
  operation: update
- group: Ms/actions/switch profile port
  summary: Update a switch template port
  resource: /organizations/{organizationId}/configTemplates/{configTemplateId}/switch/profiles/{profileId}/ports/{portId}
  operation: update
- group: Ms/actions/switch stacks l3 interface
  summary: Create a layer 3 interface for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces
  operation: create
- group: Ms/actions/switch stacks l3 interface
  summary: Delete a layer 3 interface from a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}
  operation: destroy
- group: Ms/actions/switch stacks l3 interface
  summary: Update a layer 3 interface for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}
  operation: update
- group: Ms/actions/switch stacks l3 interface dhcp
  summary: Update a layer 3 interface DHCP configuration for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/interfaces/{interfaceId}/dhcp
  operation: update
- group: Ms/actions/switch stacks l3 static route
  summary: Create a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes
  operation: create
- group: Ms/actions/switch stacks l3 static route
  summary: Delete a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes/{staticRouteId}
  operation: destroy
- group: Ms/actions/switch stacks l3 static route
  summary: Update a layer 3 static route for a switch stack
  resource: /networks/{networkId}/switch/stacks/{switchStackId}/routing/staticRoutes/{staticRouteId}
  operation: update
- group: Ms/live tools/actions/perform leds
  summary: Enqueue a job to blink LEDs on a device. This endpoint has a rate limit of one request every 10 seconds.
  resource: /devices/{serial}/liveTools/leds/blink
  operation: blink
- group: Ms/live tools/actions/perform throughput
  summary: Enqueue a job to test a device throughput, the test will run for 10 secs to test throughput. This endpoint has a rate limit of one request every five seconds per device.
  resource: /devices/{serial}/liveTools/throughputTest
  operation: test
- group: Ms/routing/actions/ospf routing
  summary: Update layer 3 OSPF routing configuration
  resource: /networks/{networkId}/switch/routing/ospf
  operation: update
- group: Ms/switch
  summary: Update switch network settings
  resource: /networks/{networkId}/switch/settings
  operation: settings/actions/update
- group: Ms/switch
  summary: Update a switch stack. At least one of 'name' or 'members' must be provided. If 'members' is provided, it replaces the entire stack membership.
  resource: /networks/{networkId}/switch/stacks/{switchStackId}
  operation: stacks/actions/update
- group: Ms/switch
  summary: 'Clone port-level and some switch-level configuration settings from a source switch to one or more target switches. Cloned settings include: Aggregation Groups, Power Settings, Multicast Settings, MTU Configuration, STP Bridge priority, Port Mirroring'
  resource: /organizations/{organizationId}/switch/devices
  operation: settings/actions/clone
- group: Mt/api/actions/alert profiles
  summary: Creates a sensor alert profile for a network.
  resource: /networks/{networkId}/sensor/alerts/profiles
  operation: create
- group: Mt/api/actions/alert profiles
  summary: Deletes a sensor alert profile from a network.
  resource: /networks/{networkId}/sensor/alerts/profiles/{id}
  operation: destroy
- group: Mt/api/actions/alert profiles
  summary: Updates a sensor alert profile for a network.
  resource: /networks/{networkId}/sensor/alerts/profiles/{id}
  operation: update
- group: Mt/api/actions/commands
  summary: Sends a command to a sensor
  resource: /devices/{serial}/sensor/commands
  operation: create
- group: Mt/api/actions/sensor gateway role
  summary: Assign one or more sensor roles to a given sensor or camera device.
  resource: /devices/{serial}/sensor/relationships
  operation: update
- group: Mt/api/actions/sensor mqtt broker
  summary: Update the sensor settings of an MQTT broker. To update the broker itself, use /networks/{networkId}/mqttBrokers/{mqttBrokerId}.
  resource: /networks/{networkId}/sensor/mqttBrokers/{mqttBrokerId}
  operation: update
- group: Mv/actions/mqtt broker
  summary: Add an MQTT broker
  resource: /networks/{networkId}/mqttBrokers
  operation: create
- group: Mv/actions/mqtt broker
  summary: Delete an MQTT broker
  resource: /networks/{networkId}/mqttBrokers/{mqttBrokerId}
  operation: destroy
- group: Mv/actions/mqtt broker
  summary: Update an MQTT broker
  resource: /networks/{networkId}/mqttBrokers/{mqttBrokerId}
  operation: update
- group: Mv/actions/quality and retention setting
  summary: Update quality and retention settings for the given camera
  resource: /devices/{serial}/camera/qualityAndRetention
  operation: update
- group: Mv/actions/sense setting
  summary: Update sense settings for the given camera
  resource: /devices/{serial}/camera/sense
  operation: update
- group: Mx port
  summary: Update configurations for an appliance's specified port
  resource: /devices/{serial}/appliance/interfaces/ports/update
  operation: update
- group: Network
  summary: Bind a network to a template.
  resource: /networks/{networkId}
  operation: bind
- group: Network
  summary: Delete a network
  resource: /networks/{networkId}
  operation: destroy
- group: Network
  summary: Split a combined network into individual networks for each type of device
  resource: /networks/{networkId}
  operation: split
- group: Network
  summary: Unbind a network from a template.
  resource: /networks/{networkId}
  operation: unbind
- group: Network
  summary: Update a network
  resource: /networks/{networkId}
  operation: update
- group: Network
  summary: Combine multiple networks into a single network
  resource: /organizations/{organizationId}/networks
  operation: combine
- group: Network
  summary: Create a network
  resource: /organizations/{organizationId}/networks
  operation: create
- group: Network access/ssids/actions/ssid splash settings
  summary: Modify the splash page settings for the given SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/splash/settings
  operation: update
- group: Network groups
  summary: Create a network group
  resource: /organizations/{organizationId}/networks/groups
  operation: create
- group: Network groups
  summary: Add networks to a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: bulk_assign
- group: Network groups
  summary: Remove networks from a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: bulk_unassign
- group: Network groups
  summary: Delete a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: destroy
- group: Network groups
  summary: Update a network group
  resource: /organizations/{organizationId}/networks/groups/{groupId}
  operation: update
- group: Organization SAML IdP
  summary: Create a SAML IdP for your organization.
  resource: /organizations/{organizationId}/saml/idps
  operation: create
- group: Organization SAML IdP
  summary: Remove a SAML IdP in your organization.
  resource: /organizations/{organizationId}/saml/idps/{idpId}
  operation: destroy
- group: Organization SAML IdP
  summary: Update a SAML IdP in your organization
  resource: /organizations/{organizationId}/saml/idps/{idpId}
  operation: update
- group: Organization login security settings
  summary: Update the login security settings for an organization
  resource: /organizations/{organizationId}/loginSecurity
  operation: update
- group: Organization snmp
  summary: Update the SNMP settings for an organization
  resource: /organizations/{organizationId}/snmp
  operation: update
- group: Pcap logs
  summary: BulkDelete packet captures from cloud
  resource: /organizations/{organizationId}/devices/packetCapture/captures
  operation: destroy
- group: Pcap logs
  summary: Delete a single packet capture from cloud using captureId
  resource: /organizations/{organizationId}/devices/packetCapture/captures/{captureId}
  operation: destroy
- group: Pcap schedule configurations
  summary: Create a schedule for packet capture
  resource: /organizations/{organizationId}/devices/packetCapture/schedules
  operation: create
- group: Pcap schedule configurations
  summary: Bulk update priorities of pcap schedules
  resource: /organizations/{organizationId}/devices/packetCapture/schedules
  operation: reorder
- group: Pcap schedule configurations
  summary: Delete schedule from cloud
  resource: /organizations/{organizationId}/devices/packetCapture/schedules/{scheduleId}
  operation: destroy
- group: Pcap schedule configurations
  summary: Update a schedule for packet capture
  resource: /organizations/{organizationId}/devices/packetCapture/schedules/{scheduleId}
  operation: update
- group: Policy object
  summary: 'Creates a new Policy Object. Note: type `ipAndMask` is deprecated; use `cidr`.'
  resource: /organizations/{organizationId}/policyObjects
  operation: create
- group: Policy object
  summary: Deletes a Policy Object.
  resource: /organizations/{organizationId}/policyObjects/{policyObjectId}
  operation: destroy
- group: Policy object
  summary: 'Updates a Policy Object. Note: type `ipAndMask` is deprecated; use `cidr`.'
  resource: /organizations/{organizationId}/policyObjects/{policyObjectId}
  operation: update
- group: Policy object group
  summary: Creates a new Policy Object Group.
  resource: /organizations/{organizationId}/policyObjects/groups
  operation: create
- group: Policy object group
  summary: Deletes a Policy Object Group.
  resource: /organizations/{organizationId}/policyObjects/groups/{policyObjectGroupId}
  operation: destroy
- group: Psk group
  summary: Create an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks
  operation: create
- group: Psk group
  summary: Delete an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks/{identityPskId}
  operation: destroy
- group: Psk group
  summary: Update an Identity PSK
  resource: /networks/{networkId}/wireless/ssids/{number}/identityPsks/{identityPskId}
  operation: update
- group: Qos rule
  summary: Add a quality of service rule
  resource: /networks/{networkId}/switch/qosRules
  operation: create
- group: Qos rule
  summary: Update the order in which the rules should be processed by the switch
  resource: /networks/{networkId}/switch/qosRules/order
  operation: update_order
- group: Qos rule
  summary: Delete a quality of service rule
  resource: /networks/{networkId}/switch/qosRules/{qosRuleId}
  operation: destroy
- group: Qos rule
  summary: Update a quality of service rule
  resource: /networks/{networkId}/switch/qosRules/{qosRuleId}
  operation: update
- group: RF profile
  summary: Delete a RF Profile
  resource: /networks/{networkId}/wireless/rfProfiles/{rfProfileId}
  operation: destroy
- group: Radio settings
  summary: Update 2.4 GHz and 5 GHz radio settings (channel, channel width, power) that override RF profiles. For 6 GHz support or radio enable/disable, use updateDeviceWirelessRadioOverrides instead.
  resource: /devices/{serial}/wireless/radio/settings
  operation: update
- group: Rendezvous point
  summary: Create a multicast rendezvous point
  resource: /networks/{networkId}/switch/routing/multicast/rendezvousPoints
  operation: create
- group: Rendezvous point
  summary: Delete a multicast rendezvous point
  resource: /networks/{networkId}/switch/routing/multicast/rendezvousPoints/{rendezvousPointId}
  operation: destroy
- group: Rendezvous point
  summary: Update a multicast rendezvous point
  resource: /networks/{networkId}/switch/routing/multicast/rendezvousPoints/{rendezvousPointId}
  operation: update
- group: STP configuration
  summary: Updates STP settings
  resource: /networks/{networkId}/switch/stp
  operation: update
- group: Sm/actions/admins/role
  summary: Create a Limited Access Role
  resource: /organizations/{organizationId}/sm/admins/roles
  operation: create
- group: Sm/actions/admins/role
  summary: Delete a Limited Access Role
  resource: /organizations/{organizationId}/sm/admins/roles/{roleId}
  operation: destroy
- group: Sm/actions/admins/role
  summary: Update a Limited Access Role
  resource: /organizations/{organizationId}/sm/admins/roles/{roleId}
  operation: update
- group: Sm/actions/sentry/policies/assignments
  summary: Update an Organizations Sentry Policies using the provided list. Sentry Policies are ordered in descending order of priority (i.e. highest priority at the bottom, this is opposite the Dashboard UI). Policies not present in the request will be deleted.
  resource: /organizations/{organizationId}/sm/sentry/policies/assignments
  operation: update
- group: Spaces/actions/remove
  summary: Remove the Spaces integration from Meraki
  resource: /organizations/{organizationId}/spaces/integration
  operation: integration
- group: Splash theme
  summary: Create a Splash Theme
  resource: /organizations/{organizationId}/splash/themes
  operation: create
- group: Splash theme asset
  summary: Delete a Splash Theme Asset
  resource: /organizations/{organizationId}/splash/assets/{id}
  operation: destroy
- group: Splash theme asset
  summary: Create a Splash Theme Asset
  resource: /organizations/{organizationId}/splash/themes/{themeIdentifier}/assets
  operation: create
- group: Splash2 theme
  summary: Delete a Splash Theme
  resource: /organizations/{organizationId}/splash/themes/{id}
  operation: destroy
- group: Ssid device type group policies
  summary: Update the device type group policies for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/deviceTypeGroupPolicies
  operation: update
- group: Ssid profile assignment
  summary: Assigns an SSID profile to an SSID in the organization
  resource: /organizations/{organizationId}/wireless/ssids/profiles/assignments
  operation: create
- group: Ssid profile assignment
  summary: Unassigns the SSID profile assigned to an SSID
  resource: /organizations/{organizationId}/wireless/ssids/profiles/assignments
  operation: destroy
- group: Ssid vpn
  summary: Update the VPN settings for the SSID
  resource: /networks/{networkId}/wireless/ssids/{number}/vpn
  operation: update
- group: Staged upgrade/group
  summary: Create a Staged Upgrade Group for a network
  resource: /networks/{networkId}/firmwareUpgrades/staged/groups
  operation: create
- group: Staged upgrade/group
  summary: Delete a Staged Upgrade Group
  resource: /networks/{networkId}/firmwareUpgrades/staged/groups/{groupId}
  operation: destroy
- group: Switch port schedule
  summary: Update a switch port schedule
  resource: /networks/{networkId}/switch/portSchedules/{portScheduleId}
  operation: update
- group: Switch warm spare settings
  summary: Update warm spare configuration for a switch. The spare will use the same L3 configuration as the primary. Note that this will irreversibly destroy any existing L3 configuration on the spare.
  resource: /devices/{serial}/switch/warmSpare
  operation: update
- group: Traffic shaping settings
  summary: Update the traffic shaping settings rules for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/rules
  operation: update
- group: Traffic shaping settings
  summary: Update the traffic shaping rules for an SSID on an MR network.
  resource: /networks/{networkId}/wireless/ssids/{number}/trafficShaping/rules
  operation: update
- group: User access device
  summary: Delete a User Access Device
  resource: /networks/{networkId}/sm/userAccessDevices/{userAccessDeviceId}
  operation: destroy
- group: V1/adaptive policy acl
  summary: Creates new adaptive policy ACL
  resource: /organizations/{organizationId}/adaptivePolicy/acls
  operation: create
- group: V1/adaptive policy acl
  summary: Deletes the specified adaptive policy ACL. Note this adaptive policy ACL will also be removed from policies using it.
  resource: /organizations/{organizationId}/adaptivePolicy/acls/{aclId}
  operation: destroy
- group: V1/adaptive policy acl
  summary: Updates an adaptive policy ACL
  resource: /organizations/{organizationId}/adaptivePolicy/acls/{aclId}
  operation: update
- group: VLAN profile
  summary: Create a VLAN profile for a network
  resource: /networks/{networkId}/vlanProfiles
  operation: create
- group: VLAN profile
  summary: Delete a VLAN profile of a network
  resource: /networks/{networkId}/vlanProfiles/{iname}
  operation: destroy
- group: Vmx
  summary: Claim a vMX into a network
  resource: /networks/{networkId}/devices/claim/vmx
  operation: claim
- group: Vmx token
  summary: Generate a new vMX authentication token
  resource: /devices/{serial}/appliance/vmx/authenticationToken
  operation: create
- group: Warm spare
  summary: Update MX warm spare settings
  resource: /networks/{networkId}/appliance/devices/redundancy
  operation: update
- group: Warm spare
  summary: Swap MX primary and warm spare appliances
  resource: /networks/{networkId}/appliance/warmSpare
  operation: swap
- group: Warm spare
  summary: Update MX warm spare settings
  resource: /networks/{networkId}/appliance/warmSpare
  operation: update
- group: Wired/actions/bgp
  summary: Update a Hub BGP Configuration
  resource: /networks/{networkId}/appliance/vpn/bgp
  operation: settings/update
- group: Wired/actions/enqueue route table
  summary: Enqueue a routing table summary job for a device. The job fetches summary data such as route counts by VRF and protocol. Only Cisco Secure Routers are supported.
  resource: /devices/{serial}/liveTools/routingTable/summaries
  operation: summary
- group: Wired/actions/network appliance settings
  summary: Update the appliance settings for a network
  resource: /networks/{networkId}/appliance/settings
  operation: update
- group: Wired/actions/org wide firewall/policy object group
  summary: Updates a Policy Object Group.
  resource: /organizations/{organizationId}/policyObjects/groups/{policyObjectGroupId}
  operation: update
- group: Wired/actions/single lan/single lan
  summary: Update single LAN configuration
  resource: /networks/{networkId}/appliance/singleLan
  operation: update
- group: Wired/actions/static delegated prefix
  summary: Add a static delegated prefix from a network
  resource: /networks/{networkId}/appliance/prefixes/delegated/statics
  operation: create
- group: Wired/actions/static delegated prefix
  summary: Delete a static delegated prefix from a network
  resource: /networks/{networkId}/appliance/prefixes/delegated/statics/{staticDelegatedPrefixId}
  operation: destroy
- group: Wired/actions/static delegated prefix
  summary: Update a static delegated prefix from a network
  resource: /networks/{networkId}/appliance/prefixes/delegated/statics/{staticDelegatedPrefixId}
  operation: update
- group: Wired/actions/uplink selection settings
  summary: Update uplink selection settings for an MX network
  resource: /networks/{networkId}/appliance/trafficShaping/uplinkSelection
  operation: update
- group: Wired/actions/vlan settings
  summary: Enable/Disable VLANs for the given network
  resource: /networks/{networkId}/appliance/vlans/settings
  operation: update
- group: Wired/actions/vlan/vlan
  summary: Add a VLAN
  resource: /networks/{networkId}/appliance/vlans
  operation: create
- group: Wired/actions/vlan/vlan
  summary: Delete a VLAN from a network
  resource: /networks/{networkId}/appliance/vlans/{vlanId}
  operation: destroy
- group: Wired/actions/vlan/vlan
  summary: Update a VLAN
  resource: /networks/{networkId}/appliance/vlans/{vlanId}
  operation: update
- group: Wired/actions/vpn exclusions
  summary: Update VPN exclusion rules for an MX network.
  resource: /networks/{networkId}/appliance/trafficShaping/vpnExclusions
  operation: update
- group: Wired/actions/vpn/ipsec sla policies
  summary: Update the IPsec SLA policies for an organization
  resource: /organizations/{organizationId}/appliance/vpn/siteToSite/ipsec/peers/slas
  operation: update
- group: Wired/actions/vpn/site to site vpn
  summary: Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode.
  resource: /networks/{networkId}/appliance/vpn/siteToSiteVpn
  operation: update
- group: Wired/actions/vpn/third party vpn peers
  summary: 'Update the third party VPN peers for an organization.


    Subnet overlap warning: Unlike the Dashboard UI, updateOrganizationApplianceVpnThirdPartyVPNPeers does not run the org-wide subnet-overlap validation before saving changes. Requests with overlapping VPN subnets will succeed through the API, but the resulting configuration may be blocked from further edits in Dashboard until the overlaps are resolved manually. Use this endpoint only when you''ve already confirmed the advertised subnets are unique across the organization.

    '
  resource: /organizations/{organizationId}/appliance/vpn/thirdPartyVPNPeers
  operation: update
- group: Wired/actions/wan traffic uplink
  summary: Update SDWAN internet traffic preferences for an MX network
  resource: /networks/{networkId}/appliance/sdwan/internetPolicies
  operation: update
- group: Wired/actions/wired l7 firewall
  summary: Update the MX L7 firewall rules for an MX network
  resource: /networks/{networkId}/appliance/firewall/l7FirewallRules
  operation: update
- group: Wired/appliance RF profile
  summary: Creates new RF profile for this network
  resource: /networks/{networkId}/appliance/rfProfiles
  operation: create
- group: Wired/appliance RF profile
  summary: Delete a RF Profile
  resource: /networks/{networkId}/appliance/rfProfiles/{rfProfileId}
  operation: destroy
- group: Wired/appliance RF profile
  summary: Updates specified RF profile for this network
  resource: /networks/{networkId}/appliance/rfProfiles/{rfProfileId}
  operation: update
- group: Wired/appliance/actions/firewall/multicast forwarding
  summary: Update static multicast forward rules for a network
  resource: /networks/{networkId}/appliance/firewall/multicastForwarding
  operation: update
- group: Wired/cellular/api/actions/cellular gateway connectivity monitoring destination
  summary: Update the connectivity testing destinations for an MG network
  resource: /networks/{networkId}/cellularGateway/connectivityMonitoringDestinations
  operation: update
- group: Wired/cellular/api/actions/cellular gateway device lan
  summary: Update the LAN Settings for a single MG.
  resource: /devices/{serial}/cellularGateway/lan
  operation: update
- group: Wired/cellular/api/actions/cellular gateway dhcp setting
  summary: Update common DHCP settings of MGs
  resource: /networks/{networkId}/cellularGateway/dhcp
  operation: update
- group: Wired/cellular/api/actions/cellular gateway port forwarding rules
  summary: Updates the port forwarding rules for a single MG.
  resource: /devices/{serial}/cellularGateway/portForwardingRules
  operation: update
- group: Wired/cellular/api/actions/cellular gateway subnet pool
  summary: Update the subnet pool and mask configuration for MGs in the network.
  resource: /networks/{networkId}/cellularGateway/subnetPool
  operation: update
- group: Wired/cellular/api/actions/cellular gateway uplink setting
  summary: Updates the uplink settings for your MG network.
  resource: /networks/{networkId}/cellularGateway/uplink
  operation: update
- group: Wired/cellular/cellular band config/api/actions/cellular signal settings
  summary: Update the cellular band masks for a device
  resource: /devices/{serial}/cellular/uplinks/bands/masks/update
  operation: update
- group: Wired/cellular/cellular gps/api/actions/cellular location settings
  summary: Update the enablement of the geolocation feature for a device
  resource: /devices/{serial}/cellular/geolocations
  operation: update
- group: Wired/cellular/data management/api/actions/profile
  summary: Add a cellular data management profile to this organization. Creates a cellular data management profile in this organization and returns the created profile, including its rules and actions.
  resource: /organizations/{organizationId}/devices/cellular/data/profiles
  operation: create
- group: Wired/cellular/data management/api/actions/profile
  summary: Delete a cellular data management profile from this organization. Removes the profile, including its associated rules and node assignments, and notifies affected devices of the resulting configuration change.
  resource: /organizations/{organizationId}/devices/cellular/data/profiles/{profileId}
  operation: destroy
- group: Wired/cellular/data management/api/actions/profile
  summary: Update a Cellular Data Management Profile. Note that changes made to this endpoint will overwrite existing settings for the profile so the entire profile, rules and actions should be sent when making an update.
  resource: /organizations/{organizationId}/devices/cellular/data/profiles/{profileId}
  operation: update
- group: Wired/cellular/data management/api/actions/profile node association batch
  summary: Assign devices to a Cellular Data Management Profile in batch. Creates up to 100 device-to-profile assignments and returns the created assignment IDs.
  resource: /organizations/{organizationId}/devices/cellular/data/profiles/assignments
  operation: create
- group: Wired/cellular/data management/api/actions/profile node association bulk
  summary: Unassign devices from a Cellular Data Management Profile in batch. Removes up to 100 device-to-profile assignments and returns no response body on success.
  resource: /organizations/{organizationId}/devices/cellular/data/profiles/assignments
  operation: destroy
- group: Wired/cellular/esim/api/actions/cellular esim
  summary: Toggle the status of an eSIM
  resource: /organizations/{organizationId}/cellularGateway/esims/inventory/{id}
  operation: update
- group: Wired/cellular/esim/api/actions/cellular service provider account
  summary: Add a service provider account.
  resource: /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts
  operation: create
- group: Wired/cellular/esim/api/actions/cellular service provider account
  summary: Remove a service provider account's integration with the Dashboard.
  resource: /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/{accountId}
  operation: destroy
- group: Wired/cellular/esim/api/actions/cellular service provider account
  summary: Edit service provider account info stored in Meraki's database.
  resource: /organizations/{organizationId}/cellularGateway/esims/serviceProviders/accounts/{accountId}
  operation: update
- group: Wired/cellular/esim/api/actions/initiate
  summary: Swap which profile an eSIM uses.
  resource: /organizations/{organizationId}/cellularGateway/esims/swap
  operation: swap
- group: Wired/cellular/esim/api/actions/sync swap
  summary: Get the status of a profile swap.
  resource: /organizations/{organizationId}/cellularGateway/esims/swap/{id}
  operation: status
- group: Wired/controller/high availability/swap/request
  summary: Swap MX primary and warm spare appliances
  resource: /networks/{networkId}/appliance/devices/redundancy/swap
  operation: swap
- group: Wired/live tools/actions/enqueue port
  summary: Enqueue a job to retrieve port status for a device. This endpoint has a sustained rate limit of one request every five seconds per device, with an allowed burst of five requests.
  resource: /devices/{serial}/liveTools/ports/status
  operation: status
- group: Wired/live tools/actions/enqueue power usage
  summary: Enqueues a live tool job that retrieves details about a device's overall power usage. This endpoint has a sustained rate limit of one request every five seconds per device, with an allowed burst of five requests.
  resource: /devices/{serial}/liveTools/power/usage
  operation: job
- group: Wired/live tools/actions/enqueue route table
  summary: Enqueue a job to perform a routing table lookup request for a device. The routing table lookup request fetches a specific set of routes based on filters. Any combination of search filters can be applied. Only Cisco Secure Routers are supported.
  resource: /devices/{serial}/liveTools/routingTable/lookups
  operation: lookup
- group: Wired/local dns/api/actions/bulk create
  summary: Assign the local DNS profile to networks in the organization
  resource: /organizations/{organizationId}/appliance/dns/local/profiles/assignments
  operation: bulk_create
- group: Wired/local dns/api/actions/bulk delete
  summary: Unassign the local DNS profile to networks in the organization
  resource: /organizations/{organizationId}/appliance/dns/local/profiles/assignments/bulkDelete
  operation: bulk_delete
- group: Wired/local dns/profiles/api/actions/local dns profile
  summary: Create a new local DNS profile
  resource: /organizations/{organizationId}/appliance/dns/local/profiles
  operation: create
- group: Wired/local dns/profiles/api/actions/local dns profile
  summary: Deletes a local DNS profile
  resource: /organizations/{organizationId}/appliance/dns/local/profiles/{profileId}
  operation: destroy
- group: Wired/local dns/profiles/api/actions/local dns profile
  summary: Update a local DNS profile
  resource: /organizations/{organizationId}/appliance/dns/local/profiles/{profileId}
  operation: update
- group: Wired/local dns/records/api/actions/local dns record
  summary: Create a new local DNS record
  resource: /organizations/{organizationId}/appliance/dns/local/records
  operation: create
- group: Wired/local dns/records/api/actions/local dns record
  summary: Deletes a local DNS record
  resource: /organizations/{organizationId}/appliance/dns/local/records/{recordId}
  operation: destroy
- group: Wired/local dns/records/api/actions/local dns record
  summary: Updates a local DNS record
  resource: /organizations/{organizationId}/appliance/dns/local/records/{recordId}
  operation: update
- group: Wired/organizations/actions/vrf settings
  summary: Update the VRF setting for an organization.
  resource: /organizations/{organizationId}/appliance/routing/vrfs/settings
  operation: update
- group: Wired/port/api/actions/wired port
  summary: Update the per-port VLAN settings for a single secure router or security appliance port.
  resource: /networks/{networkId}/appliance/ports/{portId}
  operation: update
- group: Wired/split dns/api/actions/bulk create
  summary: Assign the split DNS profile to networks in the organization
  resource: /organizations/{organizationId}/appliance/dns/split/profiles/assignments/bulkCreate
  operation: bulk_create
- group: Wired/split dns/api/actions/bulk delete
  summary: Unassign the split DNS profile to networks in the organization
  resource: /organizations/{organizationId}/appliance/dns/split/profiles/assignments/bulkDelete
  operation: bulk_delete
- group: Wired/split dns/api/actions/split dns profile
  summary: Create a new split DNS profile
  resource: /organizations/{organizationId}/appliance/dns/split/profiles
  operation: create
- group: Wired/split dns/api/actions/split dns profile
  summary: Deletes a split DNS profile
  resource: /organizations/{organizationId}/appliance/dns/split/profiles/{profileId}
  operation: destroy
- group: Wired/split dns/api/actions/split dns profile
  summary: Update a split DNS profile
  resource: /organizations/{organizationId}/appliance/dns/split/profiles/{profileId}
  operation: update
- group: Wired/uplink nat settings/api/actions/update uplink nat
  summary: Update uplink NAT settings of the specified network
  resource: /networks/{networkId}/appliance/uplinks/nat
  operation: settings
- group: Wired/uplinks/actions/settings
  summary: Update the uplink settings for a secure router or security appliance
  resource: /devices/{serial}/appliance/uplinks/settings
  operation: update
- group: Wired/xdr/api/actions/xdr
  summary: Disable XDR on networks
  resource: /organizations/{organizationId}/integrations/xdr/networks
  operation: disable
- group: Wired/xdr/api/actions/xdr
  summary: Enable XDR on networks
  resource: /organizations/{organizationId}/integrations/xdr/networks
  operation: enable
- group: Wireless alternate management interface
  summary: Update alternate management interface and device static IP
  resource: /networks/{networkId}/wireless/alternateManagementInterface
  operation: update
- group: Wireless l7 firewall
  summary: Update the L7 firewall rules of an SSID on an MR network
  resource: /networks/{networkId}/wireless/ssids/{number}/firewall/l7FirewallRules
  operation: update
- group: Wireless/location/scanning http servers/actions/location scanning http servers
  summary: Add new receiver for scanning API
  resource: /organizations/{organizationId}/wireless/location/scanning/receivers
  operation: create
- group: Wireless/location/scanning http servers/actions/location scanning http servers
  summary: Delete a scanning API receiver
  resource: /organizations/{organizationId}/wireless/location/scanning/receivers/{receiverId}
  operation: delete
- group: Wireless/location/scanning http servers/actions/location scanning http servers
  summary: Change scanning API receiver settings
  resource: /organizations/{organizationId}/wireless/location/scanning/receivers/{receiverId}
  operation: update
- group: Wireless/location/scanning/actions/location scanning
  summary: Change scanning API settings
  resource: /networks/{networkId}/wireless/location/scanning
  operation: update
- group: Wireless/mqtt/settings/actions/mqtt settings
  summary: Add new broker config for wireless MQTT
  resource: /organizations/{organizationId}/wireless/mqtt/settings
  operation: update
