{
 "openapi": "3.0.1",
 "info": {
  "title": "Cisco Meraki Dashboard API \u2014 campusGateway",
  "description": "The campusGateway operations of the Cisco Meraki Dashboard API, split by product area from Cisco's published OpenAPI definition.",
  "version": "1.72.0",
  "contact": {
   "name": "Meraki Developer Community",
   "url": "https://meraki.io/community"
  },
  "x-provenance": {
   "method": "harvested",
   "authored_by": "Cisco Meraki",
   "harvested_by": "API Evangelist",
   "harvested_on": "2026-07-31",
   "first_party": true,
   "note": "Split by first tag from Cisco's published spec3.json; operations unmodified.",
   "provider_published": true
  },
  "x-evidence": [
   {
    "type": "source",
    "url": "https://github.com/meraki/openapi/blob/master/openapi/spec3.json"
   },
   {
    "type": "raw",
    "url": "https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json"
   },
   {
    "type": "alternate",
    "url": "https://api.meraki.com/api/v1/openapiSpec"
   }
  ]
 },
 "servers": [
  {
   "url": "https://api.meraki.com/{basePath}",
   "variables": {
    "basePath": {
     "default": "api/v1"
    }
   }
  }
 ],
 "security": [
  {
   "meraki_api_key": []
  },
  {
   "bearerAuth": []
  }
 ],
 "tags": [
  {
   "name": "byDevice",
   "description": ""
  },
  {
   "name": "campusGateway",
   "description": ""
  },
  {
   "name": "clusters",
   "description": ""
  },
  {
   "name": "configure",
   "description": ""
  },
  {
   "name": "devices",
   "description": ""
  },
  {
   "name": "localOverrides",
   "description": ""
  },
  {
   "name": "uplinks",
   "description": ""
  }
 ],
 "components": {
  "securitySchemes": {
   "meraki_api_key": {
    "type": "apiKey",
    "name": "X-Cisco-Meraki-API-Key",
    "in": "header"
   },
   "bearerAuth": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "API Key"
   }
  }
 },
 "paths": {
  "/networks/{networkId}/campusGateway/clusters": {
   "post": {
    "description": "Create a cluster and add campus gateways to it",
    "operationId": "createNetworkCampusGatewayCluster",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "Name of the new cluster"
         },
         "uplinks": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "interface": {
             "type": "string",
             "description": "Interface identifier, should be set to man1"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the interface"
            },
            "addresses": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "assignmentMode": {
                "type": "string",
                "enum": [
                 "dynamic",
                 "static"
                ],
                "description": "Assignment mode of the interface"
               },
               "protocol": {
                "type": "string",
                "enum": [
                 "ipv4"
                ],
                "description": "Protocol of the interface when assignment mode is static"
               },
               "gateway": {
                "type": "string",
                "description": "Gateway of the interface when assignment mode is static"
               },
               "subnetMask": {
                "type": "string",
                "description": "Subnet mask of the interface when assignment mode is static"
               }
              },
              "required": [
               "assignmentMode"
              ]
             },
             "description": "Addresses of the interface"
            }
           },
           "required": [
            "interface",
            "vlan",
            "addresses"
           ]
          },
          "description": "Uplink interface settings of the cluster"
         },
         "tunnels": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "uplink": {
             "type": "object",
             "properties": {
              "interface": {
               "type": "string",
               "description": "Uplink interface identifier"
              }
             },
             "required": [
              "interface"
             ],
             "description": "Uplink interface details if uplink is reused as tunnel"
            },
            "interface": {
             "type": "string",
             "description": "Interface identifier, should be set to tun1. Specify this interface only if uplink isn't reused as tunnel"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the interface"
            },
            "addresses": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "protocol": {
                "type": "string",
                "enum": [
                 "ipv4"
                ],
                "description": "Protocol of the interface"
               },
               "gateway": {
                "type": "string",
                "description": "Gateway of the interface"
               },
               "subnetMask": {
                "type": "string",
                "description": "Subnet mask of the interface"
               }
              },
              "required": [
               "protocol",
               "gateway",
               "subnetMask"
              ]
             },
             "description": "Addresses of the interface"
            }
           }
          },
          "description": "Tunnel interface settings of the cluster: Reuse uplink or specify tunnel interface"
         },
         "nameservers": {
          "type": "object",
          "properties": {
           "addresses": {
            "type": "array",
            "items": {
             "type": "string"
            },
            "description": "Addresses of the nameservers"
           }
          },
          "description": "Nameservers of the cluster"
         },
         "portChannels": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name of the port channel"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the port channel"
            },
            "allowedVlans": {
             "type": "string",
             "description": "Allowed VLANs of the port channel"
            }
           },
           "required": [
            "name",
            "vlan",
            "allowedVlans"
           ]
          },
          "description": "Port channel settings of the cluster"
         },
         "devices": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "serial": {
             "type": "string",
             "description": "Serial of the device"
            },
            "uplinks": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Uplink interface name"
               },
               "addresses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "protocol": {
                   "type": "string",
                   "enum": [
                    "ipv4"
                   ],
                   "description": "Protocol of the interface"
                  },
                  "address": {
                   "type": "string",
                   "description": "IP address of the interface"
                  }
                 },
                 "required": [
                  "protocol",
                  "address"
                 ]
                },
                "description": "Uplink IP addresses of the device"
               }
              },
              "required": [
               "interface",
               "addresses"
              ]
             },
             "description": "Uplink settings of the device when uplink assignment mode of cluster is static"
            },
            "tunnels": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Tunnel interface name"
               },
               "addresses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "protocol": {
                   "type": "string",
                   "enum": [
                    "ipv4"
                   ],
                   "description": "Protocol of the interface"
                  },
                  "address": {
                   "type": "string",
                   "description": "IP address of the interface"
                  }
                 },
                 "required": [
                  "protocol",
                  "address"
                 ]
                },
                "description": "Tunnel IP addresses of the device"
               }
              },
              "required": [
               "interface",
               "addresses"
              ]
             },
             "description": "Tunnel settings of the device when tunnel interface of cluster is specified"
            }
           },
           "required": [
            "serial"
           ]
          },
          "description": "Devices to be added to the cluster"
         },
         "notes": {
          "type": "string",
          "description": "Notes about cluster with max size of 511 characters allowed"
         }
        },
        "example": {
         "name": "North Campus",
         "uplinks": [
          {
           "interface": "man1",
           "vlan": 5,
           "addresses": [
            {
             "assignmentMode": "static",
             "protocol": "ipv4",
             "gateway": "1.2.3.5",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "tunnels": [
          {
           "uplink": {
            "interface": "man1"
           },
           "interface": "tun1",
           "vlan": 6,
           "addresses": [
            {
             "protocol": "ipv4",
             "gateway": "2.3.5.6",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "nameservers": {
          "addresses": [
           "8.8.8.8",
           "8.8.4.4"
          ]
         },
         "portChannels": [
          {
           "name": "Port-channel1",
           "vlan": 25,
           "allowedVlans": "10-20"
          }
         ],
         "devices": [
          {
           "serial": "Q234-ABCD-0001",
           "uplinks": [
            {
             "interface": "man1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "5.1.2.3"
              }
             ]
            }
           ],
           "tunnels": [
            {
             "interface": "tun1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "6.2.6.7"
              }
             ]
            }
           ]
          }
         ],
         "notes": "This cluster is for New York Office"
        },
        "required": [
         "name",
         "uplinks",
         "tunnels",
         "nameservers",
         "portChannels"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "clusterId": {
           "type": "string",
           "description": "ID of the cluster"
          },
          "name": {
           "type": "string",
           "description": "Name of the cluster"
          },
          "uplinks": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "interface": {
              "type": "string",
              "description": "Name of the interface"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN of the interface"
             },
             "addresses": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "assignmentMode": {
                 "type": "string",
                 "description": "Assignment mode of the interface"
                },
                "protocol": {
                 "type": "string",
                 "description": "Protocol of the interface"
                },
                "gateway": {
                 "type": "string",
                 "description": "Gateway of the interface"
                },
                "subnetMask": {
                 "type": "string",
                 "description": "Subnet mask of the interface"
                }
               }
              },
              "description": "Addresses of the interface"
             }
            }
           },
           "description": "Uplink settings of the cluster"
          },
          "tunnels": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "uplink": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Uplink interface name"
               }
              },
              "description": "Use uplink interface as tunnel interface"
             },
             "interface": {
              "type": "string",
              "description": "Name of the interface"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN ID of the interface"
             },
             "addresses": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "protocol": {
                 "type": "string",
                 "description": "Protocol of the interface"
                },
                "gateway": {
                 "type": "string",
                 "description": "Gateway of the interface"
                },
                "subnetMask": {
                 "type": "string",
                 "description": "Subnet mask of the interface"
                }
               }
              },
              "description": "Addresses of the interface"
             }
            }
           },
           "description": "Tunnel settings of the cluster"
          },
          "nameservers": {
           "type": "object",
           "properties": {
            "addresses": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "description": "Addresses of the nameservers"
            }
           },
           "description": "Nameservers of the cluster"
          },
          "portChannels": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID of the port channel"
             },
             "name": {
              "type": "string",
              "description": "Name of the port channel"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN ID of the port channel"
             },
             "allowedVlans": {
              "type": "string",
              "description": "Allowed VLANs of the port channel"
             }
            }
           },
           "description": "Port channel settings of the cluster"
          },
          "devices": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "serial": {
              "type": "string",
              "description": "Serial of the device"
             },
             "memberId": {
              "type": "string",
              "description": "Member number assigned to the device within cluster - This is a read only attribute and cannot be altered using post/put operations"
             },
             "uplinks": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "interface": {
                 "type": "string",
                 "description": "Uplink interface name"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "address": {
                    "type": "string",
                    "description": "IP address of the interface"
                   }
                  }
                 },
                 "description": "Uplink IP addresses of the device"
                }
               }
              },
              "description": "Uplink settings of the device"
             },
             "tunnels": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "interface": {
                 "type": "string",
                 "description": "Tunnel interface name"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "address": {
                    "type": "string",
                    "description": "IP address of the interface"
                   }
                  }
                 },
                 "description": "Tunnel IP addresses of the device"
                }
               }
              },
              "description": "Tunnel settings of the device"
             }
            }
           },
           "description": "Devices in the cluster"
          },
          "notes": {
           "type": "string",
           "description": "Notes about cluster"
          },
          "url": {
           "type": "string",
           "description": "URL to display cluster details"
          }
         }
        },
        "example": {
         "clusterId": "1284392014818",
         "name": "North Campus",
         "uplinks": [
          {
           "interface": "man1",
           "vlan": 5,
           "addresses": [
            {
             "assignmentMode": "static",
             "protocol": "ipv4",
             "gateway": "1.2.3.5",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "tunnels": [
          {
           "uplink": {
            "interface": "man1"
           },
           "interface": "tun1",
           "vlan": 6,
           "addresses": [
            {
             "protocol": "ipv4",
             "gateway": "2.3.5.6",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "nameservers": {
          "addresses": [
           "8.8.8.8",
           "8.8.4.4"
          ]
         },
         "portChannels": [
          {
           "id": "1284392014830",
           "name": "Port-channel1",
           "vlan": 25,
           "allowedVlans": "10-20"
          }
         ],
         "devices": [
          {
           "serial": "Q234-ABCD-0001",
           "memberId": "1",
           "uplinks": [
            {
             "interface": "man1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "5.1.2.3"
              }
             ]
            }
           ],
           "tunnels": [
            {
             "interface": "tun1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "6.2.6.7"
              }
             ]
            }
           ]
          }
         ],
         "notes": "This cluster is for New York Office",
         "url": "https://n123.meraki.com/networkName/n/abc123/manage/campus_gateways/clusters"
        }
       }
      }
     }
    },
    "summary": "Create a cluster and add campus gateways to it",
    "tags": [
     "campusGateway",
     "configure",
     "clusters"
    ]
   }
  },
  "/networks/{networkId}/campusGateway/clusters/{clusterId}": {
   "put": {
    "description": "Update a cluster and add/remove campus gateways to/from it",
    "operationId": "updateNetworkCampusGatewayCluster",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "clusterId",
      "in": "path",
      "description": "Cluster ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "Name of the cluster"
         },
         "uplinks": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "interface": {
             "type": "string",
             "description": "Interface identifier, should be set to man1"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the interface"
            },
            "addresses": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "assignmentMode": {
                "type": "string",
                "enum": [
                 "dynamic",
                 "static"
                ],
                "description": "Assignment mode of the interface"
               },
               "protocol": {
                "type": "string",
                "enum": [
                 "ipv4"
                ],
                "description": "Protocol of the interface when assignmentMode is static"
               },
               "gateway": {
                "type": "string",
                "description": "Gateway of the interface when assignmentMode is static"
               },
               "subnetMask": {
                "type": "string",
                "description": "Subnet mask of the interface when assignmentMode is static"
               }
              }
             },
             "description": "Addresses of the interface"
            }
           },
           "required": [
            "interface"
           ]
          },
          "description": "Uplink interface settings of the cluster"
         },
         "tunnels": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "uplink": {
             "type": "object",
             "properties": {
              "interface": {
               "type": "string",
               "description": "Uplink interface identifier"
              }
             },
             "required": [
              "interface"
             ],
             "description": "Uplink interface details if uplink is reused as tunnel"
            },
            "interface": {
             "type": "string",
             "description": "Interface identifier, should be set to tun1. Specify this interface only if uplink isn't reused as tunnel"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the interface"
            },
            "addresses": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "protocol": {
                "type": "string",
                "enum": [
                 "ipv4"
                ],
                "description": "Protocol of the interface"
               },
               "gateway": {
                "type": "string",
                "description": "Gateway of the interface"
               },
               "subnetMask": {
                "type": "string",
                "description": "Subnet mask of the interface"
               }
              }
             },
             "description": "Addresses of the interface"
            }
           }
          },
          "description": "Tunnel interface settings of the cluster: Reuse uplink or specify tunnel interface"
         },
         "nameservers": {
          "type": "object",
          "properties": {
           "addresses": {
            "type": "array",
            "items": {
             "type": "string"
            },
            "description": "Addresses of the nameservers"
           }
          },
          "description": "Nameservers of the cluster"
         },
         "portChannels": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name of the port channel"
            },
            "vlan": {
             "type": "integer",
             "description": "VLAN ID of the port channel"
            },
            "allowedVlans": {
             "type": "string",
             "description": "Allowed VLANs of the port channel"
            }
           },
           "required": [
            "name"
           ]
          },
          "description": "Port channel settings of the cluster"
         },
         "devices": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "serial": {
             "type": "string",
             "description": "Serial of the device"
            },
            "uplinks": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Uplink interface name"
               },
               "addresses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "protocol": {
                   "type": "string",
                   "enum": [
                    "ipv4"
                   ],
                   "description": "Protocol of the interface"
                  },
                  "address": {
                   "type": "string",
                   "description": "IP address of the interface"
                  }
                 },
                 "required": [
                  "address"
                 ]
                },
                "description": "Uplink IP addresses of the device"
               }
              },
              "required": [
               "interface",
               "addresses"
              ]
             },
             "description": "Uplink settings of the device when uplink assignment mode of cluster is static"
            },
            "tunnels": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Tunnel interface name"
               },
               "addresses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "protocol": {
                   "type": "string",
                   "enum": [
                    "ipv4"
                   ],
                   "description": "Protocol of the interface"
                  },
                  "address": {
                   "type": "string",
                   "description": "IP address of the interface"
                  }
                 },
                 "required": [
                  "address"
                 ]
                },
                "description": "Tunnel IP addresses of the device"
               }
              },
              "required": [
               "interface",
               "addresses"
              ]
             },
             "description": "Tunnel settings of the device when tunnel interface of cluster is specified"
            }
           },
           "required": [
            "serial"
           ]
          },
          "description": "Devices in the cluster"
         },
         "notes": {
          "type": "string",
          "description": "Notes about cluster with max size of 511 characters allowed"
         }
        },
        "example": {
         "name": "North Campus",
         "uplinks": [
          {
           "interface": "man1",
           "vlan": 5,
           "addresses": [
            {
             "assignmentMode": "static",
             "protocol": "ipv4",
             "gateway": "1.2.3.5",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "tunnels": [
          {
           "uplink": {
            "interface": "man1"
           },
           "interface": "tun1",
           "vlan": 6,
           "addresses": [
            {
             "protocol": "ipv4",
             "gateway": "2.3.5.6",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "nameservers": {
          "addresses": [
           "8.8.8.8",
           "8.8.4.4"
          ]
         },
         "portChannels": [
          {
           "name": "Port-channel1",
           "vlan": 25,
           "allowedVlans": "10-20"
          }
         ],
         "devices": [
          {
           "serial": "Q234-ABCD-0001",
           "uplinks": [
            {
             "interface": "man1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "5.1.2.3"
              }
             ]
            }
           ],
           "tunnels": [
            {
             "interface": "tun1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "6.2.6.7"
              }
             ]
            }
           ]
          }
         ],
         "notes": "This cluster is for New York Office"
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "clusterId": {
           "type": "string",
           "description": "ID of the cluster"
          },
          "name": {
           "type": "string",
           "description": "Name of the cluster"
          },
          "uplinks": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "interface": {
              "type": "string",
              "description": "Name of the interface"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN of the interface"
             },
             "addresses": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "assignmentMode": {
                 "type": "string",
                 "description": "Assignment mode of the interface"
                },
                "protocol": {
                 "type": "string",
                 "description": "Protocol of the interface"
                },
                "gateway": {
                 "type": "string",
                 "description": "Gateway of the interface"
                },
                "subnetMask": {
                 "type": "string",
                 "description": "Subnet mask of the interface"
                }
               }
              },
              "description": "Addresses of the interface"
             }
            }
           },
           "description": "Uplink settings of the cluster"
          },
          "tunnels": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "uplink": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Uplink interface name"
               }
              },
              "description": "Use uplink interface as tunnel interface"
             },
             "interface": {
              "type": "string",
              "description": "Name of the interface"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN ID of the interface"
             },
             "addresses": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "protocol": {
                 "type": "string",
                 "description": "Protocol of the interface"
                },
                "gateway": {
                 "type": "string",
                 "description": "Gateway of the interface"
                },
                "subnetMask": {
                 "type": "string",
                 "description": "Subnet mask of the interface"
                }
               }
              },
              "description": "Addresses of the interface"
             }
            }
           },
           "description": "Tunnel settings of the cluster"
          },
          "nameservers": {
           "type": "object",
           "properties": {
            "addresses": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "description": "Addresses of the nameservers"
            }
           },
           "description": "Nameservers of the cluster"
          },
          "portChannels": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID of the port channel"
             },
             "name": {
              "type": "string",
              "description": "Name of the port channel"
             },
             "vlan": {
              "type": "integer",
              "description": "VLAN ID of the port channel"
             },
             "allowedVlans": {
              "type": "string",
              "description": "Allowed VLANs of the port channel"
             }
            }
           },
           "description": "Port channel settings of the cluster"
          },
          "devices": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "serial": {
              "type": "string",
              "description": "Serial of the device"
             },
             "memberId": {
              "type": "string",
              "description": "Member number assigned to the device within cluster - This is a read only attribute and cannot be altered using post/put operations"
             },
             "uplinks": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "interface": {
                 "type": "string",
                 "description": "Uplink interface name"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "address": {
                    "type": "string",
                    "description": "IP address of the interface"
                   }
                  }
                 },
                 "description": "Uplink IP addresses of the device"
                }
               }
              },
              "description": "Uplink settings of the device"
             },
             "tunnels": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "interface": {
                 "type": "string",
                 "description": "Tunnel interface name"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "address": {
                    "type": "string",
                    "description": "IP address of the interface"
                   }
                  }
                 },
                 "description": "Tunnel IP addresses of the device"
                }
               }
              },
              "description": "Tunnel settings of the device"
             }
            }
           },
           "description": "Devices in the cluster"
          },
          "notes": {
           "type": "string",
           "description": "Notes about cluster"
          },
          "url": {
           "type": "string",
           "description": "URL to display cluster details"
          }
         }
        },
        "example": {
         "clusterId": "1284392014818",
         "name": "North Campus",
         "uplinks": [
          {
           "interface": "man1",
           "vlan": 5,
           "addresses": [
            {
             "assignmentMode": "static",
             "protocol": "ipv4",
             "gateway": "1.2.3.5",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "tunnels": [
          {
           "uplink": {
            "interface": "man1"
           },
           "interface": "tun1",
           "vlan": 6,
           "addresses": [
            {
             "protocol": "ipv4",
             "gateway": "2.3.5.6",
             "subnetMask": "255.255.255.0"
            }
           ]
          }
         ],
         "nameservers": {
          "addresses": [
           "8.8.8.8",
           "8.8.4.4"
          ]
         },
         "portChannels": [
          {
           "id": "1284392014830",
           "name": "Port-channel1",
           "vlan": 25,
           "allowedVlans": "10-20"
          }
         ],
         "devices": [
          {
           "serial": "Q234-ABCD-0001",
           "memberId": "1",
           "uplinks": [
            {
             "interface": "man1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "5.1.2.3"
              }
             ]
            }
           ],
           "tunnels": [
            {
             "interface": "tun1",
             "addresses": [
              {
               "protocol": "ipv4",
               "address": "6.2.6.7"
              }
             ]
            }
           ]
          }
         ],
         "notes": "This cluster is for New York Office",
         "url": "https://n123.meraki.com/networkName/n/abc123/manage/campus_gateways/clusters"
        }
       }
      }
     }
    },
    "summary": "Update a cluster and add/remove campus gateways to/from it",
    "tags": [
     "campusGateway",
     "configure",
     "clusters"
    ]
   }
  },
  "/organizations/{organizationId}/campusGateway/clusters": {
   "get": {
    "description": "Get the details of campus gateway clusters",
    "operationId": "getOrganizationCampusGatewayClusters",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "networkIds",
      "in": "query",
      "description": "Networks for which information should be gathered.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "perPage",
      "in": "query",
      "description": "The number of entries per page returned. Acceptable range is 3 - 100. Default is 50.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "startingAfter",
      "in": "query",
      "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endingBefore",
      "in": "query",
      "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "network": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Network ID"
               }
              },
              "description": "Network details of the cluster"
             },
             "clusterId": {
              "type": "string",
              "description": "ID of the cluster"
             },
             "name": {
              "type": "string",
              "description": "Name of the cluster"
             },
             "uplinks": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "interface": {
                 "type": "string",
                 "description": "Name of the interface"
                },
                "vlan": {
                 "type": "integer",
                 "description": "VLAN of the interface"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "assignmentMode": {
                    "type": "string",
                    "description": "Assignment mode of the interface"
                   },
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "gateway": {
                    "type": "string",
                    "description": "Gateway of the interface"
                   },
                   "subnetMask": {
                    "type": "string",
                    "description": "Subnet mask of the interface"
                   }
                  }
                 },
                 "description": "Addresses of the interface"
                }
               }
              },
              "description": "Uplink settings of the cluster"
             },
             "tunnels": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "uplink": {
                 "type": "object",
                 "properties": {
                  "interface": {
                   "type": "string",
                   "description": "Uplink interface name"
                  }
                 },
                 "description": "Use uplink interface as tunnel interface"
                },
                "interface": {
                 "type": "string",
                 "description": "Name of the interface"
                },
                "vlan": {
                 "type": "integer",
                 "description": "VLAN ID of the interface"
                },
                "addresses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "protocol": {
                    "type": "string",
                    "description": "Protocol of the interface"
                   },
                   "gateway": {
                    "type": "string",
                    "description": "Gateway of the interface"
                   },
                   "subnetMask": {
                    "type": "string",
                    "description": "Subnet mask of the interface"
                   }
                  }
                 },
                 "description": "Addresses of the interface"
                }
               }
              },
              "description": "Tunnel settings of the cluster"
             },
             "nameservers": {
              "type": "object",
              "properties": {
               "addresses": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "description": "Addresses of the nameservers"
               }
              },
              "description": "Nameservers of the cluster"
             },
             "portChannels": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID of the port channel"
                },
                "name": {
                 "type": "string",
                 "description": "Name of the port channel"
                },
                "vlan": {
                 "type": "integer",
                 "description": "VLAN ID of the port channel"
                },
                "allowedVlans": {
                 "type": "string",
                 "description": "Allowed VLANs of the port channel"
                }
               }
              },
              "description": "Port channel settings of the cluster"
             },
             "devices": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "serial": {
                 "type": "string",
                 "description": "Serial of the device"
                },
                "memberId": {
                 "type": "string",
                 "description": "Member number assigned to the device within cluster - This is a read only attribute and cannot be altered using post/put operations"
                },
                "uplinks": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "interface": {
                    "type": "string",
                    "description": "Uplink interface name"
                   },
                   "addresses": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "protocol": {
                       "type": "string",
                       "description": "Protocol of the interface"
                      },
                      "address": {
                       "type": "string",
                       "description": "IP address of the interface"
                      }
                     }
                    },
                    "description": "Uplink IP addresses of the device"
                   }
                  }
                 },
                 "description": "Uplink settings of the device"
                },
                "tunnels": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "interface": {
                    "type": "string",
                    "description": "Tunnel interface name"
                   },
                   "addresses": {
                    "type": "array",
                    "items": {
                     "type": "object",
                     "properties": {
                      "protocol": {
                       "type": "string",
                       "description": "Protocol of the interface"
                      },
                      "address": {
                       "type": "string",
                       "description": "IP address of the interface"
                      }
                     }
                    },
                    "description": "Tunnel IP addresses of the device"
                   }
                  }
                 },
                 "description": "Tunnel settings of the device"
                }
               }
              },
              "description": "Devices in the cluster"
             },
             "notes": {
              "type": "string",
              "description": "Notes about cluster"
             },
             "url": {
              "type": "string",
              "description": "URL to display cluster details"
             }
            }
           },
           "description": "List of clusters"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "The total number of serials."
                },
                "remaining": {
                 "type": "integer",
                 "description": "The number of serials remaining based on current pagination location within the dataset."
                }
               },
               "description": "The count metadata."
              }
             },
             "description": "Count metadata related to this result set."
            }
           },
           "description": "Other metadata related to this result set."
          }
         }
        },
        "example": {
         "items": [
          {
           "network": {
            "id": "N_2313"
           },
           "clusterId": "1284392014818",
           "name": "North Campus",
           "uplinks": [
            {
             "interface": "man1",
             "vlan": 5,
             "addresses": [
              {
               "assignmentMode": "static",
               "protocol": "ipv4",
               "gateway": "1.2.3.5",
               "subnetMask": "255.255.255.0"
              }
             ]
            }
           ],
           "tunnels": [
            {
             "uplink": {
              "interface": "man1"
             },
             "interface": "tun1",
             "vlan": 6,
             "addresses": [
              {
               "protocol": "ipv4",
               "gateway": "2.3.5.6",
               "subnetMask": "255.255.255.0"
              }
             ]
            }
           ],
           "nameservers": {
            "addresses": [
             "8.8.8.8",
             "8.8.4.4"
            ]
           },
           "portChannels": [
            {
             "id": "1284392014830",
             "name": "Port-channel1",
             "vlan": 25,
             "allowedVlans": "10-20"
            }
           ],
           "devices": [
            {
             "serial": "Q234-ABCD-0001",
             "memberId": "1",
             "uplinks": [
              {
               "interface": "man1",
               "addresses": [
                {
                 "protocol": "ipv4",
                 "address": "5.1.2.3"
                }
               ]
              }
             ],
             "tunnels": [
              {
               "interface": "tun1",
               "addresses": [
                {
                 "protocol": "ipv4",
                 "address": "6.2.6.7"
                }
               ]
              }
             ]
            }
           ],
           "notes": "This cluster is for New York Office",
           "url": "https://n123.meraki.com/networkName/n/abc123/manage/campus_gateways/clusters"
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 2,
            "remaining": 0
           }
          }
         }
        }
       }
      },
      "headers": {
       "Link": {
        "schema": {
         "type": "string"
        },
        "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Get the details of campus gateway clusters",
    "tags": [
     "campusGateway",
     "configure",
     "clusters"
    ]
   }
  },
  "/organizations/{organizationId}/campusGateway/devices/uplinks/localOverrides/byDevice": {
   "get": {
    "description": "Uplink overrides configured locally on Campus Gateway devices in an organization.",
    "operationId": "getOrganizationCampusGatewayDevicesUplinksLocalOverridesByDevice",
    "parameters": [
     {
      "name": "organizationId",
      "in": "path",
      "description": "Organization ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "serials",
      "in": "query",
      "description": "A list of serial numbers. The returned devices will be filtered to only include these serials.",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "perPage",
      "in": "query",
      "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "startingAfter",
      "in": "query",
      "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endingBefore",
      "in": "query",
      "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "serial": {
              "type": "string",
              "description": "Serial number"
             },
             "uplink": {
              "type": "object",
              "properties": {
               "interface": {
                "type": "string",
                "description": "Name of the interface"
               },
               "vlan": {
                "type": "integer",
                "description": "VLAN of the interface"
               },
               "addresses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "assignmentMode": {
                   "type": "string",
                   "description": "Assignment mode of the interface"
                  },
                  "protocol": {
                   "type": "string",
                   "description": "Protocol of the interface"
                  },
                  "gateway": {
                   "type": "string",
                   "description": "Gateway of the interface"
                  },
                  "subnetMask": {
                   "type": "string",
                   "description": "Subnet mask of the interface"
                  },
                  "address": {
                   "type": "string",
                   "description": "IP address of the interface"
                  }
                 }
                },
                "description": "Addresses of the interface"
               }
              },
              "description": "Uplink setting of the cluster"
             },
             "nameservers": {
              "type": "object",
              "properties": {
               "addresses": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "description": "Addresses of the nameservers"
               }
              },
              "description": "Nameservers of the cluster"
             },
             "sgt": {
              "type": "integer",
              "description": "Infra Security Group Tag(sgt) value for Trustsec"
             }
            }
           },
           "description": "List of Consilience entities"
          },
          "meta": {
           "type": "object",
           "properties": {
            "counts": {
             "type": "object",
             "properties": {
              "items": {
               "type": "object",
               "properties": {
                "total": {
                 "type": "integer",
                 "description": "The total number of serials."
                },
                "remaining": {
                 "type": "integer",
                 "description": "The number of serials remaining based on current pagination location within the dataset."
                }
               },
               "description": "The count metadata."
              }
             },
             "description": "Count metadata related to this result set."
            }
           },
           "description": "Other metadata related to this result set."
          }
         }
        },
        "example": {
         "items": [
          {
           "serial": "Q234-ABCD-0001",
           "uplink": {
            "interface": "man1",
            "vlan": 5,
            "addresses": [
             {
              "assignmentMode": "static",
              "protocol": "ipv4",
              "gateway": "1.2.3.5",
              "subnetMask": "255.255.255.0",
              "address": "121.12.12.1"
             }
            ]
           },
           "nameservers": {
            "addresses": [
             "8.8.8.8",
             "8.8.4.4"
            ]
           },
           "sgt": 300
          }
         ],
         "meta": {
          "counts": {
           "items": {
            "total": 10,
            "remaining": 0
           }
          }
         }
        }
       }
      },
      "headers": {
       "Link": {
        "schema": {
         "type": "string"
        },
        "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
       }
      }
     }
    },
    "summary": "Uplink overrides configured locally on Campus Gateway devices in an organization.",
    "tags": [
     "campusGateway",
     "configure",
     "devices",
     "uplinks",
     "localOverrides",
     "byDevice"
    ]
   }
  }
 }
}