{
 "openapi": "3.0.1",
 "info": {
  "title": "Cisco Meraki Dashboard API \u2014 wireless",
  "description": "The wireless operations of the Cisco Meraki Dashboard API, split by product area from Cisco's published OpenAPI definition.",
  "version": "1.72.0",
  "contact": {
   "name": "Meraki Developer Community",
   "url": "https://meraki.io/community"
  },
  "x-provenance": {
   "method": "harvested",
   "authored_by": "Cisco Meraki",
   "harvested_by": "API Evangelist",
   "harvested_on": "2026-07-31",
   "first_party": true,
   "note": "Split by first tag from Cisco's published spec3.json; operations unmodified.",
   "provider_published": true
  },
  "x-evidence": [
   {
    "type": "source",
    "url": "https://github.com/meraki/openapi/blob/master/openapi/spec3.json"
   },
   {
    "type": "raw",
    "url": "https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json"
   },
   {
    "type": "alternate",
    "url": "https://api.meraki.com/api/v1/openapiSpec"
   }
  ]
 },
 "servers": [
  {
   "url": "https://api.meraki.com/{basePath}",
   "variables": {
    "basePath": {
     "default": "api/v1"
    }
   }
  }
 ],
 "security": [
  {
   "meraki_api_key": []
  },
  {
   "bearerAuth": []
  }
 ],
 "tags": [
  {
   "name": "airMarshal",
   "description": ""
  },
  {
   "name": "allowlist",
   "description": ""
  },
  {
   "name": "alternateManagementInterface",
   "description": ""
  },
  {
   "name": "assignments",
   "description": ""
  },
  {
   "name": "authorities",
   "description": ""
  },
  {
   "name": "autoRf",
   "description": ""
  },
  {
   "name": "billing",
   "description": ""
  },
  {
   "name": "bluetooth",
   "description": ""
  },
  {
   "name": "bonjourForwarding",
   "description": ""
  },
  {
   "name": "byClient",
   "description": ""
  },
  {
   "name": "byDevice",
   "description": ""
  },
  {
   "name": "byInterval",
   "description": ""
  },
  {
   "name": "byNetwork",
   "description": ""
  },
  {
   "name": "certificates",
   "description": ""
  },
  {
   "name": "channelUtilization",
   "description": ""
  },
  {
   "name": "channelUtilizationHistory",
   "description": ""
  },
  {
   "name": "channels",
   "description": ""
  },
  {
   "name": "clientCountHistory",
   "description": ""
  },
  {
   "name": "clients",
   "description": ""
  },
  {
   "name": "configure",
   "description": ""
  },
  {
   "name": "configuredDevices",
   "description": ""
  },
  {
   "name": "connectionStats",
   "description": ""
  },
  {
   "name": "connectivityEvents",
   "description": ""
  },
  {
   "name": "cpu",
   "description": ""
  },
  {
   "name": "crls",
   "description": ""
  },
  {
   "name": "dataRateHistory",
   "description": ""
  },
  {
   "name": "deltas",
   "description": ""
  },
  {
   "name": "deployments",
   "description": ""
  },
  {
   "name": "deviceTypeGroupPolicies",
   "description": ""
  },
  {
   "name": "devices",
   "description": ""
  },
  {
   "name": "disenrollments",
   "description": ""
  },
  {
   "name": "doorLocks",
   "description": ""
  },
  {
   "name": "eapOverride",
   "description": ""
  },
  {
   "name": "electronicShelfLabel",
   "description": ""
  },
  {
   "name": "enrollments",
   "description": ""
  },
  {
   "name": "entries",
   "description": ""
  },
  {
   "name": "ethernet",
   "description": ""
  },
  {
   "name": "failedConnections",
   "description": ""
  },
  {
   "name": "firewall",
   "description": ""
  },
  {
   "name": "history",
   "description": ""
  },
  {
   "name": "hotspot20",
   "description": ""
  },
  {
   "name": "identityPsks",
   "description": ""
  },
  {
   "name": "ipv6",
   "description": ""
  },
  {
   "name": "isolation",
   "description": ""
  },
  {
   "name": "l3FirewallRules",
   "description": ""
  },
  {
   "name": "l7FirewallRules",
   "description": ""
  },
  {
   "name": "latencyHistory",
   "description": ""
  },
  {
   "name": "latencyStats",
   "description": ""
  },
  {
   "name": "load",
   "description": ""
  },
  {
   "name": "location",
   "description": ""
  },
  {
   "name": "meshStatuses",
   "description": ""
  },
  {
   "name": "mode",
   "description": ""
  },
  {
   "name": "monitor",
   "description": ""
  },
  {
   "name": "mqtt",
   "description": ""
  },
  {
   "name": "openRoaming",
   "description": ""
  },
  {
   "name": "overview",
   "description": ""
  },
  {
   "name": "packetLoss",
   "description": ""
  },
  {
   "name": "ports",
   "description": ""
  },
  {
   "name": "power",
   "description": ""
  },
  {
   "name": "profiles",
   "description": ""
  },
  {
   "name": "provisioning",
   "description": ""
  },
  {
   "name": "radio",
   "description": ""
  },
  {
   "name": "radsec",
   "description": ""
  },
  {
   "name": "receivers",
   "description": ""
  },
  {
   "name": "rfProfiles",
   "description": ""
  },
  {
   "name": "rrm",
   "description": ""
  },
  {
   "name": "rules",
   "description": ""
  },
  {
   "name": "scanning",
   "description": ""
  },
  {
   "name": "schedules",
   "description": ""
  },
  {
   "name": "settings",
   "description": ""
  },
  {
   "name": "signalQualityHistory",
   "description": ""
  },
  {
   "name": "splash",
   "description": ""
  },
  {
   "name": "ssids",
   "description": ""
  },
  {
   "name": "status",
   "description": ""
  },
  {
   "name": "statuses",
   "description": ""
  },
  {
   "name": "system",
   "description": ""
  },
  {
   "name": "trafficShaping",
   "description": ""
  },
  {
   "name": "usageHistory",
   "description": ""
  },
  {
   "name": "vpn",
   "description": ""
  },
  {
   "name": "wireless",
   "description": ""
  },
  {
   "name": "wirelessControllers",
   "description": ""
  },
  {
   "name": "zigbee",
   "description": ""
  }
 ],
 "components": {
  "securitySchemes": {
   "meraki_api_key": {
    "type": "apiKey",
    "name": "X-Cisco-Meraki-API-Key",
    "in": "header"
   },
   "bearerAuth": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "API Key"
   }
  }
 },
 "paths": {
  "/devices/{serial}/wireless/alternateManagementInterface/ipv6": {
   "put": {
    "description": "Update alternate management interface IPv6 address",
    "operationId": "updateDeviceWirelessAlternateManagementInterfaceIpv6",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "addresses": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "protocol": {
             "type": "string",
             "enum": [
              "ipv4",
              "ipv6"
             ],
             "description": "The IP protocol used for the address"
            },
            "assignmentMode": {
             "type": "string",
             "enum": [
              "dynamic",
              "static"
             ],
             "description": "The type of address assignment. Either static or dynamic."
            },
            "address": {
             "type": "string",
             "description": "The IP address configured for the alternate management interface"
            },
            "gateway": {
             "type": "string",
             "description": "The gateway address configured for the alternate managment interface"
            },
            "prefix": {
             "type": "string",
             "description": "The IPv6 prefix length of the IPv6 interface. Required if IPv6 object is included."
            },
            "nameservers": {
             "type": "object",
             "properties": {
              "addresses": {
               "type": "array",
               "items": {
                "type": "string"
               },
               "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
              }
             },
             "description": "The DNS servers settings for this address."
            }
           }
          },
          "description": "configured alternate management interface addresses"
         }
        },
        "example": {
         "addresses": [
          {
           "protocol": "ipv6",
           "assignmentMode": "static",
           "address": "2001:db8:3c4d:15::1",
           "gateway": "fe80:db8:c15:c0:d0c::10ca:1d02",
           "prefix": "2001:db8:3c4d:15::/64",
           "nameservers": {
            "addresses": [
             "2001:db8:3c4d:15::1",
             "2001:db8:3c4d:15::1"
            ]
           }
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "addresses": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "protocol": {
              "type": "string",
              "enum": [
               "ipv4",
               "ipv6"
              ],
              "description": "The IP protocol used for the address"
             },
             "assignmentMode": {
              "type": "string",
              "enum": [
               "dynamic",
               "static"
              ],
              "description": "The type of address assignment. Either static or dynamic."
             },
             "address": {
              "type": "string",
              "description": "The IP address configured for the alternate management interface"
             },
             "gateway": {
              "type": "string",
              "description": "The gateway address configured for the alternate managment interface"
             },
             "prefix": {
              "type": "string",
              "description": "The IPv6 prefix of the interface. Required if IPv6 object is included."
             },
             "nameservers": {
              "type": "object",
              "properties": {
               "addresses": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
               }
              },
              "description": "The DNS servers settings for this address."
             }
            }
           },
           "description": "configured alternate management interface addresses"
          }
         }
        },
        "example": {
         "addresses": [
          {
           "protocol": "ipv6",
           "assignmentMode": "static",
           "address": "2001:db8:3c4d:15::1",
           "gateway": "fe80:db8:c15:c0:d0c::10ca:1d02",
           "prefix": "2001:db8:3c4d:15::/64",
           "nameservers": {
            "addresses": [
             "2001:db8:3c4d:15::1",
             "2001:db8:3c4d:15::1"
            ]
           }
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update alternate management interface IPv6 address",
    "tags": [
     "wireless",
     "configure",
     "alternateManagementInterface",
     "ipv6"
    ]
   }
  },
  "/devices/{serial}/wireless/bluetooth/settings": {
   "get": {
    "description": "Return the bluetooth settings for a wireless device",
    "operationId": "getDeviceWirelessBluetoothSettings",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's\n          automatically generated value."
          },
          "major": {
           "type": "integer",
           "description": "Desired major value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
          },
          "minor": {
           "type": "integer",
           "description": "Desired minor value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
          }
         }
        },
        "example": {
         "uuid": "00000000-0000-0000-0000-000000000000",
         "major": 13,
         "minor": 125
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Return the bluetooth settings for a wireless device",
    "tags": [
     "wireless",
     "configure",
     "bluetooth",
     "settings"
    ]
   },
   "put": {
    "description": "Update the bluetooth settings for a wireless device",
    "operationId": "updateDeviceWirelessBluetoothSettings",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "uuid": {
          "type": "string",
          "nullable": true,
          "description": "Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's\n          automatically generated value."
         },
         "major": {
          "type": "integer",
          "nullable": true,
          "description": "Desired major value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
         },
         "minor": {
          "type": "integer",
          "nullable": true,
          "description": "Desired minor value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
         }
        },
        "example": {
         "uuid": "00000000-0000-0000-0000-000000000000",
         "major": 13,
         "minor": 125
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's\n          automatically generated value."
          },
          "major": {
           "type": "integer",
           "description": "Desired major value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
          },
          "minor": {
           "type": "integer",
           "description": "Desired minor value of the beacon. If the value is set to null it will reset to\n          Dashboard's automatically generated value."
          }
         }
        },
        "example": {
         "uuid": "00000000-0000-0000-0000-000000000000",
         "major": 13,
         "minor": 125
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update the bluetooth settings for a wireless device",
    "tags": [
     "wireless",
     "configure",
     "bluetooth",
     "settings"
    ]
   }
  },
  "/devices/{serial}/wireless/connectionStats": {
   "get": {
    "description": "Aggregated connectivity info for a given AP on this network",
    "operationId": "getDeviceWirelessConnectionStats",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
      "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 604800
      }
     },
     {
      "name": "band",
      "in": "query",
      "description": "Filter results by band (either '2.4', '5' or '6'). Note that data prior to February 2020 will not have band information.",
      "schema": {
       "type": "string",
       "enum": [
        "2.4",
        "5",
        "6"
       ]
      }
     },
     {
      "name": "ssid",
      "in": "query",
      "description": "Filter results by SSID",
      "schema": {
       "type": "integer",
       "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14
       ]
      }
     },
     {
      "name": "apTag",
      "in": "query",
      "description": "Filter results by AP Tag",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "serial": {
           "type": "string",
           "description": "The serial number for the device"
          },
          "connectionStats": {
           "type": "object",
           "properties": {
            "assoc": {
             "type": "integer",
             "description": "The number of failed association attempts"
            },
            "auth": {
             "type": "integer",
             "description": "The number of failed authentication attempts"
            },
            "dhcp": {
             "type": "integer",
             "description": "The number of failed DHCP attempts"
            },
            "dns": {
             "type": "integer",
             "description": "The number of failed DNS attempts"
            },
            "success": {
             "type": "integer",
             "description": "The number of successful connection attempts"
            }
           },
           "description": "The connection stats of the device"
          }
         }
        },
        "example": {
         "serial": "Q234-ABCD-5678",
         "connectionStats": {
          "assoc": 0,
          "auth": 1,
          "dhcp": 0,
          "dns": 0,
          "success": 43
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Aggregated connectivity info for a given AP on this network",
    "tags": [
     "wireless",
     "monitor",
     "connectionStats"
    ]
   }
  },
  "/devices/{serial}/wireless/electronicShelfLabel": {
   "get": {
    "description": "Return the ESL settings of a device",
    "operationId": "getDeviceWirelessElectronicShelfLabel",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "apEslId": {
           "type": "integer",
           "description": "An identifier for the device used by the ESL system"
          },
          "serial": {
           "type": "string",
           "description": "The serial number of the device"
          },
          "channel": {
           "type": "string",
           "description": "Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel"
          },
          "enabled": {
           "type": "boolean",
           "description": "Turn ESL features on and off for this device"
          },
          "networkId": {
           "type": "string",
           "description": "The identifier for the device's network"
          },
          "hostname": {
           "type": "string",
           "description": "Hostname of the ESL management service"
          },
          "provider": {
           "type": "string",
           "description": "The service providing ESL functionality"
          }
         }
        },
        "example": {
         "apEslId": 16777216,
         "serial": "Q234-ABCD-5678",
         "channel": "1",
         "enabled": true,
         "networkId": "N_24329156",
         "hostname": "localhost:700",
         "provider": "imagotag"
        }
       }
      }
     }
    },
    "summary": "Return the ESL settings of a device",
    "tags": [
     "wireless",
     "configure",
     "electronicShelfLabel"
    ]
   },
   "put": {
    "description": "Update the ESL settings of a device",
    "operationId": "updateDeviceWirelessElectronicShelfLabel",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "channel": {
          "type": "string",
          "description": "Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel"
         },
         "enabled": {
          "type": "boolean",
          "description": "Turn ESL features on and off for this device"
         }
        },
        "example": {
         "channel": "1",
         "enabled": true
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "apEslId": {
           "type": "integer",
           "description": "An identifier for the device used by the ESL system"
          },
          "serial": {
           "type": "string",
           "description": "The serial number of the device"
          },
          "channel": {
           "type": "string",
           "description": "Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel"
          },
          "enabled": {
           "type": "boolean",
           "description": "Turn ESL features on and off for this device"
          },
          "networkId": {
           "type": "string",
           "description": "The identifier for the device's network"
          },
          "hostname": {
           "type": "string",
           "description": "Hostname of the ESL management service"
          },
          "provider": {
           "type": "string",
           "description": "The service providing ESL functionality"
          }
         }
        },
        "example": {
         "apEslId": 16777216,
         "serial": "Q234-ABCD-5678",
         "channel": "1",
         "enabled": true,
         "networkId": "N_24329156",
         "hostname": "localhost:700",
         "provider": "imagotag"
        }
       }
      }
     }
    },
    "summary": "Update the ESL settings of a device",
    "tags": [
     "wireless",
     "configure",
     "electronicShelfLabel"
    ]
   }
  },
  "/devices/{serial}/wireless/latencyStats": {
   "get": {
    "description": "Aggregated latency info for a given AP on this network",
    "operationId": "getDeviceWirelessLatencyStats",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
      "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 604800
      }
     },
     {
      "name": "band",
      "in": "query",
      "description": "Filter results by band (either '2.4', '5' or '6'). Note that data prior to February 2020 will not have band information.",
      "schema": {
       "type": "string",
       "enum": [
        "2.4",
        "5",
        "6"
       ]
      }
     },
     {
      "name": "ssid",
      "in": "query",
      "description": "Filter results by SSID",
      "schema": {
       "type": "integer",
       "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14
       ]
      }
     },
     {
      "name": "apTag",
      "in": "query",
      "description": "Filter results by AP Tag",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "vlan",
      "in": "query",
      "description": "Filter results by VLAN",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "fields",
      "in": "query",
      "description": "Partial selection: If present, this call will return only the selected fields of [\"rawDistribution\", \"avg\"]. All fields will be returned by default. Selected fields must be entered as a comma separated string.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "serial": {
           "type": "string",
           "description": "The serial number for the device"
          },
          "latencyStats": {
           "type": "object",
           "properties": {
            "backgroundTraffic": {
             "type": "object",
             "properties": {
              "rawDistribution": {
               "type": "object",
               "additionalProperties": true,
               "description": "Raw distribution of latency buckets in milliseconds to sample counts"
              },
              "avg": {
               "type": "number",
               "format": "float",
               "description": "Average latency in milliseconds"
              }
             },
             "description": "Background traffic latency stats"
            },
            "bestEffortTraffic": {
             "type": "object",
             "properties": {
              "rawDistribution": {
               "type": "object",
               "additionalProperties": true,
               "description": "Raw distribution of latency buckets in milliseconds to sample counts"
              },
              "avg": {
               "type": "number",
               "format": "float",
               "description": "Average latency in milliseconds"
              }
             },
             "description": "Best effort traffic latency stats"
            },
            "videoTraffic": {
             "type": "object",
             "properties": {
              "rawDistribution": {
               "type": "object",
               "additionalProperties": true,
               "description": "Raw distribution of latency buckets in milliseconds to sample counts"
              },
              "avg": {
               "type": "number",
               "format": "float",
               "description": "Average latency in milliseconds"
              }
             },
             "description": "Video traffic latency stats"
            },
            "voiceTraffic": {
             "type": "object",
             "properties": {
              "rawDistribution": {
               "type": "object",
               "additionalProperties": true,
               "description": "Raw distribution of latency buckets in milliseconds to sample counts"
              },
              "avg": {
               "type": "number",
               "format": "float",
               "description": "Average latency in milliseconds"
              }
             },
             "description": "Voice traffic latency stats"
            }
           },
           "description": "Latency stats for the device"
          }
         }
        },
        "example": {
         "serial": "Q2JC-2MJM-FHRD",
         "latencyStats": {
          "backgroundTraffic": {
           "avg": 606.52
          },
          "bestEffortTraffic": {
           "avg": 606.52
          },
          "videoTraffic": {
           "avg": 606.52
          },
          "voiceTraffic": {
           "avg": 606.52
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Aggregated latency info for a given AP on this network",
    "tags": [
     "wireless",
     "monitor",
     "latencyStats"
    ]
   }
  },
  "/devices/{serial}/wireless/radio/settings": {
   "get": {
    "description": "Return the manually configured radio settings overrides of a device, which take precedence over RF profiles.",
    "operationId": "getDeviceWirelessRadioSettings",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "serial": {
           "type": "string",
           "description": "The device serial"
          },
          "rfProfileId": {
           "type": "string",
           "description": "RF Profile ID"
          },
          "twoFourGhzSettings": {
           "type": "object",
           "properties": {
            "channel": {
             "type": "integer",
             "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14
             ],
             "description": "Manual channel for 2.4 GHz"
            },
            "targetPower": {
             "type": "integer",
             "description": "Manual target power for 2.4 GHz"
            }
           },
           "description": "Manual radio settings for 2.4 GHz"
          },
          "fiveGhzSettings": {
           "type": "object",
           "properties": {
            "channel": {
             "type": "integer",
             "enum": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177
             ],
             "description": "Manual channel for 5 GHz"
            },
            "channelWidth": {
             "type": "integer",
             "enum": [
              0,
              20,
              40,
              80,
              160
             ],
             "description": "Manual channel width for 5 GHz"
            },
            "targetPower": {
             "type": "integer",
             "description": "Manual target power for 5 GHz"
            }
           },
           "description": "Manual radio settings for 5 GHz"
          }
         }
        },
        "example": {
         "serial": "Q234-ABCD-5678",
         "rfProfileId": "1234",
         "twoFourGhzSettings": {
          "channel": 11,
          "targetPower": 21
         },
         "fiveGhzSettings": {
          "channel": 149,
          "channelWidth": 20,
          "targetPower": 15
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Return the manually configured radio settings overrides of a device, which take precedence over RF profiles.",
    "tags": [
     "wireless",
     "configure",
     "radio",
     "settings"
    ]
   },
   "put": {
    "description": "Update 2.4 GHz and 5 GHz radio settings (channel, channel width, power) that override RF profiles. For 6 GHz support or radio enable/disable, use updateDeviceWirelessRadioOverrides instead.",
    "operationId": "updateDeviceWirelessRadioSettings",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "rfProfileId": {
          "type": "string",
          "nullable": true,
          "description": "The ID of an RF profile to assign to the device. If the value of this parameter is null, the appropriate basic RF profile (indoor or outdoor) will be assigned to the device. Assigning an RF profile will clear ALL manually configured overrides on the device (channel width, channel, power)."
         },
         "twoFourGhzSettings": {
          "type": "object",
          "properties": {
           "channel": {
            "type": "integer",
            "enum": [
             1,
             2,
             3,
             4,
             5,
             6,
             7,
             8,
             9,
             10,
             11,
             12,
             13,
             14
            ],
            "description": "Sets a manual channel for 2.4 GHz. Can be '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13' or '14' or null for using auto channel.",
            "nullable": true
           },
           "targetPower": {
            "type": "integer",
            "description": "Set a manual target power for 2.4 GHz (dBm). Enter null for using auto power range.",
            "nullable": true
           }
          },
          "description": "Manual radio settings for 2.4 GHz."
         },
         "fiveGhzSettings": {
          "type": "object",
          "properties": {
           "channel": {
            "type": "integer",
            "enum": [
             36,
             40,
             44,
             48,
             52,
             56,
             60,
             64,
             100,
             104,
             108,
             112,
             116,
             120,
             124,
             128,
             132,
             136,
             140,
             144,
             149,
             153,
             157,
             161,
             165,
             169,
             173,
             177
            ],
            "description": "Sets a manual channel for 5 GHz. Can be '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161', '165', '169', '173' or '177' or null for using auto channel.",
            "nullable": true
           },
           "channelWidth": {
            "type": "integer",
            "enum": [
             0,
             20,
             40,
             80,
             160
            ],
            "description": "Sets a manual channel width for 5 GHz. Can be '0', '20', '40', '80' or '160' or null for using auto channel width.",
            "nullable": true
           },
           "targetPower": {
            "type": "integer",
            "description": "Set a manual target power for 5 GHz (dBm). Enter null for using auto power range.",
            "nullable": true
           }
          },
          "description": "Manual radio settings for 5 GHz."
         }
        },
        "example": {
         "rfProfileId": "1234",
         "twoFourGhzSettings": {
          "channel": 11,
          "targetPower": 21
         },
         "fiveGhzSettings": {
          "channel": 149,
          "channelWidth": 20,
          "targetPower": 15
         }
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "serial": {
           "type": "string",
           "description": "The device serial"
          },
          "rfProfileId": {
           "type": "string",
           "description": "RF Profile ID"
          },
          "twoFourGhzSettings": {
           "type": "object",
           "properties": {
            "channel": {
             "type": "integer",
             "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14
             ],
             "description": "Manual channel for 2.4 GHz"
            },
            "targetPower": {
             "type": "integer",
             "description": "Manual target power for 2.4 GHz"
            }
           },
           "description": "Manual radio settings for 2.4 GHz"
          },
          "fiveGhzSettings": {
           "type": "object",
           "properties": {
            "channel": {
             "type": "integer",
             "enum": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177
             ],
             "description": "Manual channel for 5 GHz"
            },
            "channelWidth": {
             "type": "integer",
             "enum": [
              0,
              20,
              40,
              80,
              160
             ],
             "description": "Manual channel width for 5 GHz"
            },
            "targetPower": {
             "type": "integer",
             "description": "Manual target power for 5 GHz"
            }
           },
           "description": "Manual radio settings for 5 GHz"
          }
         }
        },
        "example": {
         "serial": "Q234-ABCD-5678",
         "rfProfileId": "1234",
         "twoFourGhzSettings": {
          "channel": 11,
          "targetPower": 21
         },
         "fiveGhzSettings": {
          "channel": 149,
          "channelWidth": 20,
          "targetPower": 15
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update 2.4 GHz and 5 GHz radio settings (channel, channel width, power) that override RF profiles",
    "tags": [
     "wireless",
     "configure",
     "radio",
     "settings"
    ]
   }
  },
  "/devices/{serial}/wireless/status": {
   "get": {
    "description": "Return the SSID statuses of an access point",
    "operationId": "getDeviceWirelessStatus",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "basicServiceSets": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "ssidName": {
              "type": "string",
              "description": "Name of wireless network"
             },
             "ssidNumber": {
              "type": "integer",
              "description": "Unique identifier of wireless network"
             },
             "enabled": {
              "type": "boolean",
              "description": "Status of wireless network"
             },
             "band": {
              "type": "string",
              "description": "Frequency range used by wireless network"
             },
             "bssid": {
              "type": "string",
              "description": "Unique identifier of wireless access point"
             },
             "channel": {
              "type": "integer",
              "description": "Frequency channel used by wireless network"
             },
             "channelWidth": {
              "type": "string",
              "description": "Width of frequency channel used by wireless network"
             },
             "power": {
              "type": "string",
              "description": "Strength of wireless signal"
             },
             "visible": {
              "type": "boolean",
              "description": "Whether the SSID is advertised or hidden"
             },
             "broadcasting": {
              "type": "boolean",
              "description": "Whether the SSID is broadcasting based on an availability schedule"
             }
            }
           },
           "description": "SSID status list"
          }
         }
        },
        "example": {
         "basicServiceSets": [
          {
           "ssidName": "My SSID",
           "ssidNumber": 0,
           "enabled": true,
           "band": "2.4 GHz",
           "bssid": "8A:15:04:00:00:00",
           "channel": 11,
           "channelWidth": "20 MHz",
           "power": "18 dBm",
           "visible": true,
           "broadcasting": true
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Return the SSID statuses of an access point",
    "tags": [
     "wireless",
     "monitor",
     "status"
    ]
   }
  },
  "/devices/{serial}/wireless/zigbee/enrollments": {
   "post": {
    "description": "Enqueue a job to start enrolling door locks on zigbee configured wireless devices",
    "operationId": "createDeviceWirelessZigbeeEnrollment",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "201": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "enrollmentId": {
           "type": "string",
           "description": "Id to check the status of your enrollment"
          },
          "url": {
           "type": "string",
           "description": "Url to check the status of your enrollment"
          },
          "request": {
           "type": "object",
           "properties": {
            "serial": {
             "type": "string",
             "description": "Device serial number"
            }
           },
           "description": "Enrollment parameters"
          },
          "status": {
           "type": "string",
           "description": "Status of the enrollment"
          }
         }
        },
        "example": {
         "enrollmentId": "1234",
         "url": "/devices/SERIAL/wireless/zigbee/enrollments/1234",
         "request": {
          "serial": "Q234-ABCD-5678"
         },
         "status": "complete"
        }
       }
      }
     }
    },
    "summary": "Enqueue a job to start enrolling door locks on zigbee configured wireless devices",
    "tags": [
     "wireless",
     "configure",
     "zigbee",
     "enrollments"
    ]
   }
  },
  "/devices/{serial}/wireless/zigbee/enrollments/{enrollmentId}": {
   "get": {
    "description": "Return an enrollment",
    "operationId": "getDeviceWirelessZigbeeEnrollment",
    "parameters": [
     {
      "name": "serial",
      "in": "path",
      "description": "Serial",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "enrollmentId",
      "in": "path",
      "description": "Enrollment ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "enrollmentId": {
           "type": "string",
           "description": "Id to check the status of your enrollment"
          },
          "url": {
           "type": "string",
           "description": "Url to check the status of your enrollment"
          },
          "request": {
           "type": "object",
           "properties": {
            "serial": {
             "type": "string",
             "description": "Device serial number"
            }
           },
           "description": "Enrollment parameters"
          },
          "status": {
           "type": "string",
           "description": "Status of the enrollment"
          },
          "enrollmentStartedAt": {
           "type": "string",
           "description": "Enrollment started at"
          },
          "doorLocks": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "doorLockId": {
              "type": "string",
              "description": "The Door Lock ID"
             },
             "name": {
              "type": "string",
              "description": "The Door lock name"
             },
             "shortId": {
              "type": "string",
              "description": "The Door lock short ID"
             },
             "lqi": {
              "type": "string",
              "description": "The Door lock L quality index"
             },
             "rssi": {
              "type": "string",
              "description": "The Door lock received signal strength indicator"
             },
             "status": {
              "type": "string",
              "enum": [
               "offline",
               "online"
              ],
              "description": "The Door lock status, either online or offline."
             },
             "eui64": {
              "type": "string",
              "description": "The Door lock unique identifier per network"
             },
             "enrolledAt": {
              "type": "string",
              "format": "date-time",
              "description": "Date time the door lock was enrolled"
             },
             "lastSeenAt": {
              "type": "string",
              "format": "date-time",
              "description": "Date time the door lock last send any messages"
             },
             "network": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Network ID"
               },
               "name": {
                "type": "string",
                "description": "Network name"
               }
              },
              "description": "Network this door lock is connected to"
             },
             "gateway": {
              "type": "object",
              "properties": {
               "name": {
                "type": "string",
                "description": "MR Device Name"
               },
               "serial": {
                "type": "string",
                "description": "Gateway serial"
               }
              },
              "description": "Gateway this door lock is connected to"
             }
            }
           },
           "description": "Door locks"
          }
         }
        },
        "example": {
         "enrollmentId": "1234",
         "url": "/devices/SERIAL/wireless/zigbee/enrollments/1234",
         "request": {
          "serial": "Q234-ABCD-5678"
         },
         "status": "complete",
         "enrollmentStartedAt": "complete",
         "doorLocks": [
          {
           "doorLockId": "1",
           "name": "Door Lock 123",
           "shortId": "ABE123",
           "lqi": "1",
           "rssi": "1",
           "status": "online",
           "eui64": "DL403",
           "enrolledAt": "2023-08-14T19:57:06Z",
           "lastSeenAt": "2023-08-14T19:59:01Z",
           "network": {
            "id": "N_24329156",
            "name": "Main Office"
           },
           "gateway": {
            "name": "My AP",
            "serial": "Q234-ABCD-5678"
           }
          }
         ]
        }
       }
      }
     }
    },
    "summary": "Return an enrollment",
    "tags": [
     "wireless",
     "configure",
     "zigbee",
     "enrollments"
    ]
   }
  },
  "/networks/{networkId}/wireless/airMarshal": {
   "get": {
    "description": "List Air Marshal scan results from a network",
    "operationId": "getNetworkWirelessAirMarshal",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 2678400
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "ssid": {
            "type": "string",
            "description": "SSID name"
           },
           "bssids": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "bssid": {
               "type": "string",
               "description": "BSSID of the observed SSID"
              },
              "contained": {
               "type": "boolean",
               "description": "Whether this BSSID is contained"
              },
              "detectedBy": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "device": {
                  "type": "string",
                  "description": "Serial of the detecting AP"
                 },
                 "rssi": {
                  "type": "integer",
                  "description": "RSSI reported by the AP"
                 }
                }
               },
               "description": "Access points that detected the BSSID"
              }
             }
            },
            "description": "BSSIDs broadcasting the SSID"
           },
           "channels": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "Channels where the SSID was observed"
           },
           "firstSeen": {
            "type": "integer",
            "description": "First time the SSID was observed (epoch seconds)"
           },
           "lastSeen": {
            "type": "integer",
            "description": "Most recent time the SSID was observed (epoch seconds)"
           },
           "wiredMacs": {
            "type": "array",
            "items": {
             "type": "string"
            },
            "description": "MAC addresses observed on the SSID"
           },
           "wiredVlans": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "VLAN IDs observed on the SSID"
           },
           "wiredLastSeen": {
            "type": "integer",
            "description": "Last time observed on the SSID (epoch seconds)"
           },
           "manufacturers": {
            "type": "array",
            "items": {
             "type": "string"
            },
            "description": "Vendor names resolved from the OUI of each broadcasting BSSID (not the OUI hex prefix itself). Strings come from the IEEE OUI registry and are not casing-normalized -- callers should compare case-insensitively. Example values: \"Linksys\", \"Cisco Systems\", \"OMRON TATEISI Electronics\". Deduplicated and capped at 10 entries; empty when no OUI can be resolved."
           },
           "encryption": {
            "type": "string",
            "enum": [
             "WEP",
             "WPA",
             "open"
            ],
            "description": "High-level encryption mode observed for the SSID; null when it cannot be inferred",
            "nullable": true
           },
           "types": {
            "type": "array",
            "items": {
             "type": "string",
             "enum": [
              "rogue",
              "spoof"
             ]
            },
            "description": "Threat classifications applied to this SSID. \"rogue\": seen on LAN and not allow-listed by an is_known containment rule. \"spoof\": SSID name matches an enabled SSID on this network. Empty when no classification applies."
           }
          }
         }
        },
        "example": [
         {
          "ssid": "linksys",
          "bssids": [
           {
            "bssid": "00:11:22:33:44:55",
            "contained": false,
            "detectedBy": [
             {
              "device": "Q234-ABCD-5678",
              "rssi": 17
             }
            ]
           }
          ],
          "channels": [
           36,
           40
          ],
          "firstSeen": 1518365681,
          "lastSeen": 1526087474,
          "wiredMacs": [
           "00:11:22:33:44:55"
          ],
          "wiredVlans": [
           0,
           108
          ],
          "wiredLastSeen": 1526087474,
          "manufacturers": [
           "Linksys",
           "Cisco Systems"
          ],
          "encryption": "WPA",
          "types": [
           "rogue"
          ]
         }
        ]
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "List Air Marshal scan results from a network",
    "tags": [
     "wireless",
     "monitor",
     "airMarshal"
    ]
   }
  },
  "/networks/{networkId}/wireless/airMarshal/rules": {
   "post": {
    "description": "Creates a new rule",
    "operationId": "createNetworkWirelessAirMarshalRule",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "type": {
          "type": "string",
          "enum": [
           "alert",
           "allow",
           "block"
          ],
          "description": "Indicates if this rule will allow, block, or alert."
         },
         "match": {
          "type": "object",
          "properties": {
           "type": {
            "type": "string",
            "enum": [
             "bssid",
             "contains",
             "exact",
             "wildcard"
            ],
            "description": "The type of match."
           },
           "string": {
            "type": "string",
            "description": "The string used to match."
           }
          },
          "description": "Object describing the rule specification."
         }
        },
        "example": {
         "type": "allow",
         "match": {
          "type": "bssid",
          "string": "00:11:22:33:44:55"
         }
        },
        "required": [
         "type",
         "match"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "network": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Network ID"
            },
            "name": {
             "type": "string",
             "description": "Network name"
            }
           },
           "description": "Network details"
          },
          "ruleId": {
           "type": "string",
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          },
          "type": {
           "type": "string",
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          },
          "updatedAt": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at timestamp"
          },
          "createdAt": {
           "type": "string",
           "format": "date-time",
           "description": "Created at timestamp"
          },
          "match": {
           "type": "object",
           "properties": {
            "string": {
             "type": "string",
             "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
            },
            "type": {
             "type": "string",
             "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
            }
           },
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          }
         }
        },
        "example": {
         "network": {
          "id": "N_12345",
          "name": "Network 1"
         },
         "ruleId": "5239",
         "type": "allow",
         "updatedAt": "2023-05-23 12:02:46.298",
         "createdAt": "2023-05-23 12:02:46.298",
         "match": {
          "string": "ipsum",
          "type": "contains"
         }
        }
       }
      }
     }
    },
    "summary": "Creates a new rule",
    "tags": [
     "wireless",
     "configure",
     "airMarshal",
     "rules"
    ]
   }
  },
  "/networks/{networkId}/wireless/airMarshal/rules/{ruleId}": {
   "put": {
    "description": "Update a rule",
    "operationId": "updateNetworkWirelessAirMarshalRule",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "ruleId",
      "in": "path",
      "description": "Rule ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "type": {
          "type": "string",
          "enum": [
           "alert",
           "allow",
           "block"
          ],
          "description": "Indicates if this rule will allow, block, or alert."
         },
         "match": {
          "type": "object",
          "properties": {
           "type": {
            "type": "string",
            "enum": [
             "bssid",
             "contains",
             "exact",
             "wildcard"
            ],
            "description": "The type of match."
           },
           "string": {
            "type": "string",
            "description": "The string used to match."
           }
          },
          "description": "Object describing the rule specification."
         }
        },
        "example": {
         "type": "allow",
         "match": {
          "type": "bssid",
          "string": "00:11:22:33:44:55"
         }
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "network": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Network ID"
            },
            "name": {
             "type": "string",
             "description": "Network name"
            }
           },
           "description": "Network details"
          },
          "ruleId": {
           "type": "string",
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          },
          "type": {
           "type": "string",
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          },
          "updatedAt": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at timestamp"
          },
          "createdAt": {
           "type": "string",
           "format": "date-time",
           "description": "Created at timestamp"
          },
          "match": {
           "type": "object",
           "properties": {
            "string": {
             "type": "string",
             "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
            },
            "type": {
             "type": "string",
             "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
            }
           },
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)"
          }
         }
        },
        "example": {
         "network": {
          "id": "N_12345",
          "name": "Network 1"
         },
         "ruleId": "5239",
         "type": "allow",
         "updatedAt": "2023-05-23 12:02:46.298",
         "createdAt": "2023-05-23 12:02:46.298",
         "match": {
          "string": "ipsum",
          "type": "contains"
         }
        }
       }
      }
     }
    },
    "summary": "Update a rule",
    "tags": [
     "wireless",
     "configure",
     "airMarshal",
     "rules"
    ]
   },
   "delete": {
    "description": "Delete an Air Marshal rule.",
    "operationId": "deleteNetworkWirelessAirMarshalRule",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "ruleId",
      "in": "path",
      "description": "Rule ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "204": {
      "description": "Successful operation"
     }
    },
    "summary": "Delete an Air Marshal rule.",
    "tags": [
     "wireless",
     "configure",
     "airMarshal",
     "rules"
    ]
   }
  },
  "/networks/{networkId}/wireless/airMarshal/settings": {
   "put": {
    "description": "Updates Air Marshal settings.",
    "operationId": "updateNetworkWirelessAirMarshalSettings",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "defaultPolicy": {
          "type": "string",
          "enum": [
           "allow",
           "block"
          ],
          "description": "Allows clients to access rogue networks. Blocked by default."
         }
        },
        "example": {
         "defaultPolicy": "allow"
        },
        "required": [
         "defaultPolicy"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "networkId": {
           "type": "string",
           "description": "The network ID"
          },
          "defaultPolicy": {
           "type": "string",
           "description": "Indicates whether or not clients are allowed to       connect to rogue SSIDs. (blocked by default)"
          }
         }
        },
        "example": {
         "networkId": "N_12345",
         "defaultPolicy": "allow"
        }
       }
      }
     }
    },
    "summary": "Updates Air Marshal settings.",
    "tags": [
     "wireless",
     "configure",
     "airMarshal",
     "settings"
    ]
   }
  },
  "/networks/{networkId}/wireless/alternateManagementInterface": {
   "get": {
    "description": "Return alternate management interface and devices with IP assigned",
    "operationId": "getNetworkWirelessAlternateManagementInterface",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        },
        "example": {
         "enabled": true,
         "vlanId": 100,
         "protocols": [
          "radius",
          "snmp",
          "syslog",
          "ldap"
         ],
         "accessPoints": [
          {
           "serial": "Q234-ABCD-5678",
           "alternateManagementIp": "1.2.3.4",
           "subnetMask": "255.255.255.0",
           "gateway": "1.2.3.5",
           "dns1": "8.8.8.8",
           "dns2": "8.8.4.4"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Return alternate management interface and devices with IP assigned",
    "tags": [
     "wireless",
     "configure",
     "alternateManagementInterface"
    ]
   },
   "put": {
    "description": "Update alternate management interface and device static IP",
    "operationId": "updateNetworkWirelessAlternateManagementInterface",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "enabled": {
          "type": "boolean",
          "description": "Boolean value to enable or disable alternate management interface"
         },
         "vlanId": {
          "type": "integer",
          "description": "Alternate management interface VLAN, must be between 1 and 4094"
         },
         "protocols": {
          "type": "array",
          "items": {
           "type": "string",
           "enum": [
            "ldap",
            "radius",
            "snmp",
            "syslog"
           ]
          },
          "description": "Can be one or more of the following values: 'radius', 'snmp', 'syslog' or 'ldap'"
         },
         "accessPoints": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "serial": {
             "type": "string",
             "description": "Serial number of access point to be configured with alternate management IP"
            },
            "alternateManagementIp": {
             "type": "string",
             "description": "Wireless alternate management interface device IP. Provide an empty string to remove alternate management IP assignment"
            },
            "subnetMask": {
             "type": "string",
             "description": "Subnet mask must be in IP format"
            },
            "gateway": {
             "type": "string",
             "description": "Gateway must be in IP format"
            },
            "dns1": {
             "type": "string",
             "description": "Primary DNS must be in IP format"
            },
            "dns2": {
             "type": "string",
             "description": "Optional secondary DNS must be in IP format"
            }
           },
           "required": [
            "serial",
            "alternateManagementIp"
           ]
          },
          "description": "Array of access point serial number and IP assignment. Note: accessPoints IP assignment is not applicable for template networks, in other words, do not put 'accessPoints' in the body when updating template networks. Also, an empty 'accessPoints' array will remove all previous static IP assignments"
         }
        },
        "example": {
         "enabled": true,
         "vlanId": 100,
         "protocols": [
          "radius",
          "snmp",
          "syslog",
          "ldap"
         ],
         "accessPoints": [
          {
           "serial": "Q234-ABCD-5678",
           "alternateManagementIp": "1.2.3.4",
           "subnetMask": "255.255.255.0",
           "gateway": "1.2.3.5",
           "dns1": "8.8.8.8",
           "dns2": "8.8.4.4"
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        },
        "example": {
         "enabled": true,
         "vlanId": 100,
         "protocols": [
          "radius",
          "snmp",
          "syslog",
          "ldap"
         ],
         "accessPoints": [
          {
           "serial": "Q234-ABCD-5678",
           "alternateManagementIp": "1.2.3.4",
           "subnetMask": "255.255.255.0",
           "gateway": "1.2.3.5",
           "dns1": "8.8.8.8",
           "dns2": "8.8.4.4"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update alternate management interface and device static IP",
    "tags": [
     "wireless",
     "configure",
     "alternateManagementInterface"
    ]
   }
  },
  "/networks/{networkId}/wireless/billing": {
   "get": {
    "description": "Return the billing settings of this network",
    "operationId": "getNetworkWirelessBilling",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "currency": {
           "type": "string",
           "description": "The currency code of this node group's billing plans"
          },
          "plans": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "The id of the pricing plan to update."
             },
             "price": {
              "type": "number",
              "format": "float",
              "description": "The price of the billing plan."
             },
             "bandwidthLimits": {
              "type": "object",
              "properties": {
               "limitUp": {
                "type": "integer",
                "description": "The maximum upload limit (integer, in Kbps)."
               },
               "limitDown": {
                "type": "integer",
                "description": "The maximum download limit (integer, in Kbps)."
               }
              },
              "description": "The uplink bandwidth settings for the pricing plan."
             },
             "timeLimit": {
              "type": "string",
              "description": "The time limit of the pricing plan in minutes."
             }
            }
           },
           "description": "Array of billing plans in the node group. (Can configure a maximum of 5)"
          }
         }
        },
        "example": {
         "currency": "USD",
         "plans": [
          {
           "id": "1",
           "price": 5.0,
           "bandwidthLimits": {
            "limitUp": 1000,
            "limitDown": 1000
           },
           "timeLimit": "1 hour"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Return the billing settings of this network",
    "tags": [
     "wireless",
     "configure",
     "billing"
    ]
   },
   "put": {
    "description": "Update the billing settings",
    "operationId": "updateNetworkWirelessBilling",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "currency": {
          "type": "string",
          "description": "The currency code of this node group's billing plans"
         },
         "plans": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "The id of the pricing plan to update."
            },
            "price": {
             "type": "number",
             "format": "float",
             "description": "The price of the billing plan."
            },
            "bandwidthLimits": {
             "type": "object",
             "properties": {
              "limitUp": {
               "type": "integer",
               "description": "The maximum upload limit (integer, in Kbps). null indicates no limit",
               "nullable": true
              },
              "limitDown": {
               "type": "integer",
               "description": "The maximum download limit (integer, in Kbps). null indicates no limit",
               "nullable": true
              }
             },
             "description": "The uplink bandwidth settings for the pricing plan."
            },
            "timeLimit": {
             "type": "string",
             "enum": [
              "1 day",
              "1 hour",
              "1 week",
              "30 days"
             ],
             "description": "The time limit of the pricing plan in minutes. Can be '1 hour', '1 day', '1 week', or '30 days'."
            }
           },
           "required": [
            "price",
            "bandwidthLimits",
            "timeLimit"
           ]
          },
          "description": "Array of billing plans in the node group. (Can configure a maximum of 5)"
         }
        },
        "example": {
         "currency": "USD",
         "plans": [
          {
           "id": "1",
           "price": 5.0,
           "bandwidthLimits": {
            "limitUp": 1000000,
            "limitDown": 1000000
           },
           "timeLimit": "1 hour"
          }
         ]
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "currency": {
           "type": "string",
           "description": "The currency code of this node group's billing plans"
          },
          "plans": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "The id of the pricing plan to update."
             },
             "price": {
              "type": "number",
              "format": "float",
              "description": "The price of the billing plan."
             },
             "bandwidthLimits": {
              "type": "object",
              "properties": {
               "limitUp": {
                "type": "integer",
                "description": "The maximum upload limit (integer, in Kbps)."
               },
               "limitDown": {
                "type": "integer",
                "description": "The maximum download limit (integer, in Kbps)."
               }
              },
              "description": "The uplink bandwidth settings for the pricing plan."
             },
             "timeLimit": {
              "type": "string",
              "description": "The time limit of the pricing plan in minutes."
             }
            }
           },
           "description": "Array of billing plans in the node group. (Can configure a maximum of 5)"
          }
         }
        },
        "example": {
         "currency": "USD",
         "plans": [
          {
           "id": "1",
           "price": 5.0,
           "bandwidthLimits": {
            "limitUp": 1000,
            "limitDown": 1000
           },
           "timeLimit": "1 hour"
          }
         ]
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update the billing settings",
    "tags": [
     "wireless",
     "configure",
     "billing"
    ]
   }
  },
  "/networks/{networkId}/wireless/bluetooth/settings": {
   "get": {
    "description": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
    "operationId": "getNetworkWirelessBluetoothSettings",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "scanningEnabled": {
           "type": "boolean",
           "description": "Whether APs will scan for Bluetooth enabled clients."
          },
          "advertisingEnabled": {
           "type": "boolean",
           "description": "Whether APs will advertise beacons."
          },
          "uuid": {
           "type": "string",
           "description": "The UUID to be used in the beacon identifier."
          },
          "majorMinorAssignmentMode": {
           "type": "string",
           "description": "The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')"
          },
          "major": {
           "type": "integer",
           "description": "The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
          },
          "minor": {
           "type": "integer",
           "description": "The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
          },
          "eslEnabled": {
           "type": "boolean",
           "description": "Whether ESL is enabled on this network."
          }
         }
        },
        "example": {
         "scanningEnabled": true,
         "advertisingEnabled": true,
         "uuid": "00000000-0000-0000-0000-000000000000",
         "majorMinorAssignmentMode": "Non-unique",
         "major": 1,
         "minor": 1,
         "eslEnabled": true
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:read"
      ]
     }
    ],
    "summary": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
    "tags": [
     "wireless",
     "configure",
     "bluetooth",
     "settings"
    ]
   },
   "put": {
    "description": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
    "operationId": "updateNetworkWirelessBluetoothSettings",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "scanningEnabled": {
          "type": "boolean",
          "description": "Whether APs will scan for Bluetooth enabled clients."
         },
         "advertisingEnabled": {
          "type": "boolean",
          "description": "Whether APs will advertise beacons."
         },
         "uuid": {
          "type": "string",
          "description": "The UUID to be used in the beacon identifier."
         },
         "majorMinorAssignmentMode": {
          "type": "string",
          "enum": [
           "Non-unique",
           "Unique"
          ],
          "description": "The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')"
         },
         "major": {
          "type": "integer",
          "description": "The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
         },
         "minor": {
          "type": "integer",
          "description": "The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
         }
        },
        "example": {
         "scanningEnabled": true,
         "advertisingEnabled": true,
         "uuid": "00000000-0000-0000-0000-000000000000",
         "majorMinorAssignmentMode": "Non-unique",
         "major": 1,
         "minor": 1
        }
       }
      }
     },
     "required": false
    },
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "scanningEnabled": {
           "type": "boolean",
           "description": "Whether APs will scan for Bluetooth enabled clients."
          },
          "advertisingEnabled": {
           "type": "boolean",
           "description": "Whether APs will advertise beacons."
          },
          "uuid": {
           "type": "string",
           "description": "The UUID to be used in the beacon identifier."
          },
          "majorMinorAssignmentMode": {
           "type": "string",
           "description": "The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')"
          },
          "major": {
           "type": "integer",
           "description": "The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
          },
          "minor": {
           "type": "integer",
           "description": "The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
          },
          "eslEnabled": {
           "type": "boolean",
           "description": "Whether ESL is enabled on this network."
          }
         }
        },
        "example": {
         "scanningEnabled": true,
         "advertisingEnabled": true,
         "uuid": "00000000-0000-0000-0000-000000000000",
         "majorMinorAssignmentMode": "Non-unique",
         "major": 1,
         "minor": 1,
         "eslEnabled": true
        }
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:config:write"
      ]
     }
    ],
    "summary": "Update the Bluetooth settings for a network",
    "tags": [
     "wireless",
     "configure",
     "bluetooth",
     "settings"
    ]
   }
  },
  "/networks/{networkId}/wireless/channelUtilizationHistory": {
   "get": {
    "description": "Return AP channel utilization over time for a device or network client",
    "operationId": "getNetworkWirelessChannelUtilizationHistory",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
      "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 2678400
      }
     },
     {
      "name": "resolution",
      "in": "query",
      "description": "The time resolution in seconds for returned data. The valid resolutions are: 600, 1200, 3600, 14400, 86400. The default is 86400.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "autoResolution",
      "in": "query",
      "description": "Automatically select a data resolution based on the given timespan; this overrides the value specified by the 'resolution' parameter. The default setting is false.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "clientId",
      "in": "query",
      "description": "Filter results by network client to return per-device, per-band AP channel utilization metrics inner joined by the queried client's connection history.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deviceSerial",
      "in": "query",
      "description": "Filter results by device to return AP channel utilization metrics for the queried device; either :band or :clientId must be jointly specified.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "apTag",
      "in": "query",
      "description": "Filter results by AP tag to return AP channel utilization metrics for devices labeled with the given tag; either :clientId or :deviceSerial must be jointly specified.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "band",
      "in": "query",
      "description": "Filter results by band (either '2.4', '5' or '6').",
      "schema": {
       "type": "string",
       "enum": [
        "2.4",
        "5",
        "6"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "startTs": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the query range"
           },
           "endTs": {
            "type": "string",
            "format": "date-time",
            "description": "The end time of the query range"
           },
           "utilizationTotal": {
            "type": "number",
            "format": "float",
            "description": "Total channel utilization"
           },
           "utilization80211": {
            "type": "number",
            "format": "float",
            "description": "Average wifi utilization"
           },
           "utilizationNon80211": {
            "type": "number",
            "format": "float",
            "description": "Average signal interference"
           }
          }
         }
        },
        "example": [
         {
          "startTs": "2020-01-01T00:00:00Z",
          "endTs": "2020-01-01T01:00:00Z",
          "utilizationTotal": 9.89,
          "utilization80211": 7.22,
          "utilizationNon80211": 2.67
         }
        ]
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Return AP channel utilization over time for a device or network client",
    "tags": [
     "wireless",
     "monitor",
     "channelUtilizationHistory"
    ]
   }
  },
  "/networks/{networkId}/wireless/clientCountHistory": {
   "get": {
    "description": "Return wireless client counts over time for a network, device, or network client",
    "operationId": "getNetworkWirelessClientCountHistory",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
      "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 2678400
      }
     },
     {
      "name": "resolution",
      "in": "query",
      "description": "The time resolution in seconds for returned data. The valid resolutions are: 300, 600, 1200, 3600, 14400, 86400. The default is 86400.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "autoResolution",
      "in": "query",
      "description": "Automatically select a data resolution based on the given timespan; this overrides the value specified by the 'resolution' parameter. The default setting is false.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "clientId",
      "in": "query",
      "description": "Filter results by network client to return per-device client counts over time inner joined by the queried client's connection history.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deviceSerial",
      "in": "query",
      "description": "Filter results by device.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "apTag",
      "in": "query",
      "description": "Filter results by AP tag.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "band",
      "in": "query",
      "description": "Filter results by band (either '2.4', '5' or '6').",
      "schema": {
       "type": "string",
       "enum": [
        "2.4",
        "5",
        "6"
       ]
      }
     },
     {
      "name": "ssid",
      "in": "query",
      "description": "Filter results by SSID number.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "startTs": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the query range"
           },
           "endTs": {
            "type": "string",
            "format": "date-time",
            "description": "The end time of the query range"
           },
           "clientCount": {
            "type": "integer",
            "description": "Number of connected clients"
           }
          }
         }
        },
        "example": [
         {
          "startTs": "2020-01-01T00:00:00Z",
          "endTs": "2020-01-01T01:00:00Z",
          "clientCount": 14
         }
        ]
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Return wireless client counts over time for a network, device, or network client",
    "tags": [
     "wireless",
     "monitor",
     "clientCountHistory"
    ]
   }
  },
  "/networks/{networkId}/wireless/clients/connectionStats": {
   "get": {
    "description": "Aggregated connectivity info for this network, grouped by clients",
    "operationId": "getNetworkWirelessClientsConnectionStats",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
      "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "timespan",
      "in": "query",
      "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days.",
      "schema": {
       "type": "number",
       "format": "float",
       "maximum": 604800
      }
     },
     {
      "name": "band",
      "in": "query",
      "description": "Filter results by band (either '2.4', '5' or '6'). Note that data prior to February 2020 will not have band information.",
      "schema": {
       "type": "string",
       "enum": [
        "2.4",
        "5",
        "6"
       ]
      }
     },
     {
      "name": "ssid",
      "in": "query",
      "description": "Filter results by SSID",
      "schema": {
       "type": "integer",
       "enum": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14
       ]
      }
     },
     {
      "name": "apTag",
      "in": "query",
      "description": "Filter results by AP Tag",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successful operation",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "mac": {
            "type": "string",
            "description": "The MAC address of the client"
           },
           "connectionStats": {
            "type": "object",
            "properties": {
             "assoc": {
              "type": "integer",
              "description": "The number of failed association attempts"
             },
             "auth": {
              "type": "integer",
              "description": "The number of failed authentication attempts"
             },
             "dhcp": {
              "type": "integer",
              "description": "The number of failed DHCP attempts"
             },
             "dns": {
              "type": "integer",
              "description": "The number of failed DNS attempts"
             },
             "success": {
              "type": "integer",
              "description": "The number of successful connection attempts"
             }
            },
            "description": "The connection stats of the client"
           }
          }
         }
        },
        "example": [
         {
          "mac": "00:61:71:c8:51:27",
          "connectionStats": {
           "assoc": 0,
           "auth": 4,
           "dhcp": 0,
           "dns": 0,
           "success": 10
          }
         }
        ]
       }
      }
     }
    },
    "security": [
     {
      "oauth2": [
       "wireless:telemetry:read"
      ]
     }
    ],
    "summary": "Aggregated connectivity info for this network, grouped by clients",
    "tags": [
     "wireless",
     "monitor",
     "clients",
     "connectionStats"
    ]
   }
  },
  "/networks/{networkId}/wireless/clients/latencyStats": {
   "get": {
    "description": "Aggregated latency info for this network, grouped by clients",
    "operationId": "getNetworkWirelessClientsLatencyStats",
    "parameters": [
     {
      "name": "networkId",
      "in": "path",
      "description": "Network ID",
      "schema": {
       "type": "string"
      },
      "required": true
     },
     {
      "name": "t0",
      "in": "query",
      "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "t1",
      "in": "query",
[...]
