openapi: 3.2.0
info:
  title: Meraki Dashboard Camera API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > Recent Updates


    ---


    API Documentation


    Community Support


    Meraki Homepage'
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Camera
paths:
  /devices/{serial}/camera/analytics/live:
    get:
      deprecated: true
      operationId: getDeviceCameraAnalyticsLive
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: string
                    description: The current time
                  zones:
                    type: object
                    properties:
                      zoneId:
                        type: object
                        properties:
                          person:
                            type: integer
                            description: The count per type, dynamic
                        description: The zone state, dynamic
                    description: The zones state
              example:
                ts: '2018-08-15T18:32:38.123Z'
                zones:
                  zoneId:
                    person: 0
      summary: Returns live state from camera analytics zones
      tags:
      - Camera
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/camera/analytics/overview:
    get:
      deprecated: true
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.
        schema:
          type: number
          format: float
          maximum: 604800
      - name: objectType
        in: query
        description: '[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle].'
        schema:
          type: string
          enum:
          - person
          - vehicle
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    startTs:
                      type: string
                      format: date-time
                      description: The start time
                    endTs:
                      type: string
                      format: date-time
                      description: The end time
                    zoneId:
                      type: integer
                      description: The zone id
                    entrances:
                      type: integer
                      description: The number of sentrances
                    averageCount:
                      type: number
                      format: float
                      description: The average count
              example:
              - startTs: '2018-08-15T18:32:38.123Z'
                endTs: '2018-08-15T18:33:38.123Z'
                zoneId: 0
                entrances: 254
                averageCount: 5.0
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
      - Camera
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/camera/analytics/recent:
    get:
      deprecated: true
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: objectType
        in: query
        description: '[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle].'
        schema:
          type: string
          enum:
          - person
          - vehicle
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    startTs:
                      type: string
                      format: date-time
                      description: The start time
                    endTs:
                      type: string
                      format: date-time
                      description: The end time
                    zoneId:
                      type: integer
                      description: The zone id
                    entrances:
                      type: integer
                      description: The number of entrances
                    averageCount:
                      type: number
                      format: float
                      description: The average count
              example:
              - startTs: '2018-08-15T18:32:38.123Z'
                endTs: '2018-08-15T18:33:38.123Z'
                zoneId: 0
                entrances: 10
                averageCount: 2.54
      summary: Returns most recent record for analytics zones
      tags:
      - Camera
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/camera/analytics/zones:
    get:
      deprecated: true
      operationId: getDeviceCameraAnalyticsZones
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The zone ID
                    type:
                      type: string
                      description: The zone type
                    label:
                      type: string
                      description: The zone label
                    regionOfInterest:
                      type: object
                      properties:
                        x0:
                          type: string
                          description: The x0 coordinate
                        y0:
                          type: string
                          description: The y0 coordinate
                        x1:
                          type: string
                          description: The x1 coordinate
                        y1:
                          type: string
                          description: The y1 coordinate
                      description: The region of interest
              example:
              - id: '0'
                type: occupancy
                label: Full Frame
                regionOfInterest:
                  x0: '0.00'
                  y0: '0.00'
                  x1: '1.00'
                  y1: '1.00'
      security:
      - oauth2:
        - camera:config:read
      summary: Returns all configured analytic zones for this camera
      tags:
      - Camera
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/camera/analytics/zones/{zoneId}/history:
    get:
      deprecated: true
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: zoneId
        in: path
        description: Zone ID
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
        schema:
          type: string
      - name: t1
        in: query
        description: The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.
        schema:
          type: number
          format: float
          maximum: 50400
      - name: resolution
        in: query
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60.'
        schema:
          type: integer
      - name: objectType
        in: query
        description: '[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle].'
        schema:
          type: string
          enum:
          - person
          - vehicle
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    startTs:
                      type: string
                      format: date-time
                      description: The start time
                    endTs:
                      type: string
                      format: date-time
                      description: The end time
                    entrances:
                      type: integer
                      description: The number of entrances
                    averageCount:
                      type: number
                      format: float
                      description: The average count
              example:
              - startTs: '2018-08-15T18:32:38.123Z'
                endTs: '2018-08-15T18:33:38.123Z'
                entrances: 5
                averageCount: 1.5
      summary: Return historical records for analytic zones
      tags:
      - Camera
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/camera/clip:
    get:
      description: Generate a video clip of up to 5 minutes long.
      operationId: clipDeviceCamera
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: startTimestamp
        in: query
        required: true
        description: The start time for the clip. The timestamp is expected to be in ISO 8601 format.
        schema:
          type: string
          format: date-time
      - name: endTimestamp
        in: query
        required: true
        description: The end time for the clip. The timestamp is expected to be in ISO 8601 format.
        schema:
          type: string
          format: date-time
      - name: imagerId
        in: query
        description: The imager ID to query. Required for multi-imager cameras (must be between 1 and the imager count). For single-imager cameras, must be omitted or set to 0.
        schema:
          type: integer
      responses:
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Url for the snapshot
                  expiry:
                    type: string
                    description: Expiration details for snapshot image access
              example:
                url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
                expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
      security:
      - oauth2:
        - camera:telemetry:write
      summary: Generate a video clip of up to 5 minutes long
      tags:
      - Camera
  /devices/{serial}/camera/customAnalytics:
    get:
      operationId: getDeviceCameraCustomAnalytics
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether custom analytics is enabled
                  artifactId:
                    type: string
                    description: Custom analytics artifact ID
                  parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the parameter
                        value:
                          type: number
                          format: float
                          description: Value of the parameter
                    description: Parameters for the custom analytics workload
              example:
                enabled: true
                artifactId: '1'
                parameters:
                - name: detection_threshold
                  value: 0.5
      security:
      - oauth2:
        - camera:config:read
      summary: Return custom analytics settings for a camera
      tags:
      - Camera
    put:
      operationId: updateDeviceCameraCustomAnalytics
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enable custom analytics
                artifactId:
                  type: string
                  description: The ID of the custom analytics artifact
                parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the parameter
                      value:
                        type: string
                        description: Value of the parameter
                    required:
                    - name
                    - value
                  description: Parameters for the custom analytics workload
              example:
                enabled: true
                artifactId: '1'
                parameters:
                - name: detection_threshold
                  value: '0.5'
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether custom analytics is enabled
                  artifactId:
                    type: string
                    description: Custom analytics artifact ID
                  parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the parameter
                        value:
                          type: number
                          format: float
                          description: Value of the parameter
                    description: Parameters for the custom analytics workload
              example:
                enabled: true
                artifactId: '1'
                parameters:
                - name: detection_threshold
                  value: 0.5
      security:
      - oauth2:
        - camera:config:write
      summary: Update custom analytics settings for a camera
      tags:
      - Camera
  /devices/{serial}/camera/generateSnapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      operationId: generateDeviceCameraSnapshot
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
                  description: '[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time.'
                fullframe:
                  type: boolean
                  description: '[optional] If set to "true" the snapshot will be taken at full sensor resolution. This will error if used with timestamp.'
              example:
                timestamp: '2021-04-30T15:18:08Z'
                fullframe: false
        required: false
      responses:
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Url for the snapshot
                  expiry:
                    type: string
                    description: Expiration details for snapshot image access
              example:
                url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
                expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
      security:
      - oauth2:
        - camera:telemetry:write
      summary: Generate a snapshot of what the camera sees at the specified time and return a…
      tags:
      - Camera
  /devices/{serial}/camera/qualityAndRetention:
    get:
      operationId: getDeviceCameraQualityAndRetention
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type:
                    - string
                    - 'null'
                    description: Quality and retention profile ID; null if not using a profile
                  motionBasedRetentionEnabled:
                    type: boolean
                    description: Whether motion-based retention is enabled
                  audioRecordingEnabled:
                    type: boolean
                    description: Whether audio recording is enabled
                  restrictedBandwidthModeEnabled:
                    type: boolean
                    description: Whether restricted bandwidth mode is enabled
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Video quality; null when the camera's stored configuration cannot be decoded into a documented quality value
                  resolution:
                    type:
                    - string
                    - 'null'
                    description: Video resolution; null when the camera's stored configuration cannot be decoded into a documented resolution value
                  motionDetectorVersion:
                    type: integer
                    description: Motion detector version
              example:
                profileId: '1234'
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                quality: Standard
                resolution: 1280x720
                motionDetectorVersion: 2
      security:
      - oauth2:
        - camera:config:read
      summary: Returns quality and retention settings for the given camera
      tags:
      - Camera
    put:
      operationId: updateDeviceCameraQualityAndRetention
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  type:
                  - string
                  - 'null'
                  description: The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera.
                motionBasedRetentionEnabled:
                  type: boolean
                  description: Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera.
                audioRecordingEnabled:
                  type: boolean
                  description: Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera
                restrictedBandwidthModeEnabled:
                  type: boolean
                  description: Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera. This setting does not apply to MV2 cameras.
                quality:
                  type: string
                  enum:
                  - Enhanced
                  - High
                  - Standard
                  - Ultra
                  description: Quality of the camera. Can be one of 'Standard', 'High', 'Enhanced' or 'Ultra'. Not all qualities are supported by every camera model.
                resolution:
                  type: string
                  enum:
                  - 1080x1080
                  - 1280x720
                  - 1920x1080
                  - 2112x2112
                  - 2688x1512
                  - 2880x2880
                  - 3840x2160
                  description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080', '2112x2112', '2880x2880', '2688x1512' or '3840x2160'.Not all resolutions are supported by every camera model.
                motionDetectorVersion:
                  type: integer
                  enum:
                  - 1
                  - 2
                  description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
              example:
                profileId: '1234'
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                quality: Standard
                resolution: 1280x720
                motionDetectorVersion: 2
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type:
                    - string
                    - 'null'
                    description: Quality and retention profile ID; null if not using a profile
                  motionBasedRetentionEnabled:
                    type: boolean
                    description: Whether motion-based retention is enabled
                  audioRecordingEnabled:
                    type: boolean
                    description: Whether audio recording is enabled
                  restrictedBandwidthModeEnabled:
                    type: boolean
                    description: Whether restricted bandwidth mode is enabled
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Video quality; null when the camera's stored configuration cannot be decoded into a documented quality value
                  resolution:
                    type:
                    - string
                    - 'null'
                    description: Video resolution; null when the camera's stored configuration cannot be decoded into a documented resolution value
                  motionDetectorVersion:
                    type: integer
                    description: Motion detector version
              example:
                profileId: '1234'
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                quality: Standard
                resolution: 1280x720
                motionDetectorVersion: 2
      security:
      - oauth2:
        - camera:config:write
      summary: Update quality and retention settings for the given camera
      tags:
      - Camera
  /devices/{serial}/camera/sense:
    get:
      operationId: getDeviceCameraSense
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  senseEnabled:
                    type: boolean
                    description: Whether MV Sense is enabled on the camera
                  mqttBrokerId:
                    type:
                    - string
                    - 'null'
                    description: ID of the MQTT broker; null if MQTT is disabled
                  mqttTopics:
                    type: array
                    items:
                      type: string
                    description: MQTT topics the camera publishes to
                  audioDetection:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether audio detection is enabled
                    description: Audio detection configuration
                  detectionModelId:
                    type:
                    - string
                    - 'null'
                    description: ID of the object detection model
              example:
                senseEnabled: true
                mqttBrokerId: '1234'
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
                audioDetection:
                  enabled: false
                detectionModelId: '1234'
      security:
      - oauth2:
        - camera:config:read
      summary: Returns sense settings for a given camera
      tags:
      - Camera
    put:
      operationId: updateDeviceCameraSense
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                senseEnabled:
                  type: boolean
                  description: Boolean indicating if sense(license) is enabled(true) or disabled(false) on the camera
                mqttBrokerId:
                  type:
                  - string
                  - 'null'
                  description: The ID of the MQTT broker to be enabled on the camera. A value of null will disable MQTT on the camera
                audioDetection:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Boolean indicating if audio detection is enabled(true) or disabled(false) on the camera
                  description: The details of the audio detection config.
                detectionModelId:
                  type: string
                  description: The ID of the object detection model
              example:
                senseEnabled: true
                mqttBrokerId: '1234'
                audioDetection:
                  enabled: false
                detectionModelId: '1234'
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  senseEnabled:
                    type: boolean
                    description: Whether MV Sense is enabled on the camera
                  mqttBrokerId:
                    type:
                    - string
                    - 'null'
                    description: ID of the MQTT broker; null if MQTT is disabled
                  mqttTopics:
                    type: array
                    items:
                      type: string
                    description: MQTT topics the camera publishes to
                  audioDetection:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether audio detection is enabled
                    description: Audio detection configuration
                  detectionModelId:
                    type:
                    - string
                    - 'null'
                    description: ID of the object detection model
              example:
                senseEnabled: true
                mqttBrokerId: '1234'
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
                audioDetection:
                  enabled: false
                detectionModelId: '1234'
      security:
      - oauth2:
        - camera:config:write
      summary: Update sense settings for the given camera
      tags:
      - Camera
  /devices/{serial}/camera/sense/objectDetectionModels:
    get:
      operationId: getDeviceCameraSenseObjectDetectionModels
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Model ID
                    description:
                      type: string
                      description: Model description
              example:
              - id: '0'
                description: Model A
      security:
      - oauth2:
        - camera:config:read
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
      - Camera
  /devices/{serial}/camera/video/settings:
    get:
      operationId: getDeviceCameraVideoSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  externalRtspEnabled:
                    type: boolean
                    description: Boolean indicating if external rtsp stream is exposed
                  rtspUrl:
                    type: string
                    description: External rstp url. Will only be returned if external rtsp stream is exposed
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
      security:
      - oauth2:
        - camera:config:read
      summary: Returns video settings for the given camera
      tags:
      - Camera
    put:
      operationId: updateDeviceCameraVideoSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                externalRtspEnabled:
                  type: boolean
                  description: Boolean indicating if external rtsp stream is exposed
              example:
                externalRtspEnabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  externalRtspEnabled:
                    type: boolean
                    description: Boolean indicating if external rtsp stream is exposed
                  rtspUrl:
                    type: string
                    description: External rstp url. Will only be returned if external rtsp stream is exposed
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
      security:
      - oauth2:
        - camera:config:write
      summary: Update video settings for the given camera
      tags:
      - Camera
  /devices/{serial}/camera/videoLink:
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      operationId: getDeviceCameraVideoLink
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: timestamp
        in: query
        description: '[optional] The video link will start at this time. The timestamp should be a string in ISO8601 format. If no timestamp is specified, we will assume current time.'
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: URL to the camera video stream
                  visionUrl:
                    type: string
                    description: URL to the Meraki Vision camera view
              example:
                url: https://n1.meraki.com/office-cameras/n/sample/manage/nodes/new_list/1284392014819?timestamp=1284392014819
                visionUrl: https://vision.meraki.com/n/2930418/cameras/1284392014819?ts=1284392014819
      security:
      - oauth2:
        - camera:config:read
      summary: Returns video link to the specified camera
      tags:
      - Camera
  /devices/{serial}/camera/wirelessProfiles:
    get:
      operationId: getDeviceCameraWirelessProfiles
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: object
                    properties:
                      primary:
                        type: string
                        description: Primary wireless profile ID
                      secondary:
                        type: string
                        description: Secondary wireless profile ID
                      backup:
                        type: string
                        description: Backup wireless profile ID
                    description: IDs of assigned wireless profiles
              example:
                ids:
                  primary: '3'
                  secondary: '2'
                  backup: '1'
      security:
      - oauth2:
        - camera:config:read
      summary: Returns wireless profile assigned to the given camera
      tags:
      - Camera
    put:
      description: Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.
      operationId: updateDeviceCameraWirelessProfiles
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: object
                  properties:
                    primary:
                      type:
                      - string
                      - 'null'
                      description: The id of the primary wireless profile
                    secondary:
                      type:
                      - string
                      - 'null'
                      description: The id of the secondary wireless profile
                    backup:
                      type:
                      - string
                      - 'null'
                      description: The id of the backup wireless profile
                  description: The ids of the wireless profile to assign to the given camera
              example:
                ids:
                  primary: '3'
                  secondary: '2'
                  backup: '1'
              required:
              - ids
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: object
                    properties:
                      primary:
                        type: string
                        description: Primary wireless profile ID
                      secondary:
                        type: string
                        description: Secondary wireless profile ID
                      backup:
                        type: string
                        description: Backup wireless profile ID
                    description: IDs of assigned wireless profiles
              example:
                ids:
                  primary: '3'
                  secondary: '2'
                  backup: '1'
      security:
      - oauth2:
        - camera:config:write
      summary: Assign wireless profiles to the given camera
      tags:
      - Camera
  /networks/{networkId}/camera/qualityRetentionProfiles:
    get:
      operationId: getNetworkCameraQualityRetentionProfiles
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier for the quality retention profile
                    networkId:
                      type: string
                      description: Network ID
                    name:
                      type: string
                      description: Name of the quality retention profile
                    restrictedBandwidthModeEnabled:
                      type: boolean
                      description: Whether restricted bandwidth mode is enabled
                    motionBasedRetentionEnabled:
                      type: boolean
                      description: Whether motion-based retention is enabled
                    audioRecordingEnabled:
                      type: boolean
                      description: Whether audio recording is enabled
                    cloudArchiveEnabled:
                      type: boolean
                      description: Whether cloud archive is enabled
                    maxRetentionDays:
                      type: integer
                      description: Maximum retention days
                    scheduleId:
                      type:
                      - string
                      - 'null'
                      description: Schedule ID
                    motionDetectorVersion:
                      type: integer
                      description: Motion detector version
                    smartRetention:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether smart retention is enabled
                      description: Smart retention settings
                    axisVideoQuality:
                      type: string
                      description: Video quality settings applied to all Axis cameras
                    videoSettings:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          quality:
                            type: string
                            description: Video quality
                          resolution:
                            type: string
                            description: Video resolution
                        description: Per-model video settings
                      description: Video quality and resolution settings for camera models
              example:
              - id: '1234'
                networkId: N_24329156
                name: Sample quality retention profile
                restrictedBandwidthModeEnabled: true
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                cloudArchiveEnabled: false
                maxRetentionDays: 7
                scheduleId: '1234'
                motionDetectorVersion: 2
                smartRetention:
                  enabled: true
                axisVideoQuality: enhanced
                videoSettings:
                  MV32:
                    quality: Enhanced
                    resolution: 1080x1080
      security:
      - oauth2:
        - camera:config:read
      summary: List the quality retention profiles for this network
      tags:
      - Camera
    post:
      description: Creates new quality retention profile for this network.
      operationId: createNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the new profile. Must be unique. This parameter is required.
                motionBasedRetentionEnabled:
                  type: boolean
                  description: Deletes footage older than 3 days in which no motion was detected. Can be either true or false. Defaults to false. This setting does not apply to MV2 cameras.
                restrictedBandwidthModeEnabled:
                  type: boolean
                  description: Disable features that require additional bandwidth such as Motion Recap. Can be either true or false. Defaults to false. This setting does not apply to MV2 cameras.
                audioRecordingEnabled:
                  type: boolean
                  description: Whether or not to record audio. Can be either true or false. Defaults to false.
                cloudArchiveEnabled:
                  type: boolean
                  description: Create redundant video backup using Cloud Archive. Can be either true or false. Defaults to false.
                motionDetectorVersion:
                  type: integer
                  description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                smartRetention:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Boolean indicating if Smart Retention is enabled(true) or disabled(false).
                  description: Smart Retention records footage in two qualities and intelligently retains higher quality when motion, people or vehicles are detected.
                scheduleId:
                  type:
                  - string
                  - 'null'
                  description: Schedule for which this camera will record video, or 'null' to always record.
                maxRetentionDays:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of days for which the data will be stored, or 'null' to keep data until storage space runs out. If the former, it can be in the range of one to ninety days.
                videoSettings:
                  type: object
                  properties:
                    MV12/MV22/MV72:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV12/MV22/MV72 camera models.
                    MV12WE:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV12WE camera models.
                    MV13:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV13 camera models.
                    MV13M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV13M camera models.
                    MV21/MV71:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          description: Resolution of the camera. Can be one of '1280x720'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV21/MV71 camera models.
                    MV22X/MV72X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                          description: Resolution of the camera. Can be one of '1280x720', '1920x1080' or '2688x1512'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV22X/MV72X camera models.
                    MV23:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23 camera models.
                    MV23M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23M camera models.
                    MV23X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23X camera models.
                    MV32:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          description: Resolution of the camera. Can be one of '1080x1080' or '2112x2112'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV32 camera models.
                    MV33:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV33 camera models.
                    MV33M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV33M camera models.
                    MV52:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV52 camera models.
                    MV63:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63 camera models.
                    MV63M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63M camera models.
                    MV63X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63X camera models.
                    MV73:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73 camera models.
                    MV73M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73M camera models.
                    MV73X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73X camera models.
                    MV93:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV93 camera models.
                    MV93M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV93M camera models.
                    MV93X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV93X camera models.
                    MV53X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV53X camera models.
                    MV84X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard' or 'Enhanced'.
                        resolution:
                          type: string
                          enum:
                          - 1440x1080
                          - 2560x1920
                          description: Resolution of the camera. Can be one of '1440x1080' or '2560x1920'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV84X camera models.
                    MV44X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard' or 'Enhanced'.
                        resolution:
                          type: string
                          enum:
                          - 1440x1080
                          - 2560x1920
                          description: Resolution of the camera. Can be one of '1440x1080' or '2560x1920'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV44X camera models.
                  description: Video quality and resolution settings for all the camera models.
              example:
                name: Sample quality retention profile
              required:
              - name
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the quality retention profile
                  networkId:
                    type: string
                    description: Network ID
                  name:
                    type: string
                    description: Name of the quality retention profile
                  restrictedBandwidthModeEnabled:
                    type: boolean
                    description: Whether restricted bandwidth mode is enabled
                  motionBasedRetentionEnabled:
                    type: boolean
                    description: Whether motion-based retention is enabled
                  audioRecordingEnabled:
                    type: boolean
                    description: Whether audio recording is enabled
                  cloudArchiveEnabled:
                    type: boolean
                    description: Whether cloud archive is enabled
                  maxRetentionDays:
                    type: integer
                    description: Maximum retention days
                  scheduleId:
                    type:
                    - string
                    - 'null'
                    description: Schedule ID
                  motionDetectorVersion:
                    type: integer
                    description: Motion detector version
                  smartRetention:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether smart retention is enabled
                    description: Smart retention settings
                  axisVideoQuality:
                    type: string
                    description: Video quality settings applied to all Axis cameras
                  videoSettings:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        quality:
                          type: string
                          description: Video quality
                        resolution:
                          type: string
                          description: Video resolution
                      description: Per-model video settings
                    description: Video quality and resolution settings for camera models
              example:
                id: '1234'
                networkId: N_24329156
                name: Sample quality retention profile
                restrictedBandwidthModeEnabled: true
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                cloudArchiveEnabled: false
                maxRetentionDays: 7
                scheduleId: '1234'
                motionDetectorVersion: 2
                smartRetention:
                  enabled: true
                axisVideoQuality: enhanced
                videoSettings:
                  MV32:
                    quality: Enhanced
                    resolution: 1080x1080
      security:
      - oauth2:
        - camera:config:write
      summary: Creates new quality retention profile for this network
      tags:
      - Camera
  /networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}:
    get:
      operationId: getNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: qualityRetentionProfileId
        in: path
        description: Quality retention profile ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the quality retention profile
                  networkId:
                    type: string
                    description: Network ID
                  name:
                    type: string
                    description: Name of the quality retention profile
                  restrictedBandwidthModeEnabled:
                    type: boolean
                    description: Whether restricted bandwidth mode is enabled
                  motionBasedRetentionEnabled:
                    type: boolean
                    description: Whether motion-based retention is enabled
                  audioRecordingEnabled:
                    type: boolean
                    description: Whether audio recording is enabled
                  cloudArchiveEnabled:
                    type: boolean
                    description: Whether cloud archive is enabled
                  maxRetentionDays:
                    type: integer
                    description: Maximum retention days
                  scheduleId:
                    type:
                    - string
                    - 'null'
                    description: Schedule ID
                  motionDetectorVersion:
                    type: integer
                    description: Motion detector version
                  smartRetention:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether smart retention is enabled
                    description: Smart retention settings
                  axisVideoQuality:
                    type: string
                    description: Video quality settings applied to all Axis cameras
                  videoSettings:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        quality:
                          type: string
                          description: Video quality
                        resolution:
                          type: string
                          description: Video resolution
                      description: Per-model video settings
                    description: Video quality and resolution settings for camera models
              example:
                id: '1234'
                networkId: N_24329156
                name: Sample quality retention profile
                restrictedBandwidthModeEnabled: true
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                cloudArchiveEnabled: false
                maxRetentionDays: 7
                scheduleId: '1234'
                motionDetectorVersion: 2
                smartRetention:
                  enabled: true
                axisVideoQuality: enhanced
                videoSettings:
                  MV32:
                    quality: Enhanced
                    resolution: 1080x1080
      security:
      - oauth2:
        - camera:config:read
      summary: Retrieve a single quality retention profile
      tags:
      - Camera
    put:
      description: Update an existing quality retention profile for this network.
      operationId: updateNetworkCameraQualityRetentionProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: qualityRetentionProfileId
        in: path
        description: Quality retention profile ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the new profile. Must be unique.
                motionBasedRetentionEnabled:
                  type: boolean
                  description: Deletes footage older than 3 days in which no motion was detected. Can be either true or false. Defaults to false. This setting does not apply to MV2 cameras.
                restrictedBandwidthModeEnabled:
                  type: boolean
                  description: Disable features that require additional bandwidth such as Motion Recap. Can be either true or false. Defaults to false. This setting does not apply to MV2 cameras.
                audioRecordingEnabled:
                  type: boolean
                  description: Whether or not to record audio. Can be either true or false. Defaults to false.
                cloudArchiveEnabled:
                  type: boolean
                  description: Create redundant video backup using Cloud Archive. Can be either true or false. Defaults to false.
                motionDetectorVersion:
                  type: integer
                  description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                smartRetention:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Boolean indicating if Smart Retention is enabled(true) or disabled(false).
                  description: Smart Retention records footage in two qualities and intelligently retains higher quality when motion, people or vehicles are detected.
                scheduleId:
                  type:
                  - string
                  - 'null'
                  description: Schedule for which this camera will record video, or 'null' to always record.
                maxRetentionDays:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of days for which the data will be stored, or 'null' to keep data until storage space runs out. If the former, it can be in the range of one to ninety days.
                videoSettings:
                  type: object
                  properties:
                    MV12/MV22/MV72:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV12/MV22/MV72 camera models.
                    MV12WE:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV12WE camera models.
                    MV13:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV13 camera models.
                    MV13M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV13M camera models.
                    MV21/MV71:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          description: Resolution of the camera. Can be one of '1280x720'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV21/MV71 camera models.
                    MV22X/MV72X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                          description: Resolution of the camera. Can be one of '1280x720', '1920x1080' or '2688x1512'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV22X/MV72X camera models.
                    MV23:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23 camera models.
                    MV23M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23M camera models.
                    MV23X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV23X camera models.
                    MV32:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          description: Resolution of the camera. Can be one of '1080x1080' or '2112x2112'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV32 camera models.
                    MV33:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV33 camera models.
                    MV33M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1080x1080
                          - 2112x2112
                          - 2880x2880
                          description: Resolution of the camera. Can be one of '1080x1080', '2112x2112' or '2880x2880'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV33M camera models.
                    MV52:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV52 camera models.
                    MV63:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63 camera models.
                    MV63M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63M camera models.
                    MV63X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV63X camera models.
                    MV73:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73 camera models.
                    MV73M:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73M camera models.
                    MV73X:
                      type: object
                      properties:
                        quality:
                          type: string
                          enum:
                          - Enhanced
                          - High
                          - Standard
                          description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        resolution:
                          type: string
                          enum:
                          - 1920x1080
                          - 2688x1512
                          - 3840x2160
                          description: Resolution of the camera. Can be one of '1920x1080', '2688x1512' or '3840x2160'.
                      required:
                      - quality
                      - resolution
                      description: Quality and resolution for MV73X camera models.
                    MV93:
                      type: object
                      properties:
                        quality:
[...]
