openapi: 3.2.0
info:
  title: Meraki Dashboard Devices API
  description: 'A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.


    > Date: 05 August, 2026

    >

    > Recent Updates


    ---


    API Documentation


    Community Support


    Meraki Homepage'
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  version: 1.73.0
  x-provenance:
    method: harvested
    authored_by: Cisco Meraki
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/meraki/openapi/blob/master/openapi/spec3.json
  - type: raw
    url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec3.json
  - type: alternate
    url: https://api.meraki.com/api/v1/openapiSpec
servers:
- url: https://api.meraki.com/{basePath}
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: Devices
paths:
  /devices/{serial}:
    get:
      operationId: getDevice
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the device
                  lat:
                    type: number
                    format: float
                    description: Latitude of the device
                  lng:
                    type: number
                    format: float
                    description: Longitude of the device
                  address:
                    type: string
                    description: Physical address of the device
                  notes:
                    type: string
                    description: Notes for the device, limited to 255 characters
                  tags:
                    type: array
                    items:
                      type: string
                    description: List of tags assigned to the device
                  networkId:
                    type: string
                    description: ID of the network the device belongs to
                  serial:
                    type: string
                    description: Serial number of the device
                  model:
                    type: string
                    description: Model of the device
                  mac:
                    type: string
                    description: MAC address of the device
                  lanIp:
                    type: string
                    description: LAN IP address of the device
                  firmware:
                    type: string
                    description: Firmware version of the device
                  floorPlanId:
                    type:
                    - string
                    - 'null'
                    description: The floor plan to associate to this device. null disassociates the device from the floorplan.
                  url:
                    type: string
                    description: URL link to the device in the Meraki Dashboard
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Additional property name
                        value:
                          type: string
                          description: Additional property value
                    description: Additional device information
                  beaconIdParams:
                    type: object
                    properties:
                      uuid:
                        type: string
                        description: The UUID to be used in the beacon identifier
                      major:
                        type: integer
                        description: The major number to be used in the beacon identifier
                      minor:
                        type: integer
                        description: The minor number to be used in the beacon identifier
                    description: Beacon Id parameters with an identifier and major and minor versions
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                tags:
                - ' recently-added '
                networkId: N_24329156
                serial: Q234-ABCD-5678
                model: MR34
                mac: 00:11:22:33:44:55
                lanIp: 1.2.3.4
                firmware: wireless-25-14
                floorPlanId: g_2176982374
                url: https://n1.meraki.com/MyOrg/n/XXXXXX/manage/nodes/new_list/1
                details:
                - name: Catalyst serial
                  value: 123ABC
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
      security:
      - oauth2:
        - dashboard:general:config:read
      summary: Return a single device
      tags:
      - Devices
    put:
      operationId: updateDevice
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  description: The name of a device
                tags:
                  type: array
                  items:
                    type: string
                  description: The list of tags of a device
                lat:
                  type: number
                  format: float
                  description: The latitude of a device
                lng:
                  type: number
                  format: float
                  description: The longitude of a device
                address:
                  type:
                  - string
                  - 'null'
                  description: The address of a device
                notes:
                  type:
                  - string
                  - 'null'
                  description: The notes for the device. String. Limited to 255 characters.
                moveMapMarker:
                  type: boolean
                  description: Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified.
                switchProfileId:
                  type:
                  - string
                  - 'null'
                  description: The ID of a switch template to bind to the device (for available switch templates, see the 'Switch Templates' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch template, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template.
                floorPlanId:
                  type:
                  - string
                  - 'null'
                  description: The floor plan to associate to this device. null disassociates the device from the floorplan.
              example:
                name: My AP
                tags:
                - ' recently-added '
                lat: 37.4180951010362
                lng: -122.098531723022
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                moveMapMarker: true
                switchProfileId: '1234'
                floorPlanId: g_2176982374
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the device
                  lat:
                    type: number
                    format: float
                    description: Latitude of the device
                  lng:
                    type: number
                    format: float
                    description: Longitude of the device
                  address:
                    type: string
                    description: Physical address of the device
                  notes:
                    type: string
                    description: Notes for the device, limited to 255 characters
                  tags:
                    type: array
                    items:
                      type: string
                    description: List of tags assigned to the device
                  networkId:
                    type: string
                    description: ID of the network the device belongs to
                  serial:
                    type: string
                    description: Serial number of the device
                  model:
                    type: string
                    description: Model of the device
                  mac:
                    type: string
                    description: MAC address of the device
                  lanIp:
                    type: string
                    description: LAN IP address of the device
                  firmware:
                    type: string
                    description: Firmware version of the device
                  floorPlanId:
                    type:
                    - string
                    - 'null'
                    description: The floor plan to associate to this device. null disassociates the device from the floorplan.
                  url:
                    type: string
                    description: URL link to the device in the Meraki Dashboard
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Additional property name
                        value:
                          type: string
                          description: Additional property value
                    description: Additional device information
                  beaconIdParams:
                    type: object
                    properties:
                      uuid:
                        type: string
                        description: The UUID to be used in the beacon identifier
                      major:
                        type: integer
                        description: The major number to be used in the beacon identifier
                      minor:
                        type: integer
                        description: The minor number to be used in the beacon identifier
                    description: Beacon Id parameters with an identifier and major and minor versions
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                tags:
                - ' recently-added '
                networkId: N_24329156
                serial: Q234-ABCD-5678
                model: MR34
                mac: 00:11:22:33:44:55
                lanIp: 1.2.3.4
                firmware: wireless-25-14
                floorPlanId: g_2176982374
                url: https://n1.meraki.com/MyOrg/n/XXXXXX/manage/nodes/new_list/1
                details:
                - name: Catalyst serial
                  value: 123ABC
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Update the attributes of a device
      tags:
      - Devices
  /devices/{serial}/blinkLeds:
    post:
      deprecated: true
      description: Blink the LEDs on a device. This endpoint is deprecrated in favor of "/devices/{serial}/liveTools/leds/blink".
      operationId: blinkDeviceLeds
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: integer
                  description: The duration in seconds. Must be between 5 and 120. Default is 20 seconds
                period:
                  type: integer
                  description: The period in milliseconds. Must be between 100 and 1000. Default is 160 milliseconds
                duty:
                  type: integer
                  description: The duty cycle as the percent active. Must be between 10 and 90. Default is 50.
              example:
                duration: 20
                period: 160
                duty: 50
        required: false
      responses:
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  duration:
                    type: integer
                    description: The duration in seconds. Will be between 5 and 120. Default is 20 seconds
                  period:
                    type: integer
                    description: The period in milliseconds. Will be between 100 and 1000. Default is 160 milliseconds
                  duty:
                    type: integer
                    description: The duty cycle as the percent active. Will be between 10 and 90. Default is 50
              example:
                duration: 20
                period: 160
                duty: 50
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Blink the LEDs on a device
      tags:
      - Devices
      x-deprecation-notice: 'Deprecated: This operation has been marked as deprecated. For more information, visit the <a href=''https://developer.cisco.com/meraki/api-v1/deprecated-operations/''>deprecated operations page</a>'
  /devices/{serial}/cellular/geolocations:
    put:
      operationId: updateDeviceCellularGeolocations
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Required parameter for the state to update the geolocation settings to (true to enable, false to disable)
              example:
                enabled: true
              required:
              - enabled
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Indicates whether geolocation is enabled for the device
              example:
                enabled: true
      summary: Update the enablement of the geolocation feature for a device
      tags:
      - Devices
  /devices/{serial}/cellular/sims:
    get:
      description: Return the SIM and APN configurations for a cellular device.
      operationId: getDeviceCellularSims
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sims:
                    type: array
                    items:
                      type: object
                      properties:
                        slot:
                          type: string
                          description: SIM slot being configured. Must be 'sim1' on single-sim devices. eSIM slots use the raw slot value for the device, such as 'sim2' or 'sim3'.
                        iccid:
                          type: string
                          description: Integrated Circuit Card Identification Number
                        imsi:
                          type: string
                          description: International Mobile Subscriber Identity
                        msisdn:
                          type: string
                          description: Mobile Station Integrated Services Digital Network
                        isPrimary:
                          type: boolean
                          description: If true, this SIM is activated on platform bootup. It must be true on single-SIM devices and is a required field for dual-SIM MGs unless it is being configured using 'simOrdering'.
                          default: false
                        status:
                          type: string
                          enum:
                          - PIN required
                          - PUK required
                          - active
                          - inserted
                          - not inserted
                          - standby
                          - unknown
                          description: Status of the SIM card.
                        apns:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: APN name.
                              allowedIpTypes:
                                type: array
                                items:
                                  type: string
                                description: IP versions to support (permitted values include 'ipv4', 'ipv6').
                              authentication:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - chap
                                    - none
                                    - pap
                                    description: APN auth type.
                                    default: none
                                  username:
                                    type: string
                                    description: APN username, if type is set.
                                  password:
                                    type: string
                                    description: APN password, if type is set (if APN password is not supplied, the password is left unchanged).
                                description: APN authentication configurations.
                            required:
                            - name
                            - allowedIpTypes
                          description: APN configurations. If empty, the default APN will be used.
                          default: []
                    description: List of SIMs. If a SIM was previously configured and not specified in this request, it will remain unchanged.
                  simOrdering:
                    type: array
                    items:
                      type: string
                    description: 'Specifies the ordering of all SIMs for an MG: primary, secondary, and not-in-use (when applicable). It''s required for devices with 3 or more SIMs and can be used in place of ''isPrimary'' for dual-SIM devices. Use the raw eSIM slot value for the device, such as ''sim2'' or ''sim3''. Sim failover will occur only between primary and secondary sim slots.'
                  simFailover:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Failover to secondary SIM
                      timeout:
                        type: integer
                        description: Failover timeout in seconds
                    description: SIM Failover settings.
              example:
                sims:
                - slot: sim1
                  iccid: '123456789'
                  imsi: '123456789012345'
                  msisdn: '123456789012345'
                  isPrimary: false
                  status: inserted
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
                      password: secret
                simOrdering:
                - sim1
                - sim2
                - sim3
                simFailover:
                  enabled: true
                  timeout: 300
      security:
      - oauth2:
        - sdwan:config:read
      summary: Return the SIM and APN configurations for a cellular device
      tags:
      - Devices
    put:
      description: Updates the SIM and APN configurations for a cellular device.
      operationId: updateDeviceCellularSims
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sims:
                  type: array
                  items:
                    type: object
                    properties:
                      slot:
                        type: string
                        description: SIM slot being configured. Must be 'sim1' on single-sim devices. eSIM slots use the raw slot value for the device, such as 'sim2' or 'sim3'.
                      isPrimary:
                        type: boolean
                        description: If true, this SIM is activated on platform bootup. It must be true on single-SIM devices and is a required field for dual-SIM MGs unless it is being configured using 'simOrdering'.
                        default: false
                      apns:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: APN name.
                            allowedIpTypes:
                              type: array
                              items:
                                type: string
                              description: IP versions to support (permitted values include 'ipv4', 'ipv6').
                            authentication:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - chap
                                  - none
                                  - pap
                                  description: APN auth type.
                                  default: none
                                username:
                                  type: string
                                  description: APN username, if type is set.
                                password:
                                  type: string
                                  description: APN password, if type is set (if APN password is not supplied, the password is left unchanged).
                              description: APN authentication configurations.
                          required:
                          - name
                          - allowedIpTypes
                        description: APN configurations. If empty, the default APN will be used.
                      simOrder:
                        type: integer
                        description: Priority of SIM slot being configured. Use a value between 1 and total number of SIMs available. The value must be unique for each SIM.
                  description: List of SIMs. If a SIM was previously configured and not specified in this request, it will remain unchanged.
                simOrdering:
                  type: array
                  items:
                    type: string
                  description: 'Specifies the ordering of all SIMs for an MG: primary, secondary, and not-in-use (when applicable). It''s required for devices with 3 or more SIMs and can be used in place of ''isPrimary'' for dual-SIM devices. Use the raw eSIM slot value for the device, such as ''sim2'' or ''sim3''. Sim failover will occur only between primary and secondary sim slots.'
                simFailover:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Failover to secondary SIM (optional)
                    timeout:
                      type:
                      - integer
                      - 'null'
                      description: Failover timeout in seconds (optional)
                  description: SIM Failover settings.
              example:
                sims:
                - slot: sim1
                  isPrimary: false
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
                      password: secret
                  simOrder: 3
                simOrdering:
                - sim1
                - sim2
                - sim3
                simFailover:
                  enabled: true
                  timeout: 300
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sims:
                    type: array
                    items:
                      type: object
                      properties:
                        slot:
                          type: string
                          description: SIM slot being configured. Must be 'sim1' on single-sim devices. eSIM slots use the raw slot value for the device, such as 'sim2' or 'sim3'.
                        iccid:
                          type: string
                          description: Integrated Circuit Card Identification Number
                        imsi:
                          type: string
                          description: International Mobile Subscriber Identity
                        msisdn:
                          type: string
                          description: Mobile Station Integrated Services Digital Network
                        isPrimary:
                          type: boolean
                          description: If true, this SIM is activated on platform bootup. It must be true on single-SIM devices and is a required field for dual-SIM MGs unless it is being configured using 'simOrdering'.
                          default: false
                        status:
                          type: string
                          enum:
                          - PIN required
                          - PUK required
                          - active
                          - inserted
                          - not inserted
                          - standby
                          - unknown
                          description: Status of the SIM card.
                        apns:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: APN name.
                              allowedIpTypes:
                                type: array
                                items:
                                  type: string
                                description: IP versions to support (permitted values include 'ipv4', 'ipv6').
                              authentication:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - chap
                                    - none
                                    - pap
                                    description: APN auth type.
                                    default: none
                                  username:
                                    type: string
                                    description: APN username, if type is set.
                                  password:
                                    type: string
                                    description: APN password, if type is set (if APN password is not supplied, the password is left unchanged).
                                description: APN authentication configurations.
                            required:
                            - name
                            - allowedIpTypes
                          description: APN configurations. If empty, the default APN will be used.
                          default: []
                    description: List of SIMs. If a SIM was previously configured and not specified in this request, it will remain unchanged.
                  simOrdering:
                    type: array
                    items:
                      type: string
                    description: 'Specifies the ordering of all SIMs for an MG: primary, secondary, and not-in-use (when applicable). It''s required for devices with 3 or more SIMs and can be used in place of ''isPrimary'' for dual-SIM devices. Use the raw eSIM slot value for the device, such as ''sim2'' or ''sim3''. Sim failover will occur only between primary and secondary sim slots.'
                  simFailover:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Failover to secondary SIM
                      timeout:
                        type: integer
                        description: Failover timeout in seconds
                    description: SIM Failover settings.
              example:
                sims:
                - slot: sim1
                  iccid: '123456789'
                  imsi: '123456789012345'
                  msisdn: '123456789012345'
                  isPrimary: false
                  status: inserted
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
                      password: secret
                simOrdering:
                - sim1
                - sim2
                - sim3
                simFailover:
                  enabled: true
                  timeout: 300
      security:
      - oauth2:
        - sdwan:config:write
      summary: Updates the SIM and APN configurations for a cellular device
      tags:
      - Devices
  /devices/{serial}/cellular/uplinks/bands/masks/update:
    post:
      operationId: createDeviceCellularUplinksBandsMasksUpdate
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slot:
                  type: string
                  enum:
                  - sim1
                  - sim2
                  - sim3
                  description: Required parameter for the SIM slot to update the cellular band mask for
                type:
                  type: string
                  enum:
                  - 5GNSA
                  - 5GSA
                  - LTE
                  description: Required parameter for the signal type to update the cellular band mask for
                masked:
                  type: array
                  items:
                    type: string
                  description: Required parameter for the band identifiers to mask for the given SIM slot and signal type. For LTE use bands identifiers like '30', for 5G use band identifiers like 'n30', or use 'all' to mask all bands for that signal type. Maximum 256 bands.
              example:
                slot: sim1
                type: LTE
                masked:
                - '2'
                - '12'
                - '30'
              required:
              - slot
              - type
              - masked
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  bySlot:
                    type: array
                    items:
                      type: object
                      properties:
                        slot:
                          type: string
                          enum:
                          - sim1
                          - sim2
                          - sim3
                          description: SIM slot identifier
                        bySignalType:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - 5GNSA
                                - 5GSA
                                - LTE
                                description: Cellular connection type
                              masked:
                                type: array
                                items:
                                  type: string
                                description: List of masked band identifiers. For LTE use bands identifiers like '30', for 5G use band identifiers like 'n30', or 'all' when all bands are masked. Maximum 256 bands per signal type.
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled band identifiers.  For LTE use bands identifiers like '30' and for 5G use band identifiers like 'n30'. Maximum 256 bands per signal type.
                              supported:
                                type: array
                                items:
                                  type: string
                                description: List of supported band identifiers. For LTE use bands identifiers like '30' and for 5G use band identifiers like 'n30'. Maximum 256 bands per signal type.
                          description: Signal settings for the SIM. Maximum 3 signal types per SIM slot.
                    description: SIMs associated with the device. Maximum 3 SIM slots per device.
              example:
                bySlot:
                - slot: sim1
                  bySignalType:
                  - type: LTE
                    masked:
                    - '2'
                    - '12'
                    - '30'
                    enabled:
                    - '8'
                    - '10'
                    supported:
                    - '2'
                    - '4'
                    - '8'
                    - '10'
                    - '12'
      summary: Update the cellular band masks for a device
      tags:
      - Devices
  /devices/{serial}/clients:
    get:
      description: List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.
      operationId: getDeviceClients
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: t0
        in: query
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
        schema:
          type: string
      - name: timespan
        in: query
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
        schema:
          type: number
          format: float
          maximum: 2678400
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The ID of the client
                    mac:
                      type: string
                      description: The MAC address of the client
                    description:
                      type: string
                      description: Short description of the client
                    mdnsName:
                      type: string
                      description: The client's MDNS name
                    dhcpHostname:
                      type: string
                      description: The client's DHCP hostname
                    user:
                      type: string
                      description: The client user's name
                    ip:
                      type: string
                      description: The IP address of the client
                    vlan:
                      type: string
                      description: The client-assigned name of the VLAN the client is connected to
                    namedVlan:
                      type: string
                      description: The owner-assigned name of the VLAN the client is connected to
                    switchport:
                      type: string
                      description: The name of the switchport with clients on it, if the device is a switch
                    adaptivePolicyGroup:
                      type: string
                      description: A description of the adaptive policy group
                    usage:
                      type: object
                      properties:
                        sent:
                          type: number
                          format: float
                          description: Usage sent by the client
                        recv:
                          type: number
                          format: float
                          description: Usage received by the client
                      description: Client usage data for sent and received
              example:
              - id: k74272e
                mac: 22:33:44:55:66:77
                description: Miles's phone
                mdnsName: Miles's phone
                dhcpHostname: MilesPhone
                user: milesmeraki
                ip: 1.2.3.4
                vlan: '100'
                namedVlan: My VLAN
                switchport: My switch port
                adaptivePolicyGroup: '101'
                usage:
                  sent: 138.0
                  recv: 61.0
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: List the clients of a device, up to a maximum of a month ago
      tags:
      - Devices
  /devices/{serial}/liveTools/arpTable:
    post:
      callbacks:
        arpTable:
          '{$request.body#/callback/url}':
            post:
              requestBody:
                required: true
                description: Callback payload
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        sentAt:
                          type: string
                        callbackId:
                          type: string
                        message:
                          type: object
                          properties:
                            arpTableId:
                              type: string
                              description: Id of the ARP table request. Used to check the status of the request.
                            url:
                              type: string
                              description: GET this url to check the status of your ARP table request.
                            request:
                              type: object
                              properties:
                                serial:
                                  type: string
                                  description: Device serial number
                              description: ARP table request parameters
                            status:
                              type: string
                              enum:
                              - complete
                              - failed
                              - new
                              - ready
                              - running
                              - scheduled
                              description: Status of the ARP table request.
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  ip:
                                    type: string
                                    description: The IP address of the ARP table entry
                                  mac:
                                    type: string
                                    description: The MAC address of the ARP table entry
                                  vlanId:
                                    type:
                                    - integer
                                    - 'null'
                                    description: The VLAN ID of the ARP table entry. This is null for Meraki wireless devices, or for ARP table entries that do not belong to a VLAN.
                                  interface:
                                    type:
                                    - string
                                    - 'null'
                                    description: The interface name of the ARP table entry, such as Vlan1, Port-channel2, or GigabitEthernet1/0/1. This is null for non-Catalyst switches as well as Meraki wireless devices.
                                  lastUpdatedAt:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: Time of the last update of the ARP table entry. This is null for Meraki wireless devices.
                              description: The ARP table entries
                            error:
                              type:
                              - string
                              - 'null'
                              description: An error message for a failed execution
              responses:
                2XX:
                  description: Your server return this code if it accepts the callback
      description: Enqueue a job to perform a ARP table request for the device. This endpoint currently supports switches, wireless access points, and catalyst routers. This endpoint has a sustained rate limit of one request every five seconds per device, with an allowed burst of five requests.
      operationId: createDeviceLiveToolsArpTable
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                callback:
                  type: object
                  properties:
                    url:
                      type: string
                      description: The callback URL for the webhook target. If using this field, please also specify a sharedSecret.
                    sharedSecret:
                      type: string
                      description: A shared secret that will be included in the requests sent to the callback URL. It can be used to verify that the request was sent by Meraki. If using this field, please also specify an url.
                    httpServer:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The webhook receiver ID that will receive information. If specifying this, please leave the url and sharedSecret fields blank.
                      description: The webhook receiver used for the callback webhook.
                    payloadTemplate:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the payload template. Defaults to 'wpt_00005' for the Callback (included) template.
                      description: The payload template of the webhook used for the callback
                  x-release-stage: general_availability
                  description: Details for the callback. Please include either an httpServerId OR url and sharedSecret
              example:
                callback:
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  sharedSecret: secret
                  httpServer:
                    id: aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  payloadTemplate:
                    id: wpt_2100
        required: false
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  arpTableId:
                    type: string
                    description: Id of the ARP table request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your ARP table request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                    description: ARP table request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the ARP table request.
                  callback:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the callback. To check the status of the callback, use this ID in a request to /webhooks/callbacks/statuses/{id}
                      url:
                        type: string
                        description: The callback URL for the webhook target. This was either provided in the original request or comes from a configured webhook receiver
                      status:
                        type: string
                        description: The status of the callback
                    description: Information for callback used to send back results
                    x-release-stage: general_availability
              example:
                arpTableId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/arpTable/1284392014819
                request:
                  serial: Q234-ABCD-5678
                status: complete
                callback:
                  id: '1284392014819'
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  status: new
      security:
      - oauth2:
        - dashboard:general:telemetry:write
      summary: Enqueue a job to perform a ARP table request for the device
      tags:
      - Devices
  /devices/{serial}/liveTools/arpTable/{arpTableId}:
    get:
      description: Return an ARP table live tool job.
      operationId: getDeviceLiveToolsArpTable
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: arpTableId
        in: path
        description: Arp table ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  arpTableId:
                    type: string
                    description: Id of the ARP table request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your ARP table request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                    description: ARP table request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the ARP table request.
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address of the ARP table entry
                        mac:
                          type: string
                          description: The MAC address of the ARP table entry
                        vlanId:
                          type:
                          - integer
                          - 'null'
                          description: The VLAN ID of the ARP table entry. This is null for Meraki wireless devices, or for ARP table entries that do not belong to a VLAN.
                        interface:
                          type:
                          - string
                          - 'null'
                          description: The interface name of the ARP table entry, such as Vlan1, Port-channel2, or GigabitEthernet1/0/1. This is null for non-Catalyst switches as well as Meraki wireless devices.
                        lastUpdatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Time of the last update of the ARP table entry. This is null for Meraki wireless devices.
                    description: The ARP table entries
                  error:
                    type:
                    - string
                    - 'null'
                    description: An error message for a failed execution
              example:
                arpTableId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/arpTable/1284392014819
                request:
                  serial: Q234-ABCD-5678
                status: complete
                entries:
                - ip: 10.0.0.0/24
                  mac: 00:11:22:33:44:55
                  vlanId: 100
                  interface: Vlan100
                  lastUpdatedAt: '2018-02-11T00:00:00.090210Z'
                error: The device is unreachable.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return an ARP table live tool job
      tags:
      - Devices
  /devices/{serial}/liveTools/cableTest:
    post:
      callbacks:
        cableTest:
          '{$request.body#/callback/url}':
            post:
              requestBody:
                required: true
                description: Callback payload
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        sentAt:
                          type: string
                        callbackId:
                          type: string
                        message:
                          type: object
                          properties:
                            cableTestId:
                              type: string
                              description: Id of the cable test request. Used to check the status of the request.
                            url:
                              type: string
                              description: GET this url to check the status of your cable test request.
                            request:
                              type: object
                              properties:
                                serial:
                                  type: string
                                  description: Device serial number
                                ports:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of ports for which to perform the cable test.
                              description: Cable test request parameters
                            status:
                              type: string
                              enum:
                              - complete
                              - failed
                              - new
                              - ready
                              - running
                              - scheduled
                              description: Status of the cable test request.
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  port:
                                    type: string
                                    description: The port for which the test was performed.
                                  status:
                                    type: string
                                    enum:
                                    - down
                                    - error
                                    - in-progress
                                    - up
                                    description: The current status of the port. If the cable test is still being performed on the port, "in-progress" is used. If an error occurred during the cable test, "error" is used and the error property will be populated.
                                  speedMbps:
                                    type: integer
                                    description: Speed in Mbps.  A speed of 0 indicates the port is down or the port speed is automatic.
                                  error:
                                    type: string
                                    description: If an error occurred during the cable test, the error message will be populated here.
                                  pairs:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        index:
                                          type: integer
                                          enum:
                                          - 0
                                          - 1
                                          - 2
                                          - 3
                                          description: The index of the twisted pair tested.
                                        status:
                                          type: string
                                          enum:
                                          - abnormal
                                          - couplex
                                          - fail
                                          - forced
                                          - in-progress
                                          - invalid
                                          - not-supported
                                          - ok
                                          - open
                                          - open or short
                                          - short
                                          - short or abnormal
                                          - short or couplex
                                          - unknown
                                          description: The test result of the twisted pair tested.
                                        lengthMeters:
                                          type: integer
                                          description: The detected length of the twisted pair.
                                    description: Results for each twisted pair within the cable.
                              description: Results of the cable test request, one for each requested port.
                            error:
                              type: string
                              description: An error message for a failed execution
              responses:
                2XX:
                  description: Your server return this code if it accepts the callback
      description: Enqueue a job to perform a cable test for the device on the specified ports. This endpoint has a sustained rate limit of one request every five seconds per device, with an allowed burst of five requests.
      operationId: createDeviceLiveToolsCableTest
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ports:
                  type: array
                  items:
                    type: string
                  description: A list of ports for which to perform the cable test.  For Catalyst switches, IOS interface names are also supported, such as "GigabitEthernet1/0/8", "Gi1/0/8", or even "1/0/8".
                callback:
                  type: object
                  properties:
                    url:
                      type: string
                      description: The callback URL for the webhook target. If using this field, please also specify a sharedSecret.
                    sharedSecret:
                      type: string
                      description: A shared secret that will be included in the requests sent to the callback URL. It can be used to verify that the request was sent by Meraki. If using this field, please also specify an url.
                    httpServer:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The webhook receiver ID that will receive information. If specifying this, please leave the url and sharedSecret fields blank.
                      description: The webhook receiver used for the callback webhook.
                    payloadTemplate:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the payload template. Defaults to 'wpt_00005' for the Callback (included) template.
                      description: The payload template of the webhook used for the callback
                  x-release-stage: general_availability
                  description: Details for the callback. Please include either an httpServerId OR url and sharedSecret
              example:
                ports:
                - '2'
                - '8'
                callback:
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  sharedSecret: secret
                  httpServer:
                    id: aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  payloadTemplate:
                    id: wpt_2100
              required:
              - ports
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cableTestId:
                    type: string
                    description: Id of the cable test request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your cable test request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      ports:
                        type: array
                        items:
                          type: string
                        description: A list of ports for which to perform the cable test.
                    description: Cable test request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the cable test request.
                  callback:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the callback. To check the status of the callback, use this ID in a request to /webhooks/callbacks/statuses/{id}
                      url:
                        type: string
                        description: The callback URL for the webhook target. This was either provided in the original request or comes from a configured webhook receiver
                      status:
                        type: string
                        description: The status of the callback
                    description: Information for callback used to send back results
                    x-release-stage: general_availability
              example:
                cableTestId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/cableTest/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  ports:
                  - '2'
                  - '8'
                status: complete
                callback:
                  id: '1284392014819'
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  status: new
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Enqueue a job to perform a cable test for the device on the specified ports
      tags:
      - Devices
  /devices/{serial}/liveTools/cableTest/{id}:
    get:
      description: Return a cable test live tool job.
      operationId: getDeviceLiveToolsCableTest
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: id
        in: path
        description: ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cableTestId:
                    type: string
                    description: Id of the cable test request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your cable test request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      ports:
                        type: array
                        items:
                          type: string
                        description: A list of ports for which to perform the cable test.
                    description: Cable test request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the cable test request.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        port:
                          type: string
                          description: The port for which the test was performed.
                        status:
                          type: string
                          enum:
                          - down
                          - error
                          - in-progress
                          - up
                          description: The current status of the port. If the cable test is still being performed on the port, "in-progress" is used. If an error occurred during the cable test, "error" is used and the error property will be populated.
                        speedMbps:
                          type: integer
                          description: Speed in Mbps.  A speed of 0 indicates the port is down or the port speed is automatic.
                        error:
                          type: string
                          description: If an error occurred during the cable test, the error message will be populated here.
                        pairs:
                          type: array
                          items:
                            type: object
                            properties:
                              index:
                                type: integer
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                description: The index of the twisted pair tested.
                              status:
                                type: string
                                enum:
                                - abnormal
                                - couplex
                                - fail
                                - forced
                                - in-progress
                                - invalid
                                - not-supported
                                - ok
                                - open
                                - open or short
                                - short
                                - short or abnormal
                                - short or couplex
                                - unknown
                                description: The test result of the twisted pair tested.
                              lengthMeters:
                                type: integer
                                description: The detected length of the twisted pair.
                          description: Results for each twisted pair within the cable.
                    description: Results of the cable test request, one for each requested port.
                  error:
                    type: string
                    description: An error message for a failed execution
              example:
                cableTestId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/cableTest/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  ports:
                  - '2'
                  - '8'
                status: complete
                results:
                - port: '2'
                  status: up
                  speedMbps: 10000
                  error: An unexpected error occurred during the execution of the cable test.
                  pairs:
                  - index: 0
                    status: ok
                    lengthMeters: 1
                error: The device is unreachable.
      security:
      - oauth2:
        - dashboard:general:config:read
      summary: Return a cable test live tool job
      tags:
      - Devices
  /devices/{serial}/liveTools/leds/blink:
    post:
      callbacks:
        ledsBlink:
          '{$request.body#/callback/url}':
            post:
              requestBody:
                required: true
                description: Callback payload
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        sentAt:
                          type: string
                        callbackId:
                          type: string
                        message:
                          type: object
                          properties:
                            ledsBlinkId:
                              type: string
                              description: ID of led blink job
                            url:
                              type: string
                              description: GET this url to check the status of your leds blink request
                            status:
                              type: string
                              enum:
                              - complete
                              - failed
                              - new
                              - ready
                              - running
                              - scheduled
                              description: Status of the leds blink request
                            request:
                              type: object
                              properties:
                                serial:
                                  type: string
                                  description: Device serial number
                                duration:
                                  type: integer
                                  description: The duration to blink leds in seconds
                              description: The parameters of the leds blink request
                            error:
                              type: string
                              description: An error message for a failed Blink LEDs execution, if present
              responses:
                2XX:
                  description: Your server return this code if it accepts the callback
      description: Enqueue a job to blink LEDs on a device. This endpoint has a rate limit of one request every 10 seconds.
      operationId: createDeviceLiveToolsLedsBlink
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: integer
                  description: The duration in seconds to blink LEDs.
                callback:
                  type: object
                  properties:
                    url:
                      type: string
                      description: The callback URL for the webhook target. If using this field, please also specify a sharedSecret.
                    sharedSecret:
                      type: string
                      description: A shared secret that will be included in the requests sent to the callback URL. It can be used to verify that the request was sent by Meraki. If using this field, please also specify an url.
                    httpServer:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The webhook receiver ID that will receive information. If specifying this, please leave the url and sharedSecret fields blank.
                      description: The webhook receiver used for the callback webhook.
                    payloadTemplate:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the payload template. Defaults to 'wpt_00005' for the Callback (included) template.
                      description: The payload template of the webhook used for the callback
                  x-release-stage: general_availability
                  description: Details for the callback. Please include either an httpServerId OR url and sharedSecret
              example:
                duration: 30
                callback:
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  sharedSecret: secret
                  httpServer:
                    id: aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  payloadTemplate:
                    id: wpt_2100
              required:
              - duration
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledsBlinkId:
                    type: string
                    description: ID of led blink job
                  url:
                    type: string
                    description: GET this url to check the status of your leds blink request
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the leds blink request
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      duration:
                        type: integer
                        description: The duration to blink leds in seconds
                    description: The parameters of the leds blink request
                  error:
                    type: string
                    description: An error message for a failed Blink LEDs execution, if present
                  callback:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the callback. To check the status of the callback, use this ID in a request to /webhooks/callbacks/statuses/{id}
                      url:
                        type: string
                        description: The callback URL for the webhook target. This was either provided in the original request or comes from a configured webhook receiver
                      status:
                        type: string
                        description: The status of the callback
                    description: Information for callback used to send back results
                    x-release-stage: general_availability
              example:
                ledsBlinkId: '123'
                url: /devices/QXXX-YYYY-ZZZZ/liveTools/leds/blink/1738
                status: complete
                request:
                  serial: Q234-ABCD-5678
                  duration: 30
                error: error description
                callback:
                  id: '1284392014819'
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  status: new
      security:
      - oauth2:
        - dashboard:general:config:write
      summary: Enqueue a job to blink LEDs on a device
      tags:
      - Devices
  /devices/{serial}/liveTools/leds/blink/{ledsBlinkId}:
    get:
      operationId: getDeviceLiveToolsLedsBlink
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: ledsBlinkId
        in: path
        description: Leds blink ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledsBlinkId:
                    type: string
                    description: ID of led blink job
                  url:
                    type: string
                    description: GET this url to check the status of your leds blink request
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the leds blink request
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      duration:
                        type: integer
                        description: The duration to blink leds in seconds
                    description: The parameters of the leds blink request
                  error:
                    type: string
                    description: An error message for a failed Blink LEDs execution, if present
              example:
                ledsBlinkId: '123'
                url: /devices/QXXX-YYYY-ZZZZ/liveTools/leds/blink/1738
                status: complete
                request:
                  serial: Q234-ABCD-5678
                  duration: 30
                error: error description
      security:
      - oauth2:
        - dashboard:general:config:read
      summary: Return a blink LEDs job
      tags:
      - Devices
  /devices/{serial}/liveTools/macTable:
    post:
      callbacks:
        macTable:
          '{$request.body#/callback/url}':
            post:
              requestBody:
                required: true
                description: Callback payload
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        sentAt:
                          type: string
                        callbackId:
                          type: string
                        message:
                          type: object
                          properties:
                            macTableId:
                              type: string
                              description: ID of the MAC table request. Used to check the status of the request.
                            url:
                              type: string
                              description: GET this url to check the status of your MAC table request.
                            request:
                              type: object
                              properties:
                                serial:
                                  type: string
                                  description: Device serial number
                                mac:
                                  type: string
                                  description: MAC address used to filter MAC table entries. Must be a colon-delimited six-octet MAC address, for example '00:11:22:a0:b1:c2'. Matching is case-insensitive.
                              description: MAC table request parameters
                            status:
                              type: string
                              enum:
                              - complete
                              - failed
                              - new
                              - ready
                              - running
                              - scheduled
                              description: Status of the MAC table request.
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  mac:
                                    type: string
                                    description: The MAC address of the MAC entry
                                  port:
                                    type: string
                                    description: The name of the interface of the MAC entry
                                  vlanId:
                                    type: integer
                                    description: The vlan id of the MAC entry
                              description: MAC address table entries
                            error:
                              type: string
                              description: An error message for a failed execution
              responses:
                2XX:
                  description: Your server return this code if it accepts the callback
      description: Enqueue a job to request the MAC table from the device. Switches currently support this feature. This endpoint has a sustained rate limit of one request every five seconds per device, with an allowed burst of five requests.
      operationId: createDeviceLiveToolsMacTable
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mac:
                  type: string
                  description: Optional parameter to filter MAC table entries by MAC address. Must be a colon-delimited six-octet MAC address, for example '00:11:22:a0:b1:c2'. Matching is case-insensitive.
                callback:
                  type: object
                  properties:
                    url:
                      type: string
                      description: The callback URL for the webhook target. If using this field, please also specify a sharedSecret.
                    sharedSecret:
                      type: string
                      description: A shared secret that will be included in the requests sent to the callback URL. It can be used to verify that the request was sent by Meraki. If using this field, please also specify an url.
                    httpServer:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The webhook receiver ID that will receive information. If specifying this, please leave the url and sharedSecret fields blank.
                      description: The webhook receiver used for the callback webhook.
                    payloadTemplate:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the payload template. Defaults to 'wpt_00005' for the Callback (included) template.
                      description: The payload template of the webhook used for the callback
                  x-release-stage: general_availability
                  description: Details for the callback. Please include either an httpServerId OR url and sharedSecret
              example:
                mac: 00:11:22:a0:b1:c2
                callback:
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  sharedSecret: secret
                  httpServer:
                    id: aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                  payloadTemplate:
                    id: wpt_2100
        required: false
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  macTableId:
                    type: string
                    description: ID of the MAC table request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your MAC table request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      mac:
                        type: string
                        description: MAC address used to filter MAC table entries. Must be a colon-delimited six-octet MAC address, for example '00:11:22:a0:b1:c2'. Matching is case-insensitive.
                    description: MAC table request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the MAC table request.
                  callback:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the callback. To check the status of the callback, use this ID in a request to /webhooks/callbacks/statuses/{id}
                      url:
                        type: string
                        description: The callback URL for the webhook target. This was either provided in the original request or comes from a configured webhook receiver
                      status:
                        type: string
                        description: The status of the callback
                    description: Information for callback used to send back results
                    x-release-stage: general_availability
              example:
                macTableId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/macTable/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  mac: 00:11:22:a0:b1:c2
                status: complete
                callback:
                  id: '1284392014819'
                  url: https://webhook.site/28efa24e-f830-4d9f-a12b-fbb9e5035031
                  status: new
      security:
      - oauth2:
        - dashboard:general:telemetry:write
      summary: Enqueue a job to request the MAC table from the device
      tags:
      - Devices
  /devices/{serial}/liveTools/macTable/{macTableId}:
    get:
      description: Return a MAC table live tool job.
      operationId: getDeviceLiveToolsMacTable
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: macTableId
        in: path
        description: Mac table ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  macTableId:
                    type: string
                    description: ID of the MAC table request. Used to check the status of the request.
                  url:
                    type: string
                    description: GET this url to check the status of your MAC table request.
                  request:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Device serial number
                      mac:
                        type: string
                        description: MAC address used to filter MAC table entries. Must be a colon-delimited six-octet MAC address, for example '00:11:22:a0:b1:c2'. Matching is case-insensitive.
                    description: MAC table request parameters
                  status:
                    type: string
                    enum:
                    - complete
                    - failed
                    - new
                    - ready
                    - running
                    - scheduled
                    description: Status of the MAC table request.
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        mac:
                          type: string
                          description: The MAC address of the MAC entry
                        port:
                          type: string
                          description: The name of the interface of the MAC entry
                        vlanId:
                          type: integer
                          description: The vlan id of the MAC entry
                    description: MAC address table entries
                  error:
                    type: string
                    description: An error message for a failed execution
              example:
                macTableId: '1284392014819'
                url: /devices/Q234-ABCD-5678/liveTools/macTable/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  mac: 00:11:22:a0:b1:c2
                status: complete
                entries:
                - mac: 00:11:22:a0:b1:c2
                  port: Tw1/0/9
                  vlanId: 100
                error: The device is unreachable.
      security:
      - oauth2:
        - dashboard:general:telemetry:read
      summary: Return a MAC table live tool job
      tags:
      - Devices
  /devices/{serial}/liveTools/multicastRouting:
    post:
      callbacks:
        multicastRouting:
          '{$request.body#/callback/url}':
            post:
              requestBody:
                required: true
                description: Callback payload
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        sentAt:
                          type: string
                        callbackId:
                          type: string
                        message:
                          type: object
                          properties:
                            multicastRoutingId:
                              type: string
                              description: ID of the Multicast routing request. Used to check the status of the request.
                            url:
                              type: string
                              description: GET this URL to check the status of your Multicast routing request.
                            request:
                              type: object
                              properties:
                                serial:
                                  type: string
                                  description: Device serial number
                              description: Multicast routing request parameters
                            status:
                              type: string
                              enum:
                              - complete
                              - failed
                              - new
                              - ready
                              - running
                              - scheduled
                              description: Status of the Multicast routing request.
                            interfaces:
                              type: array
                              items:
                                type: object
                                properties:
                                  ip:
                                    type: string
                                    description: Interface IP address
                                  name:
                                    type: string
                                    description: Interface name
                                  vrf:
                                    type: string
                                    description: VRF name for the interface. Included on networks with IOS XE 17.18 or higher
                                  vrfType:
                                    type: string
                                    description: VRF type for the interface. Included on networks with IOS XE 17.18 or higher
                                  ipVersion:
                                    type: string
                                    description: IP version for the interface. Included on networks with IOS XE 17.18 or higher
                                  subnet:
                                    type: string
                                    description: Subnet containing the interface
                                  flags:
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                      - DISABLED
                                      - DOWN
                                      - DR
                                      - DVMRP
                                      - NO-NBR
                                      - PIM
[...]
