openapi: 3.1.0
info:
  title: Cisco Meraki Dashboard Appliance Wireless API
  description: 'RESTful API for managing and monitoring Cisco Meraki cloud networking

    across organizations, networks, devices, SSIDs, switch ports, security

    appliances, cameras, and clients. Authentication uses an API key passed

    via the X-Cisco-Meraki-API-Key header or as a Bearer token.

    '
  version: 1.0.0
  contact:
    name: Cisco Meraki Developer Hub
    url: https://developer.cisco.com/meraki/api-v1/
servers:
- url: https://api.meraki.com/api/v1
  description: Meraki Dashboard API v1
security:
- merakiApiKey: []
- bearerAuth: []
tags:
- name: Wireless
paths:
  /networks/{networkId}/wireless/ssids:
    parameters:
    - in: path
      name: networkId
      required: true
      schema:
        type: string
    get:
      tags:
      - Wireless
      summary: List the SSIDs in a network
      operationId: getNetworkWirelessSsids
      responses:
        '200':
          description: List of SSIDs
  /networks/{networkId}/wireless/ssids/{number}:
    parameters:
    - in: path
      name: networkId
      required: true
      schema:
        type: string
    - in: path
      name: number
      required: true
      schema:
        type: string
    get:
      tags:
      - Wireless
      summary: Return a single SSID
      operationId: getNetworkWirelessSsid
      responses:
        '200':
          description: SSID
    put:
      tags:
      - Wireless
      summary: Update the attributes of an SSID
      operationId: updateNetworkWirelessSsid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated SSID
components:
  securitySchemes:
    merakiApiKey:
      type: apiKey
      in: header
      name: X-Cisco-Meraki-API-Key
    bearerAuth:
      type: http
      scheme: bearer
